// ------------------------------
// Page Competition CSS
// ------------------------------

/**
 *
 */
#competition-201507-case-1 {


@if $mq-all {
  //type-entry-1
  .type-entry-1 {
    .type-num-1 { top: 21%; left: 58%; }
    .type-num-2 { top: 56%; left: 61%; }
    .type-num-3 { top: 22%; left: 48%; }
  }
  //type-entry-2
  .type-entry-2 {
    .type-num-1 { top: 42%; left: 52%; }
    .type-num-2 { top: 48%; left: 42%; }
    .type-num-3 { top: 29%; left: 46%; }
  }
  //type-entry-3
  .type-entry-3 {
    .type-num-1 { top: 23%; left: 61%; }
    .type-num-2 { top: 33%; left: 49%; }
    .type-num-3 { top: 43%; left: 56%; }
    .type-num-2.type-2 { top: 16%; left: 28%; }
  }
  //type-entry-4
  .type-entry-4 {
    .type-num-1 { top: 34%; left: 53%; }
    .type-num-1.type-2 { top: 34%; left: 66%; }
    .type-num-2 { top: 47%; left: 59%; }
    .type-num-3 { top: 22%; left: 49%; }
  }
  //type-entry-5
  .type-entry-5 {
    .type-num-1 { top: 33%; left: 50%; }
    .type-num-2 { top: 18%; left: 46%; }
    .type-num-3 { top: 65%; left: 39%; }
  }
}


}