// ------------------------------
// Page Competition CSS
// ------------------------------

/**
 *
 */
#competition-201602-case-1 {

  .p-case-competition-hero-heading-1 {
    @if $mq-all {
      background-color: #8fc31f;
    }
  }

  .p-case-competition-heading-1 {
    @if $mq-all {
      border-top-color: #8fc31f;
      border-color: #8fc31f;
    }
  }

  .p-case-competition-item {
    @if $mq-all {
      margin-top: 80px;
      margin-bottom: 80px;
    }
    @if $mq-tablet {
      margin-top: 40px;
      margin-bottom: 40px;
    }
  }

  .p-201602-message {
    @if $mq-all {
      position: relative;
      overflow: hidden;
      margin: 30px 0;
      background-color: #ecf4d9;
      @include clearfix;
    }
  }

  .p-201602-message-item {
    @if $mq-all {
      position: relative;
      padding: 30px;
      @include clearfix;

      &.type-half {
        float: left;
        width: 50%;
        padding-left: 15px;
        padding-right: 15px;
        box-sizing: border-box;
      }
      &:before {
        content: "";
        display: block;
        position: absolute;
      }

      p {
        margin-top: 0;
      }
      .type-heading {
        display: block;
        margin-bottom: 5px;
        color: #8fc31f;
        font-size: 18px;
        font-weight: bold;
      }
      .type-position {
        display: block;
        font-size: 12px;
      }
      .type-name {
        display: block;
        font-size: 16px;
        font-weight: bold;
      }
      .balloon {
        margin-top: 0;
        padding: 15px;
        font-size: 14px;
        font-weight: bold;
        border-radius: 10px;
        background-color: #fff;
      }

      /**
       * Variation
       */
      &.type-left-staff-pic-1 {
        min-height: 150px;
        padding-left: 150px;
        &:before {
          top: 10px;
          left: 20px;
          width: 106px;
          height: 222px;
          background: url('/case-competition/201602/img/case-1/staff-1.png') no-repeat center bottom;
        }
      }

      &.type-left-staff-pic-2 {
        min-height: 178px;
        padding-left: 220px;
        &:before {
          top: 15px;
          left: 20px;
          width: 178px;
          height: 178px;
          background: url('/case-competition/201602/img/case-1/member-circle-1.png') no-repeat center bottom;
        }
      }

      &.type-right-staff-pic-1 {
        min-height: 150px;
        padding-right: 160px;
        &:before {
          top: 30px;
          right: 20px;
          width: 127px;
          height: 222px;
          background: url('/case-competition/201602/img/case-1/staff-2.png') no-repeat center bottom;
        }
      }

      &.type-right-staff-pic-2 {
        min-height: 150px;
        padding-right: 160px;
        &:before {
          top: 30px;
          right: 20px;
          width: 127px;
          height: 222px;
          background: url('/case-competition/201602/img/case-1/staff-3.png') no-repeat center bottom;
        }
      }
    }
    @if $mq-tablet {
      &.type-half {
        float: none;
        width: 100%;
      }
    }
    @if $mq-sp {
      padding: 15px;
      &.type-half { padding: 10px 15px; }
      .type-heading { font-size: 16px; }
      .balloon { font-size: 12px; }

      /**
       * Variation
       */
      &.type-left-staff-pic-1 {
        min-height: 150px;
        padding-left: 80px;
        &:before {
          top: auto;
          bottom: 0;
          left: 10px;
          width: 60px;
          height: 150px;
          background-size: 100%;
        }
      }

      &.type-left-staff-pic-2 {
        min-height: 178px;
        padding-left: 80px;
        &:before {
          left: 10px;
          width: 60px;
          height: 60px;
          background-size: 100%;
        }
      }

      &.type-right-staff-pic-1 {
        min-height: 150px;
        padding-right: 80px;
        &:before {
          top: auto;
          bottom: 0px;
          right: 10px;
          width: 60px;
          height: 111px;
          background-size: 100%;
        }
      }

      &.type-right-staff-pic-2 {
        min-height: 0;
        padding-right: 80px;
        &:before {
          top: 20px;
          right: 10px;
          width: 60px;
          height: 120px;
          background-size: 100%;
        }
      }
    }
  }


  /**
   * STEP1
   */
  .step1-tips {
    @if $mq-all {
      margin: 30px auto 0;
      padding: 20px 30px;
      border-radius: 8px;
      box-sizing: border-box;
      background-color: #f4f3ed;
      @include clearfix;

      .type-text-1 {
        margin-top: 0;
        margin-bottom: 10px;
        font-size: 18px;
        font-weight: bold;
      }
      .type-text-2 {
        margin: 0;
        span {
          padding-left: 5px;
          color: #8fc31f;
          font-weight: bold;
        }
      }
    }
    @if $mq-tablet {
      margin: 15px auto 0;
      padding: 15px;

      .type-text-1 {
        font-size: 16px;
      }
    }
  }

  /**
   * STEP3
   */
  .step3-tips {
    @if $mq-all {
      max-width: 1220px;
      margin: 30px auto;
      padding: 20px 20px 20px 30px;
      box-sizing: border-box;
      background-color: #ecf4d9;
      @include clearfix;

      .type-heading {
        margin-top: 0;
        margin-bottom: 10px;
        color: #8fc31f;
        font-size: 20px;
        font-weight: bold;
      }
      .type-text {
        margin-top: 0;
        margin-bottom: 10px;
      }
      .type-image {
        float: right;
        margin-left: 30px;
      }
    }
    @if $mq-tablet {
      margin: 30px auto;
      padding: 15px;

      .type-heading { font-size: 16px; }
      .type-image {
        margin: 0 0 15px 15px;
        img { width: 100px; }
      }
    }
  }

  /**
   * STEP4
   */
  .step5-message {
    @if $mq-all {
      margin: 30px auto 0;
      padding: 20px 30px;
      box-sizing: border-box;
      border: 3px dotted #8fc31f;
      border-radius: 8px;

      .type-text-1 {
        margin-top: 0;
        margin-bottom: 10px;
        color: #8fc31f;
        font-size: 20px;
        font-weight: bold;
      }
      .type-text-2 {
        margin-top: 0;
        margin-bottom: 10px;
      }
    }
    @if $mq-sp {
      padding: 15px;

      .type-text-1 {
        font-size: 16px;
      }
    }
  }

  .building-check-group {
    @if $mq-all {
      max-width: 1140px;
      margin: 50px auto;
      box-sizing: border-box;
      @include clearfix;

      .type-heading {
        margin: 35px 0 15px;
        text-align: center;
        font-weight: bold;
        font-size: 26px;
        background: #8fc31f;
        color: #fff;
        padding: 15px;
      }

      .left-item {
        float: left;
        width: 68%;
        padding-right: 15px;
        box-sizing: border-box;

        .type-text-1 {
          margin-bottom: 10px;
          font-size: 18px;
          font-weight: bold;
          line-height: 1.6;
        }
        .type-text-2 {
          margin: 0;
        }

        .report-item {
          margin: 30px 0;
          padding: 15px;
          background: #ecf4d9;
          @include clearfix;
          p { margin: 0; }

          .report-item-image {
            float: left;
            margin-right: 15px;
          }
          .report-item-text-1 {
            font-size: 18px;
            font-weight: bold;
          }
        }
      }

      .right-item {
        float: right;
        width: 32%;
        margin: 1em 0;
        padding-left: 15px;
        box-sizing: border-box;

        .report-image {
          padding: 15px;
          text-align: center;
          border: 1px solid #ccc;
          border-radius: 8px;
        }
      }
    }
    @if $mq-sp {
      margin: 30px auto;

      .type-heading {
        margin: 20px 0;
        padding: 10px;
        font-size: 16px;
      }

      .left-item {
        float: none;
        width: 100%;
        padding-right: 0;

        .type-text-1 {
          font-size: 16px;
          br { display: none; }
        }
        .report-item {
          margin: 15px 0;
          padding: 15px;
          .report-item-image {
            margin-right: 15px;
            img { width: 60px; }
          }
          .report-item-text-1 { font-size: 16px; }
        }
      }

      .right-item {
        float: none;
        width: 100%;
        margin: 1em 0;
        padding-left: 0;
      }
    }
  }


  //address-group
  .address-group {
    @if $mq-all {
      max-width: 1140px;
      margin: 50px auto;
      box-sizing: border-box;
      @include clearfix;
    }
    @if $mq-tablet {
    }
  }

  .address-heading {
    @if $mq-all {
      margin: 35px 0;
      text-align: center;
      font-weight: bold;
      font-size: 26px;
      background: #8fc31f;
      color: #fff;
      padding: 15px;
    }
    @if $mq-sp {
      margin: 20px 0;
      padding: 10px;
      font-size: 16px;
    }
  }

  .address-item-list {
    @if $mq-all {
      margin: 0 -10px;
    }
  }

  .address-item {
    @if $mq-all {
      position: relative;
      width: 33.3%;
      padding: 0 10px;
      float: left;
      box-sizing: border-box;
      p {
        margin: 0;
        font-size: 14px;
      }
    }
    @if $mq-tablet {
      width: 50%;
      margin-bottom: 40px;
      &:last-child {
        width: 100%;
        margin-bottom: 0;
      }
      p {
        margin: 0;
        font-size: 14px;
      }
    }
    @if $mq-sp {
      width: 100%;
      margin-bottom: 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid #ccc;
      &:last-child {
        width: 100%;
      }
      p {
        margin: 0;
        font-size: 14px;
      }
    }
  }

  .address-item-message {
    @if $mq-all {
      min-height: 223px;
      padding-right: 110px;
      color: #5d4037;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 20px;
        width: 88px;
        height: 223px;
        background: url('/case-competition/201602/img/case-1/staff-4.png') no-repeat center bottom;
      }

      .type-text-1 {
        margin-bottom: 10px;
        font-size: 18px;
        font-weight: bold;
        line-height: 1.4;
      }
      .type-text-2 {
        font-size: 14px;
      }
    }
    @if $mq-sp {
      min-height: 140px;
      padding-right: 60px;
      &:before {
        right: 10px;
        width: 50px;
        height: 140px;
        background-size: 100%;
      }

      .type-text-1 {
        font-size: 16px;
      }
      .type-text-2 {
        font-size: 12px;
      }
    }
  }

  .address-item-tel {
    @if $mq-all {
      font-size: 20px;
      .type-num { font-size: 30px; }
    }
  }

  //whats-compe-group
  .whats-compe-group {
    @if $mq-all {
      max-width: 1140px;
      margin: 50px auto;
      padding: 30px;
      box-sizing: border-box;
      background-color: #ecf4d9;
      border: 3px solid #8fc31f;
      border-radius: 8px;
      @include clearfix;
    }
    @if $mq-sp {
      margin: 30px auto;
      padding: 15px;
    }
  }

  .whats-compe-heading-1 {
    @if $mq-all {
      margin: -5px 25px 20px -5px;
      float: left;
    }
    @if $mq-tablet {
      float: none;
      margin: -15px 0 15px 0;
      text-align: center;
      img { width: 220px; }
    }
    @if $mq-sp {
      margin: 0px 0 15px 0;
    }
  }

  .whats-compe-heading-2 {
    @if $mq-all {
      margin: 0 0 15px 0;
      font-size: 26px;
      font-weight: bold;
      line-height: 1.5;
    }
    @if $mq-tablet {
      font-size: 20px;
    }
  }

  .whats-compe-text-1 {
    @if $mq-all {
      margin: 0;
      line-height: 1.7;
    }
  }

  .whats-compe-image-1 {
    @if $mq-all {
      float: right;
      margin: 0 0 20px 30px;
    }
    @if $mq-sp {
      float: none;
      margin: 0 0 20px 0;
      text-align: center;
    }
  }

  .whats-compe-flow-list {
    @if $mq-all {
      margin: 0 -1%;
      padding: 10px 0 0 0;
      list-style: none;
      clear: both;
      @include clearfix;
      li {
        position: relative;
        float: left;
        width: 23%;
        margin: 0 1%;
        padding: 15px 15px;
        border-radius: 8px;
        background-color: #8fc31f;
        box-sizing: border-box;

        &:not(:last-child):after {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          right: -15px;
          height: 0;
          width: 0;
          margin: auto;
          border-top: 5px solid transparent;
          border-bottom: 5px solid transparent;
          border-left: 10px solid #8fc31f;
          border-right: 5px solid transparent;
        }
      }
      .whats-compe-flow-item-heading {
        display: block;
        margin-bottom: 10px;
        text-align: center;
        color: #fff;
        font-weight: bold;
        line-height: 1.5;
      }
      .whats-compe-flow-item-text-1 {
        display: block;
        font-size: 13px;
        line-height: 1.5;
      }
    }
    @if $mq-tablet {
      margin: 0;
      padding: 10px 0 0 0;

      li {
        float: none;
        width: 100%;
        margin: 0 0 15px 0;
        text-align: center;

        &:not(:last-child):after {
          top: auto;
          bottom: -15px;
          right: 0;
          left: 0;
          height: 0;
          width: 0;
          margin: 0 auto;
          border-top: 10px solid #8fc31f;
          border-bottom: 5px solid transparent;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
        }

        br { display: none; }
      }
    }
  }


  //reform-point-group
  .reform-point-group {
    @if $mq-all {
      max-width: 1140px;
      margin: 50px auto;
      padding: 0;
      box-sizing: border-box;
      border: 3px solid #8fc31f;
      border-radius: 8px;
      @include clearfix;

      p { margin: 0; }
    }
    @if $mq-sp {
      margin: 30px auto;
    }
  }

  .reform-point-header {
    @if $mq-all {
      position: relative;
      overflow: hidden;
      padding: 20px 160px 20px 30px;
      color: #fff;
      background-color: #8fc31f;

      &:before {
        content: "";
        display: block;
        position: absolute;
        top: 10px;
        right: 15px;
        width: 127px;
        height: 222px;
        background: url('/case-competition/201602/img/case-1/staff-2.png') no-repeat 0 center;
      }

      .heading-1 {
        margin-bottom: 10px;
        font-size: 26px;
        font-weight: bold;
        line-height: 1.4;
        span {
          display: block;
          font-size: 18px;
        }
      }
      .heading-2 {
        line-height: 1.5;
      }
    }
    @if $mq-sp {
      padding: 15px 80px 15px 15px;

      &:before {
        top: auto;
        bottom: 0;
        right: 10px;
        width: 63px;
        height: 111px;
        background: url('/case-competition/201602/img/case-1/staff-2.png') no-repeat 0 center;
        background-size: 100%;
      }
      .heading-1 {
        font-size: 16px;
        span { font-size: 13px; }
      }
    }
  }

  .reform-point-body {
    @if $mq-all {
      padding: 20px 30px;
      @include clearfix;

      .reform-point-body-left {
        float: left;
        width: 47%;
        padding: 0 30px 0 0;
        box-sizing: border-box;
      }
      .reform-point-body-right {
        float: right;
        width: 53%;
        text-align: right;
      }

      dl {
        margin: 0 0 25px 0;
        line-height: 1.5;
      }
      dt {
        font-size: 18px;
        font-weight: bold;
      }
      dd {
        margin: 0;
        padding: 0;

        .heading-1 {
          display: block;
          margin: 0 0 5px 0;
          color: #8fc31f;
          font-size: 22px;
        }
        .text-1 {
          display: block;
        }
      }

      .reform-point-body-data {
        padding: 10px 20px;
        background-color: #ECF4D9;

        p {
          margin-bottom: 5px;
          color: #8fc31f;
          font-size: 16px;
        }
        table {
          th {
            width: 80px;
          }
          td {
            &:before {
              content: ":";
              margin: 0 10px;
              font-weight: normal;
            }
          }
        }
      }
    }
    @if $mq-tablet {

      .reform-point-body-left,
      .reform-point-body-right {
        float: none;
        width: 100%;
        padding: 0;
      }
      .reform-point-body-data {
        margin-bottom: 20px;
      }
    }
    @if $mq-sp {
      padding: 15px;

      dl {
        margin: 0 0 15px 0;
        br { display: none; }
      }
      dt { font-size: 16px; }
      dd {
        .heading-1 {
          font-size: 16px;
        }
      }

      .reform-point-body-data {
        padding: 15px;
        p { font-size: 16px; }
        table {
          th {
            float: left;
            width: 100%;
          }
          td {
            float: left;
            width: 100%;
            padding-left: 15px;
            &:before { display: none; }
          }
        }
      }
    }
  }

  .reform-point-footer {
    @if $mq-all {
      padding: 20px 30px;
      background-color: #8fc31f;
      @include clearfix;

      .reform-point-footer-image {
        float: left;
        width: 18%;
        margin: 0 2% 0 0;
        img { margin: 0 0 6px 0; }
        p {
          color: #fff;
          font-size: 13px;
          line-height: 1.5;
        }
      }

      .reform-point-footer-list {
        .heading-1 {
          margin-bottom: 10px;
          color: #fff;
          font-size: 24px;
          font-weight: bold;
          line-height: 1.4;
        }
        ul {
          list-style: none;
          margin: 0;
          padding: 0;
        }
        li {
          color: #fff;
          &:before { content: "・"; }
        }
      }
    }
    @if $mq-tablet {
      .reform-point-footer-list {
        .heading-1 {
          font-size: 20px;
        }
      }
    }
    @if $mq-sp {
      padding: 15px;

      .reform-point-footer-image {
        width: 50%;
        margin: 0 0 15px 0;
        padding: 0 5px;
        box-sizing: border-box;
      }

      .reform-point-footer-list {
        clear: both;
        .heading-1 { font-size: 16px; }
      }
    }
  }


  .p-case-competition-conpe-heading {
    @if $mq-all {
      background: #8fc31f;
    }
  }


  @if $mq-all {
    //type-entry-1
    .type-entry-1 {
      .type-num-1 { top: 79%; left: 57%; }
      .type-num-2 { top: 45%; left: 30%; }
      .type-num-3 { top: 60%; left: 22%; }
    }
    //type-entry-2
    .type-entry-2 {
      .type-num-1 { top: 58%; left: 60%; }
      .type-num-2 { top: 40%; left: 15%; }
      .type-num-3 { top: 64%; left: 56%; }
    }
    //type-entry-3
    .type-entry-3 {
      .type-num-1 { top: 31%; left: 47%; }
      .type-num-2 { top: 57%; left: 38%; }
      .type-num-3 { top: 60%; left: 54%; }
    }
  }

  .p-case-competition-conpe-check {
    @if $mq-all {
       &.type-staff-1 {
          &:after { background: url('/case-competition/201602/img/case-1/member-1.png'); }
       }
    }
    @if $mq-tablet {
    }
    @if $mq-sp {
    }
  }

  .p-case-competition-message-type-1-balloon {
    @if $mq-all {
      &.type-staff-1:after {
        content: "";
        display: block;
        position: absolute;
        bottom: 10px;
        right: 20px;
        width: 127px;
        height: 222px;
        background: url('/case-competition/201602/img/case-1/staff-1.png') no-repeat center;
        background-size: 100%;
      }
      &.type-staff-2:after {
        content: "";
        display: block;
        position: absolute;
        bottom: 10px;
        right: 15px;
        width: 120px;
        height: 223px;
        background: url('/case-competition/201602/img/case-1/staff-2.png') no-repeat center;
        background-size: 100%;
      }
    }
    @if $mq-tablet {
      &.type-staff-1:after {
        bottom: 0px;
        right: 15px;
        width: 70px;
        height: 122px;
      }
      &.type-staff-2:after {
        bottom: 10px;
        right: 10px;
        width: 70px;
        height: 130px;
      }
    }
    @if $mq-sp {
    }
  }

}
