// ------------------------------
// Page Competition CSS
// ------------------------------

/**
 *
 */
.competition-201510-case-1 {

  .p-case-competition-heading-1 {
    @if $mq-all {
    }
  }

  .p-case-competition-201510-land-tips {
    @if $mq-all {
      max-width: 1220px;
      margin: 20px auto 40px;
      padding: 0 20px 10px;
      border: 2px dotted #f29600;
      border-radius: 10px;
      box-sizing: border-box;

      .type-heading {
        font-weight: bold;
        @include fz(18, 24);
      }
    }
    @if $mq-tablet {
    }
    @if $mq-sp {
    }
  }

  .p-case-competition-201510-plan-tips {
    @if $mq-all {
      max-width: 1220px;
      margin: 30px auto;
      padding: 20px 30px;
      box-sizing: border-box;
      background-color: #f4f3ed;

      .type-heading-1 {
        margin: 0 0 5px 0;
        color: #f29600;
        font-weight: bold;
        @include fz(16, 22);
      }
      .type-heading-2 {
        margin: 0 0 10px 0;
        font-weight: bold;
        @include fz(20, 24);
      }
      .type-heading-3 {
        margin: 15px 0 10px;
        font-weight: bold;
        @include fz(16, 22);
        span {
          margin: 0 0 0 5px;
          color: #f29600;
        }
      }
      .type-txt {
        margin: 0;
      }
    }
    @if $mq-tablet {
    }
    @if $mq-sp {
    }
  }

  @if $mq-all {
    //type-entry-1
    .type-entry-1 {
      .type-num-1 { top: 30%; left: 50%; }
      .type-num-2 { top: 45%; left: 57%; }
      .type-num-2.type-2 { top: 47%; left: 46%; }
      .type-num-3 { top: 34%; left: 58%; }
    }
    //type-entry-2
    .type-entry-2 {
      .type-num-1 { top: 30%; left: 48%; }
      .type-num-2 { top: 60%; left: 54%; }
      .type-num-3 { top: 56%; left: 52%; }
    }
    //type-entry-3
    .type-entry-3 {
      .type-num-1 { top: 30%; left: 45%; }
      .type-num-2 { top: 54%; left: 58%; }
      .type-num-3 { top: 41%; left: 49%; }
    }
    //type-entry-4
    .type-entry-4 {
      .type-num-1 { top: 36%; left: 37%; }
      .type-num-2 { top: 52%; left: 59%; }
      .type-num-3 { top: 52%; left: 40%; }
    }
    //type-entry-5
    .type-entry-5 {
      .type-num-1 { top: 60%; left: 54%; }
      .type-num-2 { top: 44%; left: 36%; }
      .type-num-3 { top: 65%; left: 28%; }
    }
  }

  .p-case-competition-conpe-check {
    @if $mq-all {
       &.type-staff-1 {
          &:after { background: url('/case-competition/201510/img/case-1/member-1.png'); }
       }
       &.type-staff-2 {
          &:after { background: url('/case-competition/201510/img/case-1/member-2.png'); }
       }

    }
    @if $mq-tablet {
    }
    @if $mq-sp {
    }
  }

  .p-case-competition-message-type-1-balloon {
    @if $mq-all {
      &.type-staff-1:after {
        content: "";
        display: block;
        position: absolute;
        bottom: 10px;
        right: 20px;
        width: 127px;
        height: 222px;
        background: url('/case-competition/201510/img/case-1/staff-1.png') no-repeat center;
        background-size: 100%;
      }
      &.type-staff-2:after {
        content: "";
        display: block;
        position: absolute;
        bottom: 10px;
        right: 15px;
        width: 120px;
        height: 223px;
        background: url('/case-competition/201510/img/case-1/staff-2.png') no-repeat center;
        background-size: 100%;
      }
    }
    @if $mq-tablet {
      &.type-staff-1:after {
        bottom: 0px;
        right: 15px;
        width: 70px;
        height: 122px;
      }
      &.type-staff-2:after {
        bottom: 10px;
        right: 10px;
        width: 70px;
        height: 130px;
      }
    }
    @if $mq-sp {
    }
  }

  .p-case-competition-201510-matome {
    @if $mq-all {
      .type-image-group {
        padding: 20px;
        font-size: 0;
        background-color: #f4f3ed;
        .type-image-1 {
          display: inline-block;
          vertical-align: top;
          width: 47%;
          padding: 0 20px 0 0;
          box-sizing: border-box;
        }
        .type-image-2 {
          display: inline-block;
          vertical-align: top;
          text-align: right;
          width: 27%;
          padding: 0 0 0 20px;
          box-sizing: border-box;
        }
        .type-txt-group {
          display: inline-block;
          vertical-align: top;
          width: 26%;
          box-sizing: border-box;
          .type-heading {
            font-weight: bold;
            @include fz(16, 24);
          }
          .type-txt {
            @include fz(14, 24);
          }
        }
      }
    }
    @if $mq-tablet {
      .type-image-group {
        .type-image-1 {
          width: 100%;
          padding: 0;
        }
        .type-image-2 {
          width: 100%;
          padding: 15px 0 0 0;
          text-align: center;
        }
        .type-txt-group {
          width: 100%;
          padding: 0;
          .type-heading { @include fz(15, 24); }
          .type-txt { @include fz(13, 22); }
        }
      }
    }
    @if $mq-sp {
      .type-image-group {
        .type-txt-group {
          .type-heading { @include fz(14, 24); }
          .type-txt { @include fz(13, 22); }
        }
      }
    }
  }

}