<?php
$page = array(
    'title' => '外構会社一覧｜掲載企業｜北海道の住まいづくりWeb',
    'discription' => '北海道の住まいづくりWebに掲載している外構会社さまを一覧でご紹介します。',
);
include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/head.tpl");
?>
</head>



<body>
<div id="base-page" class="base-type-company">
    <?php include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/base-header.tpl"); ?>

    <div id="base-container">

        <div id="base-container-head">
            <ul class="p-breadcrumb-list">
                <li class="p-breadcrumb-list-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/" itemprop="url"><span itemprop="title">トップページ</a></li>
                <li class="p-breadcrumb-list-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/company/" itemprop="url"><span itemprop="title">掲載企業</a></li>
                <li class="p-breadcrumb-list-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title">外構</span></li>
            </ul>

            <div class="p-company-hero-group">
                <p class="p-company-hero-heading-1"><img src="/company/img/hero-txt-1.png" alt="掲載企業"></p>
            </div>

            <div class="p-company-categories-group">
                <ul class="p-company-categories-list">
                    <li class="p-company-categories-list-item type-build"><a href="/company/">建築会社</a></li>
                    <li class="p-company-categories-list-item type-reform"><a href="/company/reform/">リフォーム</a></li>
                    <li class="p-company-categories-list-item type-outdoor is-active"><a href="/company/outdoor/">外構</a></li>
                    <li class="p-company-categories-list-item type-club-s"><a href="/company/club-s/">club-s</a></li>
                </ul>
            </div>
        </div><!-- /#base-container-head -->


<div id="base-content">

        <div class="p-company-item">
            <div class="p-company-item-info">
                <p class="type-name"><span class="type-reform">ガーデン工房<br>いろえんぴつ<br>（丸藤造園）</span></p>
                <p class="type-heading">〈詳しい会社情報〉</p>
                <ul>
                    <li>設立／1989年3月</li>
                    <li>従業員数／10人</li>
                    <li>対応エリア／札幌市内、札幌市近郊その他の地域の方はお問い合わせください。</li>
                    <li>資本金／1500万円</li>
                    <li>施工実績（前年度）／99棟</li>
                </ul>
            </div>
            <div class="p-company-item-detail">
                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="/company/outdoor/img/detail/iroenpitsu-image-1.jpg" alt="ガーデン工房いろえんぴつ（丸藤造園） 施工事例"></div>
                    <p class="type-heading-weak">平成元年創業。<br>施工実績８００以上！<br>全国施工コンクール３２回受賞</p>
                    <p class="type-txt">札幌・札幌近郊でエクステリア・庭の設計・プランニング・デザイン、外構工事・庭工事を行っています。エクステリア施工コンクールでの受賞経験も豊富です。</p>
                </div>
            </div>
        </div>

        <div class="p-company-item">
            <div class="p-company-item-info">
                <p class="type-name"><span class="type-reform">ベルディ</span></p>
                <p class="type-heading">〈詳しい会社情報〉</p>
                <ul>
                    <li>設立／1983年4月</li>
                    <li>従業員数／10人</li>
                    <li>対応エリア／札幌市内、札幌市近郊、旭川、苫小牧</li>
                    <li>資本金／1000万円</li>
                    <li>施工実績（前年度）／100棟</li>
                </ul>
            </div>
            <div class="p-company-item-detail">
                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="/company/outdoor/img/detail/beldy-image-1.jpg" alt="ベルディ 施工事例"></div>
                    <p class="type-heading-weak">北ブランドの庭</p>
                    <p class="type-txt">北の気候に合った施工方法を前提としたプラン、ライフスタイルに合わせメンテナンスを考慮したプラン、且つ、オーナー様のイメージを融合させたデザインをプレゼンテーション致します。</p>
                </div>
            </div>
        </div>

        <div class="p-company-item">
            <div class="p-company-item-info">
                <p class="type-name"><span class="type-reform">南建設</span></p>
                <p class="type-heading">〈詳しい会社情報〉</p>
                <ul>
                    <li>設立／2005年10月</li>
                    <li>従業員数／8人</li>
                    <li>対応エリア／札幌市内・近郊</li>
                    <li>資本金／300万円</li>
                    <li>施工実績（前年度）／90棟</li>
                </ul>
            </div>
            <div class="p-company-item-detail">
                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="/company/outdoor/img/detail/minami-image-1.jpg" alt="南建設 施工事例"></div>
                    <p class="type-heading-weak">経験と実績で確かな<br>品質を考える会社です</p>
                    <p class="type-txt">札幌市は冬の凍結・積雪と過酷な自然環境が有りますので厳しい環境を乗り越えより良い品質・耐久・便利・使いやすさを心掛け住居環境を経験と実績で提案したいと思います。</p>
                </div>
            </div>
        </div>

        <div class="p-company-item">
            <div class="p-company-item-info">
                <p class="type-name"><span class="type-reform">ワングリーン</span></p>
                <p class="type-heading">〈詳しい会社情報〉</p>
                <ul>
                    <li>設立／2005年10月</li>
                    <li>従業員数／6人</li>
                    <li>対応エリア／札幌市および近郊</li>
                    <li>資本金／300万円</li>
                    <li>施工実績（前年度）／80棟</li>
                </ul>
            </div>
            <div class="p-company-item-detail">
                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="/company/outdoor/img/detail/onegreen-image-1.jpg" alt="ワングリーン 施工事例"></div>
                    <p class="type-heading-weak">エクステリアから<br>植栽・ハーブ・宿根草まで<br>提案するお庭専門店</p>
                    <p class="type-txt">ワングリーンは、その街に住む方それぞれに笑顔とうるおいのある暮らしを願っています。お客様のご要望と、住宅のもつイメージをもとにお庭のコンサルティング～プラン ･デザイン･施工・アフターメンテナンスまで一貫しておこないます。</p>
                </div>
            </div>
        </div>

</div>
    </div><!-- /#base-container -->

    <?php include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/base-navigation.tpl"); ?>
    <?php include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/base-footer.tpl"); ?>
</div><!-- /#base-page -->
</body>
</html>