<?php
$page = array(
    'title' => 'すまいポート21について｜北海道の住まいづくりWeb',
    'discription' => '北海道の住まいづくりWebを運営するすまいポート21について、店舗情報、レンタルルームのご案内と、各種サービスメニューと料金表、サポート内容をご紹介します。',
);
include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/head.tpl");
?>
</head>



<body>
<div id="base-page">
    <?php include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/base-header.tpl"); ?>

    <div id="base-container">

        <div id="base-container-head" class="type-about">
            <ul class="p-breadcrumb-list">
                <li class="p-breadcrumb-list-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/" itemprop="url"><span itemprop="title">トップページ</a></li>
                <li class="p-breadcrumb-list-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title">すまいポート21について</span></li>
            </ul>

            <div class="p-about-hero-group">
                <p class="p-about-hero-heading-1"><img src="/about/img/hero-txt-1.png" alt="すまいポート21について おかげさまで905組のお客様にご利用いただいております。"></p>
            </div>
        </div><!-- /#base-container-head -->

        <div class="p-under-navi-group">
            <ul class="p-under-navi-list">
                <li class="p-under-navi-list-item"><a href="#page-shop">店舗情報</a></li>
                <li class="p-under-navi-list-item"><a href="#page-rental">レンタルルーム</a></li>
                <li class="p-under-navi-list-item"><a href="#page-price">サービスメニュー＆料金表</a></li>
                <li class="p-under-navi-list-item"><a href="#page-support">3つのサポート</a></li>
            </ul>
        </div>


        <div id="base-content">
            <h3 class="c-heading-3" id="page-shop">店舗情報</h3>
            <div class="p-about-shop-item-group">
                <div class="p-about-shop-item-inner">
                    <div class="p-about-shop-item-inner-txt">
                        <p class="p-about-shop-label"><img src="/resources/img/base/logo-sumaiport21-higashi-sapporo.svg" alt="すまいポート21札幌東"></p>
                        <p class="p-about-shop-tel">TEL.<span class="type-num">011-887-9191</span></p>
                        <p class="p-about-shop-address">〒004-0052<br>
                        札幌市厚別区厚別中央2条1丁目2-20<br>
                        営業時間　AM10：00～PM7：00（水曜日定休）</p>
                    </div>
                    <div class="p-about-shop-image"><img src="/about/img/shop-image-higashi-sapporo.jpg" alt="すまいポート21札幌東"></div>
                </div>
                <div class="p-about-shop-map" id="js-map-1"></div>
                <p class="p-about-shop-map-link"><a href="https://goo.gl/maps/S3c4xJbocfn" target="_blank">大きい地図で見る</a></p>
            </div>
            <div class="p-about-shop-item-group">
                <div class="p-about-shop-item-inner">
                    <div class="p-about-shop-item-inner-txt">
                        <p class="p-about-shop-label"><img src="/resources/img/base/logo-sumaiport21-sapporo-chuo.svg" alt="すまいポート21札幌中央"></p>
                        <p class="p-about-shop-tel">TEL.<span class="type-num">011-590-0108</span></p>
                        <p class="p-about-shop-address">〒064-0953<br>
                        札幌市中央区宮の森3条1丁目4-1タイびる１F<br>
                        営業時間　AM10：00～PM7：00（水曜日定休）</p>
                    </div>
                    <div class="p-about-shop-image"><img src="/about/img/shop-image-sapporo-chuo.jpg" alt="すまいポート21札幌中央"></div>
                </div>
                <div class="p-about-shop-map" id="js-map-2"></div>
                <p class="p-about-shop-map-link"><a href="https://goo.gl/maps/cgY3sn3s1gN2" target="_blank">大きい地図で見る</a></p>
            </div>


            <hr class="u-line-range40">


            <h3 class="c-heading-3" id="page-rental">レンタルルーム</h3>
            <div class="p-about-rental-group">
                <div class="p-about-rental-image">
                    <ul class="p-about-rental-image-list js-rental-slide">
                        <li><img src="/about/img/rental-image-1.jpg" alt="レンタルルーム"></li>
                        <li><img src="/about/img/rental-image-2.jpg" alt="レンタルルーム"></li>
                    </ul>
                    <div class="p-about-rental-image-controller type-prev js-rental-slide-controller">前へ</div>
                    <div class="p-about-rental-image-controller type-next js-rental-slide-controller">次へ</div>
                </div>
                <div class="p-about-rental-detail">
                    <dl>
                        <dt>お問い合わせTEL</dt>
                        <dd>011-887-9191</dd>
                    </dl>
                    <dl>
                        <dt>住所</dt>
                        <dd>〒004-0052　札幌市厚別区厚別中央2条1丁目2-20</dd>
                    </dl>
                    <dl>
                        <dt>アクセス</dt>
                        <dd>地下鉄東西線「大谷地駅」徒歩５分</dd>
                    </dl>
                </div>
            </div>


            <hr class="u-line-range40">


            <h3 class="c-heading-3" id="page-price">サービスメニュー＆料金表</h3>
            <div class="p-about-price-group">
                <p class="p-about-price-heading">情報提供・ご相談</p>
                <table class="p-about-price-table">
                    <tr class="type-heading">
                        <th>項目</th>
                        <th>料金</th>
                    </tr>
                    <tr>
                        <th>ライフプランシミュレーション＆資金計画</th>
                        <td>無料</td>
                    </tr>
                    <tr>
                        <th>土地情報のご提供</th>
                        <td>無料</td>
                    </tr>
                    <tr>
                        <th>建築会社情報の提供＆建築会社選びの相談</th>
                        <td>無料</td>
                    </tr>
                    <tr>
                        <th>コンシェルジュサービス</th>
                        <td>無料</td>
                    </tr>
                </table>
            </div>
            <div class="p-about-price-group">
                <p class="p-about-price-heading">設計コンペ</p>
                <table class="p-about-price-table">
                    <tr class="type-heading">
                        <th>項目</th>
                        <th>料金</th>
                    </tr>
                    <tr>
                        <th>設計コンペ</th>
                        <td>12,000円（税別）</td>
                    </tr>
                    <tr>
                        <th>設計コンペ＆インテリアコーディネート</th>
                        <td>12,000円（税別）</td>
                    </tr>
                    <tr>
                        <th>「仮想地」設計コンペ</th>
                        <td>12,000円（税別）</td>
                    </tr>
                    <tr>
                        <th>「土地＆プラン」設計コンペ</th>
                        <td>12,000円（税別）</td>
                    </tr>
                </table>
            </div>
            <div class="p-about-price-group">
                <p class="p-about-price-heading">リフォーム・外構</p>
                <table class="p-about-price-table">
                    <tr class="type-heading">
                        <th>項目</th>
                        <th>料金</th>
                    </tr>
                    <tr>
                        <th>リフォームコンペ</th>
                        <td>12,000円（税別）</td>
                    </tr>
                    <tr>
                        <th>外構コンペ</th>
                        <td>無料</td>
                    </tr>
                    <tr>
                        <th>建築家コンペ（club-s)</th>
                        <td>設計コンペ：32,000円（税別）、ご紹介コース：12,000円（税別）</td>
                    </tr>
                </table>
            </div>


            <hr class="u-line-range40">


            <h3 class="c-heading-3" id="page-support">3つのサポート</h3>
            <div class="p-about-support-group">
                <div class="p-about-support-inner">
                    <p class="p-about-support-heading type-num-1">情報提供</p>
                    <p>住まいに関する様々な情報を、すまいポート21が収集し、お客様にご提供いたします。</p>
                    <div class="p-about-support-info">
                        <p>● 建築会社　● リフォーム　● インテリア　● 外構・庭　● 保険　● 引越</p>
                    </div>
                </div>
                <div class="p-about-support-image">
                    <img src="/about/img/support-image-1.jpg" alt="住まいづくりに役立つ資料がいっぱい！">
                    <p>豊富な住まいの情報を自由に閲覧できます</p>
                </div>
            </div>
            <div class="p-about-support-group">
                <div class="p-about-support-inner">
                    <p class="p-about-support-heading type-num-2">コンサルテーション</p>
                    <p>住まいに関する疑問、悩み、不安に対し、専門家が第三者の立場でアドバイスいたします。</p>
                    <div class="p-about-support-info">
                        <p>
                            <strong class="u-txt-blue">建築・リフォーム</strong><br>一級建築士<br>
                            <strong class="u-txt-blue">資金計画・住宅ローン</strong><br>ファイナンシャルプランナー<br>
                            <strong class="u-txt-blue">土地</strong><br>宅地建物取引士<br>
                            <strong class="u-txt-blue">インテリア</strong><br>インテリアコーディネーター
                        </p>
                    </div>
                    <p>その他、住まいに関するご相談を承ります。</p>
                </div>
                <div class="p-about-support-image">
                    <img src="/about/img/support-image-2.jpg" alt="住まいづくりが楽しくなる強い味方！">
                    <p>中立な立場の専門家がご相談に応じます</p>
                </div>
            </div>
            <div class="p-about-support-group">
                <div class="p-about-support-inner">
                    <p class="p-about-support-heading type-num-3">設計コンペ</p>
                    <p>あなたの要望・予算に合わせ複数の建築会社がプランと見積りを作成し、プレゼンテーションをしてくれるシステムです。あなたに合った建築会社選びに最適です。</p>
                    <div class="p-about-support-info">
                        <p class="type-heading">新築・建替</p>
                        <p>
                            <strong class="u-txt-green">設計コンペ</strong><br>
                            同一条件で最大５社から建物のプラン、見積りが提案されます。<br>
                            <strong class="u-txt-green">「仮想地」設計コンペ / 「土地＆プラン」設計コンペ</strong><br>
                            土地から住まいをお探しの方向け。土地決定後に建築会社選びを始めるデメリットを解消できます。
                        </p>
                        <p class="type-heading">リフォーム</p>
                        <p>
                            <strong class="u-txt-green">コンペ</strong><br>
                            同一条件で複数のリフォームプラン、見積りが提案されます。
                        </p>
                        <p class="type-heading">外構</p>
                        <p>ご要望とご予算に合わせた「プラン」と「見積り」が提案されます。</p>
                    </div>
                </div>
                <div class="p-about-support-image">
                    <img src="/about/img/support-image-3.jpg" alt="一度に複数のプランの見積もりができるのね！">
                    <p>店内では今までの設計コンペの豊富な実例もご覧になれます</p>
                </div>
            </div>
        </div><!-- /#base-content -->
    </div><!-- /#base-container -->

    <?php include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/base-navigation.tpl"); ?>
    <?php include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/base-footer.tpl"); ?>
</div><!-- /#base-page -->
<script>
pageAll.createMap('js-map-1', 43.031000, 141.453841, '', 17);
pageAll.createMap('js-map-2', 43.067038, 141.309735, '', 17);
</script>

</body>
</html>