@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?2xix50');
	src:url('fonts/icomoon.eot?2xix50#iefix') format('embedded-opentype'),
		url('fonts/icomoon.ttf?2xix50') format('truetype'),
		url('fonts/icomoon.woff?2xix50') format('woff'),
		url('fonts/icomoon.svg?2xix50#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right:before {
	content: "\e901";
}
.icon-arrow-bottom:before {
	content: "\e900";
}
.icon-ico-menu:before {
	content: "\e600";
}
.icon-ico-reservation:before {
	content: "\e601";
}
.icon-ico-fb:before {
	content: "\e602";
}

