<?php
$page = array(
    'title' => '設計コンペで家を建てよう！｜北海道の住まいづくりWeb',
    'discription' => '施主さまのリクエストに合わせ、最大5社の建築会社がプランと見積もりを提案！各社がプライドを賭けて作ったプランを、プロのサポートを受けながら比較検討できるのが設計コンペの魅力です。今回はOさんご一家の設計コンペに密着してきました。',
);
include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/head.tpl");
?>
</head>



<body id="competition-201510-case-1">
<div id="base-page">
    <?php include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/base-header.tpl"); ?>

    <div id="base-container">

        <div id="base-container-head" class="type-case-competition">
            <ul class="p-breadcrumb-list">
                <li class="p-breadcrumb-list-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/" itemprop="url"><span itemprop="title">トップページ</a></li>
                <li class="p-breadcrumb-list-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/case-competition/" itemprop="url"><span itemprop="title">設計コンペで家を建てよう！</a></li>
                <li class="p-breadcrumb-list-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title">2015年10月</span></li>
            </ul>

            <div class="p-case-competition-hero-group">
                <p class="p-case-competition-hero-heading-1"><img src="/case-competition/img/hero-txt-1.png" alt="設計コンペで家を建てよう！"></p>
                <div class="p-case-competition-hero-panel">
                    <img src="/case-competition/201510/img/case-1/hero-image-1.png" alt="今回のモデル K様ファミリー">
                    <p class="p-case-competition-hero-panel-heading">K様ファミリー</p>
                    <p class="p-case-competition-hero-panel-txt">ご主人（30代）・奥さま（30代）・長女（5ヶ月）<br>●ご主人は会社勤め、奥さまは現在育児休暇中。ゆくゆくは二人目をもうける予定。子どもとの生活を楽しめる暖かい家を希望！</p>
                </div>
            </div>
        </div><!-- /#base-container-head -->

        <?php
            $backnumber = array(
                'date' => '201510',
                'case' => 1,
            );
            include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/case-competition/backnumber-group.tpl");
        ?>


    <div id="base-content" class="competition-201510-case-1">

        <p class="p-case-competition-heading-3">リクエストに合わせ、最大5社の建築会社がプランと見積もりを提案！<br>
        各社自慢のプランを比較検討できるのがコンペの魅力です。<br>
        今回のモデルは建築用土地を決めかねていたというK様ご一家。<br>
        K様は建築会社を先に決定する「仮想地」設計コンペに臨みました。</p>



        <div class="p-case-competition-item type-step-0">
            <p class="p-case-competition-heading-1"><img src="/case-competition/201510/img/case-1/heading-1.png" alt="仮想地設計コンペ編"></p>
            <div class="p-case-competition-half">
                <div class="p-case-competition-half-item type-left">
                    <p>今年の春に長女が誕生し、新居の購入を検討し始めた3人家族のK様ファミリー。雑誌て知った「すまいポート21札幌中央」に相談に訪れたのは今年の6月でした。将来はお子さんをもう一人もうけたいというおふたりの希望は戸建住宅。『手始めにまずは土地を…』と考えていたそうですが、なかなかイメージに合う土地に出会えません。そこで提案を受けたのが、先に設計プランを決めてから、それにピッタリの土地を探すという方法。おふたりは「仮想地」を舞台にした設計コンペにトライされました。</p>
                </div>
                <div class="p-case-competition-half-item type-right">
                    <div>
                        <img class="type-step-0-img" src="/case-competition/201510/img/case-1/intro-image-1.jpg" alt="すまいポート21札幌中央　外観">
                        <p>今回のコンペの舞台は…</p>
                        <img src="/resources/img/base/logo-sumaiport21-sapporo-chuo.svg" alt="すまいポート21札幌中央">
                        <p>電話/011-590-0108<br>
                        住所/札幌市中央区宮の森3条1丁目4-1<br>
                        営業時間/10時～19時（水曜日定休）</p>
                    </div>
                </div>
            </div>
            <div class="p-case-competition-201510-land-tips">
                <p class="type-heading">『仮想地』ってナニ？</p>
                <p>希望に合わせて「すまいポート21」推薦、もしくは不動産会社より収集した実在する土地を設定したもの。気に入った場合は購入も可能です。</p>
            </div>
        </div>



        <div class="p-case-competition-item">
            <p class="p-case-competition-heading-1"><img src="/case-competition/201510/img/case-1/step-heading-1.png" alt="STEP1 それぞれに合った住まいづくりの方法をご提案 コンペの方法を選ぼう！"></p>
            <div class="p-case-competition-half">
                <div class="p-case-competition-half-item type-left">
                    <img src="/case-competition/201510/img/case-1/step-1-image-1.jpg" alt="「ピンとくる土地がなかなか見つからなくて…」「だったら仮想地設計コンペで先にプランを作りませんか？」">
                </div>
                <div class="p-case-competition-half-item type-right">
                    <p class="p-case-competition-heading-2">土地が決まらなくても設計コンペは可能なのです！</p>
                    <p>『土地が決まらないと設計コンペは受けられないんじゃ…』と思われがちですが、実は土地が決まっていなくても設計コンペへのトライは可能なのです。「すまいポート21」では購入（もしくは予定）した土地に対して、プランを提案する通常の設計コンペの他に、土地が未決定の方に2種類のコンペを用意。一つはプランと建築会社を先に決定する「仮想地設計コンペ」。もう一つは
                    登録会社が手持ちの取って置きの土地とセットでプランを提案する「土地＆プラン設計コンペ」です。今回、K様は「すまいポート21」のアドバイスもあり、デザインや機能面から建築会社を選びたいというご希望から「仮想地設計コンペ」を選択されました。</p>
                </div>
            </div>

            <div class="p-case-competition-201510-plan-tips">
                <p class="type-heading-1">プランから先に決めたい方にオススメ！</p>
                <p class="type-heading-2">土地がなくても受けられる2つのコンペ</p>
                <p class="type-heading-3">①<span>仮想地設計コンペ</span></p>
                <p class="type-txt">土地がなかなか決まらない方にオススメ。また購入する土地が決まってからプラン決定までの期間はローンの関係で慌ただしくなりますが、仮想地設計コンペの場合はじっくりとプランと建築会社を検討することができます。</p>
                <p class="type-heading-3">②<span>土地＆プラン設計コンペ</span></p>
                <p class="type-txt">短時間で住まいづくりを進めたい方にピッタリ。希望のエリアで建設会社各社が保有するイチオシの土地をモデルにプランを提案！土地とプランを同時に比較でき、トータルコストも具体的に知ることができます。</p>
            </div>

            <div class="p-case-competition-message">
                <div class="p-case-competition-message-staff type-wide">
                    <div class="type-image"><img src="/case-competition/201510/img/case-1/member-circle-5.png" alt="宅地建物取引士 村岡洋平さん"></div>
                    <div class="type-txt">
                        <p>建築会社が決定した後からでも土地探しはOKです。予算とプランに合った札幌市とその周辺の土地情報をご提供します。価格交渉やご契約のサポートももちろんいたします！</p>
                        <p><span class="type-position">宅地建物取引士</span><br>
                        <span class="type-name">村岡 洋平 さん</span></p>
                    </div>
                </div>
            </div>
        </div>


        <div class="p-case-competition-item">
            <p class="p-case-competition-heading-1"><img src="/case-competition/201510/img/case-1/step-heading-2.png" alt="STEP2 敏腕ＦＰがライフプランをアドバイス 住まいづくりの資金計画をつくろう"></p>
            <div class="p-case-competition-half">
                <div class="p-case-competition-half-item type-left">
                    <img src="/case-competition/201510/img/case-1/step-2-image-1.jpg" alt="「スノーボードは毎年行きたいですね」「趣味や楽しみを削る必要はありません」">
                </div>
                <div class="p-case-competition-half-item type-right">
                    <p class="p-case-competition-heading-2">将来を見すえた借り入れ額を算出！</p>
                    <p>住まいづくりで重要なのは、しっかりとした資金計画。ポイントは「借りられる額」を計算するのではなく、その後の人生設計を見すえ、心豊かな生活をエンジョイしながらも無理なく「返せる額」を算出すること。家のためにやりたいことを我慢するというのでは本末転倒です。すまいポート21では経験豊かなファイナンシャルプランナーがライフプランをシミュレーション。家を建てるだけでなく、その後の素敵な人生を実現するための資金計画をご提案します。</p>
                </div>
            </div>

            <div class="p-case-competition-message-type-1">
                <div class="p-case-competition-message-type-1-staff">
                    <div class="type-image"><img src="/case-competition/201510/img/case-1/member-circle-4.png" alt="宅地建物取引士 村岡洋平さん"></div>
                    <div class="type-txt">
                        <p>現在、5ヶ月になるお嬢さんの他に、もう一人お子さんが欲しいということ。今後も夫婦共通の趣味であるスノーボードや旅行を楽しみたいというのがK様のご希望でした。家族の人生で優先したいことに順位をつけ、趣味や旅行の予算は減らさない方向で一緒に計画を考えます。</p>
                        <span class="type-position">ファイナンシャルプランナー</span>
                        <span class="type-name">加賀 雄喜さん</span>
                    </div>
                </div>
                <div class="p-case-competition-message-item">
                    <img src="/case-competition/201510/img/case-1/step-2-image-2.png" alt="すまいぽーと21では提携各社が持つ土地情報の検索が可能">
                    <p>お子さんの大学の学費など将来生じる支出を見据えつつライフプランを作成。また、ローンとともに加入する団体信用生命保険と現在ご加入の保険の保証内容についても検討し、支出のロスもカット。</p>
                </div>
            </div>
        </div>



        <div class="p-case-competition-item">
            <p class="p-case-competition-heading-1"><img src="/case-competition/201510/img/case-1/step-heading-3.png" alt="STEP3 理想の家のイメージをカタチにしよう 一級建築士と打ち合わせ"></p>
            <p class="u-txt-center">サポートするのは第三者の一級建築士。<br>中立、公平な立場から住まいに関する希望を具体的にまとめて各社に提示します。<br>理想の住まいへ夢を存分に伝えましょう。</p>
            <br>
            <div class="p-case-competition-half">
                <div class="p-case-competition-half-item type-left">
                    <img src="/case-competition/201510/img/case-1/step-3-image-1.jpg" alt="「光熱費が抑えられる暖かい家に住みたいです」「では断熱に自信のある建築会社が良いですね」">
                </div>
                <div class="p-case-competition-half-item type-right">
                    <p class="p-case-competition-heading-2">伝えたイメージを元にプロが要望書を作成</p>
                    <p>設計コンペの第一歩は、すまいポート21に加盟する建築会社に提示するマイホームへのご希望をまとめること。難しい用語を知っている必要はありません。多くの人にとって住まいづくりは初めての経験なのですから、すまいポート21では、腕利きの一級建築士さんが的確なアドバイスを交えながらヒアリング。なんとなく抱いているふわふわとしたイメージを、明確なリクエストとして形にして各社に提示します。暖房や工法など分からないこともキッチリ教えてくれるので安心。</p>
                    <div class="p-case-competition-bg">
                        <p><strong>K様ご夫婦が提示された主なリクエスト</strong></p>
                        <ul>
                            <li>外観はナチュラルな雰囲気に</li>
                            <li>造り付けのマンガ用本棚を<br>ご主人はゴロゴロしながらマンガを読みたい。奥様はお客様から見えるスペースにマンガを置きたくない。</li>
                            <li>シューズクロークが欲しい（出来れば2WAY）</li>
                            <li>畳のある部屋が欲しい</li>
                            <li>耐震等級1以上</li>
                            <li>収納スペースはできるだけ欲しい</li>
                            <li>光熱費を抑えられる換気・暖房・断熱の優れた家</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="p-case-competition-message-type-1">
                <div class="p-case-competition-message-type-1-staff">
                    <div class="type-image"><img src="/case-competition/201510/img/case-1/member-circle-1.png" alt="一級建築士 堀由佳里さん"></div>
                    <div class="type-txt">
                        <p>設計コンペの良いところは、提示した条件に合わせて他社よりも良いプランや見積もりを提案しようと各社が頑張ってくれるところ。家は安い買い物ではありませんから、理想の家へのリクエストは遠慮なく仰ってください。</p>
                        <span class="type-position">一級建築士</span>
                        <span class="type-name">堀 由佳里さん</span>
                    </div>
                </div>
                <div class="p-case-competition-message-type-1-balloon type-staff-1">
                    <div class="type-balloon">K様夫婦が出された要望は登録する各社に提示され、条件に自信のある14の建築会社が名乗りを挙げました。K様はそこから5社を選び、いよいよ担当者との顔合わせです。</div>
                </div>
            </div>
        </div>


        <p class="u-txt-center"><img src="/case-competition/201510/img/case-1/step-3-txt-1.png" alt="名乗りを挙げた会社の中から気になる5社をセレクト!"></p>


        <div class="p-case-competition-item">
            <p class="p-case-competition-heading-1"><img src="/case-competition/201510/img/case-1/step-heading-4.png" alt="STEP4 指名した各社の担当者と顔合わせ！ 建築会社とオリエンテーション"></p>
            <div class="p-case-competition-half">
                <div class="p-case-competition-half-item type-left">
                    <img src="/case-competition/201510/img/case-1/step-4-image-1.jpg" alt="各社とのオリエンテーション">
                </div>
                <div class="p-case-competition-half-item type-right">
                    <p class="p-case-competition-heading-2">ヒアリングシートを元に各社の担当と質疑応答</p>
                    <p>名乗りを挙げた建築会社の中から最大5社を指名。各社の設計士・営業担当者とのオリエンテーションの場を設けます。各社の持ち時間は40分。事前に出したヒアリングシートを元に、質疑応答をくり返してプラン作りの土台を固めます。住まいづくりは長い作業。また家を立てた後もお付き合いする会社ですから、担当者とのフィーリングも重要なチェック項目です。</p>
                    <div class="p-case-competition-bg">
                        <p><strong>今回の仮想地のデータ</strong></p>
                        <p><strong>北区新川エリアの実際の住宅地を想定</strong><br>・北東向き51.3坪<br>・幅10m、奥行き17m<br>・都市ガス引込み可</p>
                    </div>
                </div>
            </div>
            <div class="p-case-competition-message">
                <div class="p-case-competition-message-staff">
                    <div class="type-image"><img src="/case-competition/201510/img/case-1/member-circle-2.png" alt="一級建築士 堀由佳里さん"></div>
                    <div class="type-txt">
                        <p>オリエンテーションではお客様からも各社に質問できます。断熱や耐震の工法に関しては難しい用語も出てきがちですが、私たち一級建築士が同席して分かりやすくご説明します。</p>
                    </div>
                </div>
                <div class="p-case-competition-message-item">
                    <div class="type-image"><img src="/case-competition/201510/img/case-1/step-4-image-3.jpg" alt="初めて会う建築会社の担当者との打ち合わせ"></div>
                    <p class="type-txt">初めて会う建築会社の担当者との打ち合わせ。希望を存分に伝えましょう。<br>また各社にはお客様の詳細な個人情報は伝えないので、個別に営業が入ることはありません。</p>
                </div>
            </div>
        </div>




        <div class="p-case-competition-item">
            <p class="p-case-competition-heading-1"><img src="/case-competition/201510/img/case-1/step-heading-5.png" alt="STEP5 各社が練りにねった自慢のプランを披露！設計コンペがスタート!!"></p>

            <div class="p-case-competition-conpe-group type-entry-1">
                <div class="p-case-competition-conpe-heading">
                    <div class="type-num">ENTRY-1</div>
                    <p class="type-name">桧山建設綜業</p>
                    <ul class="type-staff">
                        <li>
                            <img src="/case-competition/201510/img/case-1/conpe-1-staff-1.png" alt="営業 宍戸孝志さん">
                            <span>営業<br>宍戸 孝志さん</span>
                        </li>
                        <li></li>
                    </ul>
                </div>
                <div class="p-case-competition-conpe-left">
                    <p class="type-txt-heading">ココにこだわりました！</p>
                    <p>断熱・気密・換気・調湿に優れたFAS工法を使った、一年を通して快適に過ごせる家です。太陽光パネルを20枚設置し、ランニングコストも抑制します。お子さんの成長につれ増えていく物をしっかりと保管できるよう収納スペースは多めに取りました。</p>
                    <div class="p-case-competition-conpe-check type-staff-1">
                        <p class="type-txt-1"><img src="/case-competition/201510/img/case-1/conpe-txt-check.png" alt="一級建築士チェック！"></p>
                        <p class="type-txt-2">気密性に富んだ建物と独自の換気システム、太陽光発電でランニングコストの低減を目指した独自の提案が魅力的ですね。寒い冬も床下エアコンが足元から暖めてくれるので快適に過ごせそうです。</p>
                    </div>
                    <div class="p-case-competition-conpe-data">
                        <p class="type-txt-1"><img src="/case-competition/201510/img/case-1/conpe-txt-data.png" alt="プランデータ"></p>
                        <ul>
                            <li>●延床面積／120.49㎡（36.45坪）</li>
                            <li>●1F床面積／67.49㎡（20.42坪）</li>
                            <li>●2F床面積／53.00㎡（16.03坪）</li>
                        </ul>
                    </div>
                    <p class="type-txt-heading">桧山建設綜業の家ってこんな家</p>
                    <p>専用断熱材エアクララを用いた断熱構造で冬の寒さ、夏の暑さをシャットアウトする高気密・高断熱のFAS工法が特徴。高度な気密性能を活かしたエコ電化住宅は、光熱費をグッと抑えます。熱交換式換気扇が室内の空気を常に清浄に保ち、湿度もしっかりコントロール。</p>

                    <div class="p-case-competition-conpe-logo">
                        <img src="/case-competition/201510/img/case-1/conpe-1-logo.png" alt="桧山建設綜業">
                    </div>

                    <div class="p-case-competition-conpe-profile">
                        <dl>
                            <dt>桧山建設綜業株式会社</dt>
                            <dd>●設立／1957年　●従業員数／7名<br>●TEL／011-784-8133  FAX／011-784-8130<br>●住所／札幌市東区北43条東18丁目3-5</dd>
                            <dd><a href="http://www.hiyama-d.co.jp/" target="_blank">ウェブサイトはこちら</a></dd>
                        </dl>
                    </div>
                </div>
                <div class="p-case-competition-conpe-right">
                    <div class="p-case-competition-conpe-floor type-entry-1">
                        <div class="p-case-competition-conpe-floor-point type-num-1 js-point-1-1"></div>
                        <div class="p-case-competition-conpe-floor-point type-num-2 js-point-1-2"></div>
                        <div class="p-case-competition-conpe-floor-point type-num-2 js-point-1-2 type-2"></div>
                        <img src="/case-competition/201510/img/case-1/conpe-1-floor-1.png" alt="1F 間取り図">
                    </div>
                    <div class="p-case-competition-conpe-floor type-entry-1">
                        <div class="p-case-competition-conpe-floor-point type-num-3 js-point-1-3"></div>
                        <img src="/case-competition/201510/img/case-1/conpe-1-floor-2.png" alt="2F 間取り図">
                    </div>
                </div>
            </div>

            <div class="p-case-competition-conpe-group type-entry-2">
                <div class="p-case-competition-conpe-heading">
                    <div class="type-num">ENTRY-2</div>
                    <p class="type-name">奥野工務店</p>
                    <ul class="type-staff">
                        <li>
                            <img src="/case-competition/201510/img/case-1/conpe-2-staff-1.png" alt="代表 奥野智史さん">
                            <span>代表<br>奥野 智史さん</span>
                        </li>
                        <li></li>
                    </ul>
                </div>
                <div class="p-case-competition-conpe-left">
                    <p class="type-txt-heading">ココにこだわりました！</p>
                    <p>光あふれるLDK、ピアノの音がやさしく響く2階の階段ホール…など、家族でワイワイ、そして健やかに暮らせる家をイメージしました。できるだけ身体にやさしい素材を使い、パッシブ換気で常に新鮮な空気を循環させるのでお子さんの健康も安心です。</p>
                    <div class="p-case-competition-conpe-check type-staff-2">
                        <p class="type-txt-1"><img src="/case-competition/201510/img/case-1/conpe-txt-check.png" alt="一級建築士チェック！"></p>
                        <p class="type-txt-2">外気を床下で暖め、自然の原理を生かして家全体を暖めて天井で排出するパッシブ換気は高気密・高断熱の家だから可能なもの。ナラの無垢材や外壁にあしらうレンガなど自然素材を使った人と地球にやさしいプランです。細かな見積もりも親切ですね。</p>
                    </div>
                    <div class="p-case-competition-conpe-data">
                        <p class="type-txt-1"><img src="/case-competition/201510/img/case-1/conpe-txt-data.png" alt="プランデータ"></p>
                        <ul>
                            <li>延床面積／117.59㎡（35.50坪）</li>
                            <li>1F床面積／64.59㎡（19.50坪）</li>
                            <li>2F床面積／53.00㎡（16.00坪）</li>
                        </ul>
                    </div>
                    <p class="type-txt-heading">奥野工務店の家ってこんな家</p>
                    <p>年間に施工するのは10～15棟。それは品質を守るため、代表自身が設計から施工まで管理して一棟一棟、真心を込めて建てたいという思いから。外断熱・パッシブ換気を用いた気密・断熱に優れ、湿気にも強い家は30年後も価値が目減りしません。</p>

                    <div class="p-case-competition-conpe-logo">
                        <img src="/case-competition/201510/img/case-1/conpe-2-logo.png" alt="奥野工務店">
                    </div>

                    <div class="p-case-competition-conpe-profile">
                        <dl>
                            <dt>株式会社 奥野工務店</dt>
                            <dd>●設立／1968年　●従業員数／7名<br>●TEL／011-861-8754   FAX／011-864-2853<br>●住所／札幌市白石区本通8丁目北6-7</dd>
                            <dd><a href="http://www.okuno-kk.com/" target="_blank">ウェブサイトはこちら</a></dd>
                        </dl>
                    </div>
                </div>
                <div class="p-case-competition-conpe-right">
                    <div class="p-case-competition-conpe-floor type-entry-2">
                        <div class="p-case-competition-conpe-floor-point type-num-1 js-point-2-1"></div>
                        <div class="p-case-competition-conpe-floor-point type-num-2 js-point-2-2"></div>
                        <img src="/case-competition/201510/img/case-1/conpe-2-floor-1.png" alt="1F 間取り">
                    </div>
                    <div class="p-case-competition-conpe-floor type-entry-2">
                        <div class="p-case-competition-conpe-floor-point type-num-3 js-point-2-3"></div>
                        <img src="/case-competition/201510/img/case-1/conpe-2-floor-2.png" alt="2F 間取り">
                    </div>
                </div>
            </div>

            <div class="p-case-competition-conpe-group type-entry-3">
                <div class="p-case-competition-conpe-heading">
                    <div class="type-num">ENTRY-3</div>
                    <p class="type-name">ｕ建築事務所</p>
                    <ul class="type-staff">
                        <li>
                            <img src="/case-competition/201510/img/case-1/conpe-3-staff-1.png" alt="営業 田中裕さん">
                            <span>営業<br>田中 裕さん</span>
                        </li>
                        <li>
                            <img src="/case-competition/201510/img/case-1/conpe-3-staff-2.png" alt="設計 安達広平さん">
                            <span>設計<br>安達 広平さん</span>
                        </li>
                    </ul>
                </div>
                <div class="p-case-competition-conpe-left">
                    <p class="type-txt-heading">ココにこだわりました！</p>
                    <p>奥様とご主人、それぞれのご希望を両立させたいと考えてプランを組みました。ご主人希望のマンガの本棚と読書スペースは隠し部屋のような空間に。お二人がお好きな色もニッチや床などにさり気なく配しております。</p>
                    <div class="p-case-competition-conpe-check type-staff-1">
                        <p class="type-txt-1"><img src="/case-competition/201510/img/case-1/conpe-txt-check.png" alt="一級建築士チェック！"></p>
                        <p class="type-txt-2">ご夫婦で意見に相違があったマンガ用の本棚の場所を上手に解決。収納スペースが豊富なのも魅力ですね。さまざまな視点から見たパースを使ったプレゼンもイメージが掴みやすく高ポイントだと思います。</p>
                    </div>
                    <div class="p-case-competition-conpe-data">
                        <p class="type-txt-1"><img src="/case-competition/201510/img/case-1/conpe-txt-data.png" alt="プランデータ"></p>
                        <ul>
                            <li>延床面積／110.35㎡（33.31坪）</li>
                            <li>1F床面積／61.49㎡（18.56坪）</li>
                            <li>2F床面積／48.86㎡（14.75坪）</li>
                        </ul>
                    </div>
                    <p class="type-txt-heading">ｕ建築事務所の家ってこんな家</p>
                    <p>ヒアリングを丁寧に重ね、理想にあった家づくりがモットー。手掛ける物件は全棟構造計算を実施。札幌版次世代住宅基準もクリアする高気密・高断熱の家なので、長く安心して住まえる家を手に入れることができます。自社大工の施工だから品質面も安心。</p>

                    <div class="p-case-competition-conpe-logo">
                        <img src="/case-competition/201510/img/case-1/conpe-3-logo.png" alt="ｕ建築事務所">
                    </div>

                    <div class="p-case-competition-conpe-profile">
                        <dl>
                            <dt>株式会社 ｕ建築事務所</dt>
                            <dd>●設立／1966年<br>●TEL／011-871-6445  FAX／011-871-6447<br>●住所／札幌市白石区北郷4条9丁目1-28</dd>
                            <dd><a href="http://www.ukenchiku.co.jp/" target="_blank">ウェブサイトはこちら</a></dd>
                        </dl>
                    </div>
                </div>
                <div class="p-case-competition-conpe-right">
                    <div class="p-case-competition-conpe-floor type-entry-3-1">
                        <div class="p-case-competition-conpe-floor-point type-num-1 js-point-3-1"></div>
                        <div class="p-case-competition-conpe-floor-point type-num-2 js-point-3-2"></div>
                        <div class="p-case-competition-conpe-floor-point type-num-3 js-point-3-3"></div>
                        <img src="/case-competition/201510/img/case-1/conpe-3-floor-1.png" alt="1F 間取り">
                    </div>
                    <div class="p-case-competition-conpe-floor type-entry-3-2">
                        <img src="/case-competition/201510/img/case-1/conpe-3-floor-2.png" alt="2F 間取り">
                    </div>
                </div>
            </div>

            <div class="p-case-competition-conpe-group type-entry-4">
                <div class="p-case-competition-conpe-heading">
                    <div class="type-num">ENTRY-4</div>
                    <p class="type-name">ＦＰホーム</p>
                    <ul class="type-staff">
                        <li>
                            <img src="/case-competition/201510/img/case-1/conpe-4-staff-1.png" alt="営業 新田一徳さん">
                            <span>営業<br>新田 一徳さん</span>
                        </li>
                        <li>
                            <img src="/case-competition/201510/img/case-1/conpe-4-staff-2.png" alt="設計 畑本博行さん">
                            <span>設計<br>畑本 博行さん</span>
                        </li>
                    </ul>
                </div>
                <div class="p-case-competition-conpe-left">
                    <p class="type-txt-heading">ココにこだわりました！</p>
                    <p>小さめの土地でも手狭さを感じさせない開放感のある家をテーマにしました。1階のLDKは隣接する洋和室との一体感を演出。2階のご主人希望のマンガスペースは、本棚のほかに小上がりをしつらえ、セカンドリビングとしてご利用できます。</p>
                    <div class="p-case-competition-conpe-check type-staff-2">
                        <p class="type-txt-1"><img src="/case-competition/201510/img/case-1/conpe-txt-check.png" alt="一級建築士チェック！"></p>
                        <p class="type-txt-2">のんびりゴロゴロできる2階の小上がりはユニークですね。ユーティリティ周りの細かな気遣いや開口部が広くLDと一体感のある洋和室など、ご夫婦のリクエストにしっかりと応えたプランです。</p>
                    </div>
                    <div class="p-case-competition-conpe-data">
                        <p class="type-txt-1"><img src="/case-competition/201510/img/case-1/conpe-txt-data.png" alt="プランデータ"></p>
                        <ul>
                            <li>延床面積／122.15㎡（36.88坪）</li>
                            <li>1F床面積／65.01㎡（19.63坪）</li>
                            <li>2F床面積／57.14㎡（17.25坪）</li>
                        </ul>
                    </div>
                    <p class="type-txt-heading">FPホームの家ってこんな家</p>
                    <p>テーマはデザイン性と機能が両立した「美しい空間」づくり。独自に開発した高性能なFPウレタン断熱パネルを用いた高気密・高断熱の夏は涼しく、冬は暖かい省エネルギーな家が自慢です。50年の無結露保証や充実のアフターサービスも魅力です。</p>

                    <div class="p-case-competition-conpe-logo">
                        <img src="/case-competition/201510/img/case-1/conpe-4-logo.png" alt="FPホーム">
                    </div>

                    <div class="p-case-competition-conpe-profile">
                        <dl>
                            <dt>株式会社 FPホーム</dt>
                            <dd>●設立／1984年　　●従業員数／24名<br>●TEL／011-741-2222   FAX／011-741-2006<br>●住所／札幌市東区北42条東15丁目1-1</dd>
                            <dd><a href="https://www.fphome.jp/" target="_blank">ウェブサイトはこちら</a></dd>
                        </dl>
                    </div>
                </div>
                <div class="p-case-competition-conpe-right">
                    <div class="p-case-competition-conpe-floor type-entry-4-1">
                        <div class="p-case-competition-conpe-floor-point type-num-1 js-point-4-1"></div>
                        <div class="p-case-competition-conpe-floor-point type-num-2 js-point-4-2"></div>
                        <img src="/case-competition/201510/img/case-1/conpe-4-floor-1.png" alt="1F 間取り">
                    </div>
                    <div class="p-case-competition-conpe-floor type-entry-4-2">
                        <div class="p-case-competition-conpe-floor-point type-num-3 js-point-4-3"></div>
                        <img src="/case-competition/201510/img/case-1/conpe-4-floor-2.png" alt="2F 間取り">
                    </div>
                </div>
            </div>

            <div class="p-case-competition-conpe-group type-entry-5">
                <div class="p-case-competition-conpe-heading">
                    <div class="type-num">ENTRY-5</div>
                    <p class="type-name">久末弘信建設</p>
                    <ul class="type-staff">
                        <li>
                            <img src="/case-competition/201510/img/case-1/conpe-5-staff-1.png" alt="営業 太田雅晴さん">
                            <span>営業<br>太田 雅晴さん</span>
                        </li>
                        <li>
                            <img src="/case-competition/201510/img/case-1/conpe-5-staff-2.png" alt="設計 名古屋志津子さん">
                            <span>設計<br>名古屋 志津子さん</span>
                        </li>
                    </ul>
                </div>
                <div class="p-case-competition-conpe-left">
                    <p class="type-txt-heading">ココにこだわりました！</p>
                    <p>今回のプランで特に大切にしたのは、住宅が密集する仮想の土地で光をいかに取り込むかという事。そして子育てに忙しい奥様の目線にできる限り寄り添うという事です。回遊動線、ルンバの帰還場所や多彩な収納など細かな工夫を凝らしました。</p>
                    <div class="p-case-competition-conpe-check type-staff-1">
                        <p class="type-txt-1"><img src="/case-competition/201510/img/case-1/conpe-txt-check.png" alt="一級建築士チェック！"></p>
                        <p class="type-txt-2">面積的には5社の中で一番小さかったのですが、手狭さをまったく感じさせません。住宅密集地を想定した仮想地で南側に建物を寄せてどうするのかと思っていたら吹抜けで採光の問題もクリア。立体模型もイメージが掴めてgoodです。</p>
                    </div>
                    <div class="p-case-competition-conpe-data">
                        <p class="type-txt-1"><img src="/case-competition/201510/img/case-1/conpe-txt-data.png" alt="プランデータ"></p>
                        <ul>
                            <li>延床面積／109.10㎡（32.94坪）</li>
                            <li>1F床面積／62.31㎡（18.81坪）</li>
                            <li>2F床面積／46.79㎡（14.13坪）</li>
                        </ul>
                    </div>
                    <p class="type-txt-heading">久末弘信建設の家ってこんな家</p>
                    <p>第1種換気システムを標準装備。高性能の外断熱工法で冬は暖かく、夏は涼しい高気密で空気のきれいな家づくりに定評があります。徹底した地盤調査と換気計算、シックハウス症候群の原因物質であるVOC測定など安心の住まいを提供しています。</p>

                    <div class="p-case-competition-conpe-logo">
                        <img src="/case-competition/201510/img/case-1/conpe-5-logo.png" alt="久末弘信建設">
                    </div>

                    <div class="p-case-competition-conpe-profile">
                        <dl>
                            <dt>久末弘信建設 株式会社</dt>
                            <dd>●設立／1965年　　●従業員数／16名<br>●TEL／011-661-5510  FAX／011-661-1949<br>●住所／札幌市西区発寒10条2丁目6-17</dd>
                            <dd><a href="http://www.hi-ko.co.jp/" target="_blank">ウェブサイトはこちら</a></dd>
                        </dl>
                    </div>
                </div>
                <div class="p-case-competition-conpe-right">
                    <div class="p-case-competition-conpe-floor type-entry-5">
                        <div class="p-case-competition-conpe-floor-point type-num-1 js-point-5-1"></div>
                        <div class="p-case-competition-conpe-floor-point type-num-2 js-point-5-2"></div>
                        <img src="/case-competition/201510/img/case-1/conpe-5-floor-1.png" alt="1F 間取り">
                    </div>
                    <div class="p-case-competition-conpe-floor type-entry-5">
                        <div class="p-case-competition-conpe-floor-point type-num-3 js-point-5-3"></div>
                        <img src="/case-competition/201510/img/case-1/conpe-5-floor-2.png" alt="2F 間取り">
                    </div>
                </div>
            </div>

        </div>




        <div class="p-case-competition-item p-case-competition-item-6">
            <p class="p-case-competition-heading-1"><img src="/case-competition/201510/img/case-1/step-heading-6.png" alt="STEP6 プランの中から１社を選び契約＆施工開始へ、建築会社を決定!!"></p>
            <div class="p-case-competition-half">
                <div class="p-case-competition-half-item type-left">
                    <img src="/case-competition/201510/img/case-1/step-6-image-1.jpg" alt="「第三者のアドバイスが頼りになりました！」">
                </div>
                <div class="p-case-competition-half-item type-right">
                    <p>各社の熱のこもったプランの提案を受けた後は、いよいよ建築会社の決定です。プラン内容、住宅の性能、担当者の人柄…さまざまな要素を比較し、K様夫婦もご決断されたようです。</p>
                    <div class="p-case-competition-item-6-message">
                        <p class="type-txt-1">コンペを終えての感想</p>
                        <p class="type-txt-2">仮想地でのコンペという事で、設計図も仮で作ってくるのかなと思っていたのですが、仮想地の実地調査までしての本格的なプランや細かな仕様まで提案していただき、正直驚きました。イラストや模型を使っての説明も非常に分かりやすかったですね。各社のプランはどれも魅力的で本当に迷いましたが、プランが具体的になれば今後の土地探しもスムーズに進むんじゃないかなって思います。各社とのヒアリングやプラン検討の際に、一級建築士の先生から分かりやすくアドバイスをいただけたのでとっても安心でした。</p>
                    </div>
                </div>
            </div>


            <div class="p-case-competition-message-type-1 type-orange">
                <div class="p-case-competition-message-type-1-staff">
                    <div class="type-image"><img src="/case-competition/201510/img/case-1/member-circle-3.png" alt="一級建築士 堀由佳里さん"></div>
                    <div class="type-txt">
                        <p class="type-txt-heading">一級建築士・堀先生の総評</p>
                        <p>今回は仮想地を対象にした設計コンペでしたが、力のこもったプランが勢ぞろい。間取りの他にも断熱や気密、換気などにも個性が出たコンペでした。建築会社決定後は実際に土地を決め、プランをさらに詰めていきます。</p>
                    </div>
                </div>
                <div class="p-case-competition-message-type-1-balloon type-staff-2">
                    <div class="type-balloon">ありがとうございました。<br>またお気軽にお越しください！</div>
                </div>
            </div>
        </div>




        <div class="p-case-competition-next-group">
            <p class="p-case-competition-next-heading">仮想地設計コンペのまとめ</p>
            <div class="p-case-competition-201510-matome">
                <p>さて今回の仮想地設計コンペ。K様もそうでしたが、土地を決めてから建築会社を決めるとお考えの方は多いのですが、実は土地先行での建築会社選びにはこんなデメリットもあるのです。</p>
                <div class="type-image-group">
                    <div class="type-image-1"><img src="/case-competition/201510/img/case-1/next-image-1.png" width="" alt=""></div>
                    <div class="type-txt-group">
                        <p class="type-heading">土地決定後のプラン作りにはこんな落とし穴が…</p>
                        <p class="type-txt">住宅ローンを組む場合、土地と建物はセット。申し込み段階で土地、施工会社、プラン、見積もりの全てが揃っていなければなりません。一般的に土地契約から決済までの期間は1ヵ月。スケジュール的にはかなり慌しいのです。</p>
                    </div>
                    <div class="type-image-2"><img src="/case-competition/201510/img/case-1/next-flow-1.png" width="" alt=""></div>
                </div>
            </div>

            <p class="p-case-competition-next-heading">住まいに関する事なら何でもご相談を</p>

            <ul class="p-case-competition-next-address-list">
                <li class="p-case-competition-next-address-list-item">
                    <img src="/resources/img/base/logo-sumaiport21-higashi-sapporo.svg" width="320" alt="すまいポート21札幌東"><br>
                    <p class="p-about-shop-tel">TEL.<span class="type-num">011-887-9191</span></p>
                    〒004-0052<br>
                    札幌市厚別区厚別中央2条1丁目2-20<br>
                    営業時間　AM10：00～PM7：00（水曜日定休）
                </li>
                <li class="p-case-competition-next-address-list-item">
                    <img src="/resources/img/base/logo-sumaiport21-sapporo-chuo.svg" width="320" alt="すまいポート21札幌中央"><br>
                    <p class="p-about-shop-tel">TEL.<span class="type-num">011-590-0108</span></p>
                    〒064-0953<br>
                    札幌市中央区宮の森3条1丁目4-1タイびる１F<br>
                    営業時間　AM10：00～PM7：00（水曜日定休）
                </li>
                <li class="p-case-competition-next-address-list-item">
                    <img class="type-image" src="/case-competition/201510/img/case-1/staff-3.png">
                    <p class="type-txt-1">設計コンペの後もお任せください</p>
                    <p class="type-txt-2">初めての住まいづくりは誰でも分からない事がいっぱいです。すまいポート21は設計コンペが終わった後も、家づくりに関する悩みや疑問にしっかりと対応いたします。</p>
                </li>
            </ul>
        </div>

    </div>
    </div><!-- /#base-container -->

    <?php include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/base-navigation.tpl"); ?>
    <?php include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/base-footer.tpl"); ?>
</div><!-- /#base-page -->
<script>
pageCaseCompetition.conpe201510();
</script>
</body>
</html>