<?php
$page = array(
    'title' => 'クルールタイアップ企画｜北海道の住まいづくりWeb',
    'discription' => '子育てママの絶大な支持を得ているフリーペーパーCou Leur〈クルール〉から会員ママさんにご協力いただいて各種コンテンツを紹介する企画です。好奇心いっぱいのワクワクレポートをお届けします。',
);
include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/head.tpl");
?>
</head>



<body>
<div id="base-page">
    <?php include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/base-header.tpl"); ?>

    <div id="base-container">

        <div id="base-container-head" class="type-couleur">
            <ul class="p-breadcrumb-list">
                <li class="p-breadcrumb-list-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/" itemprop="url"><span itemprop="title">トップページ</a></li>
                <li class="p-breadcrumb-list-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title">クルールタイアップ企画</span></li>
            </ul>

            <div class="p-couleur-hero-group">
                <p class="p-couleur-hero-heading-1"><img src="/couleur/img/lead-txt-2.png" alt="子育てママのショールーム体験レポート"></p>
            </div>
        </div><!-- /#base-container-head -->


        <div class="p-backnumber-group type-orange">
            <div class="p-backnumber">
                <div class="p-backnumber-inner">
                    <p class="p-backnumber-label"><img src="/resources/img/text/txt-backnumber-2.png" alt="バックナンバー"></p>
                    <p class="p-backnumber-txt-1">これまでの更新を見る</p>
                    <div class="p-backnumber-select">
                        <select class="c-form-select">
                            <option value="201507">2015年7月</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div id="base-content">
        <div class="p-couleur-intro-group">
            <div class="p-couleur-intro-inner">
                <p class="p-couleur-intro-inner-heading"><img src="/couleur/img/lead-txt-1.png" alt="見て、触れて、実際に使って"></p>
                <p class="p-couleur-intro-inner-txt">アドバイザーにあれこれ相談しながらモノ選び。<br>
                ショールームには、理想の住まいづくりのコツが詰まっています。<br>
                行ってみなければ分からなかった新しい発見もたくさんあります。<br>
                今回は家族や暮らしにいつも寄り添っているクルール会員のママたちが体験。<br>
                好奇心いっぱいのワクワクレポートをお届けします。</p>
            </div>
            <div class="p-couleur-intro-panel">
                <div class="p-couleur-intro-panel-image"><img src="/couleur/img/couleur-img-1.jpg" alt="Cou Leur〈クルール〉"></div>
                <p class="p-couleur-intro-panel-heading">Cou Leur〈クルール〉</p>
                <p>子育てママの絶大な支持を得ているフリーペーパー。札幌圏内だけで毎号45,000部が発行され、メルマガ会員は4,500名以上。隔月（奇数月）15日発行で、幼稚園、保育園、図書館、児童館、子育て支援センター、保健センター、カフェなどで配布されている。</p>
                <p><a href="http://sapporo.couleur-mama.net/" target="_blank">http://sapporo.couleur-mama.net/</a></p>
            </div>
        </div>



        <div class="p-couleur-case-group type-panasonic">
            <div class="p-couleur-case-inner">
                <div class="p-couleur-case-company">
                    <div class="p-couleur-case-company-logo"><img src="/couleur/img/panasonic/panasonic-logo.png" alt="Panasonic Homes & Living"></div>
                    <div class="p-couleur-case-company-detail">
                        <img class="type-staff-ph" src="/couleur/img/panasonic/panasonic-staff.jpg" alt="パナソニック リビングショウルーム 松田さん">
                        <p class="type-heading">パナソニック リビング ショウルーム</p>
                        <p class="type-balloon">無料でプランをお作りします。<br>皆様のご来場お待ちしています。</p>
                        <p class="type-name">パナソニック リビング ショウルーム<br><strong>松田さん</strong></p>
                    </div>
                </div>

                <div class="p-couleur-case-intro">
                    <div class="p-couleur-case-intro-inner">
                        <p class="p-couleur-case-heading-1">案内しながらシミュレーション。</p>
                        <p>タブレットを利用して、その場でシミュレーションしながらご案内していきます。</p>
                    </div>
                    <img class="u-float-r" src="/couleur/img/panasonic/panasonic-intro-ph-1.jpg" alt="タブレットを利用して、その場でシミュレーションしながらご案内">
                </div>

                <div class="p-couleur-case-equipment">
                    <p class="p-couleur-case-heading-2">Lighting</p>
                    <p class="p-couleur-case-heading-1">パナソニックは照明が充実。<br><span class="u-txt-orange">エコなLED</span>体験コーナーで明かりの違いを実感。</p>
                    <p>一般のLED照明とパナソニックの「美ルック」を比べると、色の見え方の違いがよく分かります。</p>

                    <div class="p-couleur-case-half">
                        <div class="p-couleur-case-half-item type-left">
                            <img src="/couleur/img/panasonic/panasonic-lighting-ph-1.jpg" alt="エコなLED体験コーナー「明かりによって部屋の雰囲気が全然違うのね」">
                        </div>
                        <div class="p-couleur-case-half-item type-right">
                            <img src="/couleur/img/panasonic/panasonic-lighting-ph-2.jpg" alt="エコなLED体験コーナー">
                        </div>
                    </div>
                    <div class="p-couleur-case-point">
                        パナソニックの照明はLEDで家中コーディネートが可能。家を建てる時に設計段階から相談していただくと、より充実した照明計画をご提案できます。
                    </div>
                </div>

                <div class="p-couleur-case-equipment">
                    <p class="p-couleur-case-heading-2">Toilet</p>
                    <div class="p-couleur-case-half">
                        <div class="p-couleur-case-half-item type-left">
                            <p class="p-couleur-case-heading-1">ママの理想を実現した<br>「<span class="u-txt-orange">全自動おそうじトイレ</span>」にびっくり。</p>
                            <p>実際に水を流して、先進の全自動おそうじトイレ「アラウーノ」の機能性が確かめられます。</p>
                            <div class="p-couleur-case-point">
                                <div class="type-image"><img src="/couleur/img/panasonic/panasonic-toilet-ph-2.jpg" alt="全自動おそうじトイレ「アラウーノ」"></div>
                                「アラウーノ」は、有機ガラス系新素材で陶器より表面が滑らか。汚れをはじき、水アカを寄せ付けないのでお掃除がラクにできます。さらに中性洗剤をセットしておくと、流すたびに泡の力で自動的に汚れを落としてくれますのでお掃除がグンと楽になります。
                            </div>
                        </div>
                        <div class="p-couleur-case-half-item type-right">
                            <img src="/couleur/img/panasonic/panasonic-toilet-ph-1.jpg" alt="「こんなにお掃除がラクになるなんて夢みたい」「節水ばかりか節電にも配慮されているのね」">
                        </div>
                    </div>
                </div>

                <div class="p-couleur-case-equipment">
                    <p class="p-couleur-case-heading-2">Bath</p>
                    <div class="p-couleur-case-half">
                        <div class="p-couleur-case-half-item type-left">
                            <p class="p-couleur-case-heading-1">バスルームコーナーでは、<br><span class="u-txt-orange">酵素美泡湯</span>のしっとり体験に<br>うっとり。</p>
                            <p>保温効果の高いエコな浴槽をご紹介します。</p>
                            <img src="/couleur/img/panasonic/panasonic-bath-ph-1.jpg" alt="バスルームコーナー">
                        </div>
                        <div class="p-couleur-case-half-item type-right">
                            <div class="p-couleur-case-half">
                                <div class="p-couleur-case-half-item type-left">
                                    <img src="/couleur/img/panasonic/panasonic-bath-ph-2.jpg" alt="ほんのり暖かいわ！">
                                </div>
                                <div class="p-couleur-case-half-item type-right">
                                    <p>ヒヤッとしないスゴぽかフロアの効果も実感いただけます。</p>
                                </div>
                            </div>
                            <div class="p-couleur-case-half">
                                <div class="p-couleur-case-half-item type-right">
                                    <img src="/couleur/img/panasonic/panasonic-bath-ph-3.jpg" alt="お湯がやわらかい！普通の時と全然違う！">
                                </div>
                                <div class="p-couleur-case-half-item type-left">
                                    <p>ぬるめのお湯でも温まると人気の「酸素美泡湯」を展示。酸素を含んだミクロの泡を体験できます。</p>
                                </div>
                            </div>

                            <div class="p-couleur-case-point">
                                「酸素美泡湯」は、ぬるめのお湯でしっかり温まる新入浴スタイル。酵素を含んだミクロの泡が浴槽に放出され、ミルクのような白いお湯に。お肌をやさしく暖め、モイスチャー効果でしっとりが長続きします。
                            </div>
                        </div>
                    </div>
                </div>

                <div class="p-couleur-case-equipment">
                    <p class="p-couleur-case-heading-2">Kitchen</p>
                    <p class="p-couleur-case-heading-1"><span class="u-txt-orange">横並びのIHなど</span><br>キッチンの多彩な使い勝手を体験。</p>
                    <p>3口IH「トリプルワイド」や「PaPaPaシンク」など、パナソニックならではの新機能を体験できます。</p>
                    <div class="p-couleur-case-half">
                        <div class="p-couleur-case-half-item type-left">
                            <img src="/couleur/img/panasonic/panasonic-kitchen-ph-1.jpg" alt="キッチン">
                        </div>
                        <div class="p-couleur-case-half-item type-right">
                            <img src="/couleur/img/panasonic/panasonic-kitchen-ph-2.jpg" alt="「子どもと並んで料理ができるのね」「調理スペースがとっても広い」「お掃除もラクね！」「こんな短時間で除菌できるんだ」">
                            <p>衛生面での困り事を解決する新発売の「まな板キレイ乾燥機」もご覧いただけます。</p>
                        </div>
                    </div>
                    <div class="p-couleur-case-point">
                        使いやすいと評判のIHクッキングヒーター「トリプルワイド」は、エコナビ搭載。設定温度をしっかりキープするので、加熱しすぎによるエネルギーのムダを省きます。
                    </div>
                </div>

                <div class="p-couleur-case-message">
                    <p class="p-couleur-case-message-heading">ショールームを体験して</p>
                    <div class="p-couleur-case-message-item">
                        <div class="type-picture">
                            <img src="/couleur/img/mama-makiko-ph.jpg" alt="麻紀子ママ">
                            <span>麻紀子ママ</span>
                        </div>
                        <p class="type-txt">LED照明の体験コーナーでは、こんなに様々な明かりがあることに驚きました。マイホームを建てる前に、ここで照明プランを作ってもらえばよかったと後悔。</p>
                    </div>
                    <div class="p-couleur-case-message-item">
                        <div class="type-picture">
                            <img src="/couleur/img/mama-mayumi-ph.jpg" alt="真由美ママ">
                            <span>真由美ママ</span>
                        </div>
                        <p class="type-txt">掃除の時間を少しでも減らしたいので、水廻りを一新したいと思いました。今の設備は、お手入れのことも省エネのこともしっかり考えられているんですね。</p>
                    </div>
                    <div class="p-couleur-case-message-item">
                        <div class="type-picture">
                            <img src="/couleur/img/mama-yuki-ph.jpg" alt="有希ママ">
                            <span>有希ママ</span>
                        </div>
                        <p class="type-txt">コンセントの 配置など、主婦目線で細かいところにまで行き届いていて感心しました。<br>「酸素美泡湯」の体験が楽しかったです。</p>
                    </div>
                </div>

                <div class="p-couleur-case-info">
                    <p class="p-couleur-case-info-heading">showroom info</p>
                    <img class="type-map" src="/couleur/img/panasonic/panasonic-map-1.png" alt="パナソニック リビングショウルーム">
                    <img class="type-ph" src="/couleur/img/panasonic/panasonic-ph-1.jpg" alt="案内図">
                    <div class="p-couleur-case-info-txt">
                        <p class="type-label">パナソニック リビング ショウルーム</p>
                        <p class="type-txt">■所在地／札幌市北区北9条西2丁目1<br>
                        ■開館時間／10:00～17:00<br>
                        ■休館日／水曜日、お盆・年末年始<br>
                        ■電話番号／011-727-5066<br>
                        ■駐車場／有り</p>
                        <p class="type-txt"><a href="http://sumai.panasonic.jp/" target="_blank">http://sumai.panasonic.jp/</a></p>
                    </div>
                </div>
            </div>
        </div>


        <div class="p-couleur-case-group type-lixil">
            <div class="p-couleur-case-inner">
                <div class="p-couleur-case-company">
                    <div class="p-couleur-case-company-logo"><img src="/couleur/img/lixil/lixil-logo.png" alt="LIXIL ショールーム札幌"></div>
                    <div class="p-couleur-case-company-detail">
                        <img class="type-staff-ph" src="/couleur/img/lixil/lixil-staff.jpg" alt="リクシルショールーム札幌 宮本さん">
                        <p class="type-heading">LIXIL ショールーム札幌</p>
                        <p class="type-balloon">素敵なご計画となるようお手伝いさせていただきます。</p>
                        <p class="type-name">リクシルショールーム札幌<br><strong>宮本さん</strong></p>
                    </div>
                </div>

                <div class="p-couleur-case-equipment">
                    <p class="p-couleur-case-heading-2">Kitchen</p>
                    <p class="p-couleur-case-heading-1">キッチンの新提案、<br>「<span class="u-txt-orange">セラミックトップ</span>」の使い心地を初体験。</p>
                    <p>包丁で直接切っても傷がつかないセラミックトップのキッチンをご紹介します。</p>

                    <div class="p-couleur-case-half">
                        <div class="p-couleur-case-half-item type-left type-large">
                            <img src="/couleur/img/lixil/lixil-kitchen-ph-1.jpg" alt="セラミックトップのキッチン">
                        </div>
                        <div class="p-couleur-case-half-item type-right type-small">
                            <img src="/couleur/img/lixil/lixil-kitchen-ph-2.jpg" alt="大きなスイカもまな板なして切れちゃうからラク！">
                            <img src="/couleur/img/lixil/lixil-kitchen-ph-3.jpg" alt="ゴシゴシ">
                            <p>白いセラミックワークトップで実証<br>10円玉でこすってもほんとに傷つきません。</p>
                        </div>
                    </div>
                    <div class="p-couleur-case-half">
                        <div class="p-couleur-case-half-item type-left type-small">
                            <img src="/couleur/img/lixil/lixil-kitchen-ph-4.jpg" alt="扉を開かなくても窓から取り出せるのね。">
                            <p>キッチンとコーディネートできる食器棚も<br>いろいろご覧いただけます。</p>
                            <img src="/couleur/img/lixil/lixil-kitchen-ph-5.jpg" alt="両手が塞がっても水が出るって便利！">
                            <p>シンク作業がラクになって、<br>節水もできるハンズフリー水栓をおすすめ。</p>
                        </div>
                        <div class="p-couleur-case-half-item type-right type-large">
                            <img src="/couleur/img/lixil/lixil-kitchen-ph-6.jpg" alt="たくさん入るのに取り出しやすいわ。">
                            <p>斜めに開く扉がポイントの引き出し収納もおすすめです。</p>
                        </div>
                    </div>
                    <div class="p-couleur-case-point">
                        セラミックはキッチンの理想的なワークトップ素材。高温の鍋をそのまま置ける、金属でこすってもキズがつかない、調味料や薬品などが染みこみにくいなど、優れた耐久性を発揮します。
                    </div>
                </div>

                <div class="p-couleur-case-equipment">
                    <p class="p-couleur-case-heading-2">Bath</p>
                    <p class="p-couleur-case-heading-1">テーマは「リゾート」。<br><span class="u-txt-orange">浴室の多彩な機能</span>に癒される。</p>
                    <div class="p-couleur-case-half">
                        <div class="p-couleur-case-half-item type-left type-large">
                            <img src="/couleur/img/lixil/lixil-bath-ph-1.jpg" alt="多彩な機能の浴室">
                            <p>浴槽に実際にお水を張り、ジェットバスの水流や機能などをご説明します。</p>
                        </div>
                        <div class="p-couleur-case-half-item type-right type-small">
                            <img src="/couleur/img/lixil/lixil-bath-ph-2.jpg" alt="化学の実験室みたいね">
                            <p>パネルと模型でバスルームの機能を詳しく確かめられます。</p>
                            <div class="p-couleur-case-half">
                                <div class="p-couleur-case-half-item type-left"><img src="/couleur/img/lixil/lixil-bath-ph-3.jpg" alt="お湯のあたりが気持ちいい！"></div>
                                <div class="p-couleur-case-half-item type-right"><p>オーバーヘッドシャワーの体験ボックス。打たせ湯機能の体験もできます。</p></div>
                            </div>
                        </div>
                    </div>
                    <div class="p-couleur-case-point">
                        人生を豊かに潤すバスルーム「スパージュ」には、肩湯、打たせ湯、オーバーヘッドシャワーの3つの癒しの機能が付いています。<br>ご自宅でリゾート気分を満喫してください。
                    </div>
                </div>

                <div class="p-couleur-case-equipment">
                    <p class="p-couleur-case-heading-2">Wall</p>
                    <p class="p-couleur-case-heading-1">空気をきれいにする<span class="u-txt-orange">エコカラット</span>の実力と魅力をチェック。</p>
                    <div class="p-couleur-case-half">
                        <div class="p-couleur-case-half-item type-left">
                            <img src="/couleur/img/lixil/lixil-wall-ph-1.jpg" alt="空気をきれいにするエコカラット">
                            <p>室内の空気のお悩みを解決する<br><span class="u-txt-orange">エコカラットの力を映像でご説明します。</p>
                        </div>
                        <div class="p-couleur-case-half-item type-right">
                            <div class="p-couleur-case-half">
                                <div class="p-couleur-case-half-item type-left"><img src="/couleur/img/lixil/lixil-wall-ph-2.jpg" alt="カビの心配をしなくていいのね！"></div>
                                <div class="p-couleur-case-half-item type-right"><p>エコカラットに霧吹きで水をかける実験。あっという間に吸水します。</p></div>
                            </div>
                            <br>
                            <div class="p-couleur-case-half">
                                <div class="p-couleur-case-half-item type-right"><img src="/couleur/img/lixil/lixil-wall-ph-3.jpg" alt="ぜんぜん匂わない！"></div>
                                <div class="p-couleur-case-half-item type-left"><p>消臭の体感もできます。エコカラットがコーヒー豆の匂いを消しました。</p></div>
                            </div>
                        </div>
                    </div>
                    <div class="p-couleur-case-point">
                        季節を問わず快適な湿度を保ち、気になるニオイや有害な物質も低減するエコカラットが、「エコカラットプラス」へと進化しました。デザインも豊富で、空間演出におすすめです。
                    </div>
                </div>

                <div class="p-couleur-case-message">
                    <p class="p-couleur-case-message-heading">ショールームを体験して</p>
                    <div class="p-couleur-case-message-item">
                        <div class="type-picture">
                            <img src="/couleur/img/mama-makiko-ph.jpg" alt="麻紀子ママ">
                            <span>麻紀子ママ</span>
                        </div>
                        <p class="type-txt">展示品が多くて見どころがたくさんありました。デザインや機能が選べて、自分に合ったものをいいとこ取りできる感じが良いと思います。</p>
                    </div>
                    <div class="p-couleur-case-message-item">
                        <div class="type-picture">
                            <img src="/couleur/img/mama-mayumi-ph.jpg" alt="真由美ママ">
                            <span>真由美ママ</span>
                        </div>
                        <p class="type-txt">ここに来ると、ひとつひとつの仕組みまでわかるので納得して商品を購入できますね。ラグジュアリー感も味わえて楽しかったです。</p>
                    </div>
                    <div class="p-couleur-case-message-item">
                        <div class="type-picture">
                            <img src="/couleur/img/mama-yuki-ph.jpg" alt="有希ママ">
                            <span>有希ママ</span>
                        </div>
                        <p class="type-txt">映像や模型で見えない部分を見せてくれたりして、まるで科学館に来たみたい。実物だけでは分からない仕組みを理解できました。</p>
                    </div>
                </div>

                <div class="p-couleur-case-info">
                    <p class="p-couleur-case-info-heading">showroom info</p>
                    <img class="type-map" src="/couleur/img/lixil/lixil-map-1.png" alt="LIXILショールーム札幌">
                    <img class="type-ph" src="/couleur/img/lixil/lixil-ph-1.jpg" alt="案内図">
                    <div class="p-couleur-case-info-txt">
                        <p class="type-label">LIXILショールーム札幌</p>
                        <p class="type-txt">■所在地／札幌市東区北8条東10丁目1-30<br>
                        ■開館時間／10:00～17:00<br>
                        ■休館日／水曜日<br>※祝日の場合は営業、夏期・年末年始<br>
                        ■電話番号／011-748-8833<br>
                        ■駐車場／有り</p>
                        <p class="type-txt"><a href="http://www.lixil.co.jp/" target="_blank">http://www.lixil.co.jp/</a></p>
                    </div>
                </div>
            </div>
        </div>

    </div><!-- /#base-container -->
    </div><!-- /#base-container -->

    <?php include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/base-navigation.tpl"); ?>
    <?php include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/base-footer.tpl"); ?>
</div><!-- /#base-page -->
</body>
</html>