<?php
$page = array(
    'title' => '初めての住まいづくりコラム｜北海道の住まいづくりWeb',
    'discription' => '知っておくとトクをする住まいづくりの基本をプロがお教えします！今回はファイナンシャルプランナー五十嵐勉さんから、住宅購入をお考えの方への資金計画のアドバイスです。',
);
include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/head.tpl");
?>
</head>



<body>
<div id="base-page">
    <?php include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/base-header.tpl"); ?>

    <div id="base-container">

        <div id="base-container-head" class="type-column">
            <ul class="p-breadcrumb-list">
                <li class="p-breadcrumb-list-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/" itemprop="url"><span itemprop="title">トップページ</a></li>
                <li class="p-breadcrumb-list-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title">初めての住まいづくりコラム</span></li>
            </ul>

            <div class="p-column-hero-group">
                <div class="p-column-hero-txt">
                    <img src="/column/img/hero-txt-1.png" alt="知っておくとトクをする住まいづくりの基本をプロが教えます！初めての住まいコラム！">
                </div>
                <div class="p-column-hero-message">
                    <img src="/column/img/hero-image-1.png" alt="ファイナンシャルプランナー 五十嵐勉">
                    <div class="p-column-hero-message-txt">
                        <p>
                            <span class="type-position">ファイナンシャルプランナー</span>
                            <span class="type-name">五十嵐 勉</span>
                        </p>
                        <p class="type-list">
                        ●住宅ローンアドバイザー<br>
                        ●ファイナンシャルプランナー<br>
                        ●宅地建物取引士
                        </p>
                    </div>
                </div>
            </div>
        </div><!-- /#base-container-head -->


        <div class="p-backnumber-group type-green">
            <div class="p-backnumber">
                <div class="p-backnumber-inner">
                    <p class="p-backnumber-label"><img src="/resources/img/text/txt-backnumber-2.png" alt="バックナンバー"></p>
                    <p class="p-backnumber-txt-1">これまでの更新を見る</p>
                    <div class="p-backnumber-select">
                        <select class="c-form-select">
                            <option value="201507">2015年7月</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>


        <div id="base-content">
            <div class="p-column-group">
                <h2 class="p-column-heading-1">土地・建物だけじゃない<br>「諸費用」に要注意！</h2>
                <img class="type-right-image" src="/column/img/ph-1.jpg" alt="ファイナンシャルプランナー 五十嵐勉">
                <p>　お住まいを買おうとしている方に「ご予算はおいくらくらいですか？」と質問すると、大半の方が「土地と建物合計で３０００万円くらい」と答えられます。現在はインターネットの住宅ローンのサイトで「借入金額」「金利」「借入年数」を入力すると、月々の返済額を知ることができますが、忘れてはいけないのが諸費用です。<br>諸費用を計算していないと、総予算がオーバーしてしまい、月々の返済に無理が出たり、将来必要な教育費などの貯蓄を取り崩すことになりかねません。まずは「土地＋建物＋諸費用」という考え方を持つことが必要です。<br>
                　今回は理想のマイホームを手に入れるために、どのような諸費用がいくらくらいかかるのかを解説していきましょう。</p>


                <h2 class="p-column-heading-1">こんなにある!? 「諸費用」の種類</h2>
                <p>　それでは諸費用を「土地・建物購入にかかる諸費用」「住宅ローンにかかる諸費用」「その他の諸費用」の３つに分けて、それぞれがどのタイミングで、どれくらいかかるのかも併せて説明していきましょう。なお、お客様が考える平均予算を３０００万円（土地８００万円、建物２２００万円）と仮定して、注文住宅を購入するという条件で計算することにします。</p>
                <h3 class="p-column-heading-2 type-orange">土地・建物購入にかかる諸費用</h3>
                <img class="type-left-image" src="/column/img/image-1.png" alt="">
                <p>　「土地・建物購入にかかる諸費用」（別表１）としては、土地を斡旋してくれた不動産業者に支払う仲介手数料。固定資産税は１月１日時点での所有者に１年分課されますが、その土地を購入者が所有した日からその年の12月31日までの分として前所有者に支払う固定資産税の清算金。購入した土地の名義を他人から自分に変更する所有権移転登記費用。土地・建物を購入する際に住宅ローンを組んだ場合に必要となる抵当権設定登記費用。建物を建てても良いという許可をもらうための申請をする建築確認申請費用。建物が完成した際には床面積等の建物の情報を登記する建物表示登記費用。新しく建てた建物の所有権が自分にありますという登記をする建物所有権保存登記費用です。</p>
                <p>これらが登記関連費用となります。その他に土地・建物の売買契約書や住宅ローン金銭消費貸借契約書に貼る収入印紙代。これらが「土地・建物購入にかかる費用」となります。</p>

                <div class="p-column-table-group">
                    <p class="p-column-table-heading">別表１　土地・建物購入にかかる諸費用</p>
                    <table class="p-column-table-1">
                        <tr class="type-bg-orange">
                            <th></th>
                            <th colspan="2">項　　目</th>
                            <th>支払先</th>
                            <th>金　額</th>
                            <th>備　　考</th>
                        </tr>
                        <tr>
                            <td>契約時</td>
                            <td class="type-left">仲介手数料</td>
                            <td></td>
                            <td>（土地）不動産業者</td>
                            <td class="type-right">324,000</td>
                            <td class="type-left">土地価格×３%+６万円+消費税</td>
                        </tr>
                        <tr>
                            <td>契約時</td>
                            <td class="type-left">印紙代</td>
                            <td></td>
                            <td>（土地）不動産業者</td>
                            <td class="type-right">5,000</td>
                            <td class="type-left">本来は１万円でＨ３０，３，３１迄に半額</td>
                        </tr>
                        <tr>
                            <td>契約時</td>
                            <td class="type-left">固定資産税の清算金</td>
                            <td>日割清算按分</td>
                            <td>土地売主</td>
                            <td class="type-right">70,000</td>
                            <td class="type-left">土地課税評価額（５００万円）×１．４％　３６５日分</td>
                        </tr>
                        <tr>
                            <td>決済時</td>
                            <td class="type-left">所有権移転登記料</td>
                            <td>土地</td>
                            <td>司法書士</td>
                            <td class="type-right">75,000</td>
                            <td class="type-left">土地課税評価額（５００万円）×１．５％</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="type-left">抵当権設定登記料</td>
                            <td>土地</td>
                            <td>司法書士</td>
                            <td class="type-right">32,000</td>
                            <td class="type-left">土地ローン金額８００万円×0.4％</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="type-left">抵当権設定登記料</td>
                            <td>建物</td>
                            <td>司法書士</td>
                            <td class="type-right">88,000</td>
                            <td class="type-left">建物ローン金額２２００万円×0.4％</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="type-left">建築確認申請</td>
                            <td>建物</td>
                            <td>ハウスメーカー／工務店</td>
                            <td class="type-right">0</td>
                            <td class="type-left">建築主に対し２５万円～３０万円、建築費に含む</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="type-left">建物表示登記</td>
                            <td>建物</td>
                            <td>土地家屋調査士</td>
                            <td class="type-right">0</td>
                            <td class="type-left">土地家屋調査士への代行手数料５万円～１０万円</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="type-left">所有権保存登記</td>
                            <td>建物</td>
                            <td>司法書士</td>
                            <td class="type-right">16,380</td>
                            <td class="type-left">家屋課税評価額（１１００万円）×０．１５％</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="type-left">司法書士手数料</td>
                            <td></td>
                            <td>司法書士</td>
                            <td class="type-right">142,000</td>
                            <td class="type-left"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="type-left">土地家屋調査士手数料</td>
                            <td></td>
                            <td>司法書士</td>
                            <td class="type-right">100,000</td>
                            <td class="type-left"></td>
                        </tr>
                        <tr class="type-bg-orange">
                            <th colspan="4">小　　　　　　　　　計</th>
                            <th colspan="2">852,380</th>
                        </tr>
                    </table>
                    <div class="p-column-table-annotation">
                        <p>※土地は190㎡、建物は120㎡</p>
                        <p>※土地課税評価額を500万円、家屋課税評価額を1,100万円とする</p>
                    </div>
                </div>

                <h2 class="p-column-heading-1">ローンを組む時に掛かる費用もチェック</h2>
                <h3 class="p-column-heading-2 type-blue">住宅ローンにかかる諸費用</h3>
                <p>　2つ目の「住宅ローンにかかる費用（別表２）」としては銀行からお金を借りる際にかかる事務手数料です。ちなみに事務手数料には定額型と定率型がありますが今回は定額型で計算しています（なお借入金額等によりどちらが有利とは一概には言えません）。</p>
                <p>　次に住宅ローンの保証料です。この費用は経済的理由で住宅ローンの返済ができなくなったり滞納せざるを得なくなった場合に、本人に代わって保証会社が銀行へ肩代わりして支払ってくれるものです。肩代わりですから支払いが終了するわけではありません。銀行への支払先が保証会社に変るだけのものですから支払いは続きます。</p>
                <img class="type-right-image" src="/column/img/ph-2.jpg" alt="諸費用を忘れるとそう予算がオーバーして思わぬ負担に…。">
                <p>保証料にも一括払いと金利上乗せ払いがありますが、お得な一括払いで計算しています。なお前述しましたが、住宅ローンの金銭消費貸借契約書に貼る収入印紙代が必要となります。住宅ローンを組んだ場合、ほとんどの金融機関から義務付けられる火災保険の保険料も費用として必要となります。保険料は耐火構造か？非耐火構造か？であったり、建物の請負金額にあたる建物金額、補償内容、保険期間（融資年数）により決定されます。</p>
                <p>また、平成27年10月より保険期間が最長10年となりますので融資期間35年でローンを組んだ方は従来の予算額よりは安価になるものと考えられます。これとは別に団体信用生命保険という保険の加入も必要です。住宅ローンの借り主が高度障害状態や亡くなった場合に住宅ローンの支払いを免除してくれる保険です。金融支援機構のフラット35以外の住宅ローンの団体信用生命保険の保険料は金利に含まれますが、フラット35を利用される方は別途保険料が掛かりますのでご注意ください。</p>

                <div class="p-column-table-group">
                    <p class="p-column-table-heading">別表２   住宅ローンにかかる諸費用</p>
                    <table class="p-column-table-1">
                        <tr class="type-bg-orange">
                            <th></th>
                            <th colspan="2">項　　目</th>
                            <th>金　額</th>
                            <th>備　　考</th>
                        </tr>
                        <tr>
                            <td>金消時</td>
                            <td>印紙代</td>
                            <td>銀行</td>
                            <td class="type-right">20,000</td>
                            <td class="type-left">借入金額１０００万円超５０００万円以下の場合</td>
                        </tr>
                        <tr>
                            <td>決済時</td>
                            <td>ローン手数料</td>
                            <td>銀行</td>
                            <td class="type-right">54,000</td>
                            <td class="type-left">定額型</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>ローン保証料</td>
                            <td>銀行</td>
                            <td class="type-right">618,060</td>
                            <td class="type-left">融資金額３０００万円、期間３５年、保証利率０．２％</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>火災保険料</td>
                            <td>保険会社</td>
                            <td class="type-right">700,000</td>
                            <td class="type-left">現行での非耐火建築物の平均保険料です</td>
                        </tr>
                        <tr class="type-bg-orange">
                            <th colspan="3">小　　　　　　　　　計</th>
                            <th colspan="2">1,392,060</th>
                        </tr>
                    </table>
                </div>

                <h2 class="p-column-heading-1">外構やインテリア、忘れがちなものほど要注意</h2>
                <h3 class="p-column-heading-2 type-green">その他の諸費用</h3>
                <p>　最後に「その他の諸費用（別表３）としましては、地盤調査の結果地盤が弱いため杭を打つなど改良が必要な場合の費用です。状況にもよりますが、改良が必要な場合は50万円～100万円くらいが相場と言われています。その他には庭や駐車スペース、塀や玄関へのアプローチ、ロードヒーティングなどを設置する外構費用です。金額的には少なくても100万円、大掛かりに手を加えたりした場合ですと200万円程度にもなります。新築を購入したお客様は建物に予算をつぎ込みがちで外構まで手が回らないために庭やカーポート設置が住宅購入3年後になったというお宅も少なくありませんので特にこの費用はしっかり予算にいれておきたいものです。</p>
                <p>　そして見落しがちなのがインテリア系としてカーテンや照明に関する費用です。金額的には高くはないですが、坪単価1.5万円～2万円位で予定しておきましょう。もちろん引っ越し費用も掛かりますが、荷物の量・距離・シーズンによって変わるようですが10万円～15万円位で見ておくといいと思われます。これらが土地・建物以外に必要と思われる諸費用です。</p>
                <p>　プラスして建物引き渡し後に土地・建物の不動産購入にともない不動産取得税が掛かります。建物については固定資産税評価額から軽減特例の1200万円を引いて3％の税率を掛けます。同様に土地に関しても不動産所得税が掛かりますが税額軽減特例により減額となります。別表３を参照下さい。</p>
                <img src="" alt="">
                <p></p>

                <div class="p-column-table-group">
                    <p class="p-column-table-heading">別表3　その他の諸費用</p>
                    <table class="p-column-table-1">
                        <tr class="type-bg-orange">
                            <th></th>
                            <th colspan="2">項　　目</th>
                            <th>支払先</th>
                            <th>金　額</th>
                            <th>備　　考</th>
                        </tr>
                        <tr>
                            <td>決　済</td>
                            <td>土地改良費用</td>
                            <td></td>
                            <td>ハウスメーカー／工務店</td>
                            <td class="type-right">1,000,000</td>
                            <td class="type-left">５０万円～１００万円位</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>外構費用</td>
                            <td></td>
                            <td>ハウスメーカー／工務店</td>
                            <td class="type-right">1,000,000</td>
                            <td class="type-left">１００万円～２００万円位</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>インテリア系</td>
                            <td></td>
                            <td>ハウスメーカー／工務店</td>
                            <td class="type-right">540,000</td>
                            <td class="type-left">坪単価１．５万円～２万円（３6坪）で計算</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>引越し代</td>
                            <td></td>
                            <td>引越し業者</td>
                            <td class="type-right">100,000</td>
                            <td class="type-left">１０万円～１５万円（時期により変動）</td>
                        </tr>
                        <tr>
                            <td>決済時</td>
                            <td>不動産取得税</td>
                            <td>建物</td>
                            <td>所在地</td>
                            <td class="type-right">0</td>
                            <td class="type-left">家屋課税評価額（１２００万円）－１２００万円×３％</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>土地</td>
                            <td>所在地</td>
                            <td class="type-right">55,000</td>
                            <td class="type-left">土地課税評価額×２分の１×３％－控除額</td>
                        </tr>
                        <tr class="type-bg-orange">
                            <th colspan="4">小　　　　　　　　　計</th>
                            <th colspan="2">2,695,000</th>
                        </tr>
                    </table>
                </div>

                <h2 class="p-column-heading-3">まとめ</h2>
                <p>　住宅購入をお考えのお客様に対して次の３点を必ずお伝えしております。１つ目としては予算を3000万円（土地・建物併せて）と考えていらっしゃる場合、諸費用を購入金額の15％を上乗せして3450万円でローンを組みますか？それとも諸費用分15%を引いて2550万円＋450万円＝3000万円で土地と建物を考えてみますか？とお伝えします。２つ目に、融資額は金融機関から「借りられる金額」ではなく「返していける金額」が大切だということです。そして、その返済金額を知るためにも３つ目としてライフプランの必要性をお伝えします。そのライフプランを基に優先順位を確認し住宅に対してどれだけのお金を費やせるかを決めます。それにより１つ目、２つ目の回答にたどり着けると思われます。<br>
                　お住まいは人生の中で一番高い買い物、専門家に相談して無理のない予算組みをお勧めいたします。</p>
                <div class="p-column-end-message">
                    <img src="/column/img/ph-3.jpg" alt="ローンを組む前に、家族の将来像を描くことが<br>予算を考える近道です！">
                    <p>ローンを組む前に、<br>家族の将来像を描くことが<br>予算を考える近道です！</p>
                </div>
            </div>
        </div><!-- /#base-content -->

    </div><!-- /#base-container -->

    <?php include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/base-navigation.tpl"); ?>
    <?php include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/base-footer.tpl"); ?>
</div><!-- /#base-page -->
</body>
</html>