<?php
$page = array(
    'title' => '札幌市在住のF様｜私たちはココで選びました！｜北海道の住まいづくりWeb',
    'discription' => '札幌市在住のK様はお子さま2人　（長男8歳・次男5歳）の4人家族。実際に設計コンペを体験したK様ご家族にインタビューしました。担当建築会社は竹内建設株式会社さまです。',
);
include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/head.tpl");
?>
</head>



<body>
<div id="base-page">
    <?php include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/base-header.tpl"); ?>

    <div id="base-container">

        <div id="base-container-head" class="type-case-study">
                        <ul class="p-breadcrumb-list">
                <li class="p-breadcrumb-list-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/" itemprop="url"><span itemprop="title">トップページ</a></li>
                <li class="p-breadcrumb-list-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/case-study/" itemprop="url"><span itemprop="title">私たちはココで選びました!!</a></li>
                <li class="p-breadcrumb-list-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title">2015年10月 その2</span></li>
            </ul>

            <div class="p-case-study-hero-group">
                <div class="p-case-study-hero-heading">
                    <p class="type-txt-1"><img src="/case-study/img/hero-txt-1.png" alt="私たちはココで選びました!!"></p>
                    <div class="p-case-study-hero-company">
                        <p>
                            <span class="type-label">担当建築会社</span>
                            <span class="type-name">久末弘信建設株式会社</span>
                        </p>
                        <span><a href="http://www.hi-ko.co.jp/" target="_blank">ウェブサイトはこちら</a></span>
                    </div>
                </div>
                <div class="p-case-study-hero-model">
                    <img src="/case-study/201510/img/case-2/hero-image-1.jpg" alt="札幌市在住 F様">
                    <dl>
                        <dt>DATA</dt>
                        <dd>札幌市在住 F様<br>
                        ●家族構成：ご夫婦+お子様<br>
                        ●新居に住んだ期間：3日（2015年9月現在）</dd>
                    </dl>
                </div>
            </div>

        </div><!-- /#base-container-head -->

        <?php
            $backnumber = array(
                'date' => '201510',
                'case' => 2,
            );
            include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/case-study/backnumber-group.tpl");
        ?>

        <div id="base-content" class="type-case-study-201510">
            <h3 class="p-case-study-heading-1">“設計コンペは、プランだけではなく各社の担当者と自分たちの相性も比べられます。<br>完成後も長く付き合える建築会社と出会えて良かったです。”</h3>

            <div class="p-case-study-point-group">
                <div class="p-case-study-point-list">
                    <dl class="p-case-study-point-item">
                        <dt>住まいづくりのきっかけはなんでしたか？</dt>
                        <dd>娘が生まれたことです。社宅に住んでいたのですが、1階が自動車整備の会社だったので、ここでは安心して遊ばせることができないと思いました。</dd>
                    </dl>
                    <dl class="p-case-study-point-item">
                        <dt>住まいづくりは、何から始めましたか？</dt>
                        <dd>まず住宅展示場へ行きました。モデルハウスはどれも豪華で素敵でしたが、大きすぎて、自分たちの暮らしのイメージにはピンと来なかったんです。それならと北海道の工務店や設計事務所を紹介している住宅情報誌を見たのですが、今度は数が多すぎて決められない。そんな時、「北海道の住まいづくり」で設計コンペという方法があることを知り、話だけでも聞いてみようと、すまいポート21を訪ねました。</dd>
                    </dl>
                    <dl class="p-case-study-point-item">
                        <dt>すまいポート21の印象はどうでしたか？</dt>
                        <dd>便利なシステムなのに利用料金が安いことに驚きました。自分たちで建築会社を一軒一軒あたるのは大変と感じていたし、早く家を建てたかったので申し込むことにしました。土地探しから頼んで、希望通り南向きで公園や学校が近い土地を手に入れることもでき、良かったです。すまいポート21の一級建築士さんからは様々なアドバイスをいただきました。例えば、以前から気に入った家やインテリアの切り抜きをファイルしていたのですが、設計コンペでは参加する建築会社には具体的なものを見せずにまずは、おおまかな希望を伝えるだけの方がいいと言われました。その方が各社の持ち味を活かした様々な提案が出て比べて選ぶ意味があるとのことで、なるほどと思いました。</dd>
                    </dl>
                    <dl class="p-case-study-point-item">
                        <dt>どんな手順で進み、最終的に決めましたか？</dt>
                        <dd>一級建築士さんと話し合いながら要望書をまとめ、提出したところ20社以上からエントリーがありました。各社からいただいたパンフレットやコメントを検討したり、ホームページを見たりして、好みのデザインや希望の性能に合う5社を選びました。5社ともまったくプレゼンの仕方が違っていましたね。久末弘信建設さんに決めたのは、プランが思い描いた通りだったから。言わなかったことまでカタチになっていて感動しました。手描きの間取図や模型がわかりやすく、担当者にも信頼が持てました。</dd>
                    </dl>
                    <dl class="p-case-study-point-item">
                        <dt>設計コンペを振り返って、感想をお聞かせください。</dt>
                        <dd>プランが比較できたことはもちろんですが、担当者の人柄も見られて自分たちと一番相性がいいと思ったところを選べたのも収穫でした。住まいが完成した後も、住み続けていく中でメンテナンスやリフォームなど長いおつきあいをしていきたいですから。</dd>
                    </dl>
                </div>
            </div>

            <div class="p-case-study-point-message type-wide">
                <div class="p-case-study-point-message-inner">
                    <p class="p-case-study-point-message-heading">建築会社より一言</p>
                    <div class="p-case-study-point-message-staff">
                        <img class="type-image" src="/case-study/201510/img/case-2/staff-1.jpg" alt="久末弘信建設株式会社 取締役営業部長／太田 雅晴さん">
                        <p class="type-name">久末弘信建設株式会社<br>取締役営業部長／太田 雅晴さん</p>
                        <p class="type-link"><a href="http://www.hi-ko.co.jp/" target="_blank">ウェブサイトはこちら</a></p>
                    </div>
                    <div class="p-case-study-point-message-txt">
                        <p class="type-heading">手がけてきた家づくりの経験と日々の生活の実体験を活かし、<br>ご家族とペットが気持ち良く暮らせる家をご提案しました。</p>
                        <p>　家づくりは施主様の声をしっかり聞くことから始まります。F様はペットと快適に暮らせる家をご希望でしたので、設計担当が犬を飼っていた経験などを踏まえ、ワンちゃんたちと家族の関わり方を考えたペットスペースをご提案しました。例えば、犬は主人の帰りをいつも待っているので、帰って来る姿が見られるように格子塀のテラスを設けたり。また、水回りのレイアウトから冷蔵庫の置き場所まで、普段の暮らしの中で気づいたことも活かしながらきめ細かくプランニングしました。住まいに大切なのは暮らしやすさですから、生活者目線でいることを心がけています。</p>
                    </div>
                </div>
            </div>

            <div class="p-case-study-201510-ph-group">
                <ul class="p-case-study-201510-ph-list">
                    <li><img class="type-image" src="/case-study/201510/img/case-2/ph-1.jpg" alt="外壁"><span>外壁は縦平葺きの板金。乱反射することで美しく見える素材を使っています。</span></li>
                    <li><img class="type-image" src="/case-study/201510/img/case-2/ph-2.jpg" alt="リビングとダイニングの間仕切り"><span>リビングとダイニングの間に間仕切りをご希望でしたので、開放感を損なわないルーバーを提案しました。</span></li>
                    <li><img class="type-image" src="/case-study/201510/img/case-2/ph-3.jpg" alt="ペットスペース"><span>ペットスペースの床は1枚張りのシート。壁はホーローパネルで掃除しやすいように配慮しています。</span></li>
                </ul>
            </div>


            <div class="p-case-study-outline-group">
                <div class="p-case-study-outline-spec">
                    <img class="type-image" src="/case-study/201510/img/case-2/outline-1.jpg" alt="愛娘と愛犬たちが幸せに暮らす日だまりの家">
                    <div class="p-case-study-outline-spec-detail">
                        家族構成／ご夫婦+お子様<br>
                        設計コンペプレゼンテーション実施日／2015.02.08<br>
                        竣工年月日／2015.09.18<br>
                        敷地面積／241.11㎡（72.93坪）<br>
                        延床面積／134.77㎡（40.76坪）<br>
                        コーディネート／すまいポート21札幌東<br>
                        設計・施工／久末弘信株式会社<br>
                        <p class="type-tag">2015 初冬号掲載</p>
                    </div>
                </div>
                <div class="p-case-study-outline-detail">
                    <p class="type-heading">愛娘と愛犬たちが幸せに暮らす日だまりの家</p>
                    <p class="type-model-name">札幌市 F様邸　</p>
                    <p class="type-txt">　真新しいその家は、秋の日差しのなかにゆったりと佇んでいました。門構えのような大きな庇と縦ラインが美しいブルーグレイの外壁が印象的なデザイン。道路に面した赤い格子がモダンなアクセントになっています。<br>ここに引っ越してまだ3日というF様のご家族は、ご主人と奥様と1歳の娘さん、そして3匹のミニチュアダックスフンド。このワンちゃんたちも父・母・娘というF様と同じ家族構成だそうです。</p>
                    <p class="type-txt">　住まいづくりのポイントは大きく3つありました。その一つが1階のペットスペースです。<br>
                    「ペットとの心地よく快適な住まいを実現したいとお願いしました。設計士さんはペットを飼った経験がある方で、実体験からきめ細やかな提案をしてくれました。一緒に犬の話をすることも楽しかったです」と奥様。ペットスペースはリビングの隣に設けられ、いつもお互いの姿が見られて安心。専用の流し台があり、床や壁は掃除しやすく傷つきにくい材質のものです。テラスにつながっていて、そこで走り回ることもできるなど細やかな配慮が随所に。なんとも幸せなワンちゃんたちです。</p>
                    <p class="type-txt">　水回りの機能性もポイントの一つ。ダイレクトにつながる快適な家事動線が確保されていながら、洗面室、浴室＆脱衣所、洗濯室＆乾燥室がそれぞれドアで仕切られ分離されています。これなら家族同士も、お客様が来ても、気兼ねなく使うことができます。洗面室は造作でおしゃれなデザイン。家全体に言えることですが、インテリア素材から照明、壁紙に至るまで建築会社の提案があり、それを基に検討することができたので、自分たちでゼロから選ぶよりスムーズにセンス良く仕上がったそうです。</p>
                    <p class="type-txt">　そして2階にもこだわりのポイントが。リビングと調和するモダンインテリアのような階段を上がっていくと、日差したっぷりの明るい空間が現れます。ここは家族みんなが思い思いにくつろぐ場所。一角にはご主人のパソコンデスクがあり、奥様の趣味のピアノが置かれ、壁一面には本棚が設けられています。</p>
                    <p class="type-txt">　「できるだけ家族一緒に過ごし、個室は寝るためだけの部屋にしたい。ここはそのためのスペース。1階のダイニングにも今後のために娘が勉強できるカウンターを作ったんですよ」とご主人。奥様も「家に家族が揃っている時は、一緒に過ごすようにしたいと思っています。バラバラでいるなんてもったいないでしょう」と笑います。現在は、ご夫婦共通の趣味のオブジェや本が置かれている本棚。お子様が育つにつれて彼女の大好きな本や玩具が仲良く一緒に並ぶことになるでしょう。</p>
                </div>

                <hr class="u-clearfix">

                <div class="p-case-study-gallely-group">
                    <ul class="p-case-study-gallely-list js-case-study-slide">
                        <li class="p-case-study-gallely-list-item"><img src="/case-study/201510/img/case-2/gallely-1.jpg" alt="大きな庇が印象的なモダンな外観。格子の間から愛犬が外を眺められる"><span class="type-caption">大きな庇が印象的なモダンな外観。格子の間から愛犬が外を眺められる</span></li>
                        <li class="p-case-study-gallely-list-item"><img src="/case-study/201510/img/case-2/gallely-2.jpg" alt="南東角の立地を活かした日差しあふれるリビング"><span class="type-caption">南東角の立地を活かした日差しあふれるリビング</span></li>
                        <li class="p-case-study-gallely-list-item"><img src="/case-study/201510/img/case-2/gallely-3.jpg" alt="LDKに連なるペットスペースでは愛犬たちがのびのび"><span class="type-caption">LDKに連なるペットスペースでは愛犬たちがのびのび</span></li>
                        <li class="p-case-study-gallely-list-item"><img src="/case-study/201510/img/case-2/gallely-4.jpg" alt="普段は開け放して、来客時にはゲストルームにもなる和室"><span class="type-caption">普段は開け放して、来客時にはゲストルームにもなる和室</span></li>
                        <li class="p-case-study-gallely-list-item"><img src="/case-study/201510/img/case-2/gallely-5.jpg" alt="ワンちゃんたちがストレスなく動き回れるテラス"><span class="type-caption">ワンちゃんたちがストレスなく動き回れるテラス</span></li>
                        <li class="p-case-study-gallely-list-item"><img src="/case-study/201510/img/case-2/gallely-6.jpg" alt="日当たりのいい2階に設けたフリースペースは家族みんなの場所"><span class="type-caption">日当たりのいい2階に設けたフリースペースは家族みんなの場所</span></li>
                        <li class="p-case-study-gallely-list-item"><img src="/case-study/201510/img/case-2/gallely-7.jpg" alt="実家にあった奥様のピアノも置けるように。奥様が弾くと娘さんが喜ぶ"><span class="type-caption">実家にあった奥様のピアノも置けるように。奥様が弾くと娘さんが喜ぶ</span></li>
                        <li class="p-case-study-gallely-list-item"><img src="/case-study/201510/img/case-2/gallely-8.jpg" alt="フリースペースにはみんなで使えるパソコンルームも"><span class="type-caption">フリースペースにはみんなで使えるパソコンルームも</span></li>
                        <li class="p-case-study-gallely-list-item"><img src="/case-study/201510/img/case-2/gallely-9.jpg" alt="キッチンの背面は壁一面の収納棚。扉を閉めるとすっきり美しく"><span class="type-caption">キッチンの背面は壁一面の収納棚。扉を閉めるとすっきり美しく</span></li>
                        <li class="p-case-study-gallely-list-item"><img src="/case-study/201510/img/case-2/gallely-10.jpg" alt="独立した脱衣所があり、気兼ねなくバスタイム。ライン照明が新しい"><span class="type-caption">独立した脱衣所があり、気兼ねなくバスタイム。ライン照明が新しい</span></li>
                        <li class="p-case-study-gallely-list-item"><img src="/case-study/201510/img/case-2/gallely-11.jpg" alt="おしゃれな洗面室。奥には扉で仕切られる洗濯・乾燥室を設置"><span class="type-caption">おしゃれな洗面室。奥には扉で仕切られる洗濯・乾燥室を設置</span></li>
                    </ul>
                    <div class="p-case-study-gallely-contlloler type-prev js-case-study-slide-controller"></div>
                    <div class="p-case-study-gallely-contlloler type-next js-case-study-slide-controller"></div>
                </div>
            </div>

            <div class="p-case-study-pager-group">
                <p class="p-case-study-pager-btn type-prev"><a href="/case-study/201510/">前の設計コンペ体験談を見る</a></p>
            </div>


        </div><!-- /#base-content -->
    </div><!-- /#base-container -->

    <?php include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/base-navigation.tpl"); ?>
    <?php include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/base-footer.tpl"); ?>
</div><!-- /#base-page -->
<script>
pageCaseStudy.init();
</script>
</body>
</html>