<?php
$page = array(
    'title' => '札幌市在住のN様｜私たちはココで選びました！｜北海道の住まいづくりWeb',
    'discription' => '札幌市在住のK様はお子さま2人　（長男8歳・次男5歳）の4人家族。実際に設計コンペを体験したK様ご家族にインタビューしました。担当建築会社は竹内建設株式会社さまです。',
);
include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/head.tpl");
?>
</head>



<body>
<div id="base-page">
    <?php include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/base-header.tpl"); ?>

    <div id="base-container">

        <div id="base-container-head" class="type-case-study">
            <ul class="p-breadcrumb-list">
                <li class="p-breadcrumb-list-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/" itemprop="url"><span itemprop="title">トップページ</a></li>
                <li class="p-breadcrumb-list-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/case-study/" itemprop="url"><span itemprop="title">私たちはココで選びました!!</a></li>
                <li class="p-breadcrumb-list-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title">2015年10月 その1</span></li>
            </ul>

            <div class="p-case-study-hero-group">
                <div class="p-case-study-hero-heading">
                    <p class="type-txt-1"><img src="/case-study/img/hero-txt-1.png" alt="私たちはココで選びました!!"></p>
                    <div class="p-case-study-hero-company">
                        <p>
                            <span class="type-label">担当建築会社</span>
                            <span class="type-name">株式会社 住まいのクワザワ</span>
                        </p>
                        <span><a href="https://www.sumaino-kuwazawa.co.jp/" target="_blank">ウェブサイトはこちら</a></span>
                    </div>
                </div>
                <div class="p-case-study-hero-model">
                    <img src="/case-study/201510/img/case-1/hero-image-1.jpg" alt="札幌市在住 N様">
                    <dl>
                        <dt>DATA</dt>
                        <dd>札幌市在住 N様<br>
                        ●家族構成：ご夫婦+お子様</dd>
                    </dl>
                </div>
            </div>

        </div><!-- /#base-container-head -->

        <?php
            $backnumber = array(
                'date' => '201510',
                'case' => 1,
            );
            include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/case-study/backnumber-group.tpl");
        ?>

        <div id="base-content" class="type-case-study-201510">
            <h3 class="p-case-study-heading-1">“各会社の特徴を知って比較できるので効率的。<br>専門家のアドバイスのもと、建築会社選びに専念できました。”</h3>

            <div class="p-case-study-point-group">
                <div class="p-case-study-point-list">
                    <dl class="p-case-study-point-item">
                        <dt>家を建てようと思ったきっかけは何でしたか？</dt>
                        <dd>ずっと社宅住まいでしたが、いずれはマイホームを持ちたいという思いがあり、子どもが小学校に上がるタイミングに合わせて家を建てようと決意しました。</dd>
                    </dl>
                    <dl class="p-case-study-point-item">
                        <dt>住まいづくりは、何から始めましたか？</dt>
                        <dd>実家から近いこともあり、マイホームを建てるならこのエリアと初めから決めていました。社宅の退去期限も迫っていたので、焦りの気持ちもあって、とにかく週末には建築会社やモデルルームを回っていましたね。でも、家を買うのも初めてなもので、判断基準が分からず…。お互いの意見もまとまらなくて、気持ちがもやもやしていたんです。そんな時に、たまたま雑誌で見つけたのが、「すまいポート21」だったんです。</dd>
                    </dl>
                    <dl class="p-case-study-point-item">
                        <dt>すまいポート21の印象はどうでしたか？</dt>
                        <dd>「設計コンペ」というシステムの効率の良さにとても興味を抱き、お願いすることにしました。私たちが希望していた土地が、南西角地で敷地外に電柱が４本立っているクセの強い土地でしたので、難を隠していいところを引き立てる家づくりに期待しましたし、どのような提案が上がってくるのか楽しみでもありました。</dd>
                    </dl>
                    <dl class="p-case-study-point-item">
                        <dt>設計コンペに参加された感想を教えて下さい</dt>
                        <dd>コンペでは最初16社がエントリーしてくれました。一級建築士の先生に相談したところ、間取りや工法・構造など、ポイントを絞って選ぶといいとアドバイスを受け、最終的に４社に絞り込みました。設計コンペでは、各社の得意分野が光る提案をしていただき、いい家を建てようという情熱溢れるプレゼンが印象に残りました。</dd>
                    </dl>
                    <dl class="p-case-study-point-item">
                        <dt>最終的に選んだ1社の決め手はどこにありましたか？</dt>
                        <dd>クワザワさんに決めたのは、やはり提案力の高さですね。構造や性能の良さはもちろんですが、打ち合わせ時に図面を数パターン用意していただいた、その柔軟性の高さやフットワークの軽さに好感が持てました。</dd>
                    </dl>
                    <dl class="p-case-study-point-item">
                        <dt>設計コンペを利用して良かった点を教えて下さい</dt>
                        <dd>設計コンペにして良かった点は、各会社の特徴を知ることができて、比較しやすかったことですね。「すまいポート21」のスタッフの方々のサポートはもちろん、一級建築士の先生が常に側にいてアドバイスしてくださいましたので、自分たちがしたいように、楽しく家づくりに専念することができました。あの時、「すまいポート21」と出会ったからこそ、マイホームを持つことが出来ましたので、本当に良かったと思っています。</dd>
                    </dl>
                </div>
            </div>

            <div class="p-case-study-point-message type-wide">
                <div class="p-case-study-point-message-inner">
                    <p class="p-case-study-point-message-heading">建築会社より一言</p>
                    <div class="p-case-study-point-message-staff">
                        <img class="type-image" src="/case-study/201510/img/case-1/staff-1.jpg" alt="株式会社住まいのクワザワ 営業課長／田村尚基さん">
                        <p class="type-name">株式会社 住まいのクワザワ<br>営業課長／田村尚基さん</p>
                        <p class="type-link"><a href="https://www.sumaino-kuwazawa.co.jp/" target="_blank">ウェブサイトはこちら</a></p>
                    </div>
                    <div class="p-case-study-point-message-txt">
                        <p class="type-heading">シンプルさと機能性の高さを重視<br>相談を重ねて納得の空間を実現</p>
                        <p>　限られた予算の中で、出来る限りのご希望に添えるよう、設計士やインテリアコーディネーターがマメに連絡を取って、家づくりを行いました。当初はパネルヒーターを設置する予定でしたが、ランニングコストを考えて床暖房をご提案。実際にモデルルームで体験していただいたところ、リビングがすっきりした印象になるうえ、十分な暖かさを得られると分かり、採用していただきました。また、リビングの天井を一部吹き上げにして開放感を出し、その分2階にロフト風の空間を設けるなど、N様のご希望通り、シンプルで機能性の高さを重視したプランニングを行いました。</p>
                    </div>
                </div>
            </div>

            <div class="p-case-study-201510-ph-group">
                <ul class="p-case-study-201510-ph-list">
                    <li><img class="type-image" src="/case-study/201510/img/case-1/ph-1.jpg" alt="子供部屋"><span>成長したお子様が自分好みに彩れるよう、子供部屋もあえてシンプルに。</span></li>
                    <li><img class="type-image" src="/case-study/201510/img/case-1/ph-2.jpg" alt="キッチンキャビネット"><span>キッチンキャビネットは、奥様の身長に合わせて、造作してもらいました。</span></li>
                    <li><img class="type-image" src="/case-study/201510/img/case-1/ph-3.jpg" alt="リビングの一部 2階寝室の壁"><span>リビングの一部と、2階寝室の壁にエコカラットを採用しています。</span></li>
                </ul>
            </div>

            <div class="p-case-study-outline-group">
                <div class="p-case-study-outline-spec">
                    <img class="type-image" src="/case-study/201510/img/case-1/outline-1.jpg" alt="家族団らんの時間が楽しい居心地の良い家">
                    <div class="p-case-study-outline-spec-detail">
                        家族構成／ご夫婦+お子様<br>
                        設計コンペプレゼンテーション実施日／2014.10.26<br>
                        竣工年月日／2015.08.02<br>
                        敷地面積／186.51㎡（56.42坪）<br>
                        延床面積／118.72㎡（35.91坪）<br>
                        コーディネート／すまいポート21札幌東<br>
                        設計・施工／株式会社住まいのクワザワ<br>
                        <p class="type-tag">2015 初冬号掲載</p>
                    </div>
                </div>
                <div class="p-case-study-outline-detail">
                    <p class="type-heading">家族団らんの時間が楽しい居心地の良い家</p>
                    <p class="type-model-name">札幌市 N様邸　</p>
                    <p class="type-txt">　ご主人の実家近くの土地を探し、憧れのマイホームを建てたＮ様。外周壁に、２×４材よりも約50㎜太い２×６材を採用した強度と断熱性能の高い住まいは、ご主人が希望した四角いシルエットと、シンプルかつモダンな外観が特徴です。南西角地という立地を活かして南向きに配置したリビングは、暖かい陽光がたっぷりと射し込み、白系の床材に反射して、空間全体を明るく柔らかい雰囲気が包み込みます。また、リビングの天井は一部を吹き上げにすることで開放感を作り出し、隣接する和室の扉のサイズを高めに設計することで、ひと間続きの印象を与えています。「以前住んでいた家は暗かったのですが、今はとても明るいですね。インテリアコーディネーターさんのアドバイスで壁の一部に採用したエコカラットのおかげで、快適な湿度を保ちつつ気になる匂いも軽減され、空間にもニュアンスが生まれました。居心地がいいせいか、私も主人も家で過ごす時間が増えたと思います」と奥様。ご主人の会社が近くなったことから、通勤時間も短縮。朝も家族一緒に食事をするようになり、団らんの時間が一層増えたと話します。そんな奥様のお気に入りは、調理スペース・シンクともに広々と設計された機能的なキッチンと、すっきりと整頓されたリビングです。「キッチンを対面にすることで、リビングでくつろぐ主人や子どもが遊ぶ様子が眺められ、家族との会話を楽しんだり、テレビを見ながら家事が出来るようになりました。キッチンとバスルーム、トイレ、玄関を回遊式にしたことで、家事が効率良く行えるのもいいですね」。</p>
                    <p class="type-txt">　さらに奥様がこだわったのが、家の随所に設けられた大小の収納スペースです。「どこに何があるかを家族みんなが把握でき、使う場所にしまう場所があるように設計してもらいました」。例えば、散らかりがちなお子様のおもちゃは、遊び場となっている１階和室のクロゼットの中、絵本は和室の壁の一部に組み込んだ造作の本棚へしまうため、出し入れしやすくキレイもキープ。奥様が歩ける程度の天井高を設けた２階のロフト風スペースにもおもちゃが置かれていますが、廊下側に設けた間仕切りが目隠しになり、そこで遊ぶお子様の気配を感じながらも、見た目はすっきりとまとまっています。</p>
                    <p class="type-txt">　やんちゃ盛りのお子様が元気に動き回りながらも、家の中は常に整頓され、全体的にすっきりとした印象を与えるＮ様邸。自分たちが心地良く暮らすためのさまざまな工夫が、ここには溢れていました。</p>
                </div>

                <hr class="u-clearfix">

                <div class="p-case-study-gallely-group">
                    <ul class="p-case-study-gallely-list js-case-study-slide">
                        <li class="p-case-study-gallely-list-item"><img src="/case-study/201510/img/case-1/gallely-1.jpg" alt="リビングの一部を吹上にすることで、空間全体に開放感が生まれる"><span class="type-caption">リビングの一部を吹上にすることで、空間全体に開放感が生まれる</span></li>
                        <li class="p-case-study-gallely-list-item"><img src="/case-study/201510/img/case-1/gallely-2.jpg" alt="和室の壁を利用し、造作の本棚を設計"><span class="type-caption">和室の壁を利用し、造作の本棚を設計</span></li>
                        <li class="p-case-study-gallely-list-item"><img src="/case-study/201510/img/case-1/gallely-3.jpg" alt="キッチンキャビネットも造作した、奥様お気に入りの場所"><span class="type-caption">キッチンキャビネットも造作した、奥様お気に入りの場所</span></li>
                        <li class="p-case-study-gallely-list-item"><img src="/case-study/201510/img/case-1/gallely-4.jpg" alt="家族が自然と集まるダイニングテーブル。リビングの奥にはひと間続きの和室も"><span class="type-caption">家族が自然と集まるダイニングテーブル。リビングの奥にはひと間続きの和室も</span></li>
                        <li class="p-case-study-gallely-list-item"><img src="/case-study/201510/img/case-1/gallely-5.jpg" alt="屋根裏部屋のような2階ロフトは、子どもの遊び場として利用"><span class="type-caption">屋根裏部屋のような2階ロフトは、子どもの遊び場として利用</span></li>
                        <li class="p-case-study-gallely-list-item"><img src="/case-study/201510/img/case-1/gallely-6.jpg" alt="普段は扉を開放している和室は、客間としても活躍する"><span class="type-caption">普段は扉を開放している和室は、客間としても活躍する</span></li>
                        <li class="p-case-study-gallely-list-item"><img src="/case-study/201510/img/case-1/gallely-7.jpg" alt="リビングの一角に配したお子様の学習机。成長に合わせ、2階の子ども部屋へ移動する予定"><span class="type-caption">リビングの一角に配したお子様の学習机。成長に合わせ、2階の子ども部屋へ移動する予定</span></li>
                        <li class="p-case-study-gallely-list-item"><img src="/case-study/201510/img/case-1/gallely-8.jpg" alt="主寝室のウォークインクローゼット。奥には布団も収納できる大容量の棚を設置"><span class="type-caption">主寝室のウォークインクローゼット。奥には布団も収納できる大容量の棚を設置</span></li>
                        <li class="p-case-study-gallely-list-item"><img src="/case-study/201510/img/case-1/gallely-9.jpg" alt="ご近所さんを気にせず音楽の練習ができるのも戸建ての魅力"><span class="type-caption">ご近所さんを気にせず音楽の練習ができるのも戸建ての魅力</span></li>

                    </ul>
                    <div class="p-case-study-gallely-contlloler type-prev js-case-study-slide-controller"></div>
                    <div class="p-case-study-gallely-contlloler type-next js-case-study-slide-controller"></div>
                </div>
            </div>

            <div class="p-case-study-pager-group">
                <p class="p-case-study-pager-btn type-next"><a href="/case-study/201510/case-2.html">次の設計コンペ体験談を見る</a></p>
            </div>


        </div><!-- /#base-content -->
    </div><!-- /#base-container -->

    <?php include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/base-navigation.tpl"); ?>
    <?php include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/base-footer.tpl"); ?>
</div><!-- /#base-page -->
<script>
pageCaseStudy.init();
</script>
</body>
</html>