<?php
$page = array(
    'title' => 'club-s｜掲載企業｜北海道の住まいづくりWeb',
    'discription' => '北海道の住まいづくりWeのclub-sbに掲載している建築家さまを一覧でご紹介します。',
);
include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/head.tpl");
?>
</head>



<body>
<div id="base-page" class="base-type-company">
    <?php include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/base-header.tpl"); ?>

    <div id="base-container">

        <div id="base-container-head">
            <ul class="p-breadcrumb-list">
                <li class="p-breadcrumb-list-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/" itemprop="url"><span itemprop="title">トップページ</a></li>
                <li class="p-breadcrumb-list-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/company/" itemprop="url"><span itemprop="title">掲載企業</a></li>
                <li class="p-breadcrumb-list-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title">club-s</span></li>
            </ul>

            <div class="p-company-hero-group">
                <p class="p-company-hero-heading-1"><img src="/company/img/hero-txt-1.png" alt="掲載企業"></p>
            </div>

            <div class="p-company-categories-group">
                <ul class="p-company-categories-list">
                    <li class="p-company-categories-list-item type-build"><a href="/company/">建築会社</a></li>
                    <li class="p-company-categories-list-item type-reform"><a href="/company/reform/">リフォーム</a></li>
                    <li class="p-company-categories-list-item type-outdoor"><a href="/company/outdoor/">外構</a></li>
                    <li class="p-company-categories-list-item type-club-s is-active"><a href="/company/club-s/">club-s</a></li>
                </ul>
            </div>
        </div><!-- /#base-container-head -->

        <div class="p-company-club-s-cover-group">
            <div class="p-company-club-s-cover">
                <h1 class="p-company-club-s-cover-logo"><img src="/company/club-s/img/hero-logo-1.png" alt="すまいポート21 建築家コース Club-s（クラブエス）"></h1>
                <p class="p-company-club-s-cover-heading"><img src="/company/club-s/img/hero-txt-1.png" alt="建築家とつくるこだわりの住まい・"></p>
                <p class="p-company-club-s-cover-txt">［club-s］とはすまいポート21の「建築家コース」の名称。<br>「敷居が高くて頼みづらい」という<br>お客様の声を解消するために生まれたサービスです。</p>
            </div>
        </div>

        <div class="p-company-club-s-intro-group">
            <div class="p-company-club-s-intro">
                <div class="p-company-club-s-intro-inner">
                    <p class="p-company-club-s-intro-heading">すまいポート21に登録している<br>北海道内の建築家から3名まで選ぶことができます。</p>
                    <div class="p-company-club-s-intro-detail">

                        <div class="type-logo">
                            <p><img src="/company/club-s/img/intro-logo-1.png" alt="club-s（クラブエス）"></p>
                            <p>すまいポート21が、北海道で活躍する建築家のネットワーク［club-s］を設立。「設計事務所は敷居が高い」「誰に依頼していいかわからない」等のお客様の声にお応えします。</p>
                        </div>

                        <p class="type-heading">設計コンペ</p>
                        <p>あなたの要望・予算に合わせて3名の建築家がプランと見積りをご提案いたします。<br>
                        <strong>◯料金：32,000円［税別］</strong></p>

                        <p class="type-heading">ご紹介コース</p>
                        <p>あなたが希望する建築家（3名まで）とじっくり面談していただき、その中から1名をご指名ください。後日その建築家からプラン見積りをご提案いたします。<br>
                        <strong>◯料金：12,000円［税別］</strong></p>

                        <p class="type-heading">特徴</p>
                        <ul>
                            <li>北海道で活躍する建築家が登録</li>
                            <li>料金体系を明確にしているので安心して頼むことができます</li>
                            <li>施工会社はすまいポート21の登録会社からの相見積りで選ぶことができます</li>
                            <li>建築家選びや、プラン打合せには第三者としてすまいポート21のプロデューサー（一級建築士）も同席、安心です</li>
                        </ul>
                    </div>
                    <div class="p-company-club-s-intro-flow">
                        <p class="type-heading">ご利用の流れ</p>
                        <p class="type-txt">プラン作成から施工管理までトータルで依頼できます</p>
                        <p class="type-image"><img src="/company/club-s/img/intro-flow-1.png" alt="ご利用の流れ"></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="p-company-club-s-group">
            <div class="p-company-club-s-item">
                <h3 class="p-company-club-s-item-label">一級建築士事務所 株式会社アトリエカーサ</h3>
                <div class="p-company-club-s-item-info">
                    <p class="type-heading">水平と垂直が織り成す空間の<br>コントラストを読み解く建築を目指す。</p>
                    <p class="type-txt">家創りとは・・・<br>
                    クライアントとの会話の中から考え方、価値観を共有すること。<br>
                    光・風・空間・素材・バランスなど、一つひとつ会話の中から何度も何度も検討し、創りあげていきます。<br>
                    そっと優しく包み込むような・・・<br>
                    そんな、柔らかなくつろぎの空間をつくっていきたい。</p>
                    <div class="type-company">
                        <p><strong>一級建築士事務所 株式会社アトリエカーサ</strong><br>
                        TEL:011-206-8715<br>
                        FAX:011-206-8716<br>
                        〒062-0033札幌市豊平区西岡3条13丁目2-8-3Ｃ<br>
                        URL……http://atelier-casa.s2.weblife.me/<br>
                        mail……info-casa@muse.ocn.ne.jp</p>
                    </div>
                    <div class="type-profile">
                        <img class="type-image" src="/company/club-s/img/detail/casa-profile-1.jpg" alt="主宰 阿部直人">
                        <p><strong>主宰　阿部 直人</strong><br>
                        クライアントの想いから導き出した回答をヒントに、敷地の個性を解読し、人々が楽しみ、やすらげる空間を生み出し、人々の記憶に残る建築を創っていきたいと日々考えています。</p>
                    </div>
                </div>
                <div class="p-company-club-s-item-sub">
                    <img class="type-image" src="/company/club-s/img/detail/casa-image-1.jpg" alt="株式会社アトリエカーサ 施工事例">
                    <p class="type-heading">そっと優しく<br>包み込むような建築を・・・</p>
                    <ol class="type-anotation-list">
                        <li>開放的な吹き抜けのある「くつろぎの間」。</li>
                        <li>水廻りコア上部の「ロフト空間」。</li>
                        <li>マキストーブのある「カフェの間」。</li>
                        <li>内部の光が外へと美しくにじむ夕景。</li>
                        <li>適度な距離感を持つ２世帯住宅。</li>
                    </ol>
                </div>
            </div>

            <div class="p-company-club-s-item">
                <h3 class="p-company-club-s-item-label">石塚和彦アトリエ 一級建築士事務所</h3>
                <div class="p-company-club-s-item-info">
                    <p class="type-heading">たくさんの満足と、喜びを膨らます、<br>ほんの少しの＋αのサプライズを。</p>
                    <p class="type-txt">住宅に大切なことは、住み手に馴染み、その場所に馴染むこと。<br>
                    居心地のよい住まいの「カタチ」は、人それぞれ。生活のスタイルや場所の環境によっても変わります。あなたが感じている、ほんの小さな感覚こそが大切なのです。<br>
                    あなたにとって、ぴったりと馴染む住まいを、一緒に話し、ひとつひとつ考えながら「カタチ」にしていきます。私たちはそのための努力を惜しみません。</p>
                    <p class="type-txt">残念ながら、要望の全てを満たす家を、手品のように提案することはできないかもしれません。しかし、私たちの仕事は、様々な与条件や要望の中に隠されている意図を読み解いて、少しずつ整理しながら、一緒にベストな形にしていくことだと考えています。<br>
                    そして、要望を満たすだけではなく、＋α（プラスアルファ）の住まいが実現できればと考えています。</p>
                    <p class="type-txt">新たな住まいには、たくさんの満足と、喜びを膨らます、ほんの少しの＋α（プラスアルファ）のサプライズを。</p>
                    <div class="type-company">
                        <p><strong>石塚和彦アトリエ 一級建築士事務所</strong><br>
                        TEL:011-206-0698<br>
                        FAX:011-206-0699<br>
                        〒064-0915 札幌市中央区南15条西7丁目1-11 栗の木ハウス<br>
                        URL……http://ishizuka-atelier.com/<br>
                        mail……mail@ishizuka-atelier.com</p>
                    </div>
                    <div class="type-profile">
                        <img class="type-image" src="/company/club-s/img/detail/ishuzuka-profile-1.jpg" alt="代表 石塚和彦">
                        <p><strong>代表　石塚 和彦</strong><br>
                        いつもの「あたり前」を、少しだけ疑うこと。それは決して奇をてらうことではなく、クライアント様一人ひとりに馴染む住まいの「カタチ」を見つけ出すきっかけになると考えています。住まい全体の大きな空間イメージから、細かな使い勝手まで、打合せを重ねながら、ぴったりと馴染む住まいを「カタチ」にしていきます。</p>
                    </div>
                </div>
                <div class="p-company-club-s-item-sub">
                    <img class="type-image" src="/company/club-s/img/detail/ishuzuka-image-1.jpg" alt="石塚和彦アトリエ 施工事例">
                    <p class="type-heading">居心地のよい、<br>あなただけの住まいの「カタチ」を。</p>
                    <ol class="type-anotation-list">
                        <li>厚別の家－スクエアなヴォリュームによる、空間の緩やかな分節と繋がり－photo copyright : ISHIZUKA ATELIER</li>
                        <li>手稲の三角－北海道の住宅の原風景ともいえる、築40年以上の年月を経た三角屋根の家の増改築－photo copyright : HIROTO ABICO</li>
                        <li>柏林台の家－敷地を有効に利用した平屋と、テラスを介してつながる「家族のための庭」　－photo copyright : HS@Studio Rise</li>
                    </ol>
                </div>
            </div>

            <div class="p-company-club-s-item">
                <h3 class="p-company-club-s-item-label">一級建築士事務所　株式会社エム・アンド・オー</h3>
                <div class="p-company-club-s-item-info">
                    <p class="type-heading">ありのままの土地形状を生かした<br>自然を感じられる住まい</p>
                    <p class="type-txt">「せっかく北海道に住むのだから家に居ながらも自然が感じられるところがいい」と、静岡から移り住んで来たお施主さんは、この緑豊かな土地を見つけてきました。<br>
                    その土地は道路からなだらかに傾斜し、建物一層分ほど下りたところが平坦になっているという複雑な形状です。<br>
                    家の要望としては、家族みんなが集まるリビングから景色が見えること、みんなで使える勉強スペース・お父さんの書斎・親と同居できるような予備室がほしいなどです。<br>
                    その予備室は将来を見越したバリアフリーを考慮し、トイレ・洗面・浴室とＬＤＫを同階にするため玄関を２階として道路から直接アプローチしＬＤＫにもスムーズにつながるようにしたので、より自然を眺められるようになっています。<br>
                    また敷地の平坦な部分を１階として子供室・夫婦寝室・勉強スペースなどを配置し、そこから直接外に出てゆるやかな傾斜をなした豊かな外部空間＝庭へとつながります。</p>
                    <p class="type-txt">ありのままの土地形状を生かすことが、より自然を地肌で感じられる住まいになることと考えてこの家が出来上がりました。</p>
                    <div class="type-company">
                        <p><strong>一級建築士事務所　株式会社エム・アンド・オー</strong><br>
                        TEL:011-669-7100<br>
                        FAX:011-669-7101<br>
                        〒063-0823 札幌市西区発寒３条１丁目８－５<br>
                        URL……www.mando.jp<br>
                        mail……info@mando.jp</p>
                    </div>
                    <div class="type-profile">
                        <img class="type-image" src="/company/club-s/img/detail/m-and-o-profile-1.jpg" alt="湊谷みち代 大塚達也">
                        <p><strong>湊谷みち代　大塚達也</strong><br>
                        私達が心がけていることは施主との「会話」です。<br>
                        日々の暮らしや趣味について話したり、これから作り上げていく「住まい」のことを、互いの意見や考えを率直に話し合える施主との時間を大切にしています。<br>
                        そこからふさわしいと思われる住まい方を私達なりに読み解き、この人に、この土地にしかない「テーマ」を見つけ作り出します。<br>
                        それが同時に、私達にとっても本当に住みたい・使いたいと思える気持ちの良い建築なのです。</p>
                    </div>
                </div>
                <div class="p-company-club-s-item-sub">
                    <img class="type-image" src="/company/club-s/img/detail/m-and-o-image-1.jpg" alt="株式会社エム・アンド・オー 施工事例">
                    <p class="type-heading">「会話」から「テーマ」を見つけ出して<br>デザインします</p>
                    <ol class="type-anotation-list">
                        <li>道路からゆるやかに傾斜して下るありのままの敷地に、ブリッジ状にまたがって建つ。</li>
                        <li>２階にあるリビングから自然豊かな景色を望むことができる。</li>
                        <li>造作のキッチンカウンター。手前のダイニングからはテラスに出ることができる。</li>
                    </ol>
                </div>
            </div>

            <div class="p-company-club-s-item">
                <h3 class="p-company-club-s-item-label">（有）TAU設計工房</h3>
                <div class="p-company-club-s-item-info">
                    <p class="type-heading">自然エネルギーを利用し、年月が経て<br>味わいと温もりのある家を目指す。</p>
                    <p class="type-txt">建築家は敷居が高くて頼みにくい、と思われるのは当然かもしれません。宣伝方法があるわけでもありませんし、セールスマンでもありません。<br>
                    家を造る技術者と考えて頂くと頼み易いかもしれません。考え方に隔たりが生まれるのも事実です。建主は、いっぱい夢を持ち、それらをどう整理して、具現化するかは建築家の役割ですが、コスト他様々な条件から何を優先し、何を捨てるか又は代替え出来るか、充分な話し合いが必要です。<br>
                    住宅造りは、建主との共作であると思っていますし完成後の喜びを共有し、長くお付きあい出来る関係を持ち続けたいと思っています。<br>
                    私達の蓄積した考え方、それらの手法もあります。断熱、気密の重要性と共に蓄熱、集熱（太陽熱）を取り入れた住宅、ビジュアルに留まらず、五感に訴えるような住宅を提案したいと思っています。完成した時が最高ではなく、年月が経つと共に、より豊かで温もりのある住宅を造っていきたいと思っています。</p>
                    <div class="type-company">
                        <p><strong>（有）TAU設計工房</strong><br>
                        TEL:011-891-7067<br>
                        FAX:011-891-7068<br>
                        〒004-0051 札幌市厚別区厚別中央１条２丁目9-20<br>
                        URL……http://www005.upp.so-net.ne.jp/TAU/<br>
                        mail……tau@bj8.so-net.ne.jp</p>
                    </div>
                    <div class="type-profile">
                        <img class="type-image" src="/company/club-s/img/detail/tau-profile-1.jpg" alt="一級建築士 藤島喬">
                        <p><strong>一級建築士　藤島　喬</strong><br>
                        過去40年間、主に住宅を設計してきました。年月が経つと当然メンテナンスが必要で伺います。とても素敵に住まわれていて、更に年月を越えた暮らし方を見ると、本当に建築家冥利につきます。ずっとお付き合いさせていただいてます。良い住宅を造るコツはお互いに「信頼関係を持つ事」です。</p>
                    </div>
                </div>
                <div class="p-company-club-s-item-sub">
                    <img class="type-image" src="/company/club-s/img/detail/tau-image-1.jpg" alt="TAU設計工房 施工事例">
                    <p class="type-heading">より、豊かで温もりのある<br>家造りを目指して</p>
                    <ol class="type-anotation-list">
                        <li>札幌市内の住宅。20年前に完成、最近外壁屋根を再塗装。左屋根面にOMソーラーによるガラス面が見える。</li>
                        <li>開発したコンポジットユニット工法による、１階RC造外断熱、２階木造。</li>
                        <li>札幌市内のMini Mini house。若夫婦宅、13.5坪と極小だが、住まい方は豊かです。</li>
                        <li>栗山町31軒目の住宅。女性一人住いの小住宅。山を背景に白を基調としている。</li>
                    </ol>
                </div>
            </div>
        </div>




    </div><!-- /#base-container -->

    <?php include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/base-navigation.tpl"); ?>
    <?php include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/base-footer.tpl"); ?>
</div><!-- /#base-page -->
</body>
</html>