<?php
require_once("./form/config.php");
  if(!$_SESSION["p"] && !$_GET["debug"]){
    $_SESSION = array();
    header( 'Location: '. $topPage );
    exit;
  }
  $_SESSION = array();
?>
<?php
$page = array(
    'title' => '来場予約｜北海道の住まいづくりWeb',
    'discription' => '北海道の住まいづくりWebを運営するすまいポート21への来場ご相談の予約フォームです。建築士、ファイナンシャルプランナー、不動産アドバイザーといった専門家へのご相談はもちろん、すまいポート21のスタッフにもお気軽にご相談くださいませ。',
);
include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/head.tpl");
?>
</head>



<body>
<div id="base-page" class="base-type-reservation">
    <?php include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/base-header.tpl"); ?>

    <div id="base-container">

        <div id="base-container-head">
            <ul class="p-breadcrumb-list">
                <li class="p-breadcrumb-list-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/" itemprop="url"><span itemprop="title">トップページ</a></li>
                <li class="p-breadcrumb-list-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title">来場予約</span></li>
            </ul>

            <div class="p-reservation-hero-group">
                <p class="p-reservation-hero-heading-1"><img src="/reservation/img/hero-txt-1.png" alt="来場予約"></p>
            </div>
        </div><!-- /#base-container-head -->


        <div id="base-content">
            <div class="p-reservation-form-group">
                <p>お問い合わせ・お申込み頂きまして、誠にありがとうございました。</p>
                <p>ご入力いただいたメールアドレス宛に、入力内容の確認メールを自動送信しております。<br>
                確認メールがお客様のもとに届かない場合は、メールアドレスが正しくないか、<br>
                通信環境またはシステムの障害により、お問い合わせ受付が正常に完了していない可能性がございます。<br>
                その場合、お手数ですがページ下部のご連絡先までお問い合わせいただけますと幸いです。</p>
                <p><a href="/reservation/">来場予約フォームページに戻る</a></p>
    　       </div>
        </div>
    </div><!-- /#base-container -->

    <?php include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/base-navigation.tpl"); ?>
    <?php include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/base-footer.tpl"); ?>
</div><!-- /#base-page -->
</body>
</html>