/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$sprite-heart-one-name: 'sprite-heart-one';
$sprite-heart-one-x: 0px;
$sprite-heart-one-y: 0px;
$sprite-heart-one-offset-x: 0px;
$sprite-heart-one-offset-y: 0px;
$sprite-heart-one-width: 201px;
$sprite-heart-one-height: 121px;
$sprite-heart-one-total-width: 412px;
$sprite-heart-one-total-height: 121px;
$sprite-heart-one-image: '/resources/img/sprite.png';
$sprite-heart-one: (0px, 0px, 0px, 0px, 201px, 121px, 412px, 121px, '/resources/img/sprite.png', 'sprite-heart-one', );
$sprite-heart-one2-name: 'sprite-heart-one2';
$sprite-heart-one2-x: 211px;
$sprite-heart-one2-y: 0px;
$sprite-heart-one2-offset-x: -211px;
$sprite-heart-one2-offset-y: 0px;
$sprite-heart-one2-width: 201px;
$sprite-heart-one2-height: 121px;
$sprite-heart-one2-total-width: 412px;
$sprite-heart-one2-total-height: 121px;
$sprite-heart-one2-image: '/resources/img/sprite.png';
$sprite-heart-one2: (211px, 0px, -211px, 0px, 201px, 121px, 412px, 121px, '/resources/img/sprite.png', 'sprite-heart-one2', );
$sprite-heart-one-2x-name: 'sprite-heart-one-2x';
$sprite-heart-one-2x-x: 0px;
$sprite-heart-one-2x-y: 0px;
$sprite-heart-one-2x-offset-x: 0px;
$sprite-heart-one-2x-offset-y: 0px;
$sprite-heart-one-2x-width: 201px;
$sprite-heart-one-2x-height: 121px;
$sprite-heart-one-2x-total-width: 422px;
$sprite-heart-one-2x-total-height: 121px;
$sprite-heart-one-2x-image: '/resources/img/sprite.retina-2x.png';
$sprite-heart-one-2x: (0px, 0px, 0px, 0px, 201px, 121px, 422px, 121px, '/resources/img/sprite.retina-2x.png', 'sprite-heart-one-2x', );
$sprite-heart-one2-2x-name: 'sprite-heart-one2-2x';
$sprite-heart-one2-2x-x: 221px;
$sprite-heart-one2-2x-y: 0px;
$sprite-heart-one2-2x-offset-x: -221px;
$sprite-heart-one2-2x-offset-y: 0px;
$sprite-heart-one2-2x-width: 201px;
$sprite-heart-one2-2x-height: 121px;
$sprite-heart-one2-2x-total-width: 422px;
$sprite-heart-one2-2x-total-height: 121px;
$sprite-heart-one2-2x-image: '/resources/img/sprite.retina-2x.png';
$sprite-heart-one2-2x: (221px, 0px, -221px, 0px, 201px, 121px, 422px, 121px, '/resources/img/sprite.retina-2x.png', 'sprite-heart-one2-2x', );
$spritesheet-width: 412px;
$spritesheet-height: 121px;
$spritesheet-image: '/resources/img/sprite.png';
$spritesheet-sprites: ($sprite-heart-one, $sprite-heart-one2, );
$spritesheet: (412px, 121px, '/resources/img/sprite.png', $spritesheet-sprites, );
$retina-spritesheet-width: 422px;
$retina-spritesheet-height: 121px;
$retina-spritesheet-image: '/resources/img/sprite.retina-2x.png';
$retina-spritesheet-sprites: ($sprite-heart-one-2x, $sprite-heart-one2-2x, );
$retina-spritesheet: (422px, 121px, '/resources/img/sprite.retina-2x.png', $retina-spritesheet-sprites, );

/*
These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.

The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
*/
$sprite-heart-one-group-name: 'sprite-heart-one';
$sprite-heart-one-group: ('sprite-heart-one', $sprite-heart-one, $sprite-heart-one-2x, );
$sprite-heart-one2-group-name: 'sprite-heart-one2';
$sprite-heart-one2-group: ('sprite-heart-one2', $sprite-heart-one2, $sprite-heart-one2-2x, );
$retina-groups: ($sprite-heart-one-group, $sprite-heart-one2-group, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
  It should be used with a "retina group" variable.

The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/

$icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );

.icon-home {
  @include retina-sprite($icon-home-group);
}
*/
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

/*
The `retina-sprites` mixin generates a CSS rule and media query for retina groups
  This yields the same output as CSS retina template but can be overridden in SCSS

@include retina-sprites($retina-groups);
*/
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
