// ------------------------------
// variables
// ------------------------------
@import 'to-fixed';

/**
 * colors control
 *
 */
$font-white-color: #ffffff;
$font-color01: #3e3a39;
//$font-color-green: #005e3c;
$font-color-green: #009245;

//$color-green: #005e3c;
$color-green: #009245;
$color-brown: #9b8956;

/**
 * Font control
 *
 */
$font-default: Verdana, "メイリオ", Meiryo, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", sans-serif;
$font-noto-sans: 'Noto Sans Japanese', Verdana, "メイリオ", Meiryo, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", sans-serif;
$font-courier: 'Courier New', Courier, monospace;
$font-msp-gothic: "ＭＳ Ｐゴシック", "MS PGothic","メイリオ", "Meiryo", verdana, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Osaka", Sans-Serif;
$font-mincho: "Hiragino Mincho Pro", "MS PMincho", serif;




/**
 * Font size control
 *
 */
@mixin fz($fz: 24, $lh: 16) {
  font-size: #{$fz}px;
  $lh_num : ($lh / $fz)* 1;
  line-height: #{$lh_num};
}

/**
 * Mixin control
 *
 */
// Clearfix
@mixin clearfix {
  zoom: 1;
  &:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
    font-size: 0;
  }
}
@mixin icon {
  font-family: 'icomoon';
  position: relative;
  top: -0.1em;
  display:inline-block;
  vertical-align:middle;
  line-height: 0;
  font-weight:normal;
  font-style:normal;
  speak:none;
  text-decoration:inherit;
  text-transform:none;
  text-rendering:optimizeLegibility;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}

// Hover
@mixin hover-opacity {
  transition :opacity, 200ms, ease-out;
  &:hover { opacity: 0.7; }
}