<?php
$page = array(
    'title' => '初めての住まいづくりコラム｜2016年02月｜北海道の住まいづくりWeb',
    'discription' => '知っておくとトクをする住まいづくりの基本をプロがお教えします！今回は不動産アドバイザーの村岡洋平さんから、住宅購入をお考えの方への資金計画のアドバイスです。',
);
include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/head.tpl");
?>
</head>



<body>
<div id="base-page">
    <?php include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/base-header.tpl"); ?>

    <div id="base-container">
      <div id="base-container-head" class="type-column">
        <ul class="p-breadcrumb-list">
          <li class="p-breadcrumb-list-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/" itemprop="url"><span itemprop="title">トップページ</a></li>
          <li class="p-breadcrumb-list-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/column/" itemprop="url"><span itemprop="title">初めての住まいづくりコラム</a></li>
          <li class="p-breadcrumb-list-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title">2016年02月</span></li>
        </ul>

        <div class="p-column-hero-group type-column-201602">
          <div class="p-column-hero-txt">
            <img src="/column/201602/img/hero-txt-1.png" alt="知っておくとトクをする住まいづくりの基本をプロが教えます！初めての住まいコラム！">
          </div>
          <div class="p-column-hero-message">
            <img src="/column/201602/img/hero-image-1.png" alt="不動産アドバイザー 村岡 洋平">
            <div class="p-column-hero-message-txt">
              <p>
                <span class="type-position">不動産アドバイザー</span>
                <span class="type-name">村岡 洋平</span>
              </p>
              <p class="type-list">札幌の土地を見続けて15年。これまで500件以上の土地売買に携わってきた。<br>大規模な宅地造成地から個人所有の土地までオールマイティにアドバイスする。<br>セミナー講師を幅広く務め、最近話題の「仮想地設計コンペ」の先駆者でもある。</p>
            </div>
          </div>
        </div>
      </div><!-- /#base-container-head -->

      <?php
        $backnumber = array(
          'date' => '201602',
          'case' => 1,
        );
        include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/column/backnumber-group.tpl");
      ?>

      <div id="base-content" class="type-column-201602">
        <div class="p-column-group">
          <h2 class="p-column-heading-1">札幌の土地は品薄状態</h2>
          <p>皆さんは、土地というとどういうイメージを持っていらっしゃいますか？街を歩いていて目に止まる空き地や売地の看板とか、いっぺんに売りに出される広大な分譲地とか、土地と一口に言っても様々な形態がありますよね。ひと昔前は民間開発会社による大規模宅地造成が盛んに行われました。いわゆるニュータウンで、ピカピカの新築一戸建てが立ち並んだものです。<br>今ではそうした大規模分譲地が影をひそめ、札幌の土地は品薄状態になっています。現状の住宅街の周辺を造成したものやハウスメーカーが自社の家を建てることを条件に売り出す条件付宅地がたまにあるだけ。後は個人所有の土地を一つ一つあたっていくのが現状です。</p>

          <h2 class="p-column-heading-1"><span>その1</span><br>土地探しは一社でじゅうぶん</h2>
          <p>土地を探すには、やはり不動産会社に頼むのがてっとり早いということになります。そんな時、皆さんはたくさんの不動産会社に声をかけたほうが、より多くの情報を得られるような気がしていませんか？でも、必ずしもそうではないのが、不動産流通の仕組みにあるのです。<p>
          <p>まず、売主がA不動産に売却の依頼をしたとしましょう。A不動産は、その情報をインターネットなど各種媒体に掲載します。他の不動産会社はその情報をチェックするだけなので、土地を探しているあなたが複数の不動産会社に土地情報を依頼しても、結局紹介される物件は同じものばかりになるのです。</p>
          <p>さらにあなたが相談した複数の不動産会社がいっせいにA不動産に「探している人がいます」なんて話をすると、探している人はあなた一人でも、売主とA不動産はたくさん問い合わせが来ていると誤解し、いざ商談になると値を上げるなど強気になることがあります。紹介される土地情報が同じなら、あえてたくさんの不動産会社とやりとりするのは面倒。信頼できる一社と心を合わせてしっかり探しましょう。</p>
          <p>ちなみに、「掘り出し物ってあるの？」とよく聞かれますが、皆さん、声を大にして言います。「掘り出し物はありません！」。もちろん、売主に借金があってすぐ売りに出したいなど、何か理由があって不動産会社に話がくることもありますが、その場合は不動産会社が一旦買い取ってから適正価格に戻して市場に出します。ですから相場よりずっと安い価格で市場に出回っているのは、人に言えないよほどのワケありだけです。手を出さないほうが賢明ですよ。</p>
          <div><img class="type-center-image" src="/column/201602/img/image-1.png" alt="不動産流通システム図" width="849" height="546"></div>

          <h2 class="p-column-heading-1"><span>その2</span><br>自分でチェックするなら</h2>
          <p>さて、土地情報を見ると、いろいろなことが書いてありますよね。それらは不動産公正取引協議会によって定められている表示なんです。ではチェックポイントはどこなのか、これで何がわかるのか、見ていきましょう。</p>
          <dl class="p-column-201602-dl">
            <dt>用途地域</dt>
            <dd>住居、商業、工業など市街地の大枠としての土地利用を定めるものです。この用途によってそれぞれに建築できる建物の条件が異なります。たとえば、用途地域が「近隣商業地域」であれば準防火地域の制限がかかり、耐火のための構造や設備が必要になります。それだけ建築予算がアップしてしまうので要注意！</dd>
          </dl>
          <dl class="p-column-201602-dl">
            <dt>容積率</dt>
            <dd>
            <img src="/column/201602/img/image-2.png" alt="容積率150%、建ぺい率80%の土地" width="249" height="254">建築物の延床面積の敷地面積に対する割合です。たとえば100㎡の敷地に延床面積（各階床面積の合計）が150㎡の建物があれば、容積率は150％ということになります。容積率が2ケタの場合、2階以上の住居を建てることは難しくなりますが、その分、周りにも高い建物がないので日当たりの良さを期待できます。３ケタの場合、高さ制限は無いと考えていいでしょう。
            </dd>
          </dl>
          <dl class="p-column-201602-dl">
            <dt>接道状況</dt>
            <dd>敷地に対し道路がどの方角に何m接しているかを示しています。北海道のような雪国の場合、前面道路幅は重要です。道路幅が8m以上であれば市の除雪が確実に入るので安心ですが、6m以下だと除雪車が来るのかどうか確認しましょう。4m以下だと除雪車が入れないので、冬期はどうなっているのか調べる必要があります。</dd>
          </dl>
          <dl class="p-column-201602-dl">
            <dt>設備</dt>
            <dd>水道や都市ガスなどはあってあたりまえと考えていませんか？中には水道の引込管が無かったり、老朽化していたりして新たに工事が必要な場合があります。また、都市ガスや水道は道路に配管があっても敷地への引き込みがないと自己負担で工事が必要になります。そもそも都市ガスは来ていない地域もあります。都市ガスの有無は土地価格に影響する要因ですから入念にチェックしましょう。</dd>
          </dl>
          <dl class="p-column-201602-dl">
            <dt>土地形状</dt>
            <dd><img src="/column/201602/img/image-3.png" alt="土地形状の図" width="274" height="221">土地の形や向きは、建物の形にも大きく影響します。例えば、駐車場を2台確保したら敷地の形状的にどうしても建物が小さくなってしまったとか。また、道路に対して南向きの土地だと隣家によって日差しが妨げられないからいいと考えがちですが、実際には人通りを気にして昼間でもレースのカーテンを開けられないとか、目隠しの塀を建てなきゃならないといったこともあります。理想の家を想定しながら土地の形状や向きを検討しましょう。</dd>
          </dl>

          <h2 class="p-column-heading-3">おすすめは、土地購入より先に家のプランを作ること。</h2>
          <p>先の「土地形状」のところでチラッと触れましたが、実は夢のマイホームを建てるには、土地を買うより先に建物のプランを作り、そのプランに合った土地を購入する方がおすすめです。プランがあると敷地の使い方がイメージできるし、土地の適正な広さや形状が分かります。漠然と土地を求めるよりも、ニーズが分かって探す方が断然良い土地に巡り会えるでしょう。</p>
          <p>また、住宅ローンを組む場合、土地と建物はセットです。申し込み段階で土地、建築会社、プラン、見積もりの全てが揃っていないと借入ができないのです。土地が決まってからあわてて建築会社を探すと、プランが間に合わなくてローンの借入ができず土地購入も断念したり、急ぐあまりプランを妥協したりといったデメリットが出てきます。</p>
          <p>「土地がないのにプランを作ってもらえるの?」と驚かれる方も多いでしょう。確かに建築会社や工務店さんによっては「土地がないと・・・」と言うところもありますが、逆にプランを作ってその家にあった土地を探してくれるところも多いです。また、「すまいポート21」では、「仮想地設計コンペ」や「土地＆プラン設計コンペ」を行っているので、自分たちが思い描いたプランを作ってからスムーズに土地を選ぶことができます。土地を重視するか、建てる家のほうが大事か、じっくり考えてくださいね。</p>
          <div class="u-txt-center">
            <img src="/column/201602/img/image-4.png" alt="「土地、施工会社、プラン、見積り」まずは、自分たちのプランをしっかりつくりましょう。" width="780" height="452">
            <p>理想のマイホームにあわせた「仮想地設計コンペ」や「土地＆プラン設計コンペ」で<br>実現したい夢に近づきましょう。</p>
          </div>
        </div>
      </div><!-- /#base-content -->
    </div><!-- /#base-container -->

    <?php include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/base-navigation.tpl"); ?>
    <?php include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/base-footer.tpl"); ?>
</div><!-- /#base-page -->
</body>
</html>
