// ------------------------------
// Annotation CSS
// ------------------------------

@import '../../setting/_variables';

.c-annotation {
  @if $mq-all {
    display: block;
    margin: 0;
    padding-left: 12px;
    text-indent: -12px;
    color: #968040;
    letter-spacing: 0;
    &:before { content: '※'; }
    @include fz(12, 18);
  }
  @if $mq-sp {
    padding-left: 10px;
    text-indent: -10px;
    @include fz(10, 15);
  }
}
