// ------------------------------
// Button CSS
// ------------------------------

@import '../../setting/_variables';

.c-btn {
  @if $mq-all {
    display: block;
    max-width: 320px;
    margin: 10px 0;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    background-color: #ef9924;
    border-bottom: 2px solid #e46b0d;
    &.type-center {
      margin-left: auto;
      margin-right: auto;
    }
    @include fz(20, 35);
    /*&:hover {
      box-shadow: 0 1px 0 #b55e00;
      transform: translate(0, 2px);
    }*/
    &:active {
      //background-color: #b55e00;
    }
    a, button{
      appearance: none;
      padding: 10px 10px;
      margin: 0;
      display: inline-block;
      width: 100%;
      min-width: 320px;
      color: #fff;
      box-sizing: border-box;
      text-decoration: none;
      outline: none;
      border: none;
      background-color: transparent;
      cursor: pointer;
    }
  }
  @if $mq-sp {
    a, button{
      min-width: 0;
    }
  }
  @if $old-ie {
    border-bottom: 3px solid #b55e00;
    &:hover { filter: alpha(opacity=70); }
  }
}


.c-btn {
  @if $mq-all {
    /**
     * Type red
     */
    &.type-red {
      background-color: #d92911;
      border-bottom-color: #9e1313;
    }
    /**
     * Type yellow
     */
    &.type-yellow {
      background-color: #ef9924;
      border-bottom-color: #e46b0d;
    }
    /**
     * Type green
     */
    &.type-green {
      background-color: #166D20;
      border-bottom-color: #07250A;
    }
    /**
     * Type gray
     */
    &.type-gray {
      background-color: #67625B;
      border-bottom-color: #1e1e1e;
    }
  }
}

.c-btn {
  @if $mq-all {
    /**
     * Type
     */
    &.type-arrow-btm {
      a {
        position: relative;
        &:after {
          @include icon;
          content: "\e900";
          position: absolute;
          right: 20px;
          top: 50%;
          margin: -0.04em 0 0 0;
          font-size: 18px;
          font-weight: bold;
        }
      }
    }

    /**
     * Type
     */
    &.type-arrow-right {
      a, button {
        position: relative;
        &:after {
          @include icon;
          content: "\e901";
          position: absolute;
          right: 20px;
          top: 50%;
          margin: -0.04em 0 0 0;
          font-size: 18px;
          font-weight: bold;
        }
      }
    }
  }
}



.c-btn.type-large {
  @if $mq-all {
    display: block;
    margin: 40px auto;
    max-width: 340px;
    @include fz(20, 22);
    a, button{
      padding: 20px 8px;
    }
  }
}


