
.c-form-table {
  @if $mq-all {
    margin-bottom: 30px;
    border: 1px solid #e0e0e0;
    th, td {
      border: 1px solid #e0e0e0;
      box-sizing: border-box;
    }
    th {
      width: 210px;
      padding: 20px 15px;
      background-color: #f5f5f5;
      font-weight: bold;

      &.type-must:before {
        float: right;
        content: "必須";
        display: inline-block;
        color: #fff;
        background-color: #f39800;
        border-radius: 4px;
        padding: 1px 5px;
      }

    }
    td {
      padding: 15px 20px;
      vertical-align: middle;
      *:last-child {
        margin-bottom: 0;
      }
    }
  }
  @if $mq-tablet {
    margin-bottom: 30px;
    th, td {
      width: 100%;
      float: left;
      display: block;
      border: none;
      border-bottom: 1px solid #e0e0e0;
    }
    th {
      padding: 10px;
    }
    td {
      padding: 10px;
    }
  }
  @if $mq-sp {
  }
}


/**
 * Text box
 *
 */
.c-form-txt {
	@if $mq-all {
		display: inline-block;
		padding: 10px 10px 10px;
		margin: 0 0 10px 0;
		width: 100%;
		box-sizing: border-box;
		border-radius: 4px;
		border: 1px solid #d7d7d7;
		background-color: #fafafa;
		-webkit-appearance: none;
		&:focus {
			outline: none;
			border: 1px solid #f08300;
		}
		&.type-middle { width: 40%; }
		&.type-large { width: 60%; }
		&.type-short { width: 20%; }
	}
	@if $mq-tablet {
		width: 80% !important;
		//&.type-middle { width: 100%; }
	}
	@if $old-ie {
		display: block;
		margin: 0 0 10px 0;
	}
}

/**
 * Select box
 *
 */
.c-form-select {
	@if $mq-all {
		display: inline-block;
		padding: 10px 10px 10px;
		margin: 0 0 10px 0;
		cursor: pointer;
		box-sizing: border-box;
		border-radius: 2px;
		border: 1px solid #d7d7d7;
		background-color: #fafafa;
		//-webkit-appearance: none;
		@include fz(13, 10);
		&:focus {
			outline: none;
			border: 1px solid #f08300;
		}
	}
	@if $mq-tablet {
		height: 35px;
	}
}
/**
 * Radio button
 *
 */
.c-form-radio {
	@if $mq-all {
		display: inline-block;
		margin: 0 40px 10px 0;
		cursor: pointer;
		@include fz(14, 24);
		input[type="radio"]{
			width: 18px;
			height: 18px;
			margin: 0 10px 0 0;
			vertical-align: middle;
		}
	}
	@if $mq-tablet {
	}
	@if $mq-sp {
		display: block;
		margin-right: 0;
		padding: 5px 10px;
		border-radius: 4px;
		border: 1px solid #d7d7d7;
		background-color: #fafafa;
	}
}

/**
 * Check box
 *
 */
.c-form-chkbox {
	@if $mq-all {
		display: block;
		margin: 0 0 10px 0;
		padding: 0 0 0 30px;
		cursor: pointer;
		@include fz(14, 10);
		input[type="checkbox"]{
			width: 18px;
			height: 18px;
			margin: 0 10px 0 -30px;
			vertical-align: middle;
		}
	}
	@if $mq-tablet {
		display: block;
	}
}


.c-form-textarea {
	@if $mq-all {
		display: block;
		padding: 10px 10px 10px;
		margin: 0 0 10px 0;
		width: 100%;
		resize: vertical;
		height: 200px;
		box-sizing: border-box;
		border-radius: 4px;
		border: 1px solid #d7d7d7;
		background-color: #fafafa;
		-webkit-appearance: none;
		&:focus {
			outline: none;
			border: 1px solid #f08300;
		}
	}
	@if $mq-tablet {
		display: block;
	}
	@if $old-ie {
		display: block;
		margin: 0 0 10px 0;
	}
}


.c-form-annotation {
	@if $mq-all {
		margin: 0 0 0 10px;
	}
	@if $mq-tablet {
		display: inline-block;
	}
}


.parsley-errors-list {
	@if $mq-all {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			padding: 6px 15px;
	    margin: 10px 0;
	    color: #CE1E1E;
	    border-radius: 4px;
	    background-color: #F2DEDE;
		}
	}
	@if $mq-tablet {
	}
}
