// ------------------------------
// Gallery group CSS
// ------------------------------

.c-gallery-group {
  @if $mq-all {
    position: relative;
    clear: both;
    margin: 35px 0;
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
    margin: 30px 0;
  }
}

.c-gallery-list {
  @if $mq-all {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0 40px 0;
    @include clearfix;
  }
  @if $mq-tablet {
    padding: 0;
  }
  @if $mq-sp {
    padding: 0;
  }
}

.c-gallery-list-item {
  @if $mq-all {
    float: left;
    width: 30%;
    margin: 0 16px;
    img {
      margin: 0 auto;
    }

    .type-caption {
      display: block;
      margin: 10px 0;
      font-size: 14px;
    }
  }
  @if $mq-tablet {
    .type-caption {
      font-size: 13px;
    }
  }
  @if $mq-sp {
  }
}

.c-gallery-contlloler {
  @if $mq-all {
    position: absolute;
    top: 90px;
    z-index: 5;
    width: 25px;
    height: 60px;
    cursor: pointer;
    user-select: none;
    &.type-prev {
      left: 0px;
      background: url('/resources/img/icon/ico-arrow-3.png') no-repeat 0 0;
    }
    &.type-next {
      right: 0px;
      background: url('/resources/img/icon/ico-arrow-2.png') no-repeat 0 0;
    }
  }
  @if $mq-tablet {
    top: 65px;
    &.type-prev {
      left: -20px;
    }
    &.type-next {
      right: -20px;
    }
  }
  @if $mq-sp {
  }
}