// ------------------------------
// Heading CSS
// ------------------------------

@import '../../setting/_variables';

.c-heading-1 {
  @if $mq-all {
    padding: 0 0 15px 0;
    margin: 20px 0 30px 0;
    border-bottom: 1px solid $font-color-green;
    letter-spacing: -0.6px;
    font-family: $font-noto-sans;
    @include fz(25 , 28);
  }
  @if $mq-sp {
    padding: 10px 15px;
    margin: 0 0 20px 0;
    color: #fff;
    border: none;
    background-color: $font-color-green;
    letter-spacing: 0;
    font-family: $font-noto-sans;
    @include fz(16 , 22);
  }
}

.c-heading-2 {
  @if $mq-all {
    overflow: hidden;
    margin: 0 0 15px 0;
    padding: 10px 15px;
    color: #1a1a1a;
    font-weight: bold;
    font-family: $font-noto-sans;
    border-radius: 4px;
    border: 1px solid #d8d8cb;
    background-color: #f8f8f3;
    @include fz(16, 24);
  }
  @if $mq-sp {
    margin: 30px 0 20px;
    padding: 5px 10px;
    @include fz(14, 28);
  }
}


.c-heading-3 {
  @if $mq-all {
    margin: 50px 0;
    text-align: center;
    font-weight: bold;
    font-family: $font-noto-sans;
    @include fz(30, 34);
  }
  @if $mq-sp {
    margin: 30px 0;
    @include fz(22, 24);
  }
}
