
/*!
 * loader
 */
.c-loader {
	@if $mq-all {
		width: 66px;
		height: 66px;
		border-radius: 4px;
		background: #fff url(/resources/img/common/loader.gif) no-repeat center;
		background-size: 75%;
	}
	@if $mq-sp {
		background-size: 50%;
	}
}