/*!
 * wgt-menu
 */
.wgt-menu {
	@if $mq-all {
		margin: 25px 0 0;
		background: #FFF;
		box-shadow: 0 1px 1px rgba(0,0,0,.3);
		&:first-child {
			margin-top: 0;
			padding-top: 0;
			border-top: none;
		}
	}
	@if $mq-tablet {
	}
}
.wgt-menu-title {
	@if $mq-all {
		position: relative;
		display: block;
		padding: 10px 30px 10px 20px;
		color: inherit;
		color: #FFF;
		font-family: 'hannari',serif;
		@include fz(18,20);
		background: #C8B68A;
	}
	@if $mq-tablet {
	}
}
.wgt-menu-item {
	@if $mq-all {
		margin: 0;
		padding: 8px;
	}
	@if $mq-tablet {
	}
}
.wgt-menu-list {
	@if $mq-all {
		margin: 0;
		padding: 0;
		.wgt-menu-list {
			border-top: 1px dotted #AB8753;
		}
	}
	@if $mq-tablet {
	}
}
.wgt-menu-listitem {
	@if $mq-all {
		position: relative;
		list-style-type: none;
		border-top: 1px dotted #AB8753;
		&:first-child { border-top: none; }
		a {
			display: block;
			padding: 8px 8px 8px 20px;
			color: inherit;
			@include fz(14,18);
		}
		&:before {
			position: absolute;
			top: 12px;
			left: 8px;
			@include icon;
			@include icon_arrow2-r;
			font-size: 10px;
			line-height: 1;
		}
		.wgt-menu-listitem {
			margin-left: 1em;
		}
	}
	@if $mq-tablet {
	}
}
.wgt-menu-list2 {
  @if $mq-all {
    list-style: none;
    margin: -10px 0 0 -5px;
    padding: 0;
    @include clearfix;
  }
  @if $mq-tablet {
  }
}
.wgt-menu-list2item {
  @if $mq-all {
    display: inline-block;
    width: 65px;
    margin: 10px 0 0 10px;
    font-size: 12px;
    vertical-align: top;
    a {
      display: block;
      text-decoration: none;
      text-align: center;
    }
  }
  @if $mq-tablet {
  }
}
