/*!
 * wgt-post
 */
.wgt-post {
	@if $mq-all {
		margin: 25px 0;
		padding: 40px 0 0;
		border-top: 1px dotted #AB8753;
		&:first-child {
			margin-top: 0;
			padding-top: 0;
			border-top: none;
		}
	}
	@if $mq-tablet {
		margin: 20px 0;
	}
}
.wgt-post-data {
	@if $mq-all {
		margin: 0 0 12px;
    color: #3F9332;
		@include fz(13,22);
		vertical-align: middle;
		@include clf;
		.post-date {
			float: left;
			display: inline-block;
			color: #629144;
		}
		.tag {
			float: right;
			display: inline-block;
		}
	}
	@if $mq-tablet {
	}
}
.wgt-post-head {
	@if $mq-all {
		margin: 0 0 25px;
	}
	@if $mq-tablet {
		margin-bottom: 15px;
	}
}
.wgt-post-caption {
	@if $mq-all {
		margin: 0 0 5px;
		@include fz(14,20);
	}
	@if $mq-tablet {
	}
}
.wgt-post-h {
	@if $mq-all {
		margin: 0 0 5px;
		@include fz(20,28);
	}
	@if $mq-tablet {
		@include fz(16,22);
	}
}
.wgt-post-body {
	@if $mq-all {
		@include fz(14,24);
		@include clf;
		img {
			display: inline-block;
			padding: 5px;
			background: #FFFFFF;
			box-shadow: 0 1px 1px rgba(0,0,0,.3);
			@include box-sizing(border-box);
			text-align: center;
		}
	}
	@if $mq-tablet {
	}
	@if $old-ie {
		img {
			width: auto;
			height: auto;
		}
	}
}
.wgt-post-more {
	@if $mq-all {
		text-align: right;
		a {
			display: inline-block;
			&:hover {
				@extend .util-hoverlight;
			}
		}
		img {
			padding: 0;
			background: none;
			box-shadow: 0 0 0 rgba(0,0,0,0);
		}
	}
	@if $mq-tablet {
	}
	@if $old-ie {
	}
}
