/*!
 * table
 */
.c-table-1 {
  @if $mq-all {
    border: 1px solid #d8d8cb;
    th, td {
      padding: 15px;
      border: 1px solid #d8d8cb;
    }
  }
  @if $mq-tablet {
  }
}

.c-table-bg-brown {
  @if $mq-all {
    background-color: #F8F8F3;
  }
  @if $mq-tablet {
  }
}

.c-table-bg-water {
  @if $mq-all {
    background-color: #E5F0FF;
  }
  @if $mq-tablet {
  }
}