// ------------------------------
// text-decoration CSS
// ------------------------------

@import '../setting/_variables';

.wgt-cOrange {
  @if $mq-all {
    color: #e57b41;
  }
  @if $mq-tablet {
  }
}

.wgt-p {
  @if $mq-all {
    margin: 0 0 20px;
    @include fz(16,26);
  }
  @if $mq-tablet {
    @include fz(14,24);
  }
}

.wgt-p2 {
  @if $mq-all {
    margin: 0 0 20px;
    @include fz(14,24);
  }
  @if $mq-tablet {
  }
}

.wgt-banner {
  @if $mq-all {
    a {
      display: inline-block;
      @extend .util-hoverlight;
    }
  }
  @if $mq-tablet {
  }
}

.wgt-button {
  @if $mq-all {
    margin: 20px 0;
    text-align: center;
    &.type-left {
      text-align: left;
    }
    &.type-right {
      text-align: right;
    }
    a,input[type="button"],button {
      display: inline-block;
      min-width: 305px;
      padding: 20px 15px 16px;
      font-weight: bold;
      border: none;
      outline: none;
      color: #FFF;
      @include fz(18,20);
      background: #3F9332;
      border-radius: 3px;
      text-align: center;
      text-decoration: none;
      box-shadow: 4px 4px 0 #337528;
      @extend .util-hoverlight;
      @include box-sizing(border-box);
      &:after {
        display: inline-block;
        margin: 0 5px 0 0;
        @include icon;
        font-weight: bold;
        @include icon_arrow-r;
        font-size: 22px;
      }
    }
    &.type-arrow-l {
      a,input[type="button"],button {
        &:after {
          display: none;
        }
        &:before {
          display: inline-block;
          margin: 0 0 0 5px;
          @include icon;
          font-weight: bold;
          @include icon_arrow-l;
          font-size: 22px;
        }
      }
    }
    &.type-brown {
      a,input[type="button"],button {
        color: #FFF;
        background: #716455;
        box-shadow: 4px 4px 0 #574d42;
      }
    }
    &.type-brown2 {
      a,input[type="button"],button {
        color: #FFF;
        background: #886C67;
        box-shadow: 4px 4px 0 #666666;
      }
    }
    &.type-none {
      a,input[type="button"],button {
        &:after {
          display: none;
        }
        &:before {
          display: none;
        }
      }
    }
  }
  @if $mq-tablet {
    a {
      padding: 15px 10px 12px;
      min-width: 225px;
      @include fz(14,18);
      &:after {
        font-size: 18px;
      }
    }
  }
}
/*!
 * wgt-column2A
 */
.wgt-column2A {
  @if $mq-all {
    max-width: 960px;
    margin: 0 auto;
    @include clf;
    &.type2 {
      max-width: 880px;
    }
  }
  @if $mq-tablet {
  }
}
.wgt-column2A-col {
  @if $mq-all {
    float: right;
    width: 47.9166667%;
    &:first-child { float: left; }
    .wgt-column2A.type-right & {
      float: left;
      &:first-child {
        float: right;
      }
    }
  }
  @if $mq-tablet {
    float: none !important;
    width: auto;
  }
}


.wgt-lead {
  @if $mq-all {
    margin: 0 0 20px;
    font-family: 'hannari',serif;
    @include fz(29,36);
  }
  @if $mq-tablet {
    @include fz(20,30);
  }
}

.wgt-section {
  @if $mq-all {
    max-width: 960px;
    margin: 0 auto 70px;
  }
  @if $mq-tablet {
    margin-bottom: 40px;
  }
}
