<?php
$page = array(
    'title' => '設計コンペで家を建てよう！｜北海道の住まいづくりWeb',
    'discription' => '施主さまのリクエストに合わせ、最大5社の建築会社がプランと見積もりを提案！各社がプライドを賭けて作ったプランを、プロのサポートを受けながら比較検討できるのが設計コンペの魅力です。今回はOさんご一家の設計コンペに密着してきました。',
);
include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/head.tpl");
?>
</head>



<body id="competition-201507-case-1">
<div id="base-page">
    <?php include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/base-header.tpl"); ?>

    <div id="base-container">

        <div id="base-container-head" class="type-case-competition">
            <ul class="p-breadcrumb-list">
                <li class="p-breadcrumb-list-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/" itemprop="url"><span itemprop="title">トップページ</a></li>
                <li class="p-breadcrumb-list-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/case-competition/" itemprop="url"><span itemprop="title">設計コンペで家を建てよう！</a></li>
                <li class="p-breadcrumb-list-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title">2015年07月</span></li>
            </ul>

            <div class="p-case-competition-hero-group">
                <p class="p-case-competition-hero-heading-1"><img src="/case-competition/img/hero-txt-1.png" alt="設計コンペで家を建てよう！"></p>
                <div class="p-case-competition-hero-panel">
                    <img src="/case-competition/201507/img/case-1/hero-image-1.png" alt="今回のモデル　Oさんファミリー">
                    <p class="p-case-competition-hero-panel-heading">Oさんファミリー</p>
                    <p class="p-case-competition-hero-panel-txt">ご主人（31歳）・奥さま（34歳）・長男（2歳）<br>●ご主人は会社勤め、奥さまは専業主婦。<br>今後は共働きの予定。</p>
                </div>
            </div>
        </div><!-- /#base-container-head -->

        <?php
            $backnumber = array(
                'date' => '201507',
                'case' => 1,
            );
            include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/case-competition/backnumber-group.tpl");
        ?>


    <div id="base-content">

        <p class="p-case-competition-heading-3">リクエストに合わせ、最大5社の建築会社がプランと見積もりを提案！<br>
        各社がプライドを賭けて作ったプランを、<br>
        プロのサポートを受けながら比較検討できるのが設計コンペの魅力です。<br>
        今回はOさんご一家の設計コンペに密着してきました。</p>



        <div class="p-case-competition-item type-step-0">
            <p class="p-case-competition-heading-1"><img src="/case-competition/201507/img/case-1/heading-1.png" alt="スタートはすまいポート21から"></p>
            <div class="p-case-competition-half">
                <div class="p-case-competition-half-item type-left">
                    <p>2歳になる息子さんと3人家族のOさんファミリーが「すまいポート21札幌東」に足を運んだのは今年の始めのこと。ご主人、奥さまともに戸建住宅で育ち、すくすくと元気に成長する長男の事と、ゆくゆくはお子さんをもう一人もうけたいと考えていたおふたりは、戸建住宅の購入を検討していました。とは言え、初めて経験する家づくり。明確な理想はあるもののどこから始めて良いか手探りだったおふたりは、個性の違う建築会社の話を聞くことができる設計コンペを受けることを決断されました。</p>
                </div>
                <div class="p-case-competition-half-item type-right">
                    <div>
                        <img class="type-step-0-img" src="/case-competition/201507/img/case-1/intro-image-1.jpg" alt="すまいポート21札幌東　外観">
                        <p>今回のコンペの舞台は…</p>
                        <img src="/resources/img/base/logo-sumaiport21-higashi-sapporo.svg" alt="すまいポート21札幌東">
                        <p>電話/011-887-9191<br>
                        住所/札幌市厚別区厚別中央2条1丁目2-20<br>
                        営業時間/10時～19時（水曜日定休）</p>
                    </div>
                </div>
            </div>
        </div>



        <div class="p-case-competition-item">
            <p class="p-case-competition-heading-1"><img src="/case-competition/201507/img/case-1/step-heading-1.png" alt="STEP1 敏腕ＦＰがライフプランを提案！ まずは資金計画を相談しよう"></p>
            <div class="p-case-competition-half">
                <div class="p-case-competition-half-item type-left">
                    <img src="/case-competition/201507/img/case-1/step-1-image-1.jpg" alt="「1年後に次の子が欲しいと思っていまして…」「では2人分の教育資金を念頭に置かなくてはなりませんね」">
                </div>
                <div class="p-case-competition-half-item type-right">
                    <p class="p-case-competition-heading-2">将来を見すえた借り入れ額を算出！</p>
                    <p>住まいづくりのスタートは、しっかりとした資金計画を立てるところから始まります。ポイントは「借りられる額」を計算するのではなく、その後の人生設計を見すえ、心豊かな生活をエンジョイしながらも無理なく「返せる額」を算出すること。家のために働くというのでは本末転倒です。<br>すまいポート21では経験豊かなFPがライフプランのシミュレーション作りをサポート。自己資金と借入額からなる無理のない予算を算出します。</p>
                </div>
            </div>

            <div class="p-case-competition-message">
                <div class="p-case-competition-message-staff">
                    <div class="type-image"><img src="/case-competition/201507/img/case-1/step-1-image-2.jpg" alt="ソニー生命ライフプランナー ファイナンシャルプランナー 加賀雄喜さん"></div>
                    <div class="type-txt">
                        <p>Ｏ様ご一家の場合、二人のお子さんにかかる教育費のピークを考えながらライフプランをシミュレート。私立の理系への進学など最もお金の掛かるケースでも、無理なく学費をまかないつつ余裕のある暮らしができる資金計画をご提案しました。</p>
                        <p><span class="type-position">ソニー生命ライフプランナー<br>ファイナンシャルプランナー</span><br>
                        <span class="type-name">加賀 雄喜 さん</span></p>
                    </div>
                </div>
                <div class="p-case-competition-message-item">
                    <img src="/case-competition/201507/img/case-1/step-1-image-3.jpg" alt="ライフプラン　イメージ">
                    <p class="u-txt-12">一年後に家族を増やしたいという希望や、その後に奥さまが働きに出るというファクターを元にFPがライフプランを作成。適切な資金計画をアドバイスします。</p>
                </div>
            </div>
        </div>


        <div class="p-case-competition-item">
            <p class="p-case-competition-heading-1"><img src="/case-competition/201507/img/case-1/step-heading-2.png" alt="STEP2 腕利きの宅地建物取引士が徹底サーチ！理想の土地を見つけよう！"></p>
            <div class="p-case-competition-half">
                <div class="p-case-competition-half-item type-left">
                    <img src="/case-competition/201507/img/case-1/step-2-image-1.jpg" alt="すまいぽーと21では提携各社が持つ土地情報の検索が可能">
                    <p class="u-txt-14">すまいぽーと21では提携各社が持つ土地情報の検索が可能。希望に合うものが無くても土地のエキスパートが理想の場所をお探しします。</p>
                </div>
                <div class="p-case-competition-half-item type-right">
                    <p class="p-case-competition-heading-2">土地のプロならではの豊富な情報を提供！</p>
                    <p>住めば都──なんて言葉もありますが、ずっと住み続ける場所だと考えると、土地探しはおいそれとは妥協できません。また土地によっては電柱の位置や排雪スペースが影響し、建てる家の形状にも影響が出ることも…。価格はもちろんのこと、そうした条件も見据えての土地探しには、第三者的なポジションに立ったプロのサポートが欠かせません。すまいポート21では提携不動産会社が条件に見合った土地を徹底サーチ。価格など条件の交渉も引き受けてくれます。</p>
                    <div class="p-case-competition-bg">
                        <p>Oさんが出された条件</p>
                        <ul>
                            <li>札幌市内もしくは江別などの近郊</li>
                            <li>学校やスーパーに近いこと</li>
                            <li>50坪以上の土地を確保できること</li>
                            <li>交通の便より周囲の環境が子育てに適している</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="p-case-competition-message-type-1">
                <div class="p-case-competition-message-type-1-staff">
                    <div class="type-image"><img src="/case-competition/201507/img/case-1/step-2-image-2.jpg" alt="宅地建物取引士 村岡洋平さん"></div>
                    <div class="type-txt">
                        <p>資金計画に基づいた予算に合わせ、条件に合った札幌市とその周辺の土地情報をご提供いたします。候補の土地は現地での見学が可能です。ご希望に沿う土地が見つかったら、価格交渉やご契約のサポートももちろんいたします！</p>
                        <span class="type-position">宅地建物取引士</span>
                        <span class="type-name">村岡 洋平さん</span>
                    </div>
                </div>
                <div class="p-case-competition-message-type-1-balloon type-staff-chihiro">
                    <div class="type-balloon">ここだけの話ですが、O様がご契約された土地は価格交渉の結果、値引きに成功したそうです♪</div>
                    <div class="type-profile">
                        <span class="type-position">すまいポート21札幌東 アドバイザー</span>
                        <span class="type-name">本庄 ちひろ</span>
                    </div>
                </div>
            </div>
        </div>



        <div class="p-case-competition-item">
            <p class="p-case-competition-heading-1"><img src="/case-competition/201507/img/case-1/step-heading-3.png" alt="STEP3 理想の家のイメージ作り！一級建築士と打ち合わせ"></p>
            <p class="u-txt-center">土地と資金計画が定まったら、いよいよコンペの下準備。まずは建設会社各社に対するリクエストを形にしていきます。<br>要望はプロの一級建築士さんがまとめてくれるので知識が無くても安心♪</p>
            <br>
            <div class="p-case-competition-half">
                <div class="p-case-competition-half-item type-left">
                    <img src="/case-competition/201507/img/case-1/step-3-image-1.jpg" alt="「僕個人のプライベートスペースもできれば…」「どんな細かな希望もドンドン出しましょう！」">
                </div>
                <div class="p-case-competition-half-item type-right">
                    <p class="p-case-competition-heading-2">難しい用語を知らなくても大丈夫！<br>ヒアリングを元にプロが要望書を作成</p>
                    <p>設計コンペの第一歩は、すまいポート21に登録する建築会社に提示する設計の条件をまとめること。すまいポート21では、腕利きの一級建築士さんが的確なアドバイスを交えながらヒアリング。憧れのマイホームに抱いているふわふわとしたイメージを、明確なリクエストとして形にし各社に提示します。間取りやデザイン、暖房や工法など分からないこともキッチリ教えてくれるので安心。</p>
                    <div class="p-case-competition-bg">
                        <p><strong>Oさんご夫婦が提示された主なリクエスト</strong></p>
                        <ul>
                            <li>外観は奇抜な物ではなくオーソドックスに</li>
                            <li>子ども部屋を二つとご主人の個人スペースを</li>
                            <li>広めの玄関でできればシュークローゼットが欲しい</li>
                            <li>座ってお茶したり縫い物ができるママスペースを</li>
                            <li>冬場も暖かい高気密な家。屋根は落雪屋根が第一希望</li>
                            <li>キッチンがお客様から見られないような間取り</li>
                            <li>1階にはリビングの他に客間兼子どもたちの遊び場を</li>
                            <li>子どもたちが帰ってきたのが分かる動線を</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="p-case-competition-message-type-1">
                <div class="p-case-competition-message-type-1-staff">
                    <div class="type-image"><img src="/case-competition/201507/img/case-1/step-3-image-2.jpg" alt="一級建築士 堀由佳里さん"></div>
                    <div class="type-txt">
                        <p>設計のコンペの良いところは、提示した条件に合わせて他社よりも良いプランや見積もりを提案しようと各社が頑張ってくれるところ。家は安い買い物ではありませんから、理想の家へのリクエストは遠慮なく仰ってください。</p>
                        <span class="type-position">一級建築士</span>
                        <span class="type-name">堀 由佳里さん</span>
                    </div>
                </div>
                <div class="p-case-competition-message-type-1-balloon type-staff-chihiro-2">
                    <div class="type-balloon">O様夫婦が出された要望は登録する各社に提示され、「我が社こそは！」という建設会社が名乗りを挙げます。お客様はそこから最大5社を選び、いよいよ担当者との顔合わせです。</div>
                </div>
            </div>
        </div>


        <p class="u-txt-center"><img src="/case-competition/201507/img/case-1/step-3-txt-1.png" alt="名乗りを挙げた会社の中から気になる5社をセレクト!"></p>


        <div class="p-case-competition-item">
            <p class="p-case-competition-heading-1"><img src="/case-competition/201507/img/case-1/step-heading-4.png" alt="STEP4 選んだ各社の担当者と顔合わせ。各社とのオリエンテーション"></p>
            <div class="p-case-competition-half">
                <div class="p-case-competition-half-item type-left">
                    <img src="/case-competition/201507/img/case-1/step-4-image-1.jpg" alt="各社とのオリエンテーション">
                </div>
                <div class="p-case-competition-half-item type-right">
                    <p class="p-case-competition-heading-2">ヒアリングシートを元に各社の担当と質疑応答</p>
                    <p>指名した各建築会社の設計士・営業担当者とのオリエンテーションの場を設けます。各社持ち時間は40分。事前に出したヒアリングシートを元に、質疑応答をくり返してプラン作りの土台を固めます。家づくりは長い作業。また家を建てた後もメンテナンスなどでお付き合いする会社ですから、担当者とのフィーリングも重要なチェック項目かも。</p>
                </div>
            </div>
            <div class="p-case-competition-message">
                <div class="p-case-competition-message-staff">
                    <div class="type-image"><img src="/case-competition/201507/img/case-1/step-4-image-2.jpg" alt="一級建築士 堀由佳里さん"></div>
                    <div class="type-txt">
                        <p>オリエンテーションではお客様からも各社に質問できます。断熱や耐震の工法に関しては難しい用語も出てきがちですが、私たち一級建築士が同席して分かりやすくご説明しますよ。</p>
                    </div>
                </div>
                <div class="p-case-competition-message-item">
                    <div class="type-image"><img src="/case-competition/201507/img/case-1/step-4-image-3.jpg" alt="初めて会う建築会社の担当者との打ち合わせ"></div>
                    <p class="type-txt">初めて会う建築会社の担当者との打ち合わせ。思いのたけを存分に伝えましょう。<br>また各社にはお客様の詳細な個人情報は伝えないので、個別に営業が入ることはありません。</p>
                </div>
            </div>
        </div>




        <div class="p-case-competition-item">
            <p class="p-case-competition-heading-1"><img src="/case-competition/201507/img/case-1/step-heading-5.png" alt="STEP5 各社が練りにねった自慢のプランを披露！設計コンペがスタート!!"></p>

            <div class="p-case-competition-conpe-group type-entry-1">
                <div class="p-case-competition-conpe-heading">
                    <div class="type-num">ENTRY-1</div>
                    <p class="type-name">竹内建設</p>
                    <ul class="type-staff">
                        <li>
                            <img src="/case-competition/201507/img/case-1/conpe-1-staff-1.jpg" alt="営業 深見貴義さん">
                            <span>営業<br>深見 貴義さん</span>
                        </li>
                        <li>
                            <img src="/case-competition/201507/img/case-1/conpe-1-staff-2.jpg" alt="設計 木下真佐江さん">
                            <span>設計<br>木下 真佐江さん</span>
                        </li>
                    </ul>
                </div>
                <div class="p-case-competition-conpe-left">
                    <p class="type-txt-heading">ココにこだわりました！</p>
                    <p>『親子の会話がはずむ、明るく楽しい家』をテーマにプランを考えました。いつでもお互いの声が届くよう、奥様の城であるキッチンとダイニング、そしてお子さんを安心して遊ばせておけるキッズスペースに一体感を持たせています。</p>
                    <div class="p-case-competition-conpe-check">
                        <p class="type-txt-1"><img src="/case-competition/201507/img/case-1/conpe-txt-check.png" alt="一級建築士チェック！"></p>
                        <p class="type-txt-2">ママとお子さんの目線に立ったキッチンとユーティリティ、キッズスペースの関係性がいいですね。カップボードスペースや食器棚用のスペースを考慮するなどの工夫も奥様にうれしいところでしょう。</p>
                    </div>
                    <div class="p-case-competition-conpe-data">
                        <p class="type-txt-1"><img src="/case-competition/201507/img/case-1/conpe-txt-data.png" alt="プランデータ"></p>
                        <ul>
                            <li>●延べ面積／96.06㎡（29.00坪）</li>
                            <li>●1F床面積／47.20㎡（14.25坪）</li>
                            <li>●2F床面積／48.86㎡（14.75坪）</li>
                        </ul>
                    </div>
                    <p class="type-txt-heading">竹内建設の家ってこんな家</p>
                    <p>長期優良住宅が竹内建設の家の標準仕様。建材も自社工場で品質を徹底管理。基礎から構造躯体にいたるまでこだわりを持って施工しています。見えない部分への確かな技術が長く安心して住める家を可能にしているのでしょう。</p>

                    <div class="p-case-competition-conpe-logo">
                        <img src="/case-competition/201507/img/case-1/conpe-logo-takeuchi.png" alt="竹内建設株式会社">
                    </div>

                    <div class="p-case-competition-conpe-profile">
                        <dl>
                            <dt>竹内建設 株式会社</dt>
                            <dd>●設立／1981年　●従業員数／43名<br>●TEL／011-851-2430  FAX／011-851-2642<br>●住所／札幌市豊平区月寒東1条18丁目1-35</dd>
                            <dd><a href="http://www.tk2430.co.jp/" target="_blank">ウェブサイトはこちら</a></dd>
                        </dl>
                    </div>
                </div>
                <div class="p-case-competition-conpe-right">
                    <div class="p-case-competition-conpe-floor">
                        <div class="p-case-competition-conpe-floor-point type-num-1 js-point-1-1"></div>
                        <div class="p-case-competition-conpe-floor-point type-num-2 js-point-1-2"></div>
                        <img src="/case-competition/201507/img/case-1/conpe-floor-1-1.png" alt="1F 間取り図">
                    </div>
                    <div class="p-case-competition-conpe-floor">
                        <img src="/case-competition/201507/img/case-1/conpe-floor-1-2.png" alt="2F 間取り図">
                        <div class="p-case-competition-conpe-floor-point type-num-3 js-point-1-3"></div>
                    </div>
                </div>
            </div>

            <div class="p-case-competition-conpe-group type-entry-2">
                <div class="p-case-competition-conpe-heading">
                    <div class="type-num">ENTRY-2</div>
                    <p class="type-name">匠建コーポレーション</p>
                    <ul class="type-staff">
                        <li>
                            <img src="/case-competition/201507/img/case-1/conpe-2-staff-1.jpg" alt="営業 布廣知哉さん">
                            <span>営業<br>布廣 知哉さん</span>
                        </li>
                        <li>
                            <img src="/case-competition/201507/img/case-1/conpe-2-staff-2.jpg" alt="設計 武井哲也さん">
                            <span>設計<br>武井 哲也さん</span>
                        </li>
                    </ul>
                </div>
                <div class="p-case-competition-conpe-left">
                    <p class="type-txt-heading">ココにこだわりました！</p>
                    <p>「暖かい家にしたい」というご夫婦の希望を元に、熱の放出を抑えるよう建物は表面積が少ない正方形をイメージ。ご家族が帰宅してからの動線と家事動線を考慮して間取りに工夫を施しました。</p>
                    <div class="p-case-competition-conpe-check">
                        <p class="type-txt-1"><img src="/case-competition/201507/img/case-1/conpe-txt-check.png" alt="一級建築士チェック！"></p>
                        <p class="type-txt-2">奥さま目線に立った動線がユニーク。お子さんが泥だらけで帰ってきても、そのまま真っ直ぐお風呂に入れられますね。２つの子ども部屋はクローゼットを間に置くなど、お子さんが成長してからのプライバシーも考えられています。</p>
                    </div>
                    <div class="p-case-competition-conpe-data">
                        <p class="type-txt-1"><img src="/case-competition/201507/img/case-1/conpe-txt-data.png" alt="プランデータ"></p>
                        <ul>
                            <li>延べ床面積／104.34㎡（31.56坪）</li>
                            <li>1F床面積／57.97㎡（17.54坪）</li>
                            <li>2F床面積／46.37㎡（14.03坪）</li>
                        </ul>
                    </div>
                    <p class="type-txt-heading">匠建コーポレーションの家ってこんな家</p>
                    <p>自社で大工さんを抱えており、品質の管理が徹底されているのが特徴。コストも抑えられるので、浮いた予算の分だけ大きめの家を建てられます。また独自の床暖房を採用し、低コストで暖かい冬を過ごせます。</p>

                    <div class="p-case-competition-conpe-logo">
                        <img src="/case-competition/201507/img/case-1/conpe-logo-takken.png" alt="株式会社匠建コーポレーション">
                    </div>

                    <div class="p-case-competition-conpe-profile">
                        <dl>
                            <dt>株式会社匠建コーポレーション</dt>
                            <dd>●設立／2004年　●従業員数／44名<br>●TEL／011-733-5506   FAX／011-733-5507<br>●住所／札幌市東区北45条東5丁目5-16</dd>
                            <dd><a href="http://www.takken.bz/" target="_blank">ウェブサイトはこちら</a></dd>
                        </dl>
                    </div>
                </div>
                <div class="p-case-competition-conpe-right">
                    <div class="p-case-competition-conpe-floor">
                        <img src="/case-competition/201507/img/case-1/conpe-floor-2-1.png" alt="1F 間取り">
                        <div class="p-case-competition-conpe-floor-point type-num-1 js-point-2-1"></div>
                        <div class="p-case-competition-conpe-floor-point type-num-2 js-point-2-2"></div>
                    </div>
                    <div class="p-case-competition-conpe-floor">
                        <img src="/case-competition/201507/img/case-1/conpe-floor-2-2.png" alt="2F 間取り">
                        <div class="p-case-competition-conpe-floor-point type-num-3 js-point-2-3"></div>
                    </div>
                </div>
            </div>

            <div class="p-case-competition-conpe-group type-entry-3">
                <div class="p-case-competition-conpe-heading">
                    <div class="type-num">ENTRY-3</div>
                    <p class="type-name">大進ホーム</p>
                    <ul class="type-staff">
                        <li>
                            <img src="/case-competition/201507/img/case-1/conpe-3-staff-1.jpg" alt="営業 平井達也さん">
                            <span>営業<br>平井 達也さん</span>
                        </li>
                        <li>
                            <img src="/case-competition/201507/img/case-1/conpe-3-staff-2.jpg" alt="設計 打出淳一さん">
                            <span>設計<br>打出 淳一さん</span>
                        </li>
                    </ul>
                </div>
                <div class="p-case-competition-conpe-left">
                    <p class="type-txt-heading">ココにこだわりました！</p>
                    <p>坪数の違う3プランを用意いたしました。どれも階段を中央に配置することで、日中はずっと日が差し込む明るい家です。奥さまの希望だった収納スペースを多く用意。回遊式動線で家事での移動距離を縮めました。</p>
                    <div class="p-case-competition-conpe-check">
                        <p class="type-txt-1"><img src="/case-competition/201507/img/case-1/conpe-txt-check.png" alt="一級建築士チェック！"></p>
                        <p class="type-txt-2">収納スペースをしっかりと考えられた奥さま目線に立ったプランですね。間取りや断熱に関する質問にもメジャーを使ったり、図をその場で描いて説明するなど丁寧なプレゼンにご夫婦も好感を持たれていました。</p>
                    </div>
                    <div class="p-case-competition-conpe-data">
                        <p class="type-txt-1"><img src="/case-competition/201507/img/case-1/conpe-txt-data.png" alt="プランデータ"></p>
                        <ul>
                            <li>延べ床面積／107.44㎡（32.50坪）</li>
                            <li>1F床面積／58.68㎡（17.75坪）</li>
                            <li>2F床面積／48.76㎡（14.75坪）</li>
                        </ul>
                    </div>
                    <p class="type-txt-heading">大進ホームの家ってこんな家</p>
                    <p>軸組構法に使用する柱や梁は通常6尺間隔ですが、3尺間隔で施工する事で地震や積雪に強い家を実現。建物全体を断熱材で包む独自の工法や付加断熱で、次世代省エネ基準をクリア。住む人の健康を考えた建材選びも高ポイントです。</p>

                    <div class="p-case-competition-conpe-logo">
                        <img src="/case-competition/201507/img/case-1/conpe-logo-taishin.png" alt="大進ホーム株式会社">
                    </div>

                    <div class="p-case-competition-conpe-profile">
                        <dl>
                            <dt>大進ホーム 株式会社</dt>
                            <dd>●設立／1971年　　●従業員数／25名<br>●TEL／011-783-1122  FAX／011-783-7741<br>●住所／札幌市東区東苗穂3条1丁目2-1</dd>
                            <dd><a href="http://taishinhome.com/" target="_blank">ウェブサイトはこちら</a></dd>
                        </dl>
                    </div>
                </div>
                <div class="p-case-competition-conpe-right">
                    <div class="p-case-competition-conpe-floor">
                        <img src="/case-competition/201507/img/case-1/conpe-floor-3-1.png" alt="1F 間取り">
                        <div class="p-case-competition-conpe-floor-point type-num-1 js-point-3-1"></div>
                        <div class="p-case-competition-conpe-floor-point type-num-2 js-point-3-2"></div>
                        <div class="p-case-competition-conpe-floor-point type-num-3 js-point-3-3"></div>
                    </div>
                    <div class="p-case-competition-conpe-floor">
                        <img src="/case-competition/201507/img/case-1/conpe-floor-3-2.png" alt="2F 間取り">
                        <div class="p-case-competition-conpe-floor-point type-num-2 js-point-3-2 type-2"></div>
                    </div>
                </div>
            </div>

            <div class="p-case-competition-conpe-group type-entry-4">
                <div class="p-case-competition-conpe-heading">
                    <div class="type-num">ENTRY-4</div>
                    <p class="type-name">土屋ホーム</p>
                    <ul class="type-staff">
                        <li>
                            <img src="/case-competition/201507/img/case-1/conpe-4-staff-1.jpg" alt="営業 村本嘉幸さん">
                            <span>営業<br>村本 嘉幸さん</span>
                        </li>
                        <li>
                            <img src="/case-competition/201507/img/case-1/conpe-4-staff-2.jpg" alt="設計 長野孝浩さん">
                            <span>設計<br>長野 孝浩さん</span>
                        </li>
                    </ul>
                </div>
                <div class="p-case-competition-conpe-left">
                    <p class="type-txt-heading">ココにこだわりました！</p>
                    <p>家族のコミュニケーションを大切にした、コンパクトにつながる家をテーマにプランをまとめました。もちろん弊社の強みである熱交換換気システムや床下換気システム、外断熱も標準装備です。</p>
                    <div class="p-case-competition-conpe-check">
                        <p class="type-txt-1"><img src="/case-competition/201507/img/case-1/conpe-txt-check.png" alt="一級建築士チェック！"></p>
                        <p class="type-txt-2">述べ床面積はコンパクトですが、余計な通路を上手に省き手狭さは全く感じさせませんね。落雪スペースは背面に確保。実家の落雪トラブルを経験し、落雪屋根の形状やスペースを気にかけていたご主人も安心してました。</p>
                    </div>
                    <div class="p-case-competition-conpe-data">
                        <p class="type-txt-1"><img src="/case-competition/201507/img/case-1/conpe-txt-data.png" alt="プランデータ"></p>
                        <ul>
                            <li>延べ床面積／88.93㎡（26.90坪）</li>
                            <li>1F床面積／46.28㎡（14.00坪）</li>
                            <li>2F床面積／42.64㎡（12.90坪）</li>
                        </ul>
                    </div>
                    <p class="type-txt-heading">土屋ホームの家ってこんな家</p>
                    <p>熱交換換気システムを始め、外断熱や基礎断熱を標準装備とした、高気密の“温度差を作らない家”が自慢。意匠だけでなく機能性を追求した家づくりに定評があります。自社の大工が施工にあたるので品質の高さも折り紙つき。</p>

                    <div class="p-case-competition-conpe-logo">
                        <img src="/case-competition/201507/img/case-1/conpe-logo-tsuchiya.png" alt="株式会社土屋ホーム">
                    </div>

                    <div class="p-case-competition-conpe-profile">
                        <dl>
                            <dt>株式会社 土屋ホーム</dt>
                            <dd>●設立／2008年　　●従業員数／491名<br>●TEL／011-717-3333   FAX／011-717-6452<br>●住所／札幌市北区北9条西3丁目7<br>　　　　土屋ホーム札幌北九条ビル</dd>
                            <dd><a href="http://www.tsuchiyahome.jp/" target="_blank">ウェブサイトはこちら</a></dd>
                        </dl>
                    </div>
                </div>
                <div class="p-case-competition-conpe-right">
                    <div class="p-case-competition-conpe-floor">
                        <img src="/case-competition/201507/img/case-1/conpe-floor-4-1.png" alt="1F 間取り">
                        <div class="p-case-competition-conpe-floor-point type-num-1 js-point-4-1"></div>
                        <div class="p-case-competition-conpe-floor-point type-num-1 js-point-4-1 type-2"></div>
                        <div class="p-case-competition-conpe-floor-point type-num-2 js-point-4-2"></div>
                    </div>
                    <div class="p-case-competition-conpe-floor">
                        <img src="/case-competition/201507/img/case-1/conpe-floor-4-2.png" alt="2F 間取り">
                        <div class="p-case-competition-conpe-floor-point type-num-3 js-point-4-3"></div>
                    </div>
                </div>
            </div>

            <div class="p-case-competition-conpe-group type-entry-5">
                <div class="p-case-competition-conpe-heading">
                    <div class="type-num">ENTRY-5</div>
                    <p class="type-name">アイフルホーム森林公園駅前店</p>
                    <ul class="type-staff">
                        <li>
                            <img src="/case-competition/201507/img/case-1/conpe-5-staff-1.jpg" alt="営業 中山貴之さん">
                            <span>営業<br>中山 貴之さん</span>
                        </li>
                        <li>
                        </li>
                    </ul>
                </div>
                <div class="p-case-competition-conpe-left">
                    <p class="type-txt-heading">ココにこだわりました！</p>
                    <p>第一に考えたのは奥さまが子育てしやすい間取り。子育てをメインに考えながら、無駄のない家事動線作りを心掛けました。プランはご要望をすべて取り入れた物と、予算に合わせたプランの2つをご用意しました。</p>
                    <div class="p-case-competition-conpe-check">
                        <p class="type-txt-1"><img src="/case-competition/201507/img/case-1/conpe-txt-check.png" alt="一級建築士チェック！"></p>
                        <p class="type-txt-2">視点を変えたパースはイメージを掴みやすくてgood。使い道を考えるのも楽しいフリースペースも魅力ですね。シュークローゼットなどの収納も生活スペースに影響ないようさり気なく配してあります。</p>
                    </div>
                    <div class="p-case-competition-conpe-data">
                        <p class="type-txt-1"><img src="/case-competition/201507/img/case-1/conpe-txt-data.png" alt="プランデータ"></p>
                        <ul>
                            <li>延べ床面積／113.449㎡（34.25坪）</li>
                            <li>1F床面積／61.279㎡（18.50坪）</li>
                            <li>2F床面積／52.17㎡（15.75坪）</li>
                        </ul>
                    </div>
                    <p class="type-txt-heading">アイフルホームの家ってこんな家</p>
                    <p>“こどもにやさしいは、みんなにやさしい”がモットー。家事をしながら子どもを見守れるストレスフリー、キッズセーフティを主眼にした家づくりは、お年寄りにとっても快適な住空間。経産省の「キッズデザイン賞」も7年連続受賞！</p>

                    <div class="p-case-competition-conpe-logo">
                        <img src="/case-competition/201507/img/case-1/conpe-logo-aifull.png" alt="アイフルホーム">
                    </div>

                    <div class="p-case-competition-conpe-profile">
                        <dl>
                            <dt>アイフルホーム札幌中央＆森林公園駅前店（株式会社 アリビオ）</dt>
                            <dd>●設立／2011年　　●従業員数／34名<br>●TEL／011-208-7799  FAX／011-208-7780<br>●住所／札幌市中央区北5条西11丁目15-4</dd>
                            <dd><a href="http://www.alivio-eyeful.jp/" target="_blank">ウェブサイトはこちら</a></dd>
                        </dl>
                    </div>
                </div>
                <div class="p-case-competition-conpe-right">
                    <div class="p-case-competition-conpe-floor">
                        <img src="/case-competition/201507/img/case-1/conpe-floor-5-1.png" alt="1F 間取り">
                        <div class="p-case-competition-conpe-floor-point type-num-1 js-point-5-1"></div>
                    </div>
                    <div class="p-case-competition-conpe-floor">
                        <img src="/case-competition/201507/img/case-1/conpe-floor-5-2.png" alt="2F 間取り">
                        <div class="p-case-competition-conpe-floor-point type-num-2 js-point-5-2"></div>
                        <div class="p-case-competition-conpe-floor-point type-num-3 js-point-5-3"></div>
                    </div>
                </div>
            </div>

        </div>




        <div class="p-case-competition-item p-case-competition-item-6">
            <p class="p-case-competition-heading-1"><img src="/case-competition/201507/img/case-1/step-heading-6.png" alt="STEP6 プランの中から１社を選び契約＆施工開始へ、建築会社を決定!!"></p>
            <div class="p-case-competition-half">
                <div class="p-case-competition-half-item type-left">
                    <img src="/case-competition/201507/img/case-1/step-6-image-1.jpg" alt="すまいポートを頼ってとっても助かりました！">
                </div>
                <div class="p-case-competition-half-item type-right">
                    <p>各社の熱のこもったプランの提案を受けた後は、いよいよ建築会社の決定です。プラン内容、住宅の性能、担当者の人柄…さまざまな要素を比較し、Oさん夫婦もご決断されたようです。</p>
                    <div class="p-case-competition-item-6-message">
                        <p class="type-txt-1">コンペを終えての感想</p>
                        <p class="type-txt-2">正直な話、すぐに1社に絞れると思っていたのですが、どのプランも魅力的でとても迷いました。間取り図なども5社それぞれ違いがあって楽しかったですね。もし最初から個別商談だったら違和感があってもうまく伝えられなかったり、理解できない部分もあったと思いますが、一級建築士の先生が的確にアドバイスや説明をしてくれたので、安心して比較検討ができました。土地探しや予算作りも第3者のプロがサポートしてくれて助かりました。本当にすまいポート21と出会えて良かったですね。</p>
                    </div>
                </div>
            </div>


            <div class="p-case-competition-message-type-1 type-orange">
                <div class="p-case-competition-message-type-1-staff">
                    <div class="type-image"><img src="/case-competition/201507/img/case-1/step-6-image-2.jpg" alt="一級建築士 堀由佳里さん"></div>
                    <div class="type-txt">
                        <p class="type-txt-heading">一級建築士・堀先生の総評</p>
                        <p>今回、O様ご夫婦が出されたリクエストは外観に関しては奇抜な物はNG。第一希望は落雪屋根という事で、土地のスペース上の制約がある中、各建築会社は間取りにひと工夫されていました。各社の個性が出るプラン内容でしたね。</p>
                    </div>
                </div>
                <div class="p-case-competition-message-type-1-balloon type-staff-chihiro-3">
                    <div class="type-balloon">ありがとうございました。<br>またお気軽にお越しください！</div>
                </div>
            </div>
        </div>




        <div class="p-case-competition-next-group">
            <div class="p-case-competition-next-lead">
                <p class="type-txt-1">でも、家づくりはここからが本番です！</p>
                <p class="type-txt-2">理想のプランが見つかり、建築会社が決定してからが家づくりの本番。<br>
                図面の修正や建具などの仕様の決定、外構をどうするか…などなど、検討課題は盛りだくさんなのです。</p>
            </div>

            <div class="p-case-competition-next-point-list">
                <dl class="p-case-competition-next-point-list-item">
                    <dt>すべての材料が揃った後は<br>正式な支払い計画の作成</dt>
                    <dd>正式な費用が決定したら、その内容を一級建築士の先生がしっかり吟味。適正な内容か精査します。また外構などの費用のローンへの組み込みもすまいポート21にご相談ください。</dd>
                </dl>
                <dl class="p-case-competition-next-point-list-item">
                    <dt>駐車場や家の周りの塀など<br>外構のあしらいを決定</dt>
                    <dd>建物はもちろん大切ですが、忘れてはいけないのが車庫や塀、庭など家をとり囲む外構の造作。すまいポート21では信頼の置ける外構のプロもご紹介する事ができます。</dd>
                </dl>
                <dl class="p-case-competition-next-point-list-item">
                    <dt>細かなリクエストを出し<br>正式な図面を作成</dt>
                    <dd>プレゼンで提案されたプランをベースに、ご夫婦の細かなリクエストをすり合わせて正式な図面を作成します。疑問や悩みはすまいポート21のスタッフがご相談に乗ります。</dd>
                </dl>
            </div>

            <p class="p-case-competition-next-heading">住まいに関する事なら何でもご相談を</p>

            <ul class="p-case-competition-next-address-list">
                <li class="p-case-competition-next-address-list-item">
                    <img src="/resources/img/base/logo-sumaiport21-higashi-sapporo.svg" width="320" alt="すまいポート21札幌東"><br>
                    <p class="p-about-shop-tel">TEL.<span class="type-num">011-887-9191</span></p>
                    〒004-0052<br>
                    札幌市厚別区厚別中央2条1丁目2-20<br>
                    営業時間　AM10：00～PM7：00（水曜日定休）
                </li>
                <li class="p-case-competition-next-address-list-item">
                    <img src="/resources/img/base/logo-sumaiport21-sapporo-chuo.svg" width="320" alt="すまいポート21札幌中央"><br>
                    <p class="p-about-shop-tel">TEL.<span class="type-num">011-590-0108</span></p>
                    〒064-0953<br>
                    札幌市中央区宮の森3条1丁目4-1タイびる１F<br>
                    営業時間　AM10：00～PM7：00（水曜日定休）
                </li>
                <li class="p-case-competition-next-address-list-item">
                    <img class="type-image" src="/case-competition/201507/img/case-1/step-6-image-5.png">
                    <p class="type-txt-1">コンペの後もお任せください</p>
                    <p class="type-txt-2">初めての家づくりは誰でも分からない事がいっぱいです。すまいポート21はコンペが終わった後も、家づくりに関する悩みや疑問にしっかりと対応いたします。</p>
                </li>
            </ul>
        </div>

    </div>
    </div><!-- /#base-container -->

    <?php include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/base-navigation.tpl"); ?>
    <?php include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/base-footer.tpl"); ?>
</div><!-- /#base-page -->
<script>
pageCaseCompetition.conpe201507();
</script>
</body>
</html>