// ------------------------------
// Container-head CSS
// ------------------------------

@import '../../setting/_variables';

/**
 * p-breadcrumb-list
 *
 */
.p-breadcrumb-list {
  @if $mq-all {
    list-style: none;
    max-width: 1220px;
    padding: 20px 0 0;
    margin: 0 auto 30px;
    @include clearfix;
  }
  @if $mq-tablet {
    margin: 0 auto 10px;
  }
  @if $mq-sp {
    margin: 0 auto 10px;
    padding: 10px;
  }
}
.p-breadcrumb-list-item {
  @if $mq-all {
    float: left;
    @include fz(12, 22);
    a { text-decoration: none; }
    &:after {
      content: '>';
      margin: 0 10px;
    }
    &:last-child:after {
      content: '';
      margin: 0;
    }
  }
  @if $mq-tablet {
    @include fz(10, 22);
    &:after {
      content: '>';
      margin: 0 5px;
    }
  }
}

/**
 * p-backnumber
 *
 */
.p-backnumber-group {
  @if $mq-all {
    margin: 0 0 40px 0;
    background-color: #fdd835;
    &.type-orange { background-color: #f29600; }
    &.type-blue { background-color: #42a5f5; }
    &.type-green { background-color: #78ad71; }
  }
  @if $mq-sp {
    margin: 0 0 20px 0;
  }
}

.p-backnumber {
  @if $mq-all {
    display: table;
    width: 100%;
    max-width: 1220px;
    margin: 0 auto;
  }
  @if $mq-default {
  }
  @if $mq-tablet {
    display: block;
  }
}


.p-backnumber-inner {
  @if $mq-all {
    display: table-cell;
    height: 108px;
    vertical-align: middle;
  }
  @if $mq-default {
    height: auto;
    padding: 20px;
  }
  @if $mq-tablet {
    display: block;
  }
  @if $mq-sp {
    padding: 10px;
  }
}

.p-backnumber-label {
  @if $mq-all {
    display: inline-block;
    margin: 0 20px 0 40px;
  }
  @if $mq-default {
    margin: 0 20px 0 0;
  }
  @if $mq-tablet {
    display: inline-block;
    margin: 0 10px 0 0;
    img { width: 180px; }
  }
  @if $mq-sp {
    display: block;
  }
}

.p-backnumber-txt-1 {
  @if $mq-all {
    display: inline-block;
    margin: 0 10px 0 0;
    font-weight: bold;
    font-size: 18px;
    vertical-align: middle;
    .type-orange & { color: #fff; }
    .type-blue & { color: #fff; }
    .type-green & { color: #fff; }
  }
  @if $mq-tablet {
    font-size: 16px;
  }
  @if $mq-sp {
    margin: 5px 0;
    font-size: 14px;
  }
}

.p-backnumber-select {
  @if $mq-all {
    display: inline-block;
    width: 176px;
    margin: 0 20px 0 0;
    select { margin: 0; }
  }
  @if $mq-tablet {
    display: block;
    margin: 10px 0;
    width: auto;
    select { width: 100%; }
  }
  @if $mq-sp {
    margin: 0;
  }
}

.p-backnumber-thumb-list {
  @if $mq-all {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
  }
  @if $mq-default {
    display: block;
    margin: 10px 0 0 0;
  }
  @if $mq-tablet {
    display: block;
  }
}

.p-backnumber-thumb-list-item {
  @if $mq-all {
    display: inline-block;
    width: 68px;
    height: 68px;
    margin: 0 10px 0 0;
    background-color: rgba(255, 255, 255, 0.15);
    vertical-align: top;
  }
  @if $mq-tablet {

    width: 54px;
    height: 54px;
    margin: 0 10px 0 0;
  }
  @if $mq-sp {
    width: 40px;
    height: 40px;
    margin: 0 5px 0 0;
  }
}

/**
 * p-under-navi
 *
 */
.p-under-navi-group {
  @if $mq-all {
    background-color: #4db6ac;
  }
  @if $mq-tablet {
  }
}

.p-under-navi-list {
  @if $mq-all {
    list-style: none;
    max-width: 1220px;
    margin: 0 auto;
    padding: 22px 0;
    text-align: center;
  }
  @if $mq-tablet {
    font-size: 0;
    padding: 0;
  }
  @if $mq-sp {
  }
}

.p-under-navi-list-item {
  @if $mq-all {
    display: inline-block;
    border-right: 1px solid #a6dbd6;
    box-sizing: border-box;
    &:last-child { border-right: none; }
    a {
      display: block;
      position: relative;
      padding: 6px 45px 6px 30px;
      color: #fff;
      font-weight: bold;
      font-size: 16px;
      text-decoration: none;
      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 15px;
        margin: auto 0;
        width: 14px;
        height: 8px;
        background: url('/resources/img/icon/ico-arrow-8.png') no-repeat right center;
      }

    }
  }
  @if $mq-tablet {
    width: 50%;
    border-bottom: 1px solid #a6dbd6;
    a {
      display: block;
      padding: 15px 10px;
      font-size: 14px;
    }
  }
  @if $mq-sp {
    a {
      font-size: 12px;
      padding: 10px 2px;
      &:after { display: none; }
    }
  }
}