// ------------------------------
// Footer CSS
// ------------------------------
@import '../../setting/variables';

.p-footer {
  @if $mq-all {
    margin: 0 auto;
    @include clearfix;
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
  }
}

.p-footer-line {
  @if $mq-all {
    margin: 20px 0;
    height: 1px;
    background-color: #d8d8d8;
    border: none;
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
    margin: 15px 0;
  }
}

/**
 * p-footer-contact-group
 *
 */
.p-footer-contact-group {
  @if $mq-all {
    position: relative;
    max-width: 1400px;
    margin: 0 auto;
    background-color: #fff;
    @include clearfix;
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
  }
}

.p-footer-contact-image {
  @if $mq-all {
    width: 30%;
    height: 100%;
    &.type-left { float: left; }
    &.type-right { float: right; }
  }
  @if $mq-tablet {
    width: 50%;
  }
  @if $mq-sp {
    width: 50%;
  }
}

.p-footer-contact-inner {
  @if $mq-all {
    text-align: center;
    margin: 0 auto;
    padding: 60px 20px 0;
    height: 278px;
    text-align: center;
    box-sizing: border-box;
    p {
      margin: 30px 0 0 0;
    }
    a {
      display: block;
      padding: 10px;
      width: 260px;
      margin: 0 auto;
      font-weight: bold;
      font-family: $font-noto-sans;
      border: 2px solid #212121;
      text-decoration: none;
      box-sizing: border-box;
      @include hover-opacity;
    }
    &:before {
      content: "";
      position: absolute;
      top: 0px;
      left: 50%;
      margin: 0 0 0 -700px;
      width: 456px;
      height: 278px;
      background: url('/resources/img/base/footer/footer-image-1.jpg') no-repeat 0 0;
    }
    &:after {
      content: "";
      position: absolute;
      top: 0px;
      right: 50%;
      margin: 0 -700px 0 0;
      width: 456px;
      height: 278px;
      background: url('/resources/img/base/footer/footer-image-2.jpg') no-repeat 0 0;
    }
  }
  @if $mq-tablet {
    clear: both;
    float: none;
    width: 100%;
    height: auto;
    padding: 38% 20px 40px;
    &:before {
      top: 0;
      left: 0;
      margin: 0;
      width: 50%;
      height: 200px;
      background-size: 100%;
    }
    &:after {
      top: 0;
      right: 0;
      margin: 0;
      width: 50%;
      height: 200px;
      background-size: 100%;
    }
  }
  @if $mq-sp {
    padding: 38% 20px 25px;
  }
}

/**
 * p-footer-address-group
 *
 */
.p-footer-address-group {
  @if $mq-all {
    max-width: 1080px;
    margin: 30px auto;
    @include clearfix;
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
    margin: 0;
  }
}

.p-footer-address-item {
  @if $mq-all {
    width: 50%;
    float: left;
    padding: 0 25px;
    box-sizing: border-box;
    @include clearfix;
  }
  @if $mq-tablet {
    padding: 0 10px 0 20px;
    &:nth-child(2n) {
      padding: 0 20px 0 10px;
    }
  }
  @if $mq-sp {
    float: none;
    width: 100%;
    padding: 15px !important;
  }
}

.p-footer-address-item-label {
  @if $mq-all {
    float: left;
    margin: 0;
    width: 55%;
  }
  @if $mq-tablet {
    float: none;
    width: 100%;
    text-align: left;
  }
  @if $mq-sp {
    float: left;
    width: 68%;
  }
}

.p-footer-address-item-image {
  @if $mq-all {
    overflow: hidden;
    float: right;
    width: 40%;
    vertical-align: top;
    img { border-radius: 10px; }
  }
  @if $mq-tablet {
    float: none;
    width: 100%;
    text-align: center;
    margin: 0 auto 20px;
  }
  @if $mq-sp {
    float: right;
    width: 30%;
    margin: 0;
  }
}

.p-footer-address-item-tel {
  @if $mq-all {
    float: left;
    margin: 0;
    width: 55%;
    .type-label { font-size: 18px; }
    .type-num { font-size: 24px; }
  }
  @if $mq-tablet {
    width: 100%;
    .type-label { font-size: 13px; }
    .type-num { font-size: 22px; }
  }
  @if $mq-sp {
    width: 70%;
    .type-label { font-size: 13px; }
    .type-num { font-size: 18px; }
  }
}

.p-footer-address-item-detail {
  @if $mq-all {
    float: left;
    margin: 0;
    width: 55%;
    font-size: 12px;
  }
  @if $mq-tablet {
    width: 100%;
  }
  @if $mq-sp {
    clear: both;
    float: none;
  }
}

/**
 * p-footer-navi-group
 *
 */
.p-footer-navi-group {
  @if $mq-all {
    max-width: 1200px;
    margin: 0 auto;
  }
  @if $mq-tablet {
    padding: 0 20px;
  }
  @if $mq-sp {
    padding: 10px;
  }
}

.p-footer-navi-list {
  @if $mq-all {
    list-style: none;
    margin: 0;
    padding: 0 0 0 40px;
    font-size: 0;
    box-sizing: border-box;
  }
  @if $mq-tablet {
    padding: 0;
  }
  @if $mq-sp {
  }
}

.p-footer-navi-list-item {
  @if $mq-all {
    display: inline-block;
    width: 20%;
    font-size: 14px;
    margin: 0 0 10px 0;
    background: url('/resources/img/icon/ico-arrow-1.png') no-repeat 0 6px;
    vertical-align: top;
    a {
      padding: 0 0 0 15px;
      text-decoration: none;
    }
  }
  @if $mq-tablet {
    width: 50%;
    a { padding: 20px; }
  }
  @if $mq-sp {
    font-size: 12px;
    padding: 0 5px 0 15px;
    box-sizing: border-box;
    a { padding: 0 0 0 0; }
  }
}

.p-footer-navi-fb {
  @if $mq-all {
    text-align: right;
    margin: 0 40px 0 0;
    a {
      text-decoration: none;
      vertical-align: middle;
      &:before {
        content: "";
        width: 40px;
        height: 40px;
        margin: 0 10px 0 0;
        display: inline-block;
        vertical-align: middle;
        background: url('/resources/img/icon/ico-fb-2.png') no-repeat 0 center;
      }
    }
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
    a {
      &:before {
        width: 24px;
        height: 24px;
        margin: 0 5px 0 0;
        background-size: 100%;
      }
    }
  }
}

/**
 * p-footer-banner-group
 *
 */
.p-footer-banner-group {
  @if $mq-all {
    max-width: 1400px;
    margin: 0 auto;
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
  }
}

.p-footer-banner-list {
  @if $mq-all {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0;
    text-align: center;
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
  }
}

.p-footer-banner-list-item {
  @if $mq-all {
    display: inline-block;
    //width: 30%;
    margin: 0 1.5%;
    a { @include hover-opacity; }
  }
  @if $mq-tablet {
    margin: 0 1.5%;
    width: 30%;
  }
  @if $mq-sp {
  }
}

/**
 * p-footer-copyright-group
 *
 */
.p-footer-copyright-group {
  @if $mq-all {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 0 20px 0;
    text-align: center;
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
  }
}

.p-footer-copyright-heading {
  @if $mq-all {
  }
  @if $mq-sp {
    img { width: 180px; }
  }
}

.p-footer-copyright-txt {
  @if $mq-all {
    margin: 0;
    font-size: 12px;
  }
  @if $mq-sp {
    font-size: 10px;
  }
}

/**
 * p-footer-pagetop-btn
 *
 */
.p-footer-pagetop-btn {
  @if $mq-all {
    position: fixed;
    z-index: 10;
    bottom: 30px;
    right: 30px;
    opacity: 0;
    visibility: hidden;
    //transition-property: opacity;
    transition: 400ms;
    a {
      position: relative;
      display: block;
      width: 70px;;
      height: 70px;
      border-radius: 10px;
      background: url('/resources/img/icon/ico-arrow-top-1.svg') no-repeat center;
      background-color: rgba(33,33,33,0.8);
    }
    .is-pagetop-active & {
      opacity: 1;
      visibility: visible;
    }
  }
  @if $mq-tablet {
    a {
      width: 60px;
      height: 60px;
    }
  }
  @if $mq-sp {
    bottom: 10px;
    right: 10px;
    a {
      width: 50px;
      height: 50px;
      background-size: 20px;
    }
  }
}