// ------------------------------
// Header CSS
// ------------------------------
@import '../../setting/variables';

.p-header {
  @if $mq-all {
    position: relative;
    max-width: 1220px;
    margin: 0 auto;
    padding: 30px 0 15px;
    @include clearfix;
  }
  @if $mq-tablet {
    padding: 10px 0;
  }
  @if $mq-sp {
    padding: 0px;
  }
}

.p-header-logo-group {
  @if $mq-all {
    float: left;
    width: 28%;
    padding: 0 15px 0 0;
    margin: 0;
    box-sizing: border-box;
    .p-header-logo-1 {
      display: block;
      margin-bottom: 10px;
    }
    .p-header-logo-2 {
    }
  }
  @if $mq-sp {
    width: 46%;
    .p-header-logo-1 {
      width: 100%;
      margin-bottom: -5px;
    }
    .p-header-logo-2 { width: 60%; }
  }
}

.p-header-reservation-btn {
  @if $mq-all {
    float: right;
    width: 16.4%;
    margin: 8px 10px 0 0;
    box-shadow: 1px 1px 1px #ccc;
    img {
      vertical-align: middle;
    }
  }
  @if $mq-default {
  }
  @if $mq-tablet {
    display: none;
  }
  @if $mq-sp {
  }
}

/**
 * p-header-num-list
 *
 */
.p-header-num-list {
  @if $mq-all {
    display: table;
    list-style: none;
    float: left;
    margin: -10px 0 0 0;
    padding: 0;
    border-spacing: 6px;
  }
  @if $mq-tablet {

  }
  @if $mq-sp {
    display: table;
    position: absolute;
    top: 7px;
    left: 48%;
    border-spacing: 4px;
    transform: scale(0.6);
    transform-origin: 0% 0%;
  }
}

.p-header-num-list-item {
  @if $mq-all {
    display: table-cell;
    width: 62px;
    height: 62px;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    font-family: $font-noto-sans;
    border-radius: 50%;
    &.type-build { background-color: #87b828; }
    &.type-reform { background-color: #f49e00; }
    &.type-outdoor { background-color: #02a5b3; }
    a {
      display: block;
      text-decoration: none;
    }
    .type-label {
      @include fz(10, 14);
      display: block;
    }
    .type-num {
      margin-right: 2px;
      letter-spacing: -1px;
      @include fz(20, 25);
    }
  }
  @if $mq-sp {
    font-weight: normal;
    font-family: $font-default;
  }
}

/**
 * p-header-btn-list
 *
 */
.p-header-btn-list {
  @if $mq-all {
    list-style: none;
    float: right;
    margin: 25px 0 0 0;
    padding: 0;
    font-size: 0;
  }
  @if $mq-tablet {
    display: block;
    margin: 25px 15px 0 0;
  }
  @if $mq-sp {
    display: block;
    margin: 5px 0 0 0;
  }
}

.p-header-btn-list-item {
  @if $mq-all {
    display: inline-block;
    margin: 0 0 0 14px;
    a {
      display: block;
      text-decoration: none;
      transition: 100ms;
      @include fz(12, 12);
      &:hover { color: #ec6c00; }
      &:before {
        @include icon;
        top: -0.04em;
        margin: 0 2px 0 0;
        font-size: 38px;
      }
    }
    &.type-fb a:before { content: "\e602"; }
    &.type-reservation a:before { content: "\e601"; }
    &.type-menu a:before { content: "\e600"; }
  }
  @if $mq-tablet {
    display: block;
    text-align: center;
    a {
      display: block;
      &:before {
        @include icon;
        top: -0.04em;
        font-size: 42px;
      }
    }
    &.type-fb,
    &.type-reservation {
      display: none;
    }
  }
  @if $mq-sp {
    display: block;
    width: 40px;
    text-align: center;
    a {
      display: block;
      @include fz(10, 22);
    }
  }
}