// ------------------------------
// Lightbox CSS
// ------------------------------
@import '../../setting/variables';

/**
 * no focus after closing lightbox
 */
.is-no-focus {
  @if $mq-all {
    &:focus { outline: none; }
  }
}

/**
 * lightbox inner style
 */
.p-lightbox-inner {
  @if $mq-all {
    position: relative;
    width: auto;
    max-width: 700px;
    margin: 20px auto;
    padding: 30px 25px 25px;
    background: #FFF;
    border-radius: 2px;
  }
  @if $mq-sp {
    margin: 20px 10px;
  }
}

/**
 * lightbox animation style
 */
.p-lightbox {
  @if $mq-all {

    /* overlay at start */
    &.mfp-bg {
      opacity: 0;
      transition: all 0.15s ease-out;
    }
    .p-lightbox-inner {
      opacity: 0;
      transition: all 0.2s ease-in-out;
      transform: scale(0.8);
    }

    /* overlay animate in */
    &.mfp-ready {
      &.mfp-bg {
        opacity: 0.4;
      }
      .p-lightbox-inner {
        opacity: 1;
        transform: scale(1);
      }
    }

    /* overlay animate out */
    &.mfp-removing {
      &.mfp-bg {
        opacity: 0;
      }
      .p-lightbox-inner {
        transform: scale(0.8);
        opacity: 0;
      }
    }
  }
}



.p-lightbox-heading {
  @if $mq-all {
    margin: 0 0 25px -2px;
    @include fz(22, 28);
    color: #1A1A1A;
    font-weight: bold;
    font-family: $font-noto-sans;
    &:before {
      content: "\e601";
      margin: 0 4px 0 0;
      color: #CE1E1E;
      font-size: 22px;
      @include icon;
    }
  }
  @if $mq-tablet {
  }
}

.p-lightbox-heading-2 {
  @if $mq-all {
    margin: 0 0 15px 0;
    @include fz(14, 22);
    font-weight: bold;
    font-family: $font-noto-sans;
    &:before {
      content: "\e602";
      margin: 0 2px 0 0;
      color: $color-green;
      font-size: 18px;
      @include icon;
    }
  }
  @if $mq-tablet {
  }
}