// ------------------------------
// Navigation CSS
// ------------------------------

@import '../../setting/_variables';

.p-navigation {
  @if $mq-all {
    position: relative;
    padding: 40px 20px 20px;
    min-height: 100%;
    background: url('/resources/img/bg/bg-dot-2.png');
    box-sizing: border-box;
    box-shadow: 0px 0px 10px #616161;
  }
  @if $mq-sp {
    min-height: 0;
    height: auto;
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 0px 5px #616161;
  }
}

.p-navigation-logo {
  @if $mq-all {
    margin: 0 0 30px 0;
  }
  @if $mq-sp {
    margin: 0 0 20px 0;
    width: 180px;
  }
}

.p-navigation-menu-list {
  @if $mq-all {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  @if $mq-tablet {
  }
}

.p-navigation-menu-list-item {
  @if $mq-all {
    a ,span{
      font-size: 16px;
      padding: 15px 40px;
      display: block;
      font-weight: bold;
      text-decoration: none;
      border-radius: 6px;
      background: url('/resources/img/base/navigation/ico-navigation-1.png') no-repeat 10px center;
    }
    a:hover {
      background-color: #fff;
      box-shadow: 1px 1px 1px #ccc;
    }
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
    width: 100%;
    a ,span{
      font-size: 13px;
      padding: 10px 20px 10px 30px;
      font-weight: bold;
      background-size: 12px;
    }
  }
}



.p-navigation-btn-list {
  @if $mq-all {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  @if $mq-tablet {
  }
}

.p-navigation-btn-list-item {
  @if $mq-all {
    margin: 20px 0;
    a {
      font-size: 18px;
      padding: 15px 0;
      text-align: center;
      display: block;
      font-weight: bold;
      text-decoration: none;
      border-radius: 6px;
      color: #fff;
      background: #f5a200;
      border-bottom: 3px solid #ee7600;
      &:hover {
        border-top: 2px solid transparent;
        border-bottom: 1px solid #ee7600;
      }
    }
  }
  @if $mq-tablet {
  }
}



.p-navigation-btn {
  @if $mq-all {
    position: absolute;
    top: 40px;
    right: 20px;
    width: 33px;
    height: 33px;
    background: url('/resources/img/common/navi.png') no-repeat;
    cursor: pointer;
    z-index: 1000;
  }
  @if $mq-tablet {
    top: 30px;
    right: 30px;
    width: 20px;
    height: 20px;
    background-size: 20px;
  }
}