// ------------------------------
// Page Competition CSS
// ------------------------------

@import '../../setting/_variables';

/**
 * hero-group
 */
.p-case-competition-hero-group {
  @if $mq-all {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 20px 40px;
    box-sizing: border-box;
    @include clearfix;
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
    padding: 0 20px 20px;
  }
}

.p-case-competition-hero-heading-1 {
  @if $mq-all {
    float: left;
    width: 50%;
    margin: 0;
    padding: 70px 50px 96px;
    text-align: center;
    border-radius: 10px;
    background-color: #f29600;
    box-sizing: border-box;
  }
  @if $mq-tablet {
    width: 48%;
  }
  @if $mq-sp {
    width: 100%;
    padding: 30px 50px 40px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.p-case-competition-hero-panel {
  @if $mq-all {
    float: right;
    width: 44%;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-sizing: border-box;
    img {
      display: block;
      margin: 0 auto;
    }
  }
  @if $mq-tablet {
    width: 48%;
  }
  @if $mq-sp {
    width: 100%;
    padding: 15px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    img { width: 64%; }
  }
}

.p-case-competition-hero-panel-heading {
  @if $mq-all {
    margin: 10px 0 0 0;
    font-weight: bold;
    @include fz(18, 28);
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
    @include fz(16, 26);
  }
}

.p-case-competition-hero-panel-txt {
  @if $mq-all {
    margin: 0;
    @include fz(14, 22);
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
    @include fz(13, 24);
  }
}




.p-case-competition-heading-1 {
  @if $mq-all {
    margin: 30px 0;
    padding: 15px 0;
    text-align: center;
    border-top: 2px solid #f29600;
    border-bottom: 2px solid #f29600;
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
  }
}

.p-case-competition-heading-2 {
  @if $mq-all {
    margin: 0;
    font-weight: bold;
    @include fz(22, 32);
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
    margin: 20px 0;
    @include fz(16, 24);
  }
}

.p-case-competition-heading-3 {
  @if $mq-all {
    text-align: center;
    @include fz(18,32);
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
    text-align: left;
    @include fz(14,24);
    br { display: none; }
  }
}




.p-case-competition-message {
  @if $mq-all {
    position: relative;
    margin: 30px 0;
    padding: 30px 40px 30px 30px;
    background-color: #f4f3ed;
    @include clearfix;
    &.type-orange {
      background-color: #fef5e5;
    }
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
    margin: 30px 0;
    padding: 15px;
  }
}
.p-case-competition-message-item {
  @if $mq-all {
    float: left;
    width: 50%;
    padding: 0 0 0 20px ;
    box-sizing: border-box;
    .type-image {
      float: left;
      width: 55%;
      padding: 0 20px 0 0 ;
      box-sizing: border-box;
    }
    .type-txt {
      margin: 0;
    }
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
    float: none;
    width: 100%;
    padding: 0;
  }
}

.p-case-competition-message-staff {
  @if $mq-all {
    float: left;
    width: 50%;
    padding: 0 20px 0 0 ;
    box-sizing: border-box;

    .type-image {
      float: left;
      width: 37%;
      padding: 0 20px 0 0 ;
      box-sizing: border-box;
    }
    .type-txt {
      float: left;
      width: 63%;
      .type-txt-heading {
        font-weight: bold;
        font-size: 22px;
        color: #f29600;
        margin: 0;
      }
      .type-position {
        font-size: 12px;
      }
      .type-name {
        font-size: 16px;
        font-weight: bold;
      }
    }

    &.type-wide {
      width: 100%;
      padding: 0;
      .type-image { width: 20%; }
      .type-txt { width: 80%; }
    }
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
    float: none;
    width: 100%;
    padding: 0;
    .type-image {
      float: left;
      width: 37%;
      padding: 0 20px 0 0 ;
    }
    .type-txt {
      float: none;
      width: 100%;
      .type-txt-heading {
        font-size: 22px;
        margin: 0;
      }
      .type-position {
        font-size: 12px;
      }
      .type-name {
        font-size: 16px;
      }
    }
    &.type-wide {
      .type-image { width: 40%; }
      .type-txt {
        width: auto;
      }
    }
  }
}

.p-case-competition-message-balloon {
  @if $mq-all {
    float: left;
    width: 50%;
    padding: 0 0 0 20px;
    box-sizing: border-box;

    .type-image {
      position: absolute;
      top: 10px;
      right: 60px;
    }
    .type-balloon {
      float: left;
      width: 65%;
      background: #fff;
      border-radius: 10px;
      padding: 15px;
      font-weight: bold;
      font-size: 14px;
      color: #5d4037;
    }
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
    float: none;
    width: 100%;
    padding: 0;
    .type-image {
      position: absolute;
      top: 10px;
      right: 60px;
    }
    .type-balloon {
      float: left;
      width: 65%;
      background: #fff;
      border-radius: 10px;
      padding: 15px;
      font-weight: bold;
      font-size: 14px;
      color: #5d4037;
    }
  }
}



.p-case-competition-item {
  @if $mq-all {
    max-width: 1140px;
    margin: 40px auto;
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
  }
}


.p-case-competition-half {
  @if $mq-all {
    @include clearfix;
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
  }
}

.p-case-competition-half-item {
  @if $mq-all {
    width: 50%;
    box-sizing: border-box;
    &.type-left {
      float: left;
      padding: 0 20px 0 0;
    }
    &.type-right {
      float: right;
      padding: 0 0 0 20px;
    }
  }
  @if $mq-tablet {
    width: 100%;
    &.type-left,
    &.type-right {
      float: none;
      padding: 10px;
    }
  }
  @if $mq-sp {
  }
}




.type-step-0 {
  @if $mq-all {
    .type-step-0-img {
      float: left;
      padding: 0 20px 0 0;
    }
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
    .type-step-0-img {
      float: none;
      text-align: center;
      margin: 0 auto;
      padding: 0;
    }
  }
}





.p-case-competition-item-6 {
  @if $mq-all {
    max-width: 1140px;
    margin: 90px auto;
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
  }
}
.p-case-competition-item-6-message {
  @if $mq-all {
    border: 2px solid #212121;
    padding: 15px 20px 20px;
    border-radius: 10px;
    .type-txt-1 {
      margin: 0;
      font-weight: bold;
      font-size: 22px;
    }
    .type-txt-2 {
      margin: 0;
    }
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
  }
}
.p-case-competition-item-6 {
  @if $mq-all {
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
  }
}
.p-case-competition-item-6 {
  @if $mq-all {
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
  }
}
.p-case-competition-item-6 {
  @if $mq-all {
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
  }
}
.p-case-competition-item-6 {
  @if $mq-all {
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
  }
}
.p-case-competition-item-6 {
  @if $mq-all {
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
  }
}







.p-case-competition-next-group {
  @if $mq-all {
    max-width: 1140px;
    margin: 90px auto;
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
  }
}
.p-case-competition-next-lead {
  @if $mq-all {
    border: 2px solid #f29600;
    padding: 40px 40px 40px 237px;
    border-radius: 20px;
    background: url('/case-competition/201507/img/case-1/step-6-image-4.jpg') no-repeat 70px bottom;
    .type-txt-1 {
      margin: 0 0 20px 0;
      color: #5d4037;
      font-weight: bold;
      @include fz(42,40);
    }
    .type-txt-2 {
      margin: 0;
      color: #5d4037;
    }
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
    padding: 15px;
    background: url('/case-competition/201507/img/case-1/step-6-image-4.jpg') no-repeat right bottom;
    background-size: 80px;
    .type-txt-1 {
      margin: 0;
      @include fz(18,28);
    }
    .type-txt-2 {
      margin: 0;
      width:200px;
      br { display: none; }
    }
  }
}
.p-case-competition-next-point-list {
  @if $mq-all {
    margin: 40px 0;
    font-size: 0;
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
    margin: 20px 0;
  }
}
.p-case-competition-next-point-list-item {
  @if $mq-all {
    display: inline-block;
    width: 33.3%;
    box-sizing: border-box;
    font-size: 15px;
    padding: 0 30px;
    margin: 0;
    dt {
      padding: 0;
      margin: 0 0 15px 0;
      text-align: center;
      color: #f29600;
      @include fz(22,30);
      font-weight: bold;
    }
    dd {
      padding: 0;
      margin: 0;
    }
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
    width: 100%;
    font-size: 13px;
    padding: 15px 0;
    border-bottom: 1px solid #f29600;
    dt {
      margin: 0 0 5px 0;
      text-align: left;
      @include fz(16,24);
      br { display: none; }
    }
    dd {
    }
  }
}
.p-case-competition-next-heading {
  @if $mq-all {
    margin: 35px 0;
    text-align: center;
    font-weight: bold;
    font-size: 26px;
    background: #f29600;
    color: #fff;
    padding: 15px;
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
    margin: 20px 0;
    font-size: 16px;
    padding: 15px;
  }
}
.p-case-competition-next-address-list {
  @if $mq-all {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0;
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
  }
}
.p-case-competition-next-address-list-item {
  @if $mq-all {
    display: inline-block;
    vertical-align: top;
    width: 33.3%;
    font-size: 15px;
    .type-image {
      float: right;
      padding: 0 0 0 15px;
    }
    .type-txt-1 {
      margin: 0 0 10px 0;
      font-weight: bold;
      font-size: 22px;
      color: #5d4037;
    }
    .type-txt-2 {
      margin: 0;
      color: #5d4037;
    }
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
    width: 100%;
    font-size: 13px;
    padding: 15px 0;
    border-bottom: 1px solid #D9D6D1;
    .type-image {
      float: right;
      padding: 0 0 0 15px;
    }
    .type-txt-1 {
      margin: 0 0 10px 0;
      font-size: 18px;
    }
    .type-txt-2 {
      margin: 0;
    }
  }
}






.p-case-competition-bg {
  @if $mq-all {
    margin: 30px 0 0;
    padding: 20px;
    background: #f5f5f5;
    border-radius: 4px;
    p { margin: 0; }
    ul {
      margin: 10px 0;
      padding: 0 0 0 22px;
    }
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
    padding: 15px;
  }
}






.p-case-competition-conpe-group {
  @if $mq-all {
    margin: 60px 0;
    @include clearfix;
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
    margin: 40px 0;
  }
}

.p-case-competition-conpe-heading{
  @if $mq-all {
    display: table;
    width: 100%;
    color: #fff;
    background: #f29600;
    margin: 0 0 30px 0;

    .type-num {
      display: table-cell;
      width: 150px;
      text-align: center;
      font-weight: bold;
      font-size: 20px;
      border-right: 3px solid #fff;
      vertical-align: middle;
    }
    .type-name {
      display: table-cell;
      font-weight: bold;
      font-size: 30px;
      padding: 0 0 0 30px;
      vertical-align: middle;
    }
    .type-staff {
      display: table-cell;
      margin: 0;
      padding: 0 20px 0 0;
      float: right;
      list-style: none;
      vertical-align: middle;
      li {
        display: inline-block;
        padding: 10px;
        img {
          display: inline-block;
          vertical-align: middle;
        }
        span {
          display: inline-block;
          vertical-align: middle;
        }
      }
    }
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
    display: block;
    width: 100%;
    margin: 0 0 20px 0;
    @include clearfix;

    .type-num {
      display: block;
      width: 100%;
      font-size: 16px;
      border-right: none;
      border-bottom: 1px solid #fff;
      margin: 0;
    }
    .type-name {
      display: block;
      font-size: 20px;
      text-align: center;
      padding: 0;
      margin: 0;
      border-bottom: 1px solid #fff;
    }
    .type-staff {
      display: block;
      margin: 0;
      padding: 0;
      text-align: left;
      width: 100%;
      li {
        width: 48%;
        padding: 4px 2% 10px;
        box-sizing: border-box;
        img { width: 25%; }
        span { @include fz(11, 20); }
      }
    }
  }
}

.p-case-competition-conpe-left {
  @if $mq-all {
    float: left;
    width: 50%;
    padding: 0 25px 0 0;
    box-sizing: border-box;
    border-right: 1px solid #e0e0e0;

    .type-txt-heading {
      font-size: 22px;
      font-weight: bold;
      margin: 15px 0;
    }
    *:first-child { margin-top: 0; }
    *:last-child { margin-bottom: 0; }
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
    float: none;
    width: 100%;
    padding: 0;
    border-right: none;

    .type-txt-heading {
      font-size: 16px;
      margin: 10px 0;
    }
  }
}

.p-case-competition-conpe-check {
  @if $mq-all {
    margin: 30px 0;
    padding: 20px 130px 20px 20px;
    background: #fef5e5;
    position: relative;

    &:after {
      content: "";
      background: url('/case-competition/201507/img/case-1/conpe-check-image.jpg');
      position: absolute;
      right: 22px;
      bottom: 0;
      width: 91px;
      height: 146px;
    }
    p { margin: 0 }
    .type-txt-1 {
      margin: 0 0 15px 0;
    }
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
    margin: 20px 0;
    padding: 15px 110px 15px 15px;

    &:after {
      right: 22px;
      bottom: 0;
      width: 80px;
      height: 130px;
      background-size: 80px;
    }
    .type-txt-1 {
      margin: 0 0 10px 0;
    }
  }
}

.p-case-competition-conpe-data {
  @if $mq-all {
    margin: 30px 0;
    padding: 20px;
    background: #f4f3ed;
    p { margin: 0 }
    .type-txt-1 {
      margin: 0 0 15px 0;
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
    margin: 20px 0;
    padding: 15px;
    .type-txt-1 { margin: 0 0 10px 0; }
  }
}

.p-case-competition-conpe-logo {
  @if $mq-all {
    margin: 30px 0;
    padding: 20px;
    border: 1px solid #e0e0e0;
    text-align: center;
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
    margin: 20px 0;
    padding: 15px;
  }
}

.p-case-competition-conpe-profile {
  @if $mq-all {
    margin: 0;
    padding: 0;
    dt {
      margin: 0;
      padding: 0;
      font-weight: bold;
      font-size: 18px;
    }
    dd {
      margin: 0;
      padding: 0;
    }
    a {
      color: #1565c0;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
    dt {
      font-size: 16px;
    }
  }
}

.p-case-competition-conpe-right {
  @if $mq-all {
    float: right;
    width: 50%;
    padding: 0 0 0 25px;
    box-sizing: border-box;
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
    float: none;
    width: 100%;
    margin: 20px 0;
    padding: 0 0 0 0;
  }
}

.p-case-competition-conpe-floor {
  @if $mq-all {
    position: relative;
    margin: 0 0 30px 0;
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
    margin: 0 0 15px 0;
  }
}

.p-case-competition-conpe-floor-point {
  @if $mq-all {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 6;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    &.type-num-1 { background-image: url('/resources/img/icon/ico-point-num-1.png'); }
    &.type-num-2 { background-image: url('/resources/img/icon/ico-point-num-2.png'); }
    &.type-num-3 { background-image: url('/resources/img/icon/ico-point-num-3.png'); }
  }
  @if $mq-tablet {
    width: 40px;
    height: 40px;
  }
  @if $mq-sp {
    width: 40px;
    height: 40px;
  }
}


.p-case-competition-conpe-floor-caption {
  @if $mq-all {
    background: #fff5d7;
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
    width: 320px;
    box-sizing: border-box;
    z-index: 100;
    box-shadow: 1px 1px 3px #616161;
    &.is-active { display: block; }

    .type-heading {
      display: inline-block;
      padding: 5px 15px;
      text-align: center;
      background-color: #fdd835;
      font-size: 13px;
    }
    .type-heading-num {
      font-size: 18px;
      margin: 0 0 0 5px;
    }
    .type-txt {
      display: block;
      padding: 10px 15px;
      @include fz(14,20);
    }
  }
  @if $mq-tablet {
    width: 90%;
  }
  @if $mq-sp {
    width: 90%;
    .type-heading {
      padding: 5px 10px;
      font-size: 13px;
    }
    .type-heading-num {
      font-size: 15px;
    }
    .type-txt {
      padding: 10px 15px;
      @include fz(13,20);
    }
  }
}
























.p-case-competition-message-type-1 {
  @if $mq-all {
    position: relative;
    margin: 30px 0;
    padding: 30px;
    background-color: #f4f3ed;
    @include clearfix;
    &.type-orange {
      background-color: #fef5e5;
    }
  }
  @if $mq-tablet {
    padding: 20px;
  }
  @if $mq-sp {
    margin: 30px 0;
    padding: 15px;
  }
}
.p-case-competition-message-type-1-staff {
  @if $mq-all {
    float: left;
    width: 50%;
    padding: 0 20px 0 0 ;
    box-sizing: border-box;
    .type-image {
      float: left;
      width: 37%;
      padding: 0 20px 0 0 ;
      box-sizing: border-box;
    }
    .type-txt {
      float: left;
      width: 63%;
      .type-txt-heading {
        font-weight: bold;
        font-size: 22px;
        color: #f29600;
        margin: 0;
      }
      .type-position {
        display: block;
        font-size: 12px;
      }
      .type-name {
        display: block;
        font-size: 16px;
        font-weight: bold;
      }
    }
  }
  @if $mq-tablet {
    float: none;
    width: 100%;
    padding: 0 ;
  }
  @if $mq-sp {
    .type-image {
      padding: 0 10px 0 0 ;
    }
    .type-txt {
      float: none;
      width: 100%;
      .type-position,
      .type-name {
        text-align: left;
      }
    }
  }
}

.p-case-competition-message-type-1-balloon {
  @if $mq-all {
    float: left;
    width: 50%;
    margin: 0 0 0 0;
    padding: 20px 130px 0 20px;
    box-sizing: border-box;
    .type-balloon {
      margin: 0 0 20px 0;
      padding: 15px;
      background: #fff;
      border-radius: 10px;
      font-weight: bold;
      font-size: 14px;
      color: #5d4037;
    }
    .type-profile {
      span {
        display: block;
        text-align: right;
        &.type-position { font-size: 12px; }
        &.type-name { font-weight: bold; }
      }
    }

    &.type-staff-chihiro:after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0px;
      right: 10px;
      width: 127px;
      height: 222px;
      background: url('/case-competition/201507/img/case-1/step-2-image-3.jpg') no-repeat center;
      background-size: 100%;
    }

    &.type-staff-chihiro-2:after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0px;
      right: 5px;
      width: 127px;
      height: 222px;
      background: url('/case-competition/201507/img/case-1/step-3-image-3.jpg') no-repeat center;
      background-size: 100%;
    }

    &.type-staff-chihiro-3:after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0px;
      right: 10px;
      width: 120px;
      height: 243px;
      background: url('/case-competition/201507/img/case-1/step-6-image-3.jpg') no-repeat center;
      background-size: 100%;
    }
  }
  @if $mq-tablet {
    clear: both;
    float: none;
    width: 100%;
    padding: 15px 80px 0 0px;

    &.type-staff-chihiro:after,
    &.type-staff-chihiro-2:after {
      bottom: 0px;
      right: 5px;
      width: 80px;
      height: 142px;
    }
    &.type-staff-chihiro-3:after {
      bottom: 0px;
      right: 5px;
      width: 80px;
      height: 162px;
    }
  }
  @if $mq-sp {
    .type-profile {
      span {
        text-align: left;
      }
    }
  }
}


@import '_page-case-competition/201507';
@import '_page-case-competition/201510';
@import '_page-case-competition/201602';
