// ------------------------------
// Couleur CSS
// ------------------------------

@import '../../setting/_variables';

/**
 * hero-group
 */
.base-type-reservation #base-container-head {
  @if $mq-all {
    margin-bottom: 35px;
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
  }
}



.p-reservation-hero-group {
  @if $mq-all {
    position: relative;
    max-width: 1220px;
    margin: 0 auto;
    text-align: center;
    padding: 0 0 45px 0;
    box-sizing: border-box;
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
  }
}


.p-reservation-categories-group {
  @if $mq-all {
    max-width: 1140px;
    margin: 0 auto;
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
  }
}

.p-reservation-categories-heading {
  @if $mq-all {
    font-weight: bold;
    font-size: 28px;
    text-align: center;
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
    font-size: 18px;
  }
}

.p-reservation-categories-list {
  @if $mq-all {
    list-style: none;
    margin: 0 0 -25px;
    padding: 0;
    font-size: 0;
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
    margin: 0 0 0;
  }
}

.p-reservation-categories-list-item {
  @if $mq-all {
    display: inline-block;
    width: 25%;
    font-size: 14px;
    padding: 20px 25px;
    border-right: 1px solid #e0e0e0;
    box-sizing: border-box;
    vertical-align: top;
    &:last-child { border-right: none; }
    img {
      display: block;
      margin: 0 auto 15px;
    }
    .type-arrow {
      width: 0;
      height: 0;
      margin: 20px auto 0;
      border-top: 20px solid #ef9924;
      border-bottom: 20px solid transparent;
      border-left: 30px solid transparent;
      border-right: 30px solid transparent;
    }
  }
  @if $mq-tablet {
    width: 50%;
    padding: 20px;
    &:nth-child(2n) { border-right: none; }
    img {
      width: 100px;
      margin: 0 auto 10px;
    }
  }
  @if $mq-sp {
    width: 100%;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid #e0e0e0;
    @include fz(13, 22);
    img {
      width: 60px;
      float: left;
      margin: 0 15px 0 0;
    }
  }
}

.p-reservation-intro-group {
  @if $mq-all {
    max-width: 1140px;
    margin: 10px auto 40px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    .type-txt-1 {
      padding: 18px;
      border: 5px solid #ef9924;
      border-radius: 20px;
      margin: 0 0 30px 0;
      color: #5d4037;
    }
    .type-txt-2 {
    }
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
    margin: 20px auto;
    .type-txt-1 {
      padding: 10px 15px;
      border: 4px solid #ef9924;
      margin: 0 0 15px 0;
      @include fz(16, 22);
    }
    .type-txt-2 {
      @include fz(13, 22);
    }
  }
}

.p-reservation-form-group {
  @if $mq-all {
    border: 1px solid #e0e0e0;
    max-width: 1140px;
    margin: 0 auto;
    padding: 40px 80px;
    box-sizing: border-box;
  }
  @if $mq-tablet {
    padding: 20px;
  }
  @if $mq-sp {
    padding: 15px;
  }
}

.p-reservation-form-heading {
  @if $mq-all {
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 15px;
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
    font-size: 16px;
  }
}

.p-reservation-form-table {
  @if $mq-all {
    margin-bottom: 40px;
    border: 1px solid #e0e0e0;
    th, td {
      border: 1px solid #e0e0e0;
      box-sizing: border-box;
    }
    th {
      width: 210px;
      padding: 20px 15px;
      background-color: #f5f5f5;
      font-weight: bold;

      &.type-must:before {
        float: right;
        content: "必須";
        display: inline-block;
        color: #fff;
        background-color: #f39800;
        border-radius: 4px;
        padding: 1px 5px;
      }

    }
    td {
      padding: 15px 20px;
      vertical-align: middle;
      *:last-child {
        margin-bottom: 0;
      }
    }
  }
  @if $mq-tablet {
    margin-bottom: 30px;
    th, td {
      width: 100%;
      float: left;
      display: block;
      border: none;
      border-bottom: 1px solid #e0e0e0;
    }
    th {
      padding: 10px;
    }
    td {
      padding: 10px;
    }
  }
  @if $mq-sp {
  }
}




.p-reservation-form-menu {
  @if $mq-all {
    label {
      font-size: 18px;
      font-weight: bold;
    }
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
  }
}

.p-reservation-form-menu-item {
  @if $mq-all {
    padding: 15px 0;
    border-bottom: 1px solid #d7d7d7;
    &:last-child { border-bottom: none; }

  }
  @if $mq-tablet {
  }
  @if $mq-sp {
  }
}