// ------------------------------
// About CSS
// ------------------------------

@import '../../setting/_variables';

/**
 * hero-group
 */
#base-container-head.type-about {
  @if $mq-all {
    background: #e0f2f1 url('/about/img/hero-bg-1.png') no-repeat center bottom;
    background-size: 100%;
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
  }
}

.p-about-hero-group {
  @if $mq-all {
    position: relative;
    max-width: 1220px;
    text-align: center;
    margin: 0 auto;
    padding: 0 20px 80px;
    box-sizing: border-box;
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
    padding: 0 20px 50px;
  }
}
.p-about-hero-heading-1 {
  @if $mq-all {
    margin: 0;
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
  }

}

/**
 * p-about-shop-item
 */
.p-about-shop-item-group {
  @if $mq-all {
    position: relative;
    max-width: 1140px;
    margin: 25px auto;
    padding: 40px 60px 25px;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    @include clearfix;
  }
  @if $mq-default {
    padding: 30px;
  }
  @if $mq-tablet {
    padding: 20px;
  }
  @if $mq-sp {
    padding: 15px;
  }
}

.p-about-shop-item-inner {
  @if $mq-all {
    float: left;
    margin: 0;
    width: 35%;
    @include clearfix;
  }
  @if $mq-default {
    width: 40%;
  }
  @if $mq-tablet {
    float: none;
    width: 100%;
    margin-bottom: 20px;
  }
  @if $mq-sp {
    margin-bottom: 10px;
  }
}

.p-about-shop-item-inner-txt {
  @if $mq-all {
  }
  @if $mq-default {
  }
  @if $mq-tablet {
    width: 100%;
  }
  @if $mq-sp {
    width: 100%;
  }
}

.p-about-shop-label {
  @if $mq-all {
    margin: 0;
    img { width: 330px; }
  }
  @if $mq-tablet {
    img { width: 240px; }
  }
  @if $mq-sp {
    img { width: 180px; }
  }
}

.p-about-shop-tel {
  @if $mq-all {
    margin: 0;
    font-size: 20px;
    .type-num {
      font-size: 30px;
    }
  }
  @if $mq-tablet {
    font-size: 15px;
    .type-num {
      font-size: 25px;
    }
  }
  @if $mq-sp {
    font-size: 15px;
    .type-num {
      font-size: 20px;
    }
  }
}

.p-about-shop-address {
  @if $mq-all {
    margin: 0 0 20px 0;
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
  }
}

.p-about-shop-image {
  @if $mq-all {
  }
  @if $mq-tablet {
    width: 150px;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  @if $mq-sp {
    width: 80px;
    position: absolute;
    top: 15px;
    right: 15px;
  }
}

.p-about-shop-map {
  @if $mq-all {
    float: right;
    width: 61%;
    height: 400px;
    background-color: #ccc;
  }
  @if $mq-default {
    width: 56%;
  }
  @if $mq-tablet {
    clear: both;
    float: none;
    width: 100%;
    height: 260px;
  }
  @if $mq-sp {
    height: 180px;
  }
}

.p-about-shop-map-link {
  @if $mq-all {
    float: right;
    width: 61%;
    margin: 10px 0 0 0;
  }
  @if $mq-default {
    width: 56%;
  }
  @if $mq-tablet {
    width: 100%;
  }
  @if $mq-sp {
  }
}

/**
 * p-about-rental-group
 */
.p-about-rental-group {
  @if $mq-all {
    max-width: 1140px;
    margin: 0 auto;
    @include clearfix;
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
  }
}

.p-about-rental-image {
  @if $mq-all {
    position: relative;
    float: left;
    width: 510px;
    margin: 0 0 0 22px;
    padding: 0;
    box-sizing: border-box;
  }
  @if $mq-tablet {
    float: none;
    margin: 0 auto;
  }
  @if $mq-sp {
    float: none;
    width: 100%;
    margin: 0;
  }
}

.p-about-rental-image-controller {
  @if $mq-all {
    position: absolute;
    overflow: hidden;
    top: 0;
    bottom: 0;
    width: 44px;
    height: 44px;
    margin: auto 0;
    color: #fff;
    text-indent: -999px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    &.type-prev {
      left: -22px;
      background: #212121 url('/resources/img/icon/ico-arrow-7.png') no-repeat center;
    }
    &.type-next { right: -22px; }
    background: #212121 url('/resources/img/icon/ico-arrow-6.png') no-repeat center;
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
  }
}

.p-about-rental-image-list {
  @if $mq-all {
    list-style: none;
    margin: 0;
    padding: 0;
    @include clearfix;
    li {
      float: left;
    }
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
  }
}

.p-about-rental-detail {
  @if $mq-all {
    float: right;
    width: 40%;
    margin-right: 18px;
    box-sizing: border-box;
    dl {
      margin: 0;
      padding: 12px 0;
      border-bottom: 1px solid #e0e0e0;
      @include fz(15, 22);
    }
    dt {
      color: #5d4037;
      font-weight: bold;
    }
    dd {
      margin: 0;
    }
  }
  @if $mq-tablet {
    float: none;
    width: 100%;
    margin-right: 0;
    dl {
      padding: 10px 0;
    }
  }
  @if $mq-sp {
    float: none;
    width: 100%;
    margin-right: 0;
    dl {
      padding: 10px 0;
      @include fz(13, 22);
    }
  }
}

/**
 * p-about-price-group
 */
.p-about-price-group {
  @if $mq-all {
    max-width: 1140px;
    margin: 40px auto;
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
  }
}

.p-about-price-heading {
  @if $mq-all {
    text-align: left;
    margin: 0 0 12px 0;
    padding: 6px 0 0;
    font-size: 22px;
    font-weight: bold;
    border-top: 2px solid #212121;
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
    font-size: 16px;
  }
}

.p-about-price-table {
  @if $mq-all {
    width: 100%;
    border: 1px solid #e0e0e0;
    th, td {
      padding: 12px 15px;
      width: 50%;
      font-size: 15px;
      font-weight: bold;
      border: 1px solid #e0e0e0;
      box-sizing: border-box;
    }
    th {
      color: #5d4037;
      background-color: #f4f3ed;
    }
    td {
      text-align: center;
    }
    .type-heading {
      th {
        color: #fff;
        text-align: center;
        background-color: #616161;
      }
    }
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
    th, td {
      padding: 10px;
      font-size: 12px;
    }
  }
}

/**
 * p-about-support-group
 */
.p-about-support-group {
  @if $mq-all {
    max-width: 1140px;
    margin: 30px auto;
    padding: 40px;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    @include clearfix;
  }
  @if $mq-tablet {
    padding: 20px;
  }
  @if $mq-sp {
    padding: 10px;
  }
}

.p-about-support-inner {
  @if $mq-all {
    float: left;
    width: 57%;
    *:last-child { margin-bottom: 0; }
  }
  @if $mq-tablet {
    float: none;
    width: 100%;
  }
  @if $mq-sp {
  }
}

.p-about-support-heading {
  @if $mq-all {
    margin: -8px 0 0 0;
    font-size: 26px;
    font-weight: bold;
    vertical-align: middle;
    &:before {
      display: inline-block;
      width: 48px;
      height: 48px;
      margin-right: 14px;
      color: #fff;
      text-align: center;
      border-radius: 50%;
      vertical-align: middle;
    }
    &.type-num-1:before {
      content: "1";
      background-color: #e85377;
    }
    &.type-num-2:before {
      content: "2";
      background-color: #1e88e5;
    }
    &.type-num-3:before {
      content: "3";
      background-color: #43a047;
    }
  }
  @if $mq-tablet {
    margin: 0;
  }
  @if $mq-sp {
    font-size: 20px;
    &:before {
      width: 40px;
      height: 40px;
    }
  }
}

.p-about-support-info {
  @if $mq-all {
    padding: 15px;
    background-color: #f4f3ed;
    *:first-child { margin-top: 0; }
    *:last-child { margin-bottom: 0; }

    .type-heading {
      padding: 2px 10px;
      color: #fff;
      font-weight: bold;
      background-color: #43a047;
    }
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
  }
}

.p-about-support-image {
  @if $mq-all {
    float: right;
    width: 40%;
    font-size: 13px;
    *:last-child { margin-bottom: 0; }
  }
  @if $mq-tablet {
    width: 100%;
    padding: 20px 0 0;
    text-align: center;
  }
  @if $mq-sp {
  }
}