// ------------------------------
// Page Competition CSS
// ------------------------------

@import '../../setting/_variables';

/**
 * hero-group
 */
.p-case-study-hero-group {
  @if $mq-all {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 40px 40px;
    box-sizing: border-box;
    background: url('/case-study/img/hero-bg-1.png') no-repeat 700px bottom;
    @include clearfix;
  }
  @if $mq-tablet {
    padding: 0 20px 40px;
  }
  @if $mq-sp {
    padding: 0 20px 20px;
  }
}

.p-case-study-hero-heading {
  @if $mq-all {
    float: right;
    width: 44%;
    padding: 0 6% 0 0;
    box-sizing: border-box;
    .type-txt-1 {
      margin: 0 0 23px 0;
    }
  }
  @if $mq-tablet {
    width: 48%;
    padding: 0;
  }
  @if $mq-sp {
    width: 100%;
    .type-txt-1 {
      margin: 15px 0 30px 0;
    }
  }
}

.p-case-study-hero-company {
  @if $mq-all {
    padding: 20px;
    background-color: #fff;
    box-sizing: border-box;

    p { margin: 0; }
    .type-label {
      display: block;
    }
    .type-name {
      display: block;
      font-weight: bold;
      font-size: 24px;
    }
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
    padding: 15px;
    margin-bottom: 15px;
    p { margin: 0; }
    .type-label {
      display: block;
    }
    .type-name {
      font-size: 14px;
    }
  }
}

.p-case-study-hero-model {
  @if $mq-all {
    float: left;
    width: 48%;
    margin: 0 0 0 0;
    background-color: #fff;
    dl {
      position: relative;
      margin: 0;
      padding: 10px 20px;
    }
    dt {
      position: absolute;
      top: 10px;
      left: 20px;
      margin: 0;
      padding: 0;
      font-size: 18px;
      font-weight: bold;
    }
    dd {
      margin: 0;
      padding: 0 0 0 80px;
    }
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
    width: 100%;
    dl {
      margin: 0;
      padding: 10px 20px;
    }
    dt {
      position: static;
      margin: 0;
      padding: 0;
      font-size: 14px;
    }
    dd {
      margin: 0;
      padding: 0;
    }
  }
}





/**
 * p-case-study-heading
 */
.p-case-study-heading-1 {
  @if $mq-all {
    text-align: center;
    font-weight: bold;
    font-family: $font-noto-sans;
    @include fz(33,53);
  }
  @if $mq-tablet {
    @include fz(26,38);
  }
  @if $mq-sp {
    @include fz(16,22);
    br { display: none; }
  }
}

/**
 * p-case-study-point-group
 */
.p-case-study-point-group {
  @if $mq-all {
    max-width: 1220px;
    margin: 60px auto 20px;
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
    margin: 30px auto;
  }
}

.p-case-study-point-list {
  @if $mq-all {
    margin: 0 -20px;
    font-size: 0;
  }
  @if $mq-tablet {
    margin: 0;
  }
  @if $mq-sp {
    margin: 0;
  }
}
.p-case-study-point-item {
  @if $mq-all {
    display: inline-block;
    width: 33.3%;
    margin: 0 0 35px 0;
    padding: 0 20px;
    vertical-align: top;
    box-sizing: border-box;

    dt {
      margin: 0 0 15px 0;
      padding: 25px 0 0 0;
      color: #42a5f5;
      font-size: 18px;
      font-weight: bold;
      border-top: 1px solid #e0e0e0;
    }
    dd {
      margin: 0;
      padding: 0;
      font-size: 15px;
    }
  }
  @if $mq-tablet {
    width: 50%;
    margin: 0 0 35px 0;
    padding: 0 20px;
  }
  @if $mq-sp {
    width: 100%;
    margin: 0 0 15px 0;
    padding: 0;
    dt {
      margin: 0 0 5px 0;
      padding: 10px 0 0 0;
      font-size: 16px;
    }
    dd {
      font-size: 13px;
    }
  }
}

.p-case-study-point-message {
  @if $mq-all {
    display: inline-block;
    width: 66.6%;
    margin: 0 0 35px 0;
    padding: 0 20px;
    font-size: 15px;
    vertical-align: top;
    box-sizing: border-box;

    &.type-wide {
      display: block;
      max-width: 1220px;
      width: 100%;
      margin: 35px auto;
      padding: 0;
    }
  }
  @if $mq-tablet {
    width: 100%;
    margin: 0 0 30px 0;
    padding: 0;
    font-size: 15px;

    &.type-wide {
      display: block;
      max-width: 1220px;
      width: 100%;
      margin: 35px auto;
      padding: 0;
    }
  }
  @if $mq-sp {
  }
}

.p-case-study-point-message-inner {
  @if $mq-all {
    padding: 30px 30px 25px;
    box-sizing: border-box;
    border: 1px solid #f29600;
    @include clearfix;
  }
  @if $mq-tablet {
    padding: 20px;
  }
  @if $mq-sp {
  }
}

.p-case-study-point-message-heading {
  @if $mq-all {
    margin: -30px -30px 25px;
    padding: 10px 25px;
    color: #fff;
    font-weight: bold;
    font-size: 21px;
    background-color: #f29600;
  }
  @if $mq-tablet {
    margin: -30px -20px 25px;
  }
  @if $mq-sp {
    margin: -30px -20px 25px;
  }
}

.p-case-study-point-message-staff {
  @if $mq-all {
    float: left;
    width: 20%;
    text-align: center;

    .type-wide & {
      float: right;
      width: 30%;
      text-align: left;
    }

    .type-name {
      margin: 10px 0;
      font-weight: bold;
    }
    .type-link {
      margin: 10px 0;
      font-size: 14px;
    }
  }
  @if $mq-tablet {
    float: none;
    width: 100%;
    margin-bottom: 20px;
    .type-image {
      float: left;
      width: 80px;
    }
  }
  @if $mq-sp {
    margin-bottom: 20px;
    text-align: right;
    .type-wide & {
      float: none;
      width: 100%;
      text-align: right;
      .type-image {
        width: 40%;
        margin: 0 10px 0 0;
      }
    }
    .type-image {
      float: left;
      width: 80px;
    }
  }
}

.p-case-study-point-message-txt {
  @if $mq-all {
    float: right;
    width: 76%;
    .type-wide & {
      float: left;
      width: 67%;
    }
    .type-heading {
      margin: 0 0 20px 0;
      font-size: 20px;
      font-weight: bold;
    }
  }
  @if $mq-tablet {
    float: none;
    width: 100%;
  }
  @if $mq-sp {
    .type-wide & {
      float: none;
      width: 100%;
    }
    font-size: 13px;
    .type-heading {
      margin: 0 0 20px 0;
      font-size: 16px;
      br { display: none; }
    }
  }
}

/**
 * p-case-study-outline-group
 */
.p-case-study-outline-group {
  @if $mq-all {
    padding: 40px;
    max-width: 1220px;
    margin: 30px auto;
    border: 1px solid #e0e0e0;
    background: #fff;
    box-sizing: border-box;
    @include clearfix;
    *:last-child { margin-bottom: 0; }
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
    padding: 15px;
  }
}

.p-case-study-outline-spec {
  @if $mq-all {
    float: left;
    width: 37%;
  }
  @if $mq-tablet {
    float: none;
    width: 100%;
  }
  @if $mq-sp {
  }
}

.p-case-study-outline-spec-detail {
  @if $mq-all {
    margin: 20px 0;
    padding: 20px;
    background: #f4f3ed;
    .type-tag {
      display: inline-block;
      margin-bottom: 0;
      padding: 3px 20px;
      color: #fff;
      background: #e85377;
    }
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
  }
}

.p-case-study-outline-detail {
  @if $mq-all {
    float: right;
    width: 59%;
    *:first-child { margin-top: 0px; }
    *:last-child { margin-bottom: 0px; }

    .type-heading {
      margin-bottom: 10px;
      font-weight: bold;
      @include fz(33,52);
    }
    .type-model-name {
      margin: 0 0 30px 0;
      font-size: 18px;
    }
    .type-txt {
      margin: 1.5em 0;
    }
  }
  @if $mq-tablet {
    float: none;
    width: 100%;
  }
  @if $mq-sp {
    .type-heading {
      margin: 20px 0 0;
      @include fz(18,28);
      br { display: none; }
    }
    .type-model-name {
      margin: 0 0 10px 0;
      font-size: 18px;
    }
  }
}

/**
 * p-case-study-gallely-group
 */
.p-case-study-gallely-group {
  @if $mq-all {
    position: relative;
    clear: both;
    margin: 35px 0;
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
  }
}

.p-case-study-gallely-list {
  @if $mq-all {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0 40px 0;
    @include clearfix;
  }
  @if $mq-tablet {
    padding: 0;
  }
  @if $mq-sp {
    padding: 0;
  }
}

.p-case-study-gallely-list-item {
  @if $mq-all {
    float: left;
    width: 30%;
    margin: 0 16px;
    img {
      margin: 0 auto;
    }

    .type-caption {
      display: block;
      margin: 10px 0;
      font-size: 14px;
    }
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
  }
}

.p-case-study-gallely-contlloler {
  @if $mq-all {
    position: absolute;
    top: 90px;
    z-index: 5;
    width: 25px;
    height: 60px;
    cursor: pointer;
    &.type-prev {
      left: 0px;
      background: url('/resources/img/icon/ico-arrow-3.png') no-repeat 0 0;
    }
    &.type-next {
      right: 0px;
      background: url('/resources/img/icon/ico-arrow-2.png') no-repeat 0 0;
    }
  }
  @if $mq-tablet {
    top: 65px;
    &.type-prev {
      left: -20px;
    }
    &.type-next {
      right: -20px;
    }
  }
  @if $mq-sp {
  }
}



.p-case-study-pager-group {
  @if $mq-all {
    max-width: 1220px;
    margin: 40px auto;
    @include clearfix;
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
    margin: 20px auto;
  }
}
.p-case-study-pager-btn {
  @if $mq-all {
    &.type-prev {
      float: left;
      a:before {
        content: "";
        left: 10px;
        background: url('/resources/img/icon/ico-arrow-5.png') no-repeat center;
      }
    }
    &.type-next {
      float: right;
      a:after {
        content: "";
        right: 10px;
        background: url('/resources/img/icon/ico-arrow-4.png') no-repeat center;
      }
    }
    a {
      position: relative;
      padding: 10px 50px;
      display: block;
      color: #fff;
      text-align: center;
      font-size: 17px;
      font-family: $font-noto-sans;
      background: #212121;
      text-decoration: none;
      letter-spacing: 1px;
      &:before, &:after {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto 0;
        display: inline-block;
        vertical-align: middle;
        width: 20px;
        height: 20px;
      }
    }
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
    a {
      padding: 10px 40px;
      font-size: 14px;
      letter-spacing: 0;
      &:before, &:after {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto 0;
        display: inline-block;
        vertical-align: middle;
        width: 20px;
        height: 20px;
        background: #ccc;
      }
    }
  }
}





.p-case-study-balloon-group {
  @if $mq-all {
    max-width: 1220px;
    margin: 20px auto 40px;
    padding: 20px 100px;
    background: #f9f8f4;
    @include clearfix;
    box-sizing: border-box;
  }
  @if $mq-tablet {
    padding: 20px;
  }
  @if $mq-sp {
    padding: 15px;
  }
}
.p-case-study-balloon-item {
  @if $mq-all {
    margin: 20px 0;
    @include clearfix;

    .type-left {
      float: left;
    }
    .type-right {
      float: right;
    }
    .type-small {
      width: 30%;
    }
    .type-wide {
      width: 70%;
    }
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
    .type-left {

    }
    .type-right {

    }
    .type-small {
      width: 60%;
    }
    .type-wide {
      width: 100%;
    }
  }

}


@import '_page-case-study/201510';