// ------------------------------
// Page Present CSS
// ------------------------------

@import '../../setting/_variables';

.p-present-hero-group {
  @if $mq-all {
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 0 50px 0;
    @include clearfix;

    .type-image-1 {
      float: left;
      width: 32%;
      margin: 0;

    }
    .type-image-2 {
      float: right;
      width: 66%;
      margin: 0 0 25px 0;
    }
    .type-banner-list {
      list-style: none;
      float: right;
      width: 65%;
      margin: 0;
      padding: 0;
      font-size: 0;

      li {
        display: inline-block;
        width: 33.33%;
        padding: 5px;
        box-sizing: border-box;

        a {
          display: block;
          overflow: hidden;
          padding: 2px 5px;
          text-align: center;
          border-radius: 6px;
          background-color: #fff;
          box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.18);
          @include hover-opacity;
        }
      }
    }
  }
  @if $mq-tablet {
    padding: 0 0 20px 0;
  }
  @if $mq-sp {
    padding: 0 15px 10px;

    .type-image-1 {
      float: none;
      width: 50%;
      margin: 0 auto 20px;
    }
    .type-image-2 {
      float: none;
      width: 100%;
      margin: 0 0 25px 0;
    }
    .type-banner-list {
      float: none;
      width: 100%;
      margin: 0;
      padding: 0;

      li {
        width: 100%;
        margin-bottom: 10px;
        padding: 0;
        a { padding: 0 5px; }
      }
    }
  }
}


.p-present-lead-group {
  @if $mq-all {
    margin: 0 -20px 35px;
    padding: 25px 30px;
    text-align: center;
    background-color: #df2425;

    p {
      margin: 0;
      color: #fff;
      @include fz(22,35);
    }
  }
  @if $mq-tablet {
    p {
      @include fz(18,30);
    }
  }
  @if $mq-sp {
    p {
      text-align: left;
      @include fz(16,26);
      br { display:  none; }
    }
  }
}

/**
 * hero-group
 */
.p-present-item-group {
  @if $mq-all {
    max-width: 1200px;
    margin: 35px auto;
    padding: 35px;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    @include clearfix;
  }
  @if $mq-tablet {
    padding: 30px;
  }
  @if $mq-sp {
    margin: 30px auto;
    padding: 20px;
  }
}

/**
 *
 */
.p-present-item-outline {
  @if $mq-all {
    float: left;
    width: 46.2%;
    margin-bottom: 30px;
    padding: 20px;
    background-color: #f4f3ed;
    box-sizing: border-box;

    .type-image {
      margin: -20px -20px 15px;
    }
    .type-name {
      margin: 0;
      font-weight: bold;
      @include fz(16,28);
    }
    .type-tel {
      margin: 0;
      font-weight: bold;
      @include fz(24,28);
      a {
        cursor: default;
        text-decoration: none;
      }
    }
    .type-address {
      margin: 0;
    }
  }
  @if $mq-tablet {
    float: none;
    width: 100%;
    @include clearfix;

    .type-image {
      width: 40%;
      float: left;
      margin: 0 20px 0 0;
    }
  }
  @if $mq-sp {
    .type-image {
      float: none;
      width: 100%;
      margin: 0 0 15px 0;
    }
    .type-tel {
      @include fz(22,28);
      a {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}

/**
 *
 */
.p-present-item-detail {
  @if $mq-all {
    float: right;
    width: 53.8%;
    margin-bottom: 30px;
    padding: 0 0 0 35px;
    box-sizing: border-box;

    .type-logo {
      margin-bottom: 20px;
    }
    .type-heading {
      margin: 0;
      font-weight: bold;
      @include fz(32,45);
    }
    .type-txt {
    }
  }
  @if $mq-tablet {
    float: none;
    width: 100%;
    padding: 0;

    .type-heading {
      @include fz(28,38);
      br { display: none; }
    }
    .type-txt {
      @include fz(14,26);
    }
    .c-btn { max-width: 100%; }
  }
  @if $mq-sp {
    .type-heading {
      @include fz(22,32);
    }
    .type-txt {
      @include fz(13,22);
    }
  }
}

/**
 *
 */
.p-present-item-staff {
  @if $mq-all {
    padding: 25px;
    background-color: #f4f3ed;
    box-sizing: border-box;
    @include clearfix;

    .type-image {
      float: left;
      margin: 0 20px 20px 0;
    }
    .type-detail {
      width: auto;

      .type-heading {
        margin: 0 0 10px 0;
        font-weight: bold;
      }
      .type-txt {
        margin: 0;
      }
    }
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
    padding: 20px;
    .type-image {
      width: 60px;
      margin: 0 15px 15px 0;
    }
    .type-detail {
      .type-txt {
        clear: both;
        @include fz(13,22);
      }
    }
  }
}

/**
 *
 */
.p-present-item-sale {
  @if $mq-all {
    box-sizing: border-box;
    margin: 0;
    @include clearfix;

    .type-image {
      float: left;
      margin: 0 20px 20px 0;
    }
    .type-detail {
      width: auto;

      .type-heading {
        margin: 0 0 10px 0;
        font-weight: bold;
      }
      .type-txt {
        margin: 0;
      }
    }
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
  }
}

.p-present-item-sale-heading {
  @if $mq-all {
    margin: 20px 0;
    text-align: center;
    font-weight: bold;
    @include fz(24,28);
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
    @include fz(18,26);
  }
}

.p-present-item-sale-item {
  @if $mq-all {
    display: table;
    float: left;
    width: 49%;
    margin: 0;
    background-color: #f7efe3;
    &:nth-child(odd) { float: right; }

    dt {
      display: table-cell;
      width: 100px;
      vertical-align: middle;
      color: #fff;
      text-align: center;
      font-weight: bold;
      background-color: #866f28;
      @include fz(16,26);
    }
    dd {
      display: table-cell;
      padding: 15px;

      .type-label {
        display: block;
        font-weight: bold;
      }
      .type-txt {
      }
    }

    &.type-color-brown {
      background-color: #f7efe3;
      dt { background-color: #866f28; }
    }
    &.type-color-red {
      background-color: #f5e8ee;
      dt { background-color: #580c10; }
    }
  }
  @if $mq-tablet {
    float: none;
    width: 100%;
  }
  @if $mq-sp {
  }
}

/**
 *
 */
.p-present-form-group {
  @if $mq-all {
    margin: 35px auto;
    max-width: 1200px;
    padding: 35px;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    @include clearfix;

    .type-heading-1 {
      margin: 0;
      padding: 15px;
      color: #fff;
      text-align: center;
      font-weight: bold;
      background-color: #df2425;
      @include fz(22,35);
      br { display: none; }
    }
    .type-heading-2 {
      margin-top: 30px;
      margin-bottom: 10px;
      font-weight: bold;
      @include fz(22,35);
    }
  }
  @if $mq-tablet {
    padding: 30px;
  }
  @if $mq-sp {
    margin: 30px auto;
    padding: 20px;

    .type-heading-1 {
      margin: -20px -20px 0px;
      @include fz(18,26);
      br { display: block; }
    }
    .type-heading-2 {
      margin-bottom: 15px;
      @include fz(18,26);
    }
  }
}

.p-present-form {
  @if $mq-all {
    max-width: 980px;
    margin: 0 auto;
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
  }
}