// ------------------------------
// Page Competition CSS
// ------------------------------

@import '../../setting/_variables';

/**
 * hero-group
 */
#base-container-head.type-column {
  @if $mq-all {
    position: relative;
    background: url('/resources/img/bg/bg-stripe-2.png');
    padding: 0 0 10px 0;
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
  }
}

.p-column-hero-group {
  @if $mq-all {
    max-width: 1140px;
    margin: 0 auto 80px;
    padding: 60px 80px;
    box-sizing: border-box;
    border: 10px solid #c7e3c9;
    border-radius: 20px;
    background-color: #fff;
    @include clearfix;
    &:before {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 0px;
      right: 0px;
      margin: 0 auto;
      width: 1220px;
      height: 57px;
      background: url('/resources/img/bg/bg-image-1.png') no-repeat center bottom;
    }
  }
  @if $mq-tablet {
    max-width: 1140px;
    margin: 0 auto 80px;
    padding: 40px 40px;
    box-sizing: border-box;
    border: 10px solid #c7e3c9;
    border-radius: 20px;
    background-color: #fff;
    @include clearfix;
  }
  @if $mq-sp {
    margin: 0 10px 60px;
    padding: 20px;
    border: 5px solid #c7e3c9;
  }
}

.p-column-hero-txt {
  @if $mq-all {
    float: left;
    width: 50%;
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
    float: none;
    width: 80%;
    margin-bottom: 15px;
  }
}

.p-column-hero-message {
  @if $mq-all {
    float: right;
    width: 50%;
    img {
      display: inline-block;
      vertical-align: middle;
      padding: 0 15px 0 0;
      width: 50%;
      box-sizing: border-box;
    }
    p {
      margin: 0;
    }
    .type-position {
      display: block;
      font-size: 14px;
    }
    .type-name {
      display: block;
      font-size: 16px;
      font-weight: bold;
      margin: 0 0 5px 0;
    }
    .type-list {
      font-size: 14px;
    }
  }
  @if $mq-tablet {
    img {
      padding: 0 0 0 15px;
    }
  }
  @if $mq-sp {
    float: none;
    width: 100%;
    img {
      padding: 0 15px 0 0;
      width: 30%;
    }
    .type-position { @include fz(13,22); }
    .type-name {
      font-size: 14px;
      margin: 0 0 5px 0;
    }
    .type-list { @include fz(12,22); }
  }
}

.p-column-hero-message-txt {
  @if $mq-all {
    display: inline-block;
    width: 48%;
    vertical-align: middle;
  }
  @if $mq-tablet {
    width: auto;
  }
  @if $mq-sp {
    float: right;
    width: 70%;

  }
}


.p-column-group {
  @if $mq-all {
    max-width: 1140px;
    margin: 0 auto;
    padding: 50px 70px;
    box-sizing: border-box;
    border: 10px solid #cbe5ce;
    @include clearfix;
    *:first-child { margin-top: 0; }
    p {
      @include fz(16,28);
    }

    .type-right-image {
      float: right;
      margin: 0 0 30px 30px;
    }
    .type-left-image {
      float: left;
      margin: 0 30px 30px 0;
    }
    .type-center-image {
      display: block;
      margin: 0 auto;
      margin: 30px auto;
    }
  }
  @if $mq-tablet {
    margin: 0 auto;
    padding: 20px;
    border: 10px solid #cbe5ce;
  }
  @if $mq-sp {
    padding: 15px;
    border: 5px solid #cbe5ce;
    p {
      @include fz(14,24);
    }
    .type-right-image {
      float: none;
      width: 100%;
      margin: 20px 0;
    }
    .type-left-image {
      float: none;
      width: 100%;
      margin: 15px 0;
    }
    .type-center-image {
      width: 100%;
      margin: 15px 0;
    }
  }
}

.p-column-heading-1 {
  @if $mq-all {
    clear: both;
    position: relative;
    color: #69bc82;
    margin: 30px 0 30px;
    padding: 0 0 26px 0;
    font-weight: bold;
    @include fz(28,40);
    background: url('/resources/img/bg/bg-dotline-1.png') repeat-x 0 bottom;
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
    margin: 20px 0 20px;
    padding: 0 0 15px 0;
    @include fz(20,30);
  }
}

.p-column-heading-2 {
  @if $mq-all {
    color: #69bc82;
    margin: 30px 0 30px;
    padding: 0 0 26px 0;
    text-align: center;
    padding: 25px;
    font-weight: bold;
    border-radius: 10px;
    @include fz(28,33);
    &.type-orange {
      color: #ed6c00;
      background-color: #fde9d9;
    }
    &.type-blue {
      color: #22ade4;
      background-color: #def3fb;
    }
    &.type-green {
      color: #69bc82;
      background-color: #e9f5ec;
    }
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
    margin: 30px 0 30px;
    padding: 10px;
    @include fz(18,26);
  }
}

.p-column-heading-3 {
  @if $mq-all {
    color: #69bc82;
    margin: 30px 0 30px;
    text-align: center;
    padding: 15px;
    font-weight: bold;
    @include fz(28,33);
    color: #fff;
    background-color: #69bc82;
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
    padding: 10px;
    @include fz(18,26);
  }
}



.p-column-table-group {
  @if $mq-all {
    margin:  40px 0;
    @include clearfix;
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
    overflow-x: scroll;
  }
}

.p-column-table-heading {
  @if $mq-all {
    margin-bottom: 10px;
    font-weight: bold;
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
  }
}

.p-column-table-annotation {
  @if $mq-all {
    margin: 10px 0;
    width: 40%;
    float: right;
    p {
      margin: 0;
      font-size: 13px !important;
    }
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
    float: none;
    width: 100%;
  }
}

.p-column-table-1 {
  @if $mq-all {
    th, td {
      padding: 5px 10px;
      text-align: center;
      font-size: 14px;
      border-right: 1px solid #babeb0;
    }
    th {
      &:last-child { border: none;}
    }
    td {
      background-color: #ecf5e4;
      &:last-child { border: none;}
    }
    tr:nth-child(2n) {
      td {
        background-color: #fff;
      }
    }
    .type-bg-orange {
      th,td {
        background-color: #fdd35c;
      }
    }
    .type-left { text-align: left; }
    .type-right { text-align: right; }
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
    width: 600px;
    th, td {
      padding: 5px;
      font-size: 12px;
    }
  }
}


.p-column-end-message {
  @if $mq-all {
    position: relative;
    margin: 30px 0;
    @include clearfix;
    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: 0px;
      width: 380px;
      height: 144px;
      background: url('/column/img/image-2.png') no-repeat;
    }
    img {
      float: left;
      margin: 0 20px 0 0;
      vertical-align: middle;
    }
    p {
      margin: 0;
      display: inline-block;
      vertical-align: middle;
      @include fz(28,42);
      font-weight: bold;
      color: #ed6c00;
    }
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
    margin: 30px 0;
    &:before {
      display: none;
    }
    img {
      float: none;
      margin: 0;
    }
    p {
      display: block;
      @include fz(16,24);
      br { display: none; }
    }
  }
}

@import '_page-column/201507';
@import '_page-column/201510';
@import '_page-column/201602';
