// ------------------------------
// Couleur CSS
// ------------------------------

@import '../../setting/_variables';

/**
 * hero-group
 */
#base-container-head.type-couleur {
  @if $mq-all {
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
  }
}

.p-couleur-hero-group {
  @if $mq-all {
    position: relative;
    max-width: 1220px;
    margin: 0 auto;
    box-sizing: border-box;
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
  }
}

.p-couleur-hero-heading-1 {
  @if $mq-all {
    position: relative;
    margin: 0;
    z-index: 10;
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
  }
}

.p-couleur-hero-image-1 {
  @if $mq-all {
    position: absolute;
    bottom: 0;
    right: -100px;
    z-index: 1;
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
  }
}

/**
 * p-couleur-intro-group
 */
.p-couleur-intro-group {
  @if $mq-all {
    max-width: 1140px;
    margin: 25px auto;
    box-sizing: border-box;
    @include clearfix;
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
  }
}

.p-couleur-intro-inner {
  @if $mq-all {
    float: left;
    width: 60%;
    box-sizing: border-box;
  }
  @if $mq-tablet {
    float: none;
    width: 100%;
  }
  @if $mq-sp {
  }
}

.p-couleur-intro-inner-heading {
  @if $mq-all {
    margin: 20px 0 35px 0;
  }
  @if $mq-tablet {
    margin: 20px 0 20px 0;
  }
  @if $mq-sp {
    margin: 20px 0 20px 0;
  }
}

.p-couleur-intro-inner-txt {
  @if $mq-all {
    @include fz(18,34);
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
    @include fz(14,24);
  }
}

.p-couleur-intro-panel {
  @if $mq-all {
    float: right;
    width: 35%;
    padding: 30px;
    font-size: 14px;
    box-sizing: border-box;
    background-color: #f9f8f4;
    @include clearfix;
    p { margin: 0; }

  }
  @if $mq-tablet {
    float: none;
    width: 100%;
    padding: 20px;
  }
  @if $mq-sp {
    padding: 15px;
    font-size: 13px;
  }
}

.p-couleur-intro-panel-image {
  @if $mq-all {
    margin: 0 0 15px 0;
    text-align: center;
  }
  @if $mq-tablet {
    float: left;
    margin: 0 15px 15px 0;
  }
  @if $mq-sp {
    width: 80px;
  }
}

.p-couleur-intro-panel-heading {
  @if $mq-all {
    color: #5d4037;
    font-size: 18px;
    font-weight: bold;
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
    font-size: 16px;
  }
}

/**
 * p-couleur-case-group
 */
.p-couleur-case-group {
  @if $mq-all {
    max-width: 1140px;
    margin: 50px auto;
    background: url('/resources/img/bg/bg-stripe-1.png');
    padding: 10px;
    box-sizing: border-box;
    @include clearfix;
  }
  @if $mq-tablet {
    margin: 50px auto;
  }
  @if $mq-sp {
    margin: 30px auto;
    padding: 5px;
  }
}
.p-couleur-case-inner {
  @if $mq-all {
    max-width: 1140px;
    padding: 32px 74px;
    box-sizing: border-box;
    background: #fff;
    @include clearfix;
  }
  @if $mq-tablet {
    padding: 20px;
  }
  @if $mq-sp {
    padding: 15px;
  }
}

.p-couleur-case-heading-1 {
  @if $mq-all {
    margin-bottom: 15px;
    @include fz(28, 40);
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
    font-weight: bold;
    @include fz(18, 26);
    br { display: none; }
  }
}

.p-couleur-case-heading-2 {
  @if $mq-all {
    position: relative;
    padding: 10px 0;
    text-align: center;
    border-top: 2px solid #5d4037;
    border-bottom: 2px solid #5d4037;
    font-weight: 600;
    font-family: $font-courier;
    letter-spacing: 1px;
    @include fz(31, 40);

    &:before,
    &:after {
      content: "";
      position: absolute;
      left: 0px;
      width: 100%;
      border-width: 0;
      border-top-width: 1px;
      border-style: dashed;
      border-color: #5d4037;
    }
    &:before { top: 2px; }
    &:after { bottom: 2px; }

    .type-panasonic & { color: #5ab5b2; }
    .type-lixil & { color: #78ad71; }
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
  }
}

.p-couleur-case-company {
  @if $mq-all {
    background-color: #fffbed;
    @include clearfix;
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
  }
}

.p-couleur-case-company-logo {
  @if $mq-all {
    float: left;
    width: 36%;
    border: 24px solid #fff;
    box-sizing: border-box;
    .type-panasonic & { border-color: #83cdd2; }
    .type-lixil & { border-color: #8aba83; }
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
    float: none;
    width: 100%;
    border-width: 10px;
    img { width: 100%; }
  }
}

.p-couleur-case-company-detail {
  @if $mq-all {
    float: left;
    width: 64%;
    padding: 28px;
    box-sizing: border-box;
    *:last-child { margin-bottom: 0; }

    .type-staff-ph {
      float: right;
    }
    .type-heading {
      margin: 0;
      font-size: 21px;
      font-weight: bold;
    }
    .type-balloon {
      font-weight: bold;
      position: relative;
      padding: 0 0 0 60px;
      &:before {
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        display: block;
        width: 50px;
        height: 50px;
        vertical-align: middle;
        background: url('/resources/img/icon/ico-balloon-1.png') no-repeat 0 0;
      }
      .type-panasonic & {
        color: #51b9c0;
        &:before { background: url('/resources/img/icon/ico-balloon-1.png') no-repeat 0 0; }
      }
      .type-lixil & {
        color: #8aba83;
        &:before { background: url('/resources/img/icon/ico-balloon-2.png') no-repeat 0 0; }
      }
    }
    .type-name {
    }
  }
  @if $mq-tablet {
    float: left;
    width: 64%;
    padding: 28px;
    box-sizing: border-box;
    *:last-child { margin-bottom: 0; }

    .type-staff-ph {
      float: right;
      width: 100px;
    }
    .type-heading {
      margin: 0;
      font-size: 21px;
      font-weight: bold;
    }
    .type-balloon {
      font-weight: bold;
      .type-panasonic & { color: #51b9c0; }
      .type-lixil & { color: #8aba83; }
    }
    .type-name {
    }
  }
  @if $mq-sp {
    float: none;
    width: 100%;
    padding: 15px;
    .type-staff-ph {
      float: right;
      width: 66px;
      margin: 0 0 15px 15px;
    }
    .type-heading {
      font-size: 18px;
    }
    .type-balloon {
    }
    .type-name {
    }
  }
}

.p-couleur-case-intro {
  @if $mq-all {
    margin: 30px 0;
    @include clearfix;
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
  }
}

.p-couleur-case-intro-inner {
  @if $mq-all {
    float: left;
    margin-top: -25px;
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
  }
}

.p-couleur-case-point {
  @if $mq-all {
    clear: both;
    margin: 30px 0;
    padding: 20px;
    border-radius: 6px;
    @include clearfix;
    &:before {
      content: "";
      display: block;
      width: 89px;
      height: 29px;
      margin: 0 0 5px 0;
      background: url('/resources/img/icon/ico-point-1.png') no-repeat 0 0;
    }
    .type-panasonic & { background-color: #e7f5f6; }
    .type-lixil & { background-color: #e4efe3; }

    .type-image {
      float: right;
      margin: 0 0 0 15px;
    }
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
    margin: 20px 0;
    padding: 15px;
  }
}

.p-couleur-case-half {
  @if $mq-all {
    margin: 30px 0;
    @include clearfix;
    .p-couleur-case-half {
      margin: 0 0;
    }
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
  }
}

.p-couleur-case-half-item {
  @if $mq-all {
    width: 50%;
    box-sizing: border-box;
    @include clearfix;
    &.type-left {
      float: left;
      padding: 0 10px 0 0;
    }
    &.type-right {
      float: right;
      padding: 0 0 0 10px;
    }
    &.type-small {
      width: 40%;
    }
    &.type-large {
      width: 60%;
    }
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
    width: 100%;
    &.type-left,
    &.type-right {
      float: none;
      padding: 0;
    }
    &.type-small,
    &.type-large {
      width: 100%;
    }
  }
}



.p-couleur-case-message {
  @if $mq-all {
    overflow: hidden;
    margin: 25px 0;
    padding: 0 15px 20px;
    border-radius: 6px;
    background-color: #eaedea;
    @include clearfix;
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
  }
}

.p-couleur-case-message-heading {
  @if $mq-all {
    margin: 0 -15px;
    padding: 10px 0;
    text-align: center;
    font-weight: bold;
    color: #0097a7;
    background-color: #ffee58;
    @include fz(22, 30);
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
  }
}

.p-couleur-case-message-item {
  @if $mq-all {
    float: left;
    width: 33%;
    padding: 25px 15px 0;
    box-sizing: border-box;
    @include clearfix;
    .type-picture {
      float: left;
      width: 40%;
      span {
        margin: 15px 0;
        display: block;
        text-align: center;
        font-weight: bold;
      }
    }
    .type-txt {
      float: right;
      margin: 0;
      width: 54%;
      @include fz(15, 22);
    }
  }
  @if $mq-tablet {
    float: none;
    width: 100%;
    padding: 20px 0 0 0;
    margin: 0;
    .type-picture {
      float: left;
      width: 15%;
      span {
        margin: 10px 0 0;
      }
    }
    .type-txt {
      float: right;
      margin: 0;
      padding: 0 0 0 20px;
      box-sizing: border-box;
      width: 85%;
      @include fz(13, 22);
    }
  }
  @if $mq-sp {
    .type-picture {
      float: none;
      width: 100%;
      margin-bottom: 5px;
      img {
        display: inline-block;
        width: 18%;
      }
      span {
        display: inline-block;
        margin: 0 0 0 10px;
        text-align: left;
      }
    }
    .type-txt {
      float: none;
      width: 100%;
      padding: 0;
      br { display: none; }
    }
  }
}


.p-couleur-case-info {
  @if $mq-all {
    overflow: hidden;
    margin: 25px 0;
    padding: 0 30px 30px;
    border-radius: 6px;
    @include clearfix;
    .type-panasonic & { background-color: #e7f5f6; }
    .type-lixil & { background-color: #e4efe3; }
    .type-map {
      float: right;
    }
    .type-ph {
      float: left;
    }
  }
  @if $mq-tablet {
    padding: 0 20px 20px;
    .type-map { width: 50%; }
    .type-ph { width: 50%; }
  }
  @if $mq-sp {
  }
}

.p-couleur-case-info-heading {
  @if $mq-all {
    margin: 0 -30px 25px;
    padding: 10px 0;
    text-align: center;
    font-weight: bold;
    color: #fff;
    @include fz(22, 30);
    .type-panasonic & { background-color: #83ccd2; }
    .type-lixil & { background-color: #78ad71; }
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
  }
}

.p-couleur-case-info-txt {
  @if $mq-all {
    float: left;
    width: 40%;
    padding: 0 0 0 25px;
    box-sizing: border-box;
    .type-label {
      margin: 10px 0;
      font-weight: bold;
      @include fz(20, 30);
    }
    .type-txt {
      margin: 10px 0;
      @include fz(15, 22);
    }
    *:first-child { margin-top: 0; }
    *:last-child { margin-bottom: 0; }
  }
  @if $mq-tablet {
    clear: both;
    float: none;
    width: 100%;
    padding: 0;
    .type-label {
      margin: 10px 0;
      @include fz(20, 30);
    }
    .type-txt {
      margin: 10px 0;
      @include fz(14, 22);
    }
  }
  @if $mq-sp {
    .type-label {
      margin: 10px 0;
      @include fz(18, 30);
    }
    .type-txt {
      margin: 10px 0;
      @include fz(13, 22);
    }
  }
}