// ------------------------------
// Page top CSS
// ------------------------------

@import '../../setting/_variables';

#svg_logo {
  @if $mq-all {

    path {
      fill:#000;
      &.st0 { fill:#e50012; }
      transform-origin: 50%;
      transform: scale(0) rotate(90deg);
    }

    .is-animate &{
      path {
        animation: DASH 400ms ease alternate forwards;
        transform-origin: 50%;
        transform: scale(0) rotate(90deg);
        &.path-0 { animation-delay: 0ms; }
        &.path-1 { animation-delay: 100ms; }
        &.path-2 { animation-delay: 200ms; }
        &.path-3 { animation-delay: 300ms; }
        &.path-4 { animation-delay: 400ms; }
        &.path-5 { animation-delay: 500ms; }
        &.path-6 { animation-delay: 600ms; }
        &.path-7 { animation-delay: 700ms; }
        &.path-8 { animation-delay: 800ms; }
        &.path-9 { animation-delay: 900ms; }
        &.path-10 { animation-delay: 1000ms; }
        &.path-11 { animation-delay: 1100ms; }
        &.path-12 { animation-delay: 1200ms; }
      }
    }
  }
}
@if $mq-all {
  @keyframes DASH {
    0% { transform: scale(0) rotate(90deg); }
    100% { transform: scale(1) rotate(0deg); }
  }
}

.p-top-border {
  @if $mq-all {
    &:before, &:after {
      content: "";
      display: block;
      background-color: #e50012;
      position: fixed;
      z-index: 1001;
    }
    &.type-vertical {
      &:before {
        left: 0px;
        top: 0px;
        height: 10px;
        width: 100%;
      }
      &:after {
        right: 0px;
        bottom: 0px;
        height: 10px;
        width: 100%;
      }
    }
    &.type-horizonal {
      &:before {
        top: 0px;
        right: 0px;
        height: 100%;
        width: 10px;
      }
      &:after {
        top: 0px;
        left: 0px;
        height: 100%;
        width: 10px;
      }
    }
  }
  @if $mq-tablet {
    &.type-vertical {
      &:before,
      &:after { height: 6px; }
    }
    &.type-horizonal {
      &:before,
      &:after { width: 6px; }
    }
  }
  @if $mq-sp {
    &.type-vertical {
      &:before,
      &:after { height: 4px; }
    }
    &.type-horizonal {
      &:before,
      &:after { width: 4px; }
    }
  }
}



/**
 * top-table
 */

.p-top-panel-group {
  @if $mq-all {
    max-width: 1220px;
    margin: 10px auto;
    background: #fff;
    @include clearfix;
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
    margin: 5px auto 10px;
  }
}

.p-top-panel-list {
  @if $mq-all {
    float: right;
    width: 50%;
    list-style: none;
    margin: 0;
    padding: 10px 0 0 10px;
    box-sizing: border-box;
    @include clearfix;
  }
  @if $mq-tablet {
    float: none;
    width: 100%;
    padding: 10px 5px 0 15px;
  }
  @if $mq-sp {
  }
}

.p-top-panel-list-item {
  @if $mq-all {
    position: relative;
    float: left;
    box-sizing: border-box;

    &.type-col-1 {
      width: 33.33%;
      border-right: 10px solid #fff;
      border-bottom: 10px solid #fff;
    }
    &.type-col-2 {
      width: 66.66%;
      border-right: 10px solid #fff;
      border-bottom: 10px solid #fff;
    }
    img {
      width: 100%;

    }
    a {
      img {
        position: relative;
        transition-duration: 0.5s;
      }
      &:hover img {
        z-index: 10;
        display: block;
        transform: scale(1.08);
      }
    }


  }
  @if $mq-tablet {
    &.type-col-3 { width: 100%; }
    &.type-col-2 { width: 100%; }
    &.type-col-1 { width: 50%; }
  }
  @if $mq-sp {
    &.type-col-3 { width: 100%; }
    &.type-col-2 { width: 100%; }
    &.type-col-1 { width: 50%; }
  }
}

.p-top-panel-list-item-spacer {
  @if $mq-all {
    float: left;
    width: 50.02%;
    height: 0px;
    background: #ccc;
    box-sizing: border-box;
  }
  @if $mq-tablet {
    display: none;

  }
  @if $mq-sp {
  }
}

.p-top-panel-gellely-group {
  @if $mq-all {
    position: relative;
    float: left;
    width: 50%;
    height: 100%;
    padding: 10px 0 0 10px;
    box-sizing: border-box;

    .type-cover {
      position: absolute;
      z-index: 15;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      padding: 10px 0 0 10px;
      box-sizing: border-box;

      img {
        width: 100%;
      }

      #svg_logo {
        position: absolute;
        width: 60%;
        height: auto;
        top: 32%;
        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
          top: -50px;
        }
        left: 20%;
      }
    }
    .type-bg {
      width: 100%;
    }
  }
  @if $mq-tablet {
    float: none;
    width: 100%;
    padding: 0;
    .type-cover {
      padding: 0;
    }
  }
  @if $mq-sp {

  }
}

.p-top-panel-gellely {
  @if $mq-all {
    width: 100%;
    height: 100%;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 100%;
      transition-property: transform;
      transition-duration: 0ms;
      transition-delay: 0ms;
      //transform: scale(0.86);
      &.is-pre {
        transform: scale(1);
        transition-duration: 1200ms;
        transition-delay: 400ms;
      }
    }
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
  }
}





.p-top-banner-group {
  @if $mq-all {
    max-width: 1220px;
    margin: 30px auto 0;
    padding: 0 20px;
    @include clearfix;
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
    margin: 20px auto 0;
    padding: 0 15px;
  }
}

.p-top-banner-heading{
  @if $mq-all {
    margin: 0 0 30px 0;
    padding: 0 0 6px 0;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    border-bottom: 2px solid #212121;
  }
  @if $mq-tablet {
    margin: 0 0 20px 0;
  }
  @if $mq-sp {
    margin: 0 0 15px 0;
  }
}

.p-top-banner-item {
  @if $mq-all {
    float: left;
    width: 50%;
    padding: 0 20px 0 0;
    box-sizing: border-box;
    &:nth-child(2n) {
      padding: 0 0 0 20px;
    }
    a {
      @include hover-opacity;
    }
  }
  @if $mq-tablet {
    float: none;
    width: 100%;
    margin: 0 0 20px 0;
    padding: 0;
    &:nth-child(2n) { padding: 0; }
  }
  @if $mq-sp {
  }
}

.p-top-banner-list {
  @if $mq-all {
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    @include clearfix;
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
  }
}

.p-top-banner-list-item {
  @if $mq-all {
    float: left;
    width: 50%;
    box-sizing: border-box;
    padding: 0 20px 0 0;
    &:nth-child(2n) { padding: 0 0 0 20px; }
    img { width: 100%; }
  }
  @if $mq-tablet {
    padding: 0 10px 0 0;
    &:nth-child(2n) { padding: 0 0 0 10px; }
  }
  @if $mq-sp {
    padding: 0 5px 0 0;
    &:nth-child(2n) { padding: 0 0 0 5px; }
  }
}



.p-top-conpe-group {
  @if $mq-all {
    background: #f9f8f4;
    position: relative;
    margin: 45px auto 0;
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
  }
}

.p-top-conpe {
  @if $mq-all {
    overflow: hidden;
    position: relative;
    max-width: 1400px;
    margin: 0 auto;
    &:before {
      content: "";
      position: absolute;
      top: 0px;
      left: 0px;
      width: 495px;
      height: 702px;
      background: url('/resources/img/top/conpe-bg-1.jpg') no-repeat 0 0;
    }
    &:after {
      content: "";
      position: absolute;
      top: 0px;
      right: 0px;
      width: 495px;
      height: 702px;
      background: url('/resources/img/top/conpe-bg-2.jpg') no-repeat 0 0;
    }
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
  }
}

.p-top-conpe-txt {
  @if $mq-all {
    position: relative;
    z-index: 5;
    margin: 0 auto;
    width: 387px;
    height: 702px;
    box-sizing: border-box;
    background: #f9f8f4;
    padding: 118px 0 88px;
    text-align: center;
    a {
      @include hover-opacity;
    }
  }
  @if $mq-tablet {
    width: 40%;
    padding: 40px 10px 30px;
    height: auto;
  }
  @if $mq-sp {
    width: 40%;
    padding: 40px 10px 30px;
    height: auto;
  }
}




.p-top-message-group {
  @if $mq-all {
    max-width: 1400px;
    margin: 0 auto;
    padding: 63px 0 370px;
    text-align: center;
    background: url('/resources/img/top/message-bg-1.jpg') no-repeat center bottom ;
    background-size: cover;
    box-sizing: border-box;
  }
  @if $mq-tablet {
    padding: 63px 0 370px;
  }
  @if $mq-sp {
    padding: 30px 15px 260px;
    br { display: none; }
  }
}

.p-top-message-txt {
  @if $mq-all {
    margin: 0 0 30px 0;
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
    margin: 0 0 20px 0;
  }
}

.p-top-message-txt-2 {
  @if $mq-all {
    margin: 0 0 30px 0;
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
    margin: 0 0 20px 0;
  }
}

.p-top-message-list {
  @if $mq-all {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
  }
}

.p-top-message-list-item {
  @if $mq-all {
    display: inline-block;
    margin: 0 10px;
    a {
      display: block;
      padding: 10px;
      width: 260px;
      font-weight: bold;
      font-family: $font-noto-sans;
      border: 2px solid #212121;
      text-decoration: none;
      box-sizing: border-box;
      @include hover-opacity;
    }
  }
  @if $mq-tablet {
    margin: 5px 0;
  }
  @if $mq-sp {
  }
}
