// ------------------------------
// Couleur CSS
// ------------------------------

@import '../../setting/_variables';

.p-company-item-detail-tag-frame {
  @if $mq-all {
    background: #fff5d7;
    padding: 15px 20px;
    border-radius: 4px;
    border: 1px solid #fee391;
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
    width: 500px;
    box-sizing: border-box;
    z-index: 100;
    box-shadow: 1px 1px 3px #616161;
    &.is-active { display: block; }

    .type-heading {
      display: block;
      color: #5d4037;
      margin: 0 0 5px 0;
      font-weight: bold;
    }
    .type-txt {
      @include fz(14,22);
    }
  }
  @if $mq-tablet {
    width: 90%;
  }
  @if $mq-sp {
    width: 90%;
  }
}

/**
 * hero-group
 */
.base-type-company #base-container-head {
  @if $mq-all {
    margin-bottom: 35px;
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
    margin-bottom: 0px;
  }
}



.p-company-hero-group {
  @if $mq-all {
    position: relative;
    max-width: 1220px;
    margin: 0 auto;
    box-sizing: border-box;
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
  }
}

.p-company-hero-heading-1 {
  @if $mq-all {
    text-align: center;
    margin: 10px 0 50px 0;
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
    margin: 10px 0 40px 0;
  }
}

/**
 * p-company-categories-group
 */
.p-company-categories-group {
  @if $mq-all {
    max-width: 1220px;
    margin: 25px auto;
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
    margin: 0;
    padding: 10px;
    background: #fff;
  }
}

.p-company-categories-list {
  @if $mq-all {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0;
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
  }
}

.p-company-categories-list-item {
  @if $mq-all {
    position: relative;
    display: inline-block;
    width: 25%;
    margin: 0;
    padding: 0 6px;
    box-sizing: border-box;
    &:first-child { padding-left: 0; }
    &:last-child { padding-right: 0; }
    &:after {
      content: "";
      position: absolute;
      bottom: -25px;
      left: 0;
      right: 0;
      display: block;
      margin: 0 auto;
      width: 0;
      height: 0;
      border-top: 20px solid transparent;
      border-right: 20px solid transparent;
      border-bottom: 10px solid transparent;
      border-left: 20px solid transparent;
    }
    &.type-build.is-active:after { border-top-color: #9fc653; }
    &.type-reform.is-active:after { border-top-color: #f49e00; }
    &.type-outdoor.is-active:after { border-top-color: #28b2be; }
    &.type-club-s.is-active:after { border-top-color: #493f3c; }

    a {
      display: block;
      padding: 8px;
      text-align: center;
      color: #fff;
      font-size: 19px;
      font-weight: bold;
      text-decoration: none;
    }
    &.type-build a { background-color: #9fc653; }
    &.type-reform a { background-color: #f49e00; }
    &.type-outdoor a { background-color: #28b2be; }
    &.type-club-s a { background-color: #493f3c; }
  }
  @if $mq-tablet {
    a {
      padding: 8px 0;
      font-size: 15px;
    }
  }
  @if $mq-sp {
    margin-bottom: 15px;
    width: 50%;
    padding: 0 5px;
    &:nth-child(2n) { padding-right: 0; }
    &:nth-child(2n+1) { padding-left: 0; }
    &:after {
      bottom: -20px;
    }
    a {
      font-size: 14px;
    }
  }
}

/**
 * p-company-search-group
 */
.p-company-search-group {
  @if $mq-all {
    max-width: 1220px;
    margin: 25px auto;
    background-color: #424242;
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
    margin: 0 -10px;
  }
}

.p-company-search-label {
  @if $mq-all {
    display: inline-block;
    margin: 0;
    padding: 15px 30px 15px 15px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background: #000;
    &:before {
      content: "";
      display: inline-block;
      width: 30px;
      height: 30px;
      margin-right: 15px;
      vertical-align: middle;
      background: url('/resources/img/icon/ico-search.png') no-repeat 0 0;
    }
  }
  @if $mq-default {
    display: block;
    padding: 10px;
  }
  @if $mq-tablet {
    font-size: 14px;
    &:before {
      width: 20px;
      height: 20px;
      margin-right: 10px;
      background-size: 20px;
    }
  }
  @if $mq-sp {
  }
}

.p-company-search-list {
  @if $mq-all {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 0;
  }
  @if $mq-default {
    display: block;
    padding: 10px;
  }
  @if $mq-sp {
  }
}

.p-company-search-list-item {
  @if $mq-all {
    display: inline-block;
    &:after {
      content: "|";
      display: inline-block;
      margin: 0 0 0 0;
      color: #616161;
      font-size: 13px;
    }
    a, span {
      padding: 15px;
      color: #fff;
      font-size: 16px;
      font-weight: bold;
      text-decoration: none;
    }
    a:hover { text-decoration: underline; }
    &.is-active a {
      text-decoration: underline;
    }
  }
  @if $mq-default {
    width: 20%;
    text-align: center;
    vertical-align: top;
    &:after {
      margin: 0 0 0 0;
      float: right;
    }
  }
  @if $mq-tablet {
    a, span {
      padding: 15px;
      font-size: 14px;
    }
  }
  @if $mq-sp {
    width: 25%;
    text-align: center;
    vertical-align: top;
    &:after {
      margin: 0 0 0 0;
      font-size: 13px;
      float: right;
    }
    a, span {
      padding: 0;
      font-size: 13px;
    }
  }
}

/**
 * p-company-panel-group
 */
.p-company-panel-group {
  @if $mq-all {
    max-width: 1220px;
    margin: 25px auto;
    box-sizing: border-box;
    @include clearfix;
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
    margin: 0 -10px;
  }
}

.p-company-panel-list {
  @if $mq-all {
    list-style: none;
    margin: 0 -1.2%;
    padding: 0;
    font-size: 0;
  }
  @if $mq-tablet {
    text-align: center;
  }
  @if $mq-sp {
    margin: 0 0;
    padding: 0;
    font-size: 0;
    text-align: left;
  }
}

.p-company-panel-list-item {
  @if $mq-all {
    display: inline-block;
    width: 17.6%;
    margin: 0 1.2% 20px;
    padding: 9px;
    font-size: 15px;
    border: 1px solid #e0e0e0;
    vertical-align: top;
    box-sizing: border-box;
    a {
      display: inline-block;
      text-align: center;
      text-decoration: none;
      .type-image {
        display: block;
        margin: 10px 0;
      }
      .type-tag {
        font-size: 14px;
        font-weight: bold;

        .type-wood-frame { color: #009fe8; }
        .type-steel-frame { color: #44af35; }
        .type-log-sets { color: #965e53; }
        .type-2x4, .type-2x6 { color: #ef8200; }
        .type-importation { color: #e3007f; }
        .type-wood-panel { color: #541b85; }
      }
    }
  }
  @if $mq-tablet {
    width: 30%;
    margin: 0 1.2% 20px;
    padding: 10px;
    a {
      .type-image {
        display: block;
        margin: 10px 0;
      }
      .type-tag {
        font-size: 12px;
      }
    }
  }
  @if $mq-sp {
    display: inline-block;
    width: 50%;
    margin: 0;
    border-top: 0;
    border-left: 0;
    &:nth-child(2n) {
      border-right: 0;
    }
  }
}

/**
 * p-company-item
 */
.p-company-item {
  @if $mq-all {
    position: relative;
    max-width: 1220px;
    margin: 35px auto;
    padding: 25px 40px 40px;
    border: 1px solid #e0e0e0;
    border-top: 2px solid #212121;
    box-sizing: border-box;
    @include clearfix;
  }
  @if $mq-tablet {
    margin: 30px 0px;
    padding: 20px;
  }
  @if $mq-sp {
    margin: 30px 0;
    padding: 10px;
  }
}

.p-company-item-info {
  @if $mq-all {
    float: left;
    width: 24%;
    padding-right: 40px;
    box-sizing: border-box;
    .type-logo {
    }
    .type-name {
      margin: 10px 0 15px;
      font-weight: bold;
      .type-reform {
        display: block;
        text-align: center;
        @include fz(21,30);
      }
    }
    .type-heading {
      padding: 2px 0;
      color: #fff;
      text-align: center;
      font-weight: bold;
      background-color: #616161;

    }
    dl {
      margin: 0 0 15px 0;
      padding: 0 0 15px 0;
      border-bottom: 1px solid #e0e0e0;
      &:last-child { border: none; }
    }
    dt {
      margin: 0 0 5px 0;
      padding: 0;
      color: #5d4037;
      font-weight: bold;
    }
    dd {
      margin: 0;
      padding: 0;
      @include fz(14,20);
    }
    ul {
      margin: 0 0 0 20px;
      padding: 0;
      li {
        @include fz(14,20);
      }
    }
  }
  @if $mq-tablet {
    float: none;
    width: 100%;
    padding-right: 0;
    .type-logo {
    }
    .type-name {
      margin: 10px 0 15px;
      font-weight: bold;
      .type-reform {
        display: block;
        text-align: center;
        @include fz(21,30);
      }
    }
    .type-heading {
      padding: 2px 0;
      color: #fff;
      text-align: center;
      font-weight: bold;
      background-color: #616161;

    }
    dl {
      margin: 0 0 15px 0;
      padding: 0 0 15px 0;
      border-bottom: 1px solid #e0e0e0;
      &:last-child { border: none; }
    }
    dt {
      margin: 0 0 5px 0;
      padding: 0;
      color: #5d4037;
      font-weight: bold;
    }
    dd {
      margin: 0;
      padding: 0;
      @include fz(14,20);
    }
    ul {
      margin: 0 0 0 20px;
      padding: 0;
      li {
        @include fz(14,20);
      }
    }
  }
  @if $mq-sp {
    float: none;
    width: 100%;
    padding: 0;
    .type-logo {
      width: 50%;
    }
    .type-name {
      margin: 0;
      @include fz(16,30);
      .type-reform {
        text-align: left;
        @include fz(16,30);
      }
      br { display: none; }
    }
    .type-heading {
    }
    dl {
      margin: 0 0 10px 0;
      padding: 0 0 10px 0;
    }
    dt { margin: 0; }
    dd {
      @include fz(13,20);
    }
    ul {
      margin: 0 0 0 20px;
      li {
        @include fz(13,20);
      }
    }
  }
}

.p-company-item-detail {
  @if $mq-all {
    float: right;
    width: 76%;
    padding: 40px 0 0 0;
  }
  @if $mq-tablet {
    float: none;
    width: 100%;
  }
  @if $mq-sp {
    padding: 0;
  }
}

.p-company-item-detail-tag {
  @if $mq-all {
    position: absolute;
    top: 20px;
    left: 25%;
    display: inline-block;
    padding: 2px 60px 2px 25px;
    text-align: center;
    min-width: 80px;
    color: #fff;
    background-color: #009fe8;
    cursor: pointer;
    font-size: 15px;

    &.type-wood-frame { background-color: #009fe8; }
    &.type-steel-frame { background-color: #44af35; }
    &.type-log-sets { background-color: #965e53; }
    &.type-2x4, &.type-2x6 { background-color: #ef8200; }
    &.type-importation { background-color: #e3007f; }
    &.type-wood-panel { background-color: #541b85; }

    &:after {
      content: "";
      position: absolute;
      top: 0px;
      right: 0px;
      display: inline-block;
      width: 36px;
      height: 30px;
      background: #000 url('/resources/img/icon/ico-hatena.png') no-repeat center;

    }
  }
  @if $mq-tablet {
    position: relative;
    top: 0px;
    left: 0px;
  }
  @if $mq-sp {
    position: relative;
    top: 0px;
    left: 0px;
    margin: 5px 0;
  }
}

.p-company-item-detail-frame {
  @if $mq-all {
    margin: 20px 0;
    padding: 25px;
    background-color: #f9f8f4;
    @include clearfix;
    &:last-child { margin-bottom: 0; }
    *:last-child { margin-bottom: 0; }

    .type-heading {
      margin: 0 0 20px 0;
      font-weight: bold;
      font-family: $font-noto-sans;
      @include fz(30,36);
    }
    .type-heading-weak {
      margin: 0 0 20px 0;
      font-weight: bold;
      @include fz(21,26);
    }
    .type-txt {
    }
    .type-image {
      float: right;
      margin: -10px -10px -10px 20px;
    }
  }
  @if $mq-tablet {
    margin: 20px 0;
    padding: 20px;

    .type-heading {
      margin: 0 0 20px 0;
      @include fz(30,36);
    }
    .type-heading-weak {
      margin: 0 0 20px 0;
      @include fz(21,26);
    }
    .type-txt {
    }
    .type-image {
      float: right;
      width: 150px;
      margin: -10px -10px -10px 20px;
    }
  }
  @if $mq-sp {
    margin: 10px 0;
    padding: 10px;
    .type-heading {
      margin: 0 0 5px 0;
      @include fz(18,26);
    }
    .type-heading-weak {
      margin: 0 0 5px 0;
      @include fz(14,22);
    }
    .type-image {
      float: right;
      width: 30%;
      margin: 0;
      padding: 0 0 10px 10px;
    }
  }
}



/**
 * p-company-club-s-item
 */
 .p-company-club-s-group {
  @if $mq-all {
    padding: 0 20px;
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
    margin: 10px;
    padding: 0;
  }
}

.p-company-club-s-item {
  @if $mq-all {
    max-width: 1220px;
    margin: 60px auto;
    padding: 0 40px 40px;
    border: 1px solid #e0e0e0;
    border-top: none;
    box-sizing: border-box;
    @include clearfix;
  }
  @if $mq-tablet {
    margin: 30px auto;
    padding: 0 20px 20px;
  }
  @if $mq-sp {
    margin: 30px auto;
    padding: 0 10px 10px;
  }
}

.p-company-club-s-item-label {
  @if $mq-all {
    margin: 0 -40px 30px;
    padding: 22px 40px;
    color: #fff;
    font-weight: bold;
    background-color: #231815;
    @include fz(21,30);
  }
  @if $mq-tablet {
    margin: 0 -20px 30px;
    padding: 20px 40px;
  }
  @if $mq-sp {
    margin: 0 -10px 15px;
    padding: 15px;
    @include fz(15,22);
  }
}

.p-company-club-s-item-info {
  @if $mq-all {
    float: left;
    width: 49%;
    @include clearfix;

    .type-heading {
      margin: 0;
      font-weight: bold;
      @include fz(21,30);
    }
    .type-txt {
      @include fz(14,22);

    }
    .type-company,
    .type-profile {
      margin: 22px 0;
      padding: 22px 0 0 0;
      border-top: 1px solid #e0e0e0;
      @include fz(13,20);
      p { margin: 0; }
      .type-image {
        float: left;
        margin: 0 30px 0 0;
      }
    }
  }
  @if $mq-tablet {
    float: none;
    width: 100%;
    .type-company,
    .type-profile {
      margin: 20px 0;
      padding: 20px 0 0 0;
      .type-image {
        float: left;
        width: 120px;
        margin: 0 20px 0 0;
      }
    }
  }
  @if $mq-sp {

    .type-heading {
      @include fz(14,20);
    }
    .type-txt {
      @include fz(13,20);
    }
    .type-company,
    .type-profile {
      margin: 15px 0;
      padding: 15px 0 0 0;
      .type-image {
        width: 30%;
        margin: 0 15px 0 0;
      }
    }
  }
}

.p-company-club-s-item-sub {
  @if $mq-all {
    float: right;
    width: 50%;
    padding: 0 0 0 20px;
    box-sizing: border-box;

    .type-heading {
      margin: 20px 0;
      text-shadow: 0 0 0 #212121;
      font-family: $font-mincho;
      letter-spacing: 1px;
      @include fz(35,46);
    }

    .type-anotation-list {
      margin: 0 0 0 25px;
      padding: 0;
      li {
        @include fz(13,20);
      }
    }
  }
  @if $mq-tablet {
    float: none;
    width: 100%;
    margin: 20px 0 0 0;
    padding: 0;
  }
  @if $mq-sp {
    .type-heading {
      margin: 15px 0;
      letter-spacing: 0;
      @include fz(16,22);
    }
    .type-anotation-list {
      margin: 0 0 0 25px;
      li {
        @include fz(12,20);
      }
    }
  }
}


/**
 * p-company-club-s-cover-group
 */
.p-company-club-s-cover-group {
  @if $mq-all {
    margin: 0 auto;
    text-align: center;
    background-color: #231815;
    position: relative;
    &:before, &:after {
      content: "";
      display: block;
      position: absolute;
      top: 160px;
      width: 305px;
      height: 286px;
    }
    &:before {
      left: 50%;
      margin: 0 0 0 -610px;
      background: url('/company/club-s/img/hero-image-1.jpg') no-repeat 0 0;
    }
    &:after {
      right: 50%;
      margin: 0 -610px 0 0;
      background: url('/company/club-s/img/hero-image-2.jpg') no-repeat 0 0;
    }
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
    &:before, &:after {
      top: 0px;
      width: 50%;
      height: 100px;
    }
    &:before {
      left: 0px;
      margin: 0;
      background: url('/company/club-s/img/hero-image-1.jpg') no-repeat 0 0;
    }
    &:after {
      right: 0px;
      margin: 0;
      background: url('/company/club-s/img/hero-image-2.jpg') no-repeat 0 0;
    }
  }
}

.p-company-club-s-cover {
  @if $mq-all {
    position: relative;
    max-width: 1220px;
    margin: 0 auto;
    padding: 30px 0 50px;

  }
  @if $mq-tablet {
  }
  @if $mq-sp {
    margin: 0 auto;
    padding: 120px 10px 10px;

  }
}

.p-company-club-s-cover-logo {
  @if $mq-all {
    margin: 0 0 48px 0;
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
    width: 180px;
    margin: 0 auto 15px;
  }
}

.p-company-club-s-cover-heading {
  @if $mq-all {
    margin: 0 0 25px 0;
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
    width: 180px;
    margin: 0 auto 0;
  }
}

.p-company-club-s-cover-txt {
  @if $mq-all {
    color: #fff;
    @include fz(15,30);
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
    @include fz(14,26);
    br { display: none; }
  }
}


/**
 * p-company-club-s-intro-group
 */
.p-company-club-s-intro-group {
  @if $mq-all {
    margin: 0 auto;
    padding: 40px;
    box-sizing: border-box;
    background: #f9f8f4;
    @include clearfix;
  }
  @if $mq-default {
    padding: 20px;

  }
  @if $mq-tablet {
  }
  @if $mq-sp {
    padding: 10px;
  }
}

.p-company-club-s-intro {
  @if $mq-all {
    width: 1320px;
    margin: 0 auto;
    box-sizing: border-box;
    background: #fff;
    @include clearfix;
  }
  @if $mq-default {
    width: 100%;
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
  }
}

.p-company-club-s-intro-inner {
  @if $mq-all {
    width: 1140px;
    margin: 0 auto;
    padding: 35px 0;
    box-sizing: border-box;
    background: #fff;
    @include clearfix;
  }
  @if $mq-default {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
    padding: 10px;
  }
}

.p-company-club-s-intro-heading {
  @if $mq-all {
      margin: 0 0 30px;
      text-align: center;
      text-shadow: 0 0 0 #212121;
      font-family: $font-mincho;
      letter-spacing: 1px;
      @include fz(36,46);
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
      margin: 0 0 30px;
      letter-spacing: 0;
      @include fz(18,26);
  }
}

.p-company-club-s-intro-detail {
  @if $mq-all {
    float: left;
    width: 49%;
    .type-logo {
      @include clearfix;
      img {
        float: left;
        margin: 0 25px 0 0;
      }
    }
    .type-heading {
      margin: 25px 0 15px;
      padding: 2px 15px;
      font-size: 16px;
      font-weight: bold;
      background-color: #e1f2f3;
    }
  }
  @if $mq-tablet {
    float: none;
    width: 100%;
  }
  @if $mq-sp {
    .type-logo {
      @include clearfix;
      img {
        float: left;
        margin: 0 25px 0 0;
      }
    }
    .type-heading {
      margin: 25px 0 15px;
      padding: 2px 15px;
      font-size: 16px;
      font-weight: bold;
      background-color: #e1f2f3;
    }
  }
}

.p-company-club-s-intro-flow {
  @if $mq-all {
    float: right;
    width: 48%;
    padding: 30px 64px 30px;
    text-align: center;
    background-color: #65b5b7;
    box-sizing: border-box;

    .type-heading {
      margin: 0;
      font-weight: bold;
      font-size: 22px;
      color: #fff;
    }
    .type-txt {
      margin: 0 0 30px 0;
      color: #fff;
    }
    .type-image {
    }
  }
  @if $mq-tablet {
    float: none;
    width: 100%;
    padding: 20px;
  }
  @if $mq-sp {
    padding: 10px;
    .type-heading {
      margin: 0;
      font-size: 16px;
    }
    .type-txt {
      margin: 0 0 15px 0;
    }
    .type-image {
    }
  }
}