// ------------------------------
// Page Competition CSS
// ------------------------------

@import '../../setting/_variables';

/**
 * hero-group
 */
.p-competition-hero-group {
  @if $mq-all {
    position: relative;
    max-width: 1220px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    @include clearfix;
  }
  @if $mq-default {
    padding: 0 20px;
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
  }
}

.p-competition-hero-heading-1 {
  @if $mq-all {
    position: relative;
    z-index: 11;
    text-align: center;
    margin: 0;
  }
  @if $mq-default {
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
  }
}

/**
 * lead-group
 */
.p-competition-lead-group {
  @if $mq-all {
    padding: 40px 20px;
    text-align: center;
    background-color: #fdd835;
  }
  @if $mq-tablet {
    padding: 30px 20px;
  }
  @if $mq-sp {
    padding: 20px 10px;
    text-align: left;
  }
}

.p-competition-lead {
  @if $mq-all {
    margin: 0;
    @include fz(18,34);
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
    @include fz(15,28);
    br { display: none; }
  }
}

/**
 * intro-group
 */
.p-competition-intro-group {
  @if $mq-all {
    padding: 20px 164px 0;
    border: 5px solid #e0e0e0;
    border-radius: 10px;
    box-sizing: border-box;
  }
  @if $mq-tablet {
    padding: 30px;
  }
  @if $mq-sp {
    padding: 15px;
  }
}

.p-competition-intro-heading {
  @if $mq-all {
    text-align: center;
    font-weight: bold;
    font-family: $font-noto-sans;
    @include fz(33,52);
  }
  @if $mq-tablet {
    @include fz(33,52);
  }
  @if $mq-sp {
    text-align: left;
    @include fz(16,24);
    br { display: none; }
  }
}

.p-competition-intro-txt {
  @if $mq-all {
    margin-bottom: 30px;
    @include fz(16,30);
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
    margin-bottom: 15px;
    @include fz(13,24);
  }
}

.p-competition-intro-image {
  @if $mq-all {
    .type-image-1 {
      float: left;
      width: 50%;
    }
    .type-image-2 {
      float: right;
      width: 50%;
    }
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
  }
}

/**
 * question-group
 */
.p-competition-question-heading {
  @if $mq-all {
    text-align: center;
    font-weight: bold;
    font-family: $font-noto-sans;
    @include fz(30,46);
    &:before {
      content: "";
      display: block;
      width: 64px;
      height: 53px;
      margin: 0 auto 5px;
      background: url('/resources/img/icon/ico-house-1.png') no-repeat center;
    }
    &.type-no-ico {
      &:before { display: none;}
    }
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
    margin: 20px 0;
    @include fz(22,32);
  }
}

.p-competition-question-list {
  @if $mq-all {
    margin: 0 -20px;
    font-size: 0;
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
    margin: 0;
  }
}
.p-competition-question-item {
  @if $mq-all {
    display: inline-block;
    width: 25%;
    margin: 0;
    padding: 24px 45px;
    border-right: 1px solid #e0e0e0;
    vertical-align: top;
    box-sizing: border-box;
    &:last-child { border-right: none; }
    dt {
      margin-bottom: 10px;
      padding: 5px;
      text-align: center;
      color: #fff;
      font-size: 18px;
      font-weight: bold;
      border-radius: 4px;
      background-color: #00aa83;
    }
    dd {
      margin: 0;
      padding: 0;
      &.type-heading {
        margin-bottom: 8px;
        font-weight: bold;
        @include fz(18,28);
      }
      &.type-txt { font-size: 15px; }
    }
  }
  @if $mq-tablet {
    width: 50%;
    margin: 0;
    padding: 20px 20px;
    &:nth-child(2n) { border-right: none; }
    dt {
      font-size: 18px;
    }
    dd {
      margin: 0;
      padding: 0;
      &.type-heading {
        margin-bottom: 8px;
        font-weight: bold;
        @include fz(18,28);
      }
    }
  }
  @if $mq-sp {
    width: 100%;
    margin: 0 0 15px 0;
    padding: 0;
    border: none;
    dt { font-size: 14px; }
    dd {
      &.type-heading {
        @include fz(16,28);
        br { display: none; }
      }
      &.type-txt { font-size: 13px; }
    }
  }
}


/**
 * step
 */
.p-competition-step-item {
  @if $mq-all {
    position: relative;
    margin: 80px 0;
    padding: 30px 40px;
    background-color: #f4f3ed;
    @include clearfix;
    &:before {
      content: "";
      position: absolute;
      bottom: -55px;
      left: 0px;
      right: 0px;
      width: 0;
      height: 0;
      margin: 0 auto;
      border-top: 30px solid #fdd835;
      border-right: 40px solid transparent;
      border-bottom: 0px solid transparent;
      border-left: 40px solid transparent;
    }
  }
  @if $mq-tablet {
    margin: 80px 0;
    padding: 20px 20px;
  }
  @if $mq-sp {
    &:before {
      bottom: -45px;
      border-top: 30px solid #fdd835;
      border-right: 40px solid transparent;
      border-bottom: 0px solid transparent;
      border-left: 40px solid transparent;
    }
    margin: 55px 0;
    padding: 50px 15px 15px;
  }
}

.p-competition-step-item-step {
  @if $mq-all {
    display: table;
    float: left;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    background-color: #00aa83;
    div {
      display: table-cell;
      color: #fff;
      text-align: center;
      vertical-align: middle;
      .type-label {
        display: block;
        @include fz(32,44);
      }
      .type-num {
        @include fz(48,44);
      }
    }
  }
  @if $mq-tablet {
    width: 150px;
    height: 150px;
    margin: 0 20px 20px 0;
  }
  @if $mq-sp {
    position: absolute;
    top: -15px;
    left: 15px;
    float: none;
    width: 60px;
    height: 60px;
    div {
      .type-label {
        @include fz(13,20);
      }
      .type-num {
        @include fz(28,25);
      }
    }
  }
}

.p-competition-step-item-detail {
  @if $mq-all {
    float: left;
    width: 50%;
    padding: 0 0 0 25px;
    box-sizing: border-box;
  }
  @if $mq-tablet {
    float: none;
    width: 100%;
  }
  @if $mq-sp {
    float: none;
    width: 100%;
    padding: 0;
  }
}

.p-competition-step-item-detail-heading {
  @if $mq-all {
    font-weight: bold;
    margin: 0 0 5px 0;
    @include fz(22,34);
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
    @include fz(18,26);
  }
}

.p-competition-step-item-detail-heading-weak {
  @if $mq-all {
    margin: 0 0 10px 0;
    font-weight: bold;
    @include fz(18,30);
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
    @include fz(16,24);
  }
}

.p-competition-step-item-detail-txt {
  @if $mq-all {
    font-size: 15px;
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
    font-size: 13px;
  }
}

.p-competition-step-item-image {
  @if $mq-all {
    float: right;
    width: 23%;
  }
  @if $mq-tablet {
    float: none;
    width: auto;
    display: block;
    margin: 0 auto;
  }
  @if $mq-sp {
  }
}

.p-competition-step-item-point {
  @if $mq-all {
    clear: both;
    margin: 0 -10px;
    padding: 20px 0 0 0;
  }
  @if $mq-tablet {
    margin: 0;
    padding: 10px 0 0 0;
  }
  @if $mq-sp {
    margin: 0 ;
  }
}

.p-competition-step-item-point-label {
  @if $mq-all {
    display: table;
    float: left;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: #fdd835;
    span {
      display: table-cell;
      text-align: center;
      vertical-align: middle;
    }
  }
  @if $mq-tablet {
    position: relative;
    margin: -10px 0 -10px -10px;
    z-index: 10;
  }
  @if $mq-sp {
    width: 50px;
    height: 50px;
    margin: -10px 10px 0 -10px;
  }
}

.p-competition-step-item-point-txt {
  @if $mq-all {
    display: block;
    float: right;
    width: 93%;
    padding: 5px 20px;
    vertical-align: middle;
    font-weight: bold;
    background-color: #fff;
    box-sizing: border-box;
  }
  @if $mq-tablet {
    width: 100%;
  }
  @if $mq-sp {
    float: none;
    width: 100%;
    padding: 10px;
  }
}

.p-competition-step-last-txt {
  @if $mq-all {
    text-align: center;
    font-size: 33px;
    font-weight: bold;
    font-family: $font-noto-sans;
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
    text-align: left;
    font-size: 22px;
  }
}

/**
 * p-competition-memo-group
 */
.p-competition-memo-group {
  @if $mq-all {
    display: table;
    width: 100%;
  }
  @if $mq-tablet {
    display: block;
  }
  @if $mq-sp {
    display: block;
  }
}

.p-competition-memo-label {
  @if $mq-all {
    display: table-cell;
    width: 25%;
    text-align: center;
    p {
      margin: 0;
    }
  }
  @if $mq-tablet {
    display: block;
    width: 100%;
    img {
      width: 100px;
      margin: 0 auto;
    }
  }
  @if $mq-sp {
    display: block;
    width: 100%;
    img {
      width: 100px;
      margin: 0 auto;
    }
  }
}

.p-competition-memo-item {
  @if $mq-all {
    display: table-cell;
    vertical-align: top;
    width: 25%;
    padding: 0 40px;
    border-left: 1px solid #e0e0e0;
    box-sizing: border-box;
    dt {
      font-size: 18px;
      font-weight: bold;
    }
    dd {
      margin: 0;
      padding: 0;
    }
  }
  @if $mq-tablet {
    dt {
    }
    display: block;
    width: 100%;
    padding: 0;
    border: none;
  }
  @if $mq-sp {
    dt {
      font-size: 16px;
    }
    display: block;
    width: 100%;
    padding: 0;
    border: none;
  }
}


/**
 * p-competition-harf-group
 */
.p-competition-harf-group {
  @if $mq-all {
    margin: 0 -20px;
  }
  @if $mq-tablet {
    margin: 0;
  }
  @if $mq-sp {
    margin: 0;
  }
}

.p-competition-harf-block {
  @if $mq-all {
    float: left;
    width: 50%;
    padding: 0 20px;
    box-sizing: border-box;
    &.type-flow { border-left: 1px solid #e0e0e0; }
  }
  @if $mq-tablet {
  }
  @if $mq-tablet {
    float: none;
    width: 100%;
    margin: 30px 0;
    padding: 0;
    &.type-flow { border-left: none; }
  }
}

.p-competition-harf-block-heading {
  @if $mq-all {
    margin: 0 0 30px 0;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    .type-qa & { border-color: #00aa83; }
    .type-flow & { border-color: #f29600; }
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
  }
}

.p-competition-qa-list {
  @if $mq-all {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
  }
}

.p-competition-qa-list-item {
  @if $mq-all {
    position: relative;
    padding: 0 0 0 60px;
    font-size: 16px;
    border-bottom: 1px solid #e0e0e0;
    .type-flow & { padding-right: 100px; }
    dt {
      font-weight: bold;
      .type-qa & { color: #00aa83; }
      .type-flow & { color: #f29600; }
    }
    dd {
      margin: 0;
      padding: 0;
    }
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
    dt {
      font-size: 16px;
    }
    font-size: 13px;
    padding: 0 0 15px 50px;
    .type-flow & { padding-right: 0; }
  }
}

.p-competition-qa-list-item-num {
  @if $mq-all {
    display: table;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    .type-qa & { background-color: #00aa83; }
    .type-flow & { background-color: #f29600; }
    span {
      display: table-cell;
      color: #fff;
      font-weight: bold;
      text-align: center;
      vertical-align: middle;
    }
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
  }
}

.p-competition-qa-list-item-flow {
  @if $mq-all {
    position: absolute;
    top: 0px;
    right: 0px;
    display: table;
    width: 88px;
    height: 56px;
    border-radius: 6px;
    background-color: #f29600;
    span {
      display: table-cell;
      text-align: center;
      color: #fff;
      font-size: 14px;
      font-weight: bold;
      font-family: $font-noto-sans;
      letter-spacing: -0.2px;
      vertical-align: middle;
    }
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
    position: static;
    display: block;
    width: 100%;
    height: auto;
    span {
      display: block;
      font-size: 14px;
      letter-spacing: 0px;
    }
  }
}

.p-competition-flow-txt {
  @if $mq-all {
    margin: 20px 0;
    padding: 6px;
    text-align: center;
    color: #fff;
    font-size: 36px;
    font-weight: bold;
    font-family: $font-noto-sans;
    letter-spacing: 10px;
    border-radius: 6px;
    background-color: #f29600;
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
  }
}

/**
 * member-list
 */
.p-competition-member-list {
  @if $mq-all {
    font-size: 0;
    box-sizing: border-box;
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
  }
}

.p-competition-member-item {
  @if $mq-all {
    display: inline-block;
    width: 20%;
    margin-bottom: 35px;
    padding: 0 20px;
    vertical-align: top;
    box-sizing: border-box;
    .type-image {
      display: inline-block;
      margin-bottom: 15px;
      padding: 20px;
      border: 1px solid #e0e0e0;
    }
    .type-position {
      display: block;
      font-size: 14px;
    }
    .type-name {
      display: block;
      font-size: 18px;
      font-weight: bold;
    }
    .type-profile {
      display: block;
      font-size: 14px;
    }
  }
  @if $mq-tablet {
    width: 25%;
    margin-bottom: 35px;
    padding: 0 15px;
    .type-image {
      margin-bottom: 15px;
      padding: 15px;
    }
    .type-position {
      font-size: 14px;
    }
    .type-name {
      font-size: 18px;
      font-weight: bold;
    }
    .type-profile {
      font-size: 14px;
    }
  }
  @if $mq-sp {
    width: 100%;
    margin-bottom: 15px;
    padding: 0 0 15px 0;
    border-bottom: 1px solid #e0e0e0;
    .type-image {
      float: right;
      width: 80px;
      margin: 0 0 15px 15px;
      padding: 10px;
    }
    .type-position { font-size: 13px; }
    .type-name { font-size: 16px; }
    .type-profile { font-size: 13px; }
  }
}