// ------------------------------
// base CSS
// ------------------------------

@import '../setting/variables';

html{
  @if $mq-all {
    overflow-y: scroll;
    //min-width: 980px;

    &.is-navigation-open {
      overflow-y: hidden;
    }
  }
  @if $mq-tablet {
    min-width: 320px;
  }
}
body {
  @if $mq-all {
    //word-break: break-all;
    word-wrap: break-word;
    background: #FFF;
    -webkit-text-size-adjust:none;
    text-size-adjust:none;
    font-family: Verdana, "メイリオ", Meiryo, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", sans-serif;
    color: #212121;
    @include fz(15, 26);
    font-weight: 400;
  }
  @if $mq-tablet {
    @include fz(13, 22);
  }
  @if $mq-sp {
    @include fz(13, 24);
  }
}

img {
  @if $mq-all {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
  }
  @if $mq-tablet {
  }
}

a {
  @if $mq-all {
    color: inherit;
    &:visited,
    &:hover,
    &:active {
      text-decoration: none;
    }
  }
  @if $mq-tablet {
  }
}

h1, h2, h3, h4, h5, h6, strong {
  @if $mq-all {
    font-weight: normal;
  }
  @if $mq-tablet {
  }
}
table {
  @if $mq-all {
      width: 100%;
    th,td {
      @include fz(14,22);
      text-align: left;
      vertical-align: top;
      box-sizing: border-box;
    }
    th {
    }
    td {
    }
  }
  @if $mq-tablet {
  }
}

hr {
  @if $mq-all {
    border: none;
    border-bottom: 1px solid #D8D8CB;
  }
}


/*
* Custom Fotns
 */
@if $mq-all {
  @font-face {
    font-family: 'icomoon';
    src:url('/resources/fonts/icomoon.eot?3');
    src:url('/resources/fonts/icomoon.eot?3') format('embedded-opentype'),
      url('/resources/fonts/icomoon.ttf?3') format('truetype'),
      url('/resources/fonts/icomoon.woff?3') format('woff'),
      url('/resources/fonts/icomoon.svg?3') format('svg');
    font-weight: normal;
    font-style: normal;
  }
}

/*
* Noto Sans Japanese (japanese) http://www.google.com/fonts/earlyaccess
 */
@if $mq-all {
  @font-face {
    font-family: 'Noto Sans Japanese';
     font-style: normal;
     font-weight: 400;
     src: url('//fonts.gstatic.com/ea/notosansjapanese/v3/NotoSansJP-Regular.woff2') format('woff2'),
          url('//fonts.gstatic.com/ea/notosansjapanese/v3/NotoSansJP-Regular.woff') format('woff'),
          url('//fonts.gstatic.com/ea/notosansjapanese/v3/NotoSansJP-Regular.otf') format('opentype');
  }
  @font-face {
    font-family: 'Noto Sans Japanese';
     font-style: normal;
     font-weight: 700;
     src: url('//fonts.gstatic.com/ea/notosansjapanese/v3/NotoSansJP-Bold.woff2') format('woff2'),
          url('//fonts.gstatic.com/ea/notosansjapanese/v3/NotoSansJP-Bold.woff') format('woff'),
          url('//fonts.gstatic.com/ea/notosansjapanese/v3/NotoSansJP-Bold.otf') format('opentype');
  }
}