<?php
$page = array(
    'title' => '設計コンペとは？｜北海道の住まいづくりWeb',
    'discription' => '住宅の新しい建て方として注目されている「設計コンペ」。聞いたことはあるけれど、実際はどんなもの？興味はあるけれど、何から始めたらいいの？そんな疑問をお持ちの方に北海道の住まいづくりがお答えします。きっとあなたの住まいづくりに役立ちますよ。',
);
include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/head.tpl");
?>
</head>



<body>
<div id="base-page">
    <?php include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/base-header.tpl"); ?>

    <div id="base-container">

        <div id="base-container-head">
            <ul class="p-breadcrumb-list">
                <li class="p-breadcrumb-list-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/" itemprop="url"><span itemprop="title">トップページ</a></li>
                <li class="p-breadcrumb-list-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title">設計コンペとは？</span></li>
            </ul>

            <div class="p-competition-hero-group">
                <p class="p-competition-hero-heading-1"><img src="/competition/img/hero-txt-2.png" alt="設計コンペとは？"></p>
            </div>

            <div class="p-competition-lead-group">
                <p class="p-competition-lead">住宅の新しい建て方として注目されている「設計コンペ」。<br>
                聞いたことはあるけれど、実際はどんなものなの？興味はあるけれど、何から始めたらいいの？<br>
                そんな疑問をお持ちの方にお答えします。きっとあなたの住まいづくりに役立ちますよ。</p>
            </div>
        </div><!-- /#base-container-head -->

        <div id="base-content">

            <div class="c-content-block p-competition-intro-group">
                <p class="p-competition-intro-heading">数ある建築会社の中から、<br>
                お客様が納得いく１社をスムーズに選べるのが<br>
                「設計コンペ」です。</p>
                <p class="p-competition-intro-txt">「設計コンペ」は、複数の建築会社がお客様のご要望を受けて練り上げたプランと見積もりから、お客様が最も気に入った１社を選ぶものです。〈すまいポート21〉では、一級建築士がサポートするのでわからないことがあっても相談でき、安心・納得して進められます。</p>
                <div class="p-competition-intro-image">
                    <div class="type-image-1"><img src="/competition/img/intro-image-1.jpg" alt="設計コンペは、理想の住まいを一緒に作るパートナーを選ぶこと！ 〈すまいポート21〉一級建築士 中島正晴"></div>
                    <div class="type-image-2"><img src="/competition/img/intro-figure-1.png" alt="設計コンペの流れ"></div>
                </div>
            </div>

            <div class="c-content-block">
                <p class="p-competition-question-heading">どんなメリットがあるの？</p>
                <div class="p-competition-question-list">
                    <dl class="p-competition-question-item">
                        <dt>メリット1</dt>
                        <dd class="type-heading">建築会社同士が競い合い、<br>プランが向上する。</dd>
                        <dd class="type-txt">競争によってプランの質があがり、価格も適正になります。また、建築会社ごとに様々なアイデアが盛り込まれるので、お客様にとっても新しい考えに出会えます。</dd>
                    </dl>
                    <dl class="p-competition-question-item">
                        <dt>メリット2</dt>
                        <dd class="type-heading">同じ条件のもと、複数のプランを比較・検討できる。</dd>
                        <dd class="type-txt">各建築会社の提案は、お客様の要望に沿って作成されます。プランや見積もりの比較がしやすく、条件内で最適なプランを得ることができます。</dd>
                    </dl>
                    <dl class="p-competition-question-item">
                        <dt>メリット3</dt>
                        <dd class="type-heading">第三者である一級建築士のサポートを受けられる。</dd>
                        <dd class="type-txt">お客様の立場で、ご要望の整理から請負契約締結までサポート。専門的でわからないことや、プラン・見積もりのチェックまで適切にアドバイスします。</dd>
                    </dl>
                    <dl class="p-competition-question-item">
                        <dt>メリット4</dt>
                        <dd class="type-heading">１社選択まで営業行為は<br>一切行われない。</dd>
                        <dd class="type-txt">個人的にモデルハウスへ行ったり、資料を取り寄せたりすると、営業の連絡が頻繁に来て困ることがありますが、設計コンペではお客様の個人情報を公開しないので安心です。</dd>
                    </dl>
                </div>
            </div>

            <hr class="u-line-range40">

            <div class="c-content-block">
                <p class="p-competition-question-heading">どんな人に向いているの?</p>
                <div class="p-competition-question-list">
                    <dl class="p-competition-question-item">
                        <dt>こんな方1</dt>
                        <dd class="type-heading">相談しながら<br>安心して選びたい方</dd>
                        <dd class="type-txt">住宅に関する知識や経験を踏まえて、プロに相談しながら安心して選びたい方におすすめ。サポートする一級建築士がお客様の専門知識や経験を補ってくれます。</dd>
                    </dl>
                    <dl class="p-competition-question-item">
                        <dt>こんな方2</dt>
                        <dd class="type-heading">同じ条件のもと、<br>くらべて決めたい方</dd>
                        <dd class="type-txt">いくつか気になる建築会社があるけれど、雰囲気や営業の仕方ではなく、同じ条件のもと、くらべて判断したいと思っている方におすすめ。建築会社との面談では一級建築士が同席し、プロの目でアドバイスします。</dd>
                    </dl>
                    <dl class="p-competition-question-item">
                        <dt>こんな方3</dt>
                        <dd class="type-heading">建築会社を<br>スムーズに探したい方</dd>
                        <dd class="type-txt">何十社も比較検討するのは大変なので、効率よくスムーズに自分に合った建築会社を探したいという方におすすめ。短時間のうちに複数の建築会社からベストな提案を受けられます。</dd>
                    </dl>
                    <dl class="p-competition-question-item">
                        <dt>こんな方4</dt>
                        <dd class="type-heading">自分のペースで<br>決めたいと思っている方</dd>
                        <dd class="type-txt">いろいろな建築会社の話を聞いてみたいけれど、営業されることなく自分のペースで決めたい方におすすめ。１社に決まるまでは個人情報を公開しないので安心です。</dd>
                    </dl>
                </div>
            </div>

            <hr class="u-line-range40">

            <div class="c-content-block">
                <p class="p-competition-question-heading">どうやって建築会社を決めるの?</p>

                <div class="p-competition-step-item">
                    <div class="p-competition-step-item-step">
                        <div><span class="type-label">STEP</span><span class="type-num">1</span></div>
                    </div>
                    <div class="p-competition-step-item-detail">
                        <p class="p-competition-step-item-detail-heading u-txt-green">建築相談<span class="u-txt-red">【無料】</span><br>資金計画と土地探しも無料で相談できます！</p>
                        <p class="p-competition-step-item-detail-heading-weak">まずは一級建築士と一緒に要望をまとめます。</p>
                        <p class="p-competition-step-item-detail-txt">間取りやデザイン、設備・工法など、住まいに関する夢や希望、不安などを一級建築士にお話しください。専門家のフォローによって整理された要望書は、すまいポート２１に登録されている建築会社に提示されます。要望書を見て設計コンペへの参加を希望した会社の中から最大５社に絞り、いよいよ設計コンペがスタート。</p>
                    </div>
                    <img class="p-competition-step-item-image" src="/competition/img/step-1-ph.jpg" alt="建築相談【無料】 資金計画と土地探しも無料で相談できます！">
                    <div class="p-competition-step-item-point">
                        <div class="p-competition-step-item-point-label"><span>POINT</span></div>
                        <div class="p-competition-step-item-point-txt">
                            <p>要望書を作るにあたって、細かいところより先に「どんな家で、どんな暮らしをしたいのか」を考えましょう。</p>
                        </div>
                    </div>
                </div>

                <div class="p-competition-step-item">
                    <div class="p-competition-step-item-step">
                        <div><span class="type-label">STEP</span><span class="type-num">2</span></div>
                    </div>
                    <div class="p-competition-step-item-detail">
                        <p class="p-competition-step-item-detail-heading u-txt-green">オリエンテーション</p>
                        <p class="p-competition-step-item-detail-heading-weak">設計コンペに参加する建築会社に直接要望を伝えます。</p>
                        <p class="p-competition-step-item-detail-txt">各建築会社との顔合わせ。一級建築士も同席し、各社４０分ずつお客様のヒアリングシートをもとに質疑応答を行います。プランニングにあたっての理想や要望を直接伝えましょう。建築会社から具体的な質問が出てきますが、一級建築士がフォローします。各社は要望を検討し、図面と見積もりの作成にかかります。</p>
                    </div>
                    <img class="p-competition-step-item-image" src="/competition/img/step-2-ph.jpg" alt="オリエンテーション">
                    <div class="p-competition-step-item-point">
                        <div class="p-competition-step-item-point-label"><span>POINT</span></div>
                        <div class="p-competition-step-item-point-txt">
                            <p>住みたい家のイメージ（雑誌の切り抜きなど）をまとめて持参すれば、理想をうまく伝えることができますよ。</p>
                        </div>
                    </div>
                </div>

                <div class="p-competition-step-item">
                    <div class="p-competition-step-item-step">
                        <div><span class="type-label">STEP</span><span class="type-num">3</span></div>
                    </div>
                    <div class="p-competition-step-item-detail">
                        <p class="p-competition-step-item-detail-heading u-txt-green">プレゼンテーション</p>
                        <p class="p-competition-step-item-detail-heading-weak">各建築会社がプランを発表し、お客様へアピールします。</p>
                        <p class="p-competition-step-item-detail-txt">オリエンテーションから最短で２週間後、各社のプレゼンテーションが行なわれ、プラン内容を一時間にわたってアピールします。提案内容は家に持ち帰ってじっくり比較・検討してください。不明な点があれば、一級建築士がアドバイスします。建築会社を決定し、後日、プランと見積もりの詳細をつめて契約になります。</p>
                    </div>
                    <img class="p-competition-step-item-image" src="/competition/img/step-3-ph.jpg" alt="プレゼンテーション">
                    <div class="p-competition-step-item-point">
                        <div class="p-competition-step-item-point-label"><span>POINT</span></div>
                        <div class="p-competition-step-item-point-txt">
                            <p>プランばかりではなく見積もりや仕様のバランスも比較して、自分たちにぴったりの会社を選びましょう。</p>
                        </div>
                    </div>
                </div>

                <p class="p-competition-step-last-txt">建築会社決定！ 夢のマイホームづくりへ前進！！</p>
            </div>

            <hr class="u-line-range40">

            <div class="c-content-block">
                <div class="p-competition-memo-group">
                    <div class="p-competition-memo-label">
                        <p><img src="/competition/img/memo-label-1.png" alt="設計コンペ一口メモ"></p>
                    </div>
                    <dl class="p-competition-memo-item">
                        <dt>コンペ</dt>
                        <dd>コンペティション（competition）の略で意味は競技会。多くの案を募り、最も優れたものを選んでそれに従って実施を行う方法を言う。</dd>
                    </dl>
                    <dl class="p-competition-memo-item">
                        <dt>オリエンテーション</dt>
                        <dd>クライアント（建築の場合は施主）が計画立案の依頼に先立って、基本的な考え方、内容の説明、留意点、予算、スケジュールなどを示すこと。</dd>
                    </dl>
                    <dl class="p-competition-memo-item">
                        <dt>プレゼンテーション</dt>
                        <dd>披露・発表・提示等の意味を持ち、ビジネスの場面では企画の提案をお客様に対して行い、理解・納得を得ることを指す。</dd>
                    </dl>

                </div>
            </div>

            <hr class="u-line-range40">

            <div class="c-content-block">
                <div class="p-competition-harf-group">
                    <div class="p-competition-harf-block type-qa">
                        <p class="p-competition-harf-block-heading">よくあるご質問</p>
                        <ol class="p-competition-qa-list">
                            <li class="p-competition-qa-list-item">
                                <div class="p-competition-qa-list-item-num"><span>Q1</span></div>
                                <dl>
                                    <dt>「設計コンペ」は料金がかかるの？</dt>
                                    <dd>設計コンペは12,000円（税別）でご利用いただけます。</dd>
                                </dl>
                            </li>
                            <li class="p-competition-qa-list-item">
                                <div class="p-competition-qa-list-item-num"><span>Q2</span></div>
                                <dl>
                                    <dt>「設計コンペ」は土地がないとできないの？</dt>
                                    <dd>土地がないお客様でもお申し込みはお受けしています。土地の専門家が土地探しからサポートいたしますので、家を建てるためにふさわしい土地をスピーディに決めることが可能です。</dd>
                                </dl>
                            </li>
                            <li class="p-competition-qa-list-item">
                                <div class="p-competition-qa-list-item-num"><span>Q3</span></div>
                                <dl>
                                    <dt>「設計コンペ」に参加する会社はどうやって選ぶの？</dt>
                                    <dd>担当の一級建築士や店舗スタッフと相談し、最終的にはお客様ご自身でお決めいただきます。</dd>
                                </dl>
                            </li>
                            <li class="p-competition-qa-list-item">
                                <div class="p-competition-qa-list-item-num"><span>Q4</span></div>
                                <dl>
                                    <dt>「設計コンペ」参加会社をはじめから指名することはできるの？</dt>
                                    <dd>できます。お客様のご要望とご予算に応じて、コンペ参加会社全社（3社～5社）を指名することも、何社かを指名して、残りの会社をエントリーで募ったなかから選ぶこともできます。</dd>
                                </dl>
                            </li>

                            <li class="p-competition-qa-list-item">
                                <div class="p-competition-qa-list-item-num"><span>Q5</span></div>
                                <dl>
                                    <dt>他社を検討中でも『設計コンペ』を利用することはできるの？</dt>
                                    <dd>ご利用いただけます。その場合、他社との商談の状況をお聞かせください。よりよいご提案をさせていただきます。</dd>
                                </dl>
                            </li>
                            <li class="p-competition-qa-list-item">
                                <div class="p-competition-qa-list-item-num"><span>Q6</span></div>
                                <dl>
                                    <dt>「設計コンペ」をして気にいった会社がなかったらどうなるの？</dt>
                                    <dd>12,000円（税別）のコンペ料金の中で、新しく選んだ建築会社で再コンペが一度だけ可能です。</dd>
                                </dl>
                            </li>
                            <li class="p-competition-qa-list-item">
                                <div class="p-competition-qa-list-item-num"><span>Q7</span></div>
                                <dl>
                                    <dt>「設計コンペ」を利用すると建築会社が決まるまで何日かかるの？</dt>
                                    <dd>通常の場合、プラン提案まで約45日かかります。ただしお急ぎの場合は最短２０日でご提案いたします。</dd>
                                </dl>
                            </li>
                            <li class="p-competition-qa-list-item">
                                <div class="p-competition-qa-list-item-num"><span>Q8</span></div>
                                <dl>
                                    <dt>施工中の相談もできるの？</dt>
                                    <dd>できます。建築会社選びのみでなく契約前の図面、見積りのチェックまで不安やお困りごとに対しても、ご相談を承ります。</dd>
                                </dl>
                            </li>
                        </ol>
                    </div>
                    <div class="p-competition-harf-block type-flow">
                        <p class="p-competition-harf-block-heading">設計コンペの流れ</p>
                        <ol class="p-competition-qa-list">
                            <li class="p-competition-qa-list-item">
                                <div class="p-competition-qa-list-item-num"><span>1</span></div>
                                <dl>
                                    <dt>お申し込み　12,000円（税別）</dt>
                                    <dd>※土地がない場合もお申し込み可能です。</dd>
                                </dl>
                                <div class="p-competition-qa-list-item-flow"><span>スケジュール</span></div>
                            </li>
                            <li class="p-competition-qa-list-item">
                                <div class="p-competition-qa-list-item-num"><span>2</span></div>
                                <dl>
                                    <dt>建築相談</dt>
                                    <dd>すまいポート21の一級建築士がお客様の住まいに対するご要望をヒアリング。</dd>
                                </dl>
                                <div class="p-competition-qa-list-item-flow"><span>1日</span></div>
                            </li>
                            <li class="p-competition-qa-list-item">
                                <div class="p-competition-qa-list-item-num"><span>3</span></div>
                                <dl>
                                    <dt>コンぺ参加会社を選択</dt>
                                    <dd>エントリー会社の中から「設計コンペ」参加会社を最大5社まで選びます。</dd>
                                </dl>
                                <div class="p-competition-qa-list-item-flow"><span>1週間</span></div>
                            </li>
                            <li class="p-competition-qa-list-item">
                                <div class="p-competition-qa-list-item-num"><span>4</span></div>
                                <dl>
                                    <dt>オリエンテーション</dt>
                                    <dd>設計コンペ参加会社との個別面談でプランニングにあたってのヒアリングを行います。</dd>
                                </dl>
                                <div class="p-competition-qa-list-item-flow"><span>1日</span></div>
                            </li>
                            <li class="p-competition-qa-list-item">
                                <div class="p-competition-qa-list-item-num"><span>5</span></div>
                                <dl>
                                    <dt>プレゼンテーション</dt>
                                    <dd>各建築会社よりプランと見積りが提案されその説明を受けます。</dd>
                                </dl>
                                <div class="p-competition-qa-list-item-flow"><span>2週間後</span></div>
                            </li>
                            <li class="p-competition-qa-list-item">
                                <div class="p-competition-qa-list-item-num"><span>6</span></div>
                                <dl>
                                    <dt>建築会社1社選択</dt>
                                    <dd>プレゼンテーションを受けた建築会社の中から１社を選び、決定します。</dd>
                                </dl>
                                <div class="p-competition-qa-list-item-flow"><span>1日～1週間後</span></div>
                            </li>
                            <li class="p-competition-qa-list-item">
                                <div class="p-competition-qa-list-item-num"><span>7</span></div>
                                <dl>
                                    <dt>個別商談　図面・見積りチェック</dt>
                                    <dd>すまいポート21の一級建築士も図面や見積りを専門家の立場からチェックします！</dd>
                                </dl>
                                <div class="p-competition-qa-list-item-flow"><span>3週間</span></div>
                            </li>
                            <li class="p-competition-qa-list-item">
                                <div class="p-competition-qa-list-item-num"><span>8</span></div>
                                <dl>
                                    <dt>請負契約・施工</dt>
                                    <dd>無事お気に入りの1社と契約を結び、いよいよ着工！</dd>
                                </dl>
                                <div class="p-competition-qa-list-item-flow"><span>3～6ヶ月</span></div>
                            </li>
                        </ol>
                        <p class="p-competition-flow-txt">完成</p>
                    </div>
                </div>
            </div>

            <hr class="u-line-range40">

            <div class="c-content-block">
                <p class="p-competition-question-heading type-no-ico">専門家のご紹介</p>
                <div class="p-competition-member-list">

                    <div class="p-competition-member-item">
                        <div class="type-image"><img src="/resources/img/member/member-ph-nakajima.jpg" alt="中島 正晴"></div>
                        <span class="type-position">プロデューサー<br>一級建築士</span>
                        <span class="type-name">中島 正晴</span>
                        <span class="type-profile">■プロフィール<br>
                        1957年函館市生まれ。<br>
                        1980年株式会社 志賀建築設計事務所入社。1983年株式会社 スイス設計入社。1989年有限会社　中島建築設計事務所設立　代表取締役</span>
                    </div>

                    <div class="p-competition-member-item">
                        <div class="type-image"><img src="/resources/img/member/member-ph-watanabe.jpg" alt="渡辺 仁基"></div>
                        <span class="type-position">プロデューサー<br>一級建築士</span>
                        <span class="type-name">渡辺 仁基</span>
                        <span class="type-profile">■プロフィール<br>
                        1979年札幌市生まれ。1994年大工職人として建築を学ぶ。2006年施工管理職・建築設計職に従事。2012年一級建築士取得。2014年 DRAW 一級建築士事務所設立</span>
                    </div>

                    <div class="p-competition-member-item">
                        <div class="type-image"><img src="/resources/img/member/member-ph-sakurai.jpg" alt="櫻井 百子"></div>
                        <span class="type-position">プロデューサー<br>一級建築士</span>
                        <span class="type-name">櫻井 百子</span>
                        <span class="type-profile">■プロフィール<br>
                        1973年 東旭川瑞穂生まれ。2008年アトリエmomo設立。<br>
                        BIS/Building Insulation Specialist(断熱施工技術者)<br>
                        認定NPO法人 人まち育てI＆I (Inspiring＆Initiative) 理事</span>
                    </div>

                    <div class="p-competition-member-item">
                        <div class="type-image"><img src="/resources/img/member/member-ph-matsushita.jpg" alt="松下 義則"></div>
                        <span class="type-position">プロデューサー<br>一級建築士</span>
                        <span class="type-name">松下 義則</span>
                        <span class="type-profile">■プロフィール<br>
                        1956年富良野市西達布生まれ。ゼネコン、設計事務所、不動産ディベロッパー、ハウスメーカー、住宅検査機関などで建築全般に関わる業務に従事。2008年愛建築設計事務所設立</span>
                    </div>

                    <div class="p-competition-member-item">
                        <div class="type-image"><img src="/resources/img/member/member-ph-miyafusa.jpg" alt="宮房 晋矢"></div>
                        <span class="type-position">プロデューサー<br>一級建築士</span>
                        <span class="type-name">宮房 晋矢</span>
                        <span class="type-profile">■プロフィール<br>
                        1960年神奈川県生まれ。1986年一級建築士事務所アトリエ391入社。1990年有限会社TAC一級建築士事務所に改組。 2002年有限会社ハース設計一級建築士事務所設立</span>
                    </div>

                    <div class="p-competition-member-item">
                        <div class="type-image"><img src="/resources/img/member/member-ph-hori.jpg" alt="堀 由佳里"></div>
                        <span class="type-position">プロデューサー<br>一級建築士</span>
                        <span class="type-name">堀 由佳里</span>
                        <span class="type-profile">■プロフィール<br>
                        1974年小樽市生まれ。2000年有限会社TAU設計工房入社。2006年アトリエアム株式会社入社。2011年金田建築研究所株式会社入社。2014年からフリーランスとして活動</span>
                    </div>

                    <div class="p-competition-member-item">
                        <div class="type-image"><img src="/resources/img/member/member-ph-igarashi.jpg" alt="五十嵐 勉"></div>
                        <span class="type-position">ファイナンシャルプランナー</span>
                        <span class="type-name">五十嵐 勉</span>
                        <span class="type-profile">・住宅ローンアドバイザー<br>・ファイナンシャルプランナー<br>・宅地建物取引士</span>
                    </div>

                    <div class="p-competition-member-item">
                        <div class="type-image"><img src="/resources/img/member/member-ph-fujiwara.jpg" alt="藤原 みちよ"></div>
                        <span class="type-position">ファイナンシャルプランナー</span>
                        <span class="type-name">藤原 みちよ</span>
                        <span class="type-profile">・住宅ローンアドバイザー<br>・ファイナンシャルプランナー</span>
                    </div>

                    <div class="p-competition-member-item">
                        <div class="type-image"><img src="/resources/img/member/member-ph-hayashi.jpg" alt="林 有一"></div>
                        <span class="type-position">ファイナンシャルプランナー</span>
                        <span class="type-name">林 有一</span>
                        <span class="type-profile">・住宅ローンアドバイザー<br>・ファイナンシャルプランナー</span>
                    </div>

                    <div class="p-competition-member-item">
                        <div class="type-image"><img src="/resources/img/member/member-ph-kaga.jpg" alt="加賀 雄喜"></div>
                        <span class="type-position">ファイナンシャルプランナー</span>
                        <span class="type-name">加賀 雄喜</span>
                        <span class="type-profile">・ソニー生命保険株式会社ライフプランナー<br>・ファイナンシャルプランナー<br>・住宅ローンアドバイザー</span>
                        <span class="type-profile">■プロフィール<br>
                        1971年秋田県生まれ。2008年ソニー生命保険株式会社入社</span>
                    </div>

                    <div class="p-competition-member-item">
                        <div class="type-image"><img src="/resources/img/member/member-ph-muraoka.jpg" alt="村岡 洋平"></div>
                        <span class="type-position">土地コンサルタント</span>
                        <span class="type-name">村岡 洋平</span>
                        <span class="type-profile">・不動産アドバイザー<br>・宅地建物取引士</span>
                    </div>
                </div>
            </div>




        </div><!-- /#base-content -->

    </div><!-- /#base-container -->

    <?php include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/base-navigation.tpl"); ?>
    <?php include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/base-footer.tpl"); ?>
</div><!-- /#base-page -->
</body>
</html>