@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-i0vc0v');
	src:url('fonts/icomoon.eot?#iefix-i0vc0v') format('embedded-opentype'),
		url('fonts/icomoon.ttf?-i0vc0v') format('truetype'),
		url('fonts/icomoon.woff?-i0vc0v') format('woff'),
		url('fonts/icomoon.svg?-i0vc0v#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-ico-menu:before {
	content: "\e600";
}
.icon-ico-reservation:before {
	content: "\e601";
}
.icon-ico-fb:before {
	content: "\e602";
}
