// ------------------------------
// Display CSS
// ------------------------------

/**
 *
 */

.u-display-pc {
  @if $mq-default {
    display: block;
  }
  @if $mq-tablet {
    display: none;
  }
}
.u-display-tab {
  @if $mq-default {
    display: none;
  }
  @if $mq-tablet {
    display: block;
  }
}
.u-display-sp {
  @if $mq-all {
    display: none;
  }
  @if $mq-sp {
    display: block;
  }
}