// ------------------------------
// Float CSS
// ------------------------------

/**
 * left
 */
.u-float-l {
  @if $mq-all {
    float: left;
  }
}

/**
 * right
 */
.u-float-r {
  @if $mq-all {
    float: right;
  }
}

/**
 * clearboth
 */
.u-clearboth {
  @if $mq-all {
    clear: both;
  }
}
/**
 * clearfix
 */
.u-clearfix {
  @if $mq-all {
    @include clearfix;
  }
}
