// ------------------------------
// Font CSS
// ------------------------------

/**
 *
 */

@if $mq-all {
  .u-txt-red    { color: #e64a19; }
  .u-txt-green  { color: #00aa83; }
  .u-txt-blue   { color: #0288d1; }
  .u-txt-brown  { color: #876100; }
  .u-txt-purple { color: #4d4585; }
  .u-txt-orange { color: #e07b33; }
}



.u-txt-center {
  @if $mq-all {
    text-align: center;
  }
}
.u-txt-left {
  @if $mq-all {
    text-align: left;
  }
}
.u-txt-right {
  @if $mq-all {
    text-align: right;
  }
}

/**
 *
 */
.u-txt-bold {
  @if $mq-all {
    font-weight: bold;
  }
}

.u-txt-12 {
  @if $mq-all {
    font-size: 12px;
  }
}
.u-txt-13 {
  @if $mq-all {
    font-size: 13px;
  }
}
.u-txt-16 {
  @if $mq-all {
    font-size: 16px;
  }
}
.u-txt-18 {
  @if $mq-all {
    font-size: 18px;
  }
}
