// ------------------------------
// Margin CSS
// ------------------------------

/**
 * hr
 */

.u-line-range40 {
  @if $mq-all {
    margin: 50px 0;
    height: 1px;
    width: 100%;
    border: none;
    background-color: #e0e0e0;
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
    margin: 20px 0;
  }
}

.u-clearfix {
  @if $mq-all {
    clear: both;
    border: none;
    @include clearfix;
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
  }
}

