// ------------------------------
// Margin CSS
// ------------------------------

/**
 * Layout
 */

.u-layout-col-wrap {
  @if $mq-default {
    margin-right: -20px;
    @include clearfix;
  }
}
.u-layout-col-2 {
  @if $mq-default {
    width: 50%;
    float: left;
    margin: 0 0 20px 0;
    padding: 0 20px 0 0;
    box-sizing: border-box;

    &:nth-child(2n-1) {
      clear: both;
    }
  }
}
