// ------------------------------
// Margin CSS
// ------------------------------

/**
 * Margin
 */

.u-m0 {
  margin: 0 !important;
}
.u-m0-auto {
  margin: 0 auto !important;
}

.u-mt0 {
  margin-top: 0;
}


.u-mt-0 {
  margin-top: 0;
}
.u-mt-10 {
  margin-top: 10px;
}


.u-mb0 {
  margin-bottom: 0;
}


.u-mbs { /* Margin-Bottom: Small; */
  margin-bottom: 15px;
}

.u-mb10 { /* Margin-Bottom */
  margin-bottom: 10px;
}
.u-mb20 { /* Margin-Bottom */
  margin-bottom: 20px;
}
.u-mb30 { /* Margin-Bottom */
  margin-bottom: 30px;
}
.u-mb40 { /* Margin-Bottom */
  margin-bottom: 40px;
}
