<?php
$page = array(
    'title' => '建築会社一覧｜た～と｜掲載企業｜北海道の住まいづくりWeb',
    'discription' => '北海道の住まいづくりWebに掲載している建築会社さまのうち、た行はじまりの企業さまを一覧でご紹介します。',
);
include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/head.tpl");
?>
</head>



<body>
<div id="base-page" class="base-type-company">
    <?php include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/base-header.tpl"); ?>

    <div id="base-container">

        <div id="base-container-head">
            <ul class="p-breadcrumb-list">
                <li class="p-breadcrumb-list-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/" itemprop="url"><span itemprop="title">トップページ</a></li>
                <li class="p-breadcrumb-list-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/company/" itemprop="url"><span itemprop="title">掲載企業</a></li>
                <li class="p-breadcrumb-list-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title">建築会社：た～と</span></li>
            </ul>

            <div class="p-company-hero-group">
                <p class="p-company-hero-heading-1"><img src="/company/img/hero-txt-1.png" alt="登録企業"></p>
            </div>

            <div class="p-company-categories-group">
                <ul class="p-company-categories-list">
                    <li class="p-company-categories-list-item type-build is-active"><a href="/company/">建築会社</a></li>
                    <li class="p-company-categories-list-item type-reform"><a href="/company/reform/">リフォーム</a></li>
                    <li class="p-company-categories-list-item type-outdoor"><a href="/company/outdoor/">外構</a></li>
                    <li class="p-company-categories-list-item type-club-s"><a href="/company/club-s/">club-s</a></li>
                </ul>
            </div>
        </div><!-- /#base-container-head -->


<div id="base-content">
<?php $const_page = "list-4"; include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/company/construction-search-navi.tpl"); ?>

<!--た～と-->
        <div class="p-company-item" id="page-taishinhome">
            <div class="p-company-item-info">
                <p class="type-logo"><img src="img/taishinhome-logo-1.png" alt="大進ホーム"></p>
				<p class="type-name">大進ホーム</p>
                <div class="p-company-item-detail-tag type-wood-frame">木造軸組</div>
                <p class="type-heading">〈保証・保険体制〉</p>
                <dl>
                    <dt>瑕疵担保責任保険</dt>
					<dd>住宅保証機構<br>まもりすまい保険</dd>
                </dl>
                <dl>
                    <dt>工事中保険</dt>
					<dd>自社保証</dd>
                </dl>
                <dl>
                    <dt>地盤保証</dt>
					<dd>一般社団法人地盤保証<br>地盤保証</dd>
                </dl>
                <dl>
                    <dt>〈アフターサービス〉</dt>
					<dd>お引渡し後定期点検実施（2ヶ月・6ヶ月・1年）<br>アフターサービス専門部署あり</dd>
                </dl>
            </div>
            <div class="p-company-item-detail">

                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="img/taishinhome-image-1.jpg" alt="耐震性能"></div>
                    <p class="type-heading u-txt-brown">耐震性能</p>
					<p class="type-heading-weak">在来工法+ツーバイフォーの軸組合体工法で<br>大事な住まいを守ります</p>
					<p class="type-txt">従来の軸組工法に、面と面で縦横の荷重を支える２×４工法の良さを取り入れた、軸組合体工法を採用。９１０mmピッチの柱・梁に、２８mmの構造用合板を加えることにより、自由度ある間取りと高い耐震性を実現しました。</p>
                </div>
                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="img/taishinhome-image-2.jpg" alt="断熱性能"></div>
                    <p class="type-heading u-txt-purple">断熱性能</p>
					<p class="type-heading-weak">壁厚１５０mmの付加断熱工法+高気密設計の快適な<br>省エネルギー住宅</p>
					<p class="type-txt">柱間に入れた105mmのグラスウールに、さらに壁の外側からも45mmの高性能グラスウールを加えた、合計150mmの付加断熱工法を標準採用。冬でも暖かく快適で、気になる光熱費も抑えた省エネルギー住宅です。</p>
                </div>
            </div>
		</div>

        <div class="p-company-item" id="page-taiheiyokengyo">
            <div class="p-company-item-info">
                <p class="type-logo"><img src="img/taiheiyokengyo-logo-1.png" alt="大平洋建業"></p>
				<p class="type-name">大平洋建業</p>
                <div class="p-company-item-detail-tag type-wood-frame">木造軸組</div>
                <p class="type-heading">〈保証・保険体制〉</p>
                <dl>
                    <dt>瑕疵担保責任保険</dt>
					<dd>住宅保証機構<br>住宅あんしん保証<br>まもりすまい保険<br>あんしん住宅保険</dd>
                </dl>
                <dl>
                    <dt>工事中保険</dt>
					<dd>AIU<br>イエンゴ保証機構<br>AIU総合保証制度<br>イエンゴ完成保証</dd>
                </dl>
                <dl>
                    <dt>地盤保証</dt>
					<dd>住宅あんしん保証<br>JIO<br>地盤保証保険</dd>
                </dl>
                <dl>
                    <dt>〈アフターサービス〉</dt>
					<dd>1年、2年点検</dd>
                </dl>
            </div>
            <div class="p-company-item-detail">

                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="img/taiheiyokengyo-image-1.jpg" alt="耐震性能"></div>
                    <p class="type-heading u-txt-brown">耐震性能</p>
					<p class="type-heading-weak">構造計算により耐震性能2及び3への対応も可能です。</p>
					<p class="type-txt">耐震等級2以上が必要な長期優良住宅などの実績も多く、しっかりとした直営大工による施工ですので安心です。</p>
                </div>
                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="img/taiheiyokengyo-image-2.jpg" alt="断熱性能"></div>
                    <p class="type-heading u-txt-purple">断熱性能</p>
					<p class="type-heading-weak">北方型住宅仕様を標準にしており、札幌版次世代基準も対応できます。</p>
					<p class="type-txt">北方型住宅仕様に優れており、第2回北方型住宅賞も受賞しました。さらに性能をアップした北方型ECO基準や札幌版次世代基準も実績がありますので安心です。</p>
                </div>
            </div>
		</div>

        <div class="p-company-item" id="page-daiwahouse">
            <div class="p-company-item-info">
                <p class="type-logo"><img src="img/daiwahouse-logo-1.png" alt="大和ハウス工業"></p>
				<p class="type-name">大和ハウス工業</p>
                <div class="p-company-item-detail-tag type-steel-frame">鉄骨造</div>
                <p class="type-heading">〈保証・保険体制〉</p>
                <dl>
                    <dt>瑕疵担保責任保険</dt>
					<dd>大阪法務局供託課へ<br>保証金供託による</dd>
                </dl>
                <dl>
                    <dt>工事中保険</dt>
					<dd>自社保証</dd>
                </dl>
                <dl>
                    <dt>地盤保証</dt>
					<dd>自社保証</dd>
                </dl>
                <dl>
                    <dt>〈アフターサービス〉</dt>
					<dd>「構造耐力上主要な部分」の保証20年、「雨水の浸入を防止する部分」の保証15年と<br>業界トップレベルの初期保証を実施。<br>点検やメンテナンスをすることで、初期保証終了後も保証期間が延長されます。</dd>
                </dl>
            </div>
            <div class="p-company-item-detail">

                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="img/daiwahouse-image-1.jpg" alt="耐震性能"></div>
                    <p class="type-heading u-txt-brown">耐震性能</p>
					<p class="type-heading-weak">あらゆる実験・検証を徹底して行うことで、<br>自然災害から住宅を守ります</p>
					<p class="type-txt">阪神・淡路大震災クラスの揺れに耐える耐震性能。自然の脅威を科学的に分析し、研究を重ねることで、ダイワハウスは住宅が備えるべき基本性能を高めました。予測しえない自然災害を防ぐ高度な安全性にこそ、ダイワハウスの技術の本質が息づいています。</p>
                </div>
                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="img/daiwahouse-image-2.jpg" alt="断熱性能"></div>
                    <p class="type-heading u-txt-purple">断熱性能</p>
					<p class="type-heading-weak">少ないエネルギーで快適に、末永く暮らす技術、<br>それが外張り断熱通気外壁工法</p>
					<p class="type-txt">鉄骨住宅では困難とされていた外張り断熱を実現し、同時に高い通気性をも確保した、外張り断熱通気外壁。構造全体を断熱材で包み込むことにより厳しい外部環境からの影響を抑え、優れた省エネ性と高耐久性を確保しています。</p>
                </div>
            </div>
		</div>

        <div class="p-company-item" id="page-takeuchi">
            <div class="p-company-item-info">
                <p class="type-logo"><img src="img/takeuchi-logo-1.png" alt="竹内建設"></p>
				<p class="type-name">竹内建設</p>
                <div class="p-company-item-detail-tag type-wood-frame">木造軸組</div>
                <p class="type-heading">〈保証・保険体制〉</p>
                <dl>
                    <dt>瑕疵担保責任保険</dt>
					<dd>日本住宅保証検査機構<br>JIOわが家の保険</dd>
                </dl>
                <dl>
                    <dt>工事中保険</dt>
					<dd>あいおいニッセイ同和損保<br>LIXILリフォームチェーン<br>工事保険</dd>
                </dl>
                <dl>
                    <dt>地盤保証</dt>
					<dd>ジャパンホームシールド<br>地盤サポートシステム</dd>
                </dl>
                <dl>
                    <dt>〈アフターサービス〉</dt>
					<dd>お引渡し後定期点検実施（６ヶ月・１年・２年以後、不具合発生時随時点検）</dd>
                </dl>
            </div>
            <div class="p-company-item-detail">

                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="img/takeuchi-image-1.jpg" alt="耐震性能"></div>
                    <p class="type-heading u-txt-brown">耐震性能</p>
					<p class="type-heading-weak">長期優良住宅の性能を全棟標準でクリアー</p>
					<p class="type-txt">日本住宅・木材技術センターより「木造住宅合理化システム（長期性能タイプ）」の認定を取得し、耐震等級２を全棟クリアー。数百年に一度程度発生する地震による力の1.25倍の力に対して、倒壊・崩壊しない建物。</p>
                </div>
                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="img/takeuchi-image-2.jpg" alt="断熱性能"></div>
                    <p class="type-heading u-txt-purple">断熱性能</p>
					<p class="type-heading-weak">長期優良住宅の性能を全棟標準でクリアー</p>
					<p class="type-txt">社内にBIS-Mと呼ばれる住宅等の断熱気密に関して正しい設計を指導できる高度な専門知識と適切な断熱気密施工技能を有し、これを指導できる両方の資格を有した技術者がおり、全棟気密測定報告書を添付。</p>
                </div>
            </div>
		</div>

        <div class="p-company-item" id="page-takken">
            <div class="p-company-item-info">
                <p class="type-logo"><img src="img/takken-logo-1.png" alt="匠建コーポレーション"></p>
				<p class="type-name">匠建コーポレーション</p>
                <div class="p-company-item-detail-tag type-wood-frame">木造軸組</div>
                <p class="type-heading">〈保証・保険体制〉</p>
                <dl>
                    <dt>瑕疵担保責任保険</dt>
					<dd>日本住宅保証検査機構<br>ＪＩＯわが家の保険</dd>
                </dl>
                <dl>
                    <dt>工事中保険</dt>
					<dd>ＡＩＵ損害保険<br>建設工事保険</dd>
                </dl>
                <dl>
                    <dt>地盤保証</dt>
					<dd>ジャパンホームシールド<br>地盤サポートサービス</dd>
                </dl>
                <dl>
                    <dt>〈アフターサービス〉</dt>
					<dd>お引渡し後定期点検実施（１年目春・２年目春）</dd>
                </dl>
            </div>
            <div class="p-company-item-detail">

                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="img/takken-image-1.jpg" alt="耐震性能"></div>
                    <p class="type-heading u-txt-brown">耐震性能</p>
					<p class="type-heading-weak">壁倍率２.５倍以上！<br>ダイライト構造用合板を使用！</p>
					<p class="type-txt">燃えにくい無機質原料で、火災等にも強く、火災保険料も優遇されます。また各床には28mmの構造用合板を敷き詰め、更に4本の通し柱に金物を接合させ、より地震に強い建物になっております。</p>
                </div>
                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="img/takken-image-2.jpg" alt="断熱性能"></div>
                    <p class="type-heading u-txt-purple">断熱性能</p>
					<p class="type-heading-weak">冬は暖かく、夏は涼しい！グラスウール24㎏相当を使用！</p>
					<p class="type-txt">床には200mm、壁には105mmのグラスウールを使用し、天井にはブローイング18㎏を330mm使用しています。オプションにて基礎断熱、付加断熱にも対応可能です。</p>
                </div>
            </div>
		</div>

        <div class="p-company-item" id="page-tsuchiyahome">
            <div class="p-company-item-info">
                <p class="type-logo"><img src="img/tsuchiyahome-logo-1.png" alt="土屋ホーム"></p>
				<p class="type-name">土屋ホーム</p>
                <div class="p-company-item-detail-tag type-wood-frame">木造軸組</div>
                <p class="type-heading">〈保証・保険体制〉</p>
                <dl>
                    <dt>瑕疵担保責任保険</dt>
					<dd>ハウスジーメン</dd>
                </dl>
                <dl>
                    <dt>工事中保険</dt>
					<dd>AIU損害保険</dd>
                </dl>
                <dl>
                    <dt>地盤保証</dt>
					<dd>地盤ネット<br>20年保証</dd>
                </dl>
                <dl>
                    <dt>〈アフターサービス〉</dt>
					<dd>お引渡し後定期点検実施（2ヶ月・1年・2年）<br>20年間の長期保証（当社指定の10年目の有料点検が条件）　</dd>
                </dl>
            </div>
            <div class="p-company-item-detail">

                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="img/tsuchiyahome-image-1.jpg" alt="耐震性能"></div>
                    <p class="type-heading u-txt-brown">耐震性能</p>
					<p class="type-heading-weak">振動エネルギーを最大80％低減<br>させる制振装置“BES-T X”標準装備</p>
					<p class="type-txt">基本構造である外断熱「BES-T構法」の高い耐震性と併せて、強い地震でも建物の揺れ幅を減少させる最新技術“BES-TX”で躯体を強化。安全性をさらにアップし大切なお住まいを守ります。</p>
                </div>
                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="img/tsuchiyahome-image-2.jpg" alt="断熱性能"></div>
                    <p class="type-heading u-txt-purple">断熱性能</p>
					<p class="type-heading-weak">外断熱の先駆者<br>―15000棟以上の実績</p>
					<p class="type-txt">住宅の高断熱化などの取り組みが評価され、平成26年度北海道省エネルギー・新エネルギー促進大賞の省エネルギー部門で大賞を受賞しました。</p>
                </div>
            </div>
		</div>

        <div class="p-company-item" id="page-tsubasakoumu">
            <div class="p-company-item-info">
                <p class="type-logo"><img src="img/tsubasakoumu-logo-1.png" alt="翼工務"></p>
				<p class="type-name">翼工務</p>
                <div class="p-company-item-detail-tag type-wood-frame">木造軸組</div>
                <p class="type-heading">〈保証・保険体制〉</p>
                <dl>
                    <dt>瑕疵担保責任保険</dt>
					<dd>日本住宅保証検査機構<br>JIOわが家の保険</dd>
                </dl>
                <dl>
                    <dt>工事中保険</dt>
					<dd>損害保険ジャパン<br>JIO友の会総合保険</dd>
                </dl>
                <dl>
                    <dt>地盤保証</dt>
					<dd>ジャパンホームシールド<br>地盤サポートシステム</dd>
                </dl>
                <dl>
                    <dt>〈アフターサービス〉</dt>
					<dd>お引渡し後随時点検対応</dd>
                </dl>
            </div>
            <div class="p-company-item-detail">

                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="img/tsubasakoumu-image-1.jpg" alt="耐震性能"></div>
                    <p class="type-heading u-txt-brown">耐震性能</p>
					<p class="type-heading-weak">木造軸組工法と木造枠組壁工法の長所を合わせた工法で耐震性能を確保いたします。</p>
					<p class="type-txt">構造体の主要部分には集成材を使用し、外周部には構造用パネルを打ち付け耐力壁としております。床には構造用合板28㎜を張り水平構面の性能を高めて耐震性を確保しております。</p>
                </div>
                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="img/tsubasakoumu-image-2.jpg" alt="断熱性能"></div>
                    <p class="type-heading u-txt-purple">断熱性能</p>
					<p class="type-heading-weak">付加断熱125㎜+基礎断熱100㎜+熱交換換気システムの<br>省エネルギー住宅です。</p>
					<p class="type-txt">壁内には高性能グラスウール105㎜に外側には硬質ウレタンフォーム20㎜を施工し、充填断熱との併用で高い断熱レベルを実現しております。</p>
                </div>
            </div>
		</div>




    <?php $const_page = "list-4"; include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/company/construction-search-navi.tpl"); ?>
</div><!-- /#base-content -->
</div><!-- /#base-container -->

    <?php include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/base-navigation.tpl"); ?>
    <?php include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/base-footer.tpl"); ?>
</div><!-- /#base-page -->
</body>
</html>