<?php
$page = array(
    'title' => '建築会社一覧｜さ～そ｜掲載企業｜北海道の住まいづくりWeb',
    'discription' => '北海道の住まいづくりWebに掲載している建築会社さまのうち、さ行はじまりの企業さまを一覧でご紹介します。',
);
include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/head.tpl");
?>
</head>



<body>
<div id="base-page" class="base-type-company">
    <?php include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/base-header.tpl"); ?>

    <div id="base-container">

        <div id="base-container-head">
            <ul class="p-breadcrumb-list">
                <li class="p-breadcrumb-list-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/" itemprop="url"><span itemprop="title">トップページ</a></li>
                <li class="p-breadcrumb-list-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/company/" itemprop="url"><span itemprop="title">掲載企業</a></li>
                <li class="p-breadcrumb-list-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title">建築会社：さ～そ</span></li>
            </ul>

            <div class="p-company-hero-group">
                <p class="p-company-hero-heading-1"><img src="/company/img/hero-txt-1.png" alt="登録企業"></p>
            </div>

            <div class="p-company-categories-group">
                <ul class="p-company-categories-list">
                    <li class="p-company-categories-list-item type-build is-active"><a href="/company/">建築会社</a></li>
                    <li class="p-company-categories-list-item type-reform"><a href="/company/reform/">リフォーム</a></li>
                    <li class="p-company-categories-list-item type-outdoor"><a href="/company/outdoor/">外構</a></li>
                    <li class="p-company-categories-list-item type-club-s"><a href="/company/club-s/">club-s</a></li>
                </ul>
            </div>
        </div><!-- /#base-container-head -->


<div id="base-content">
<?php $const_page = "list-3"; include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/company/construction-search-navi.tpl"); ?>

<!--さ～そ-->
        <div class="p-company-item" id="page-satto">
            <div class="p-company-item-info">
                <p class="type-logo"><img src="img/satto-logo-1.png" alt="札都"></p>
				<p class="type-name">札都</p>
                <div class="p-company-item-detail-tag type-wood-frame">木造軸組</div>
                <p class="type-heading">〈保証・保険体制〉</p>
                <dl>
                    <dt>瑕疵担保責任保険</dt>
					<dd>住宅保証機構<br>まもりすまい保険<br>日本住宅保証検査機構<br>JIOﾘﾌｫｰﾑ瑕疵保険</dd>
                </dl>
                <dl>
                    <dt>工事中保険</dt>
					<dd>朝日火災海上保険<br>建設工事保険</dd>
                </dl>
                <dl>
                    <dt>地盤保証</dt>
					<dd>地盤審査補償事業<br>地盤保証<br>ハウスワランティ<br>地盤保証</dd>
                </dl>
                <dl>
                    <dt>〈アフターサービス〉</dt>
					<dd>お引渡し後点検実施(２年点検)<br>リフォーム専門部隊「リリブ」がオーナー様のアフター・点検を承ります。</dd>
                </dl>
            </div>
            <div class="p-company-item-detail">

                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="img/satto-image-1.jpg" alt="耐震性能"></div>
                    <p class="type-heading u-txt-brown">耐震性能</p>
					<p class="type-heading-weak">全棟安心の自社施工。多数の長期優良住宅の実績があります。</p>
					<p class="type-txt">長期優良住宅の認定物件においては、２F建て・３F建て共、従来の木造在来軸組構法の「壁量計算」に加えて、耐震等級２の基準をクリア。耐久性の高い構造であることを構造計算書にて立証しております。</p>
                </div>
                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="img/satto-image-2.jpg" alt="断熱性能"></div>
                    <p class="type-heading u-txt-purple">断熱性能</p>
					<p class="type-heading-weak">札都のゼロエネハウスで家計を応援。<br>省エネルギーで環境へも配慮</p>
					<p class="type-txt">国土交通省が推進する「住宅・建築物省CO先導事業」にも参画しており、可能な限りの「ゼロエネルギー住宅」（光熱費ゼロ住宅）に向けて、日々研鑽しております。</p>
                </div>
            </div>
        </div>

        <div class="p-company-item" id="page-shinozaki">
            <div class="p-company-item-info">
                <p class="type-logo"><img src="img/shinozaki-logo-1.png" alt="シノザキ建築事務所"></p>
				<p class="type-name">シノザキ建築事務所</p>
                <div class="p-company-item-detail-tag type-wood-frame">木造軸組</div>
                <p class="type-heading">〈保証・保険体制〉</p>
                <dl>
                    <dt>瑕疵担保責任保険</dt>
					<dd>株式会社住宅あんしん保証<br>住友林業<br>住宅あんしん保証、完成保証</dd>
                </dl>
                <dl>
                    <dt>工事中保険</dt>
					<dd>AIU<br>建設工事保険</dd>
                </dl>
                <dl>
                    <dt>地盤保証</dt>
					<dd>施工会社による</dd>
                </dl>
                <dl>
                    <dt>〈アフターサービス〉</dt>
					<dd>お引渡し後定期点検実施（3ヶ月・1年・3年・5年・10年）</dd>
                </dl>
            </div>
            <div class="p-company-item-detail">

                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="img/shinozaki-image-1.jpg" alt="耐震性能"></div>
                    <p class="type-heading u-txt-brown">耐震性能</p>
					<p class="type-heading-weak">長期優良住宅を全棟標準的に施工<br>ほぼ全物件を構造等級3で建築</p>
					<p class="type-txt">「設計事務所」と「工務店」の特徴を併せ持つ、今までにないタイプの会社が、シノザキ建築事務所です。だからこそそれぞれのお客様に会った間取りとともに、高い施工技術を持って頑強な構造の家を施工できるのです。</p>
                </div>
                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="img/shinozaki-image-2.jpg" alt="断熱性能"></div>
                    <p class="type-heading u-txt-purple">断熱性能</p>
					<p class="type-heading-weak">ランニングコストのみならず10年以内の回収を考慮した<br>バランス型高性能</p>
					<p class="type-txt">家の性能が上がるという本当の意味は人がいかに快適に住まえるかということと同じことだと思います。数値を追い求めることだけをせずに、快適性をも高次元で提案していくことを考慮して実現していく高性能住宅です。</p>
                </div>
            </div>
		</div>

        <div class="p-company-item" id="page-thenewhousingplancreation">
            <div class="p-company-item-info">
                <p class="type-logo"><img src="img/thenewhousingplancreation-logo-1.png" alt="住宅企画クリエーション"></p>
				<p class="type-name">住宅企画クリエーション</p>
                <div class="p-company-item-detail-tag type-wood-frame">木造軸組</div>
                <p class="type-heading">〈保証・保険体制〉</p>
                <dl>
                    <dt>瑕疵担保責任保険</dt>
					<dd>日本住宅保証検査機構<br>JIOわが家の保険</dd>
                </dl>
                <dl>
                    <dt>工事中保険</dt>
					<dd>日新火災海上保険<br>オールキーパー</dd>
                </dl>
                <dl>
                    <dt>地盤保証</dt>
					<dd>ジャパンホームシールド<br>地盤保証システム</dd>
                </dl>
                <dl>
                    <dt>〈アフターサービス〉</dt>
					<dd>お引渡し後定期点検実施（6ヶ月・1年・2年・随時）<br>即日対応</dd>
                </dl>
            </div>
            <div class="p-company-item-detail">

                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="img/thenewhousingplancreation-image-1.jpg" alt="耐震性能"></div>
                    <p class="type-heading u-txt-brown">耐震性能</p>
					<p class="type-heading-weak">構造のチェックポイント知っていますか</p>
					<p class="type-txt">当社では、構造など専門家でしか分からないような部分も噛み砕いてお伝えしています。</p>
                </div>
                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="img/thenewhousingplancreation-image-2.jpg" alt="断熱性能"></div>
                    <p class="type-heading u-txt-purple">断熱性能</p>
					<p class="type-heading-weak">断熱・気密・換気はセットでないと性能が発揮できない</p>
					<p class="type-txt">見出しであるように断熱・気密・換気はセットで考えないともったいないです。当社では【良い断熱材を使うだけじゃ意味がない】といったことなど、お客様にも勉強してもらっています。</p>
                </div>
            </div>
		</div>

        <div class="p-company-item" id="page-joyfullhome">
            <div class="p-company-item-info">
                <p class="type-logo"><img src="img/joyfullhome-logo-1.png" alt="ジョイフルホーム"></p>
				<p class="type-name">ジョイフルホーム</p>
                <div class="p-company-item-detail-tag type-wood-frame">木造軸組</div>
                <p class="type-heading">〈保証・保険体制〉</p>
                <dl>
                    <dt>瑕疵担保責任保険</dt>
					<dd>日本住宅保証検査機構<br>住宅瑕疵担保責任保険</dd>
                </dl>
                <dl>
                    <dt>工事中保険</dt>
					<dd>あいおいニッセイ同和損保<br>建設業総合保険</dd>
                </dl>
                <dl>
                    <dt>地盤保証</dt>
					<dd>地盤ネット<br>生産物賠償責任保険</dd>
                </dl>
                <dl>
                    <dt>〈アフターサービス〉</dt>
					<dd>お引渡し後定期点検実施（1ヶ月・１年・２年・5年・10年）</dd>
                </dl>
            </div>
            <div class="p-company-item-detail">

                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="img/joyfullhome-image-1.jpg" alt="耐震性能"></div>
                    <p class="type-heading u-txt-brown">耐震性能</p>
					<p class="type-heading-weak">壁面構造用合板と剛床工法で耐震性強化</p>
					<p class="type-txt">地震や台風など、外部からの強い負荷に威力を発揮する独自の面構造を採用。耐力壁は「OSB構造用合板」を、床面も構造用合板を用いた「剛床工法」で耐震性を強化。ねじれや変形に強い建物を可能にしました。</p>
                </div>
                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="img/joyfullhome-image-2.jpg" alt="断熱性能"></div>
                    <p class="type-heading u-txt-purple">断熱性能</p>
					<p class="type-heading-weak">世界トップクラスの断熱性能を誇るネオマフォーム60mmで高断熱を実現</p>
					<p class="type-txt">グラスウールなどと比べると約2倍以上の断熱効果があるネオマファームは、経年変化にもとても強いです。断熱ガスを逃さないガスバリア性の高い気泡膜で構成されているため、ほとんど性能が劣化せず高い断熱性を維持します。</p>
                </div>
            </div>
		</div>

        <div class="p-company-item" id="page-sumainokumazawa">
            <div class="p-company-item-info">
                <p class="type-logo"><img src="img/sumainokumazawa-logo-1.png" alt="住まいのクワザワ"></p>
				<p class="type-name">住まいのクワザワ</p>
                <div class="p-company-item-detail-tag type-2x4">2×4</div>
                <p class="type-heading">〈保証・保険体制〉</p>
                <dl>
                    <dt>瑕疵担保責任保険</dt>
					<dd>日本住宅保証検査機構</dd>
                </dl>
                <dl>
                    <dt>工事中保険</dt>
					<dd>損害保険ジャパン日本興亜</dd>
                </dl>
                <dl>
                    <dt>地盤保証</dt>
					<dd>自社保証<br>ジャパンホームシールド</dd>
                </dl>
                <dl>
                    <dt>〈アフターサービス〉</dt>
					<dd>お引渡し後定期点検実施（６ヶ月・２年・１０年）</dd>
                </dl>
            </div>
            <div class="p-company-item-detail">

                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="img/sumainokumazawa-image-1.jpg" alt="耐震性能"></div>
                    <p class="type-heading u-txt-brown">耐震性能</p>
					<p class="type-heading-weak">面で支える枠組壁工法、6面で構成されモノコック構造を採用</p>
					<p class="type-txt">緊結された床・壁・天井が地震や台風等の力を全体で受け止め、荷重を一点に集中させることなく分散。外力に対して抜群の強さを発揮。特に外壁に２×６材を採用、通常の2×４材より断面係数が２．５倍となり水平力が増加します。</p>
                </div>
                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="img/sumainokumazawa-image-2.jpg" alt="断熱性能"></div>
                    <p class="type-heading u-txt-purple">断熱性能</p>
					<p class="type-heading-weak">魔法瓶の家と呼ばれるほど断熱性に優れたツーバイフォー住宅。</p>
					<p class="type-txt">床・壁・天井など適材適所の断熱施工で認定低炭素住宅の断熱基準値を上回る熱貫流率（外壁）を実現。透湿防風シートにアルミを特殊技術で蒸着、赤外線を７５～８５％反射する効果があります。</p>
                </div>
            </div>
		</div>

        <div class="p-company-item" id="page-sekisuihaimu">
            <div class="p-company-item-info">
                <p class="type-logo"><img src="img/sekisuihaimu-logo-1.png" alt="北海道セキスイハイム"></p>
				<p class="type-name">北海道セキスイハイム</p>
                <div class="p-company-item-detail-tag type-steel-frame">鉄骨造</div>
                <p class="type-heading">〈保証・保険体制〉</p>
                <dl>
                    <dt>瑕疵担保責任保険</dt>
					<dd>札幌法務局への供託</dd>
                </dl>
                <dl>
                    <dt>工事中保険</dt>
					<dd>東京海上日動火災保険<br>組立保険・請負業者賠償<br>責任保険</dd>
                </dl>
                <dl>
                    <dt>地盤保証</dt>
					<dd>ハイム保証基準にて対応</dd>
                </dl>
                <dl>
                    <dt>〈アフターサービス〉</dt>
					<dd>60年長期サポートシステム<br>（完成後6ケ月・1年・2年の定期点検、５年目以降5年毎の定期診断）</dd>
                </dl>
            </div>
            <div class="p-company-item-detail">

                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="img/sekisuihaimu-image-1.jpg" alt="耐震性能"></div>
                    <p class="type-heading u-txt-brown">耐震性能</p>
					<p class="type-heading-weak">地震が起きたら、セキスイハイムに避難したい</p>
					<p class="type-txt">鉄骨ユニットを組み合わせてつくるセキスイハイムの住まいは、高層ビルも採用する構造を応用した「ボックスラーメン構造」。建物が受けた強い力をしなやかに吸収しながら分散し、地震に対して粘り強さを発揮します。</p>
                </div>
                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="img/sekisuihaimu-image-2.jpg" alt="断熱性能"></div>
                    <p class="type-heading u-txt-purple">断熱性能</p>
					<p class="type-heading-weak">超高断熱住宅シェダンなら、北海道の一般住宅と比べ<br>暖房費が半分以下です</p>
					<p class="type-txt">シェダンはダブルウォールユニット工法でＱ値０．９９w/㎡kを実現。優れた断熱・気密性能を発揮します。１年間の暖房費は、次世代省エネルギー住宅と比べて半分以下。太陽光発電と組合せて光熱費ゼロ住宅も可能です。</p>
                </div>
            </div>
		</div>

        <div class="p-company-item" id="page-sekisuihouse">
            <div class="p-company-item-info">
                <p class="type-logo"><img src="img/sekisuihouse-logo-1.png" alt="積水ハウス"></p>
				<p class="type-name">積水ハウス</p>
                <div class="p-company-item-detail-tag type-steel-frame">鉄骨造</div>
                <p class="type-heading">〈保証・保険体制〉</p>
                <dl>
                    <dt>瑕疵担保責任保険</dt>
					<dd>大阪法務局供託課へ<br>保証金供託による</dd>
                </dl>
                <dl>
                    <dt>工事中保険</dt>
					<dd>自社保証</dd>
                </dl>
                <dl>
                    <dt>地盤保証</dt>
					<dd>自社保証</dd>
                </dl>
                <dl>
                    <dt>〈アフターサービス〉</dt>
					<dd>お引渡し後定期点検2回（2年）実施</dd>
                </dl>
            </div>
            <div class="p-company-item-detail">

                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="img/sekisuihouse-image-1.jpg" alt="耐震性能"></div>
                    <p class="type-heading u-txt-brown">耐震性能</p>
					<p class="type-heading-weak">「シーカスダンパー」が建物の変形量を約1/2に抑制</p>
					<p class="type-txt">耐力壁の一部を、建物の揺れにブレーキをかける特殊なダンパーをK型に組み込んだ「シーカスフレーム」に置き換えることで、地震エネルギーを熱に変換し、揺れを吸収する制震システムです。</p>
                </div>
                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="img/sekisuihouse-image-2.jpg" alt="断熱性能"></div>
                    <p class="type-heading u-txt-purple">断熱性能</p>
					<p class="type-heading-weak">標準仕様で次世代省エネルギー基準をクリア</p>
					<p class="type-txt">外壁・空気層・高断熱材のグラスウール・石膏ボード等からなる複合構造による優れた断熱性能と気密性能で冷暖房効率を高め、省エネ・省コストによる「冬に暖かく、夏涼しい」快適な住まいを実現しています。</p>
                </div>
            </div>
		</div>



    <?php $const_page = "list-3"; include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/company/construction-search-navi.tpl"); ?>
</div><!-- /#base-content -->
</div><!-- /#base-container -->

    <?php include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/base-navigation.tpl"); ?>
    <?php include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/base-footer.tpl"); ?>
</div><!-- /#base-page -->
</body>
</html>