<?php
$page = array(
    'title' => '建築会社一覧｜あ～お｜掲載企業｜北海道の住まいづくりWeb',
    'discription' => '北海道の住まいづくりWebに掲載している建築会社さまのうち、あ行はじまりの企業さまを一覧でご紹介します。',
);
include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/head.tpl");
?>
</head>



<body>
<div id="base-page" class="base-type-company">
    <?php include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/base-header.tpl"); ?>

    <div id="base-container">

        <div id="base-container-head">
            <ul class="p-breadcrumb-list">
                <li class="p-breadcrumb-list-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/" itemprop="url"><span itemprop="title">トップページ</a></li>
                <li class="p-breadcrumb-list-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/company/" itemprop="url"><span itemprop="title">掲載企業</a></li>
                <li class="p-breadcrumb-list-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title">建築会社：あ～お</span></li>
            </ul>

            <div class="p-company-hero-group">
                <p class="p-company-hero-heading-1"><img src="/company/img/hero-txt-1.png" alt="登録企業"></p>
            </div>

            <div class="p-company-categories-group">
                <ul class="p-company-categories-list">
                    <li class="p-company-categories-list-item type-build is-active"><a href="/company/">建築会社</a></li>
                    <li class="p-company-categories-list-item type-reform"><a href="/company/reform/">リフォーム</a></li>
                    <li class="p-company-categories-list-item type-outdoor"><a href="/company/outdoor/">外構</a></li>
                    <li class="p-company-categories-list-item type-club-s"><a href="/company/club-s/">club-s</a></li>
                </ul>
            </div>
        </div><!-- /#base-container-head -->


<div id="base-content">
<?php $const_page = "list-1"; include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/company/construction-search-navi.tpl"); ?>
<!--あ～お-->
        <div class="p-company-item" id="page-architech-planning">
            <div class="p-company-item-info">
                <p class="type-logo"><img src="img/architec-planning-logo-1.png" alt="アーキテックプランニング"></p>
                <p class="type-name">アーキテックプランニング</p>
                <div class="p-company-item-detail-tag type-wood-frame">木造軸組</div>
                <p class="type-heading">〈保証・保険体制〉</p>
                <dl>
                    <dt>瑕疵担保責任保険</dt>
					<dd>住宅保証機構<br>まもりすまい保険<br>日本住宅保証検査機構<br>ＪＩＯわが家の保険</dd>
                </dl>
                <dl>
                    <dt>工事中保険</dt>
					<dd>あいおいニッセイ同和損保<br>建設業総合保険</dd>
                </dl>
                <dl>
                    <dt>地盤保証</dt>
                    <dd>ジャパンホームシールド<br>地盤サポートシステム</dd>
                </dl>
                <dl>
                    <dt>〈アフターサービス〉</dt>
					<dd>お引渡後定期点検実施<br>（１２ヶ月・２４ヶ月）</dd>
                </dl>
            </div>
            <div class="p-company-item-detail">
                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="img/architec-planning-image-1.jpg" alt="耐震性能"></div>
                    <p class="type-heading u-txt-brown">耐震性能</p>
                    <p class="type-heading-weak">全棟構造計算を行い、長期優良住宅の認定を取得した耐震等級2の住宅</p>
                    <p class="type-txt">柱・梁共に高い強度と品質を誇る集成材を使用。接合部には一般在来工法に比べ柱や梁に欠損する断面が少ない接合金物を使用することにより木材本来の強度を発揮。モノコック構造でより高い耐震性を発揮します。</p>
                </div>
                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="img/architec-planning-image-2.jpg" alt="断熱性能"></div>
                    <p class="type-heading u-txt-purple">断熱性能</p>
                    <p class="type-heading-weak">快適な床下環境の基礎断熱と現場吹付発泡で隙間なく充填するウレタン断熱</p>
                    <p class="type-txt">熱抵抗値の高いウレタン断熱を使用。次世代省エネ基準・長期優良住宅の断熱性能4等級をクリアしています。基礎断熱部分にも内部からウレタン断熱を現場吹付発泡し、床下に強制換気を施し足元に暖気を引き込みます。</p>
                </div>
            </div>
        </div>

        <div class="p-company-item" id="page-eyefulhome">
            <div class="p-company-item-info">
                <p class="type-logo"><img src="img/eyefulhome-logo-1.png" alt="アイフルホーム（アリビオ）"></p>
                <div class="p-company-item-detail-tag type-wood-frame">木造軸組</div>
                <p class="type-name">アイフルホーム（アリビオ）</p>
                <p class="type-heading">〈保証・保険体制〉</p>
                <dl>
                    <dt>瑕疵担保責任保険</dt>
                    <dd>日本住宅保証検査機構<br>JIOわが家保険</dd>
                </dl>
                <dl>
                    <dt>工事中保険</dt>
                    <dd>富士火災<br>工事王</dd>
                </dl>
                <dl>
                    <dt>地盤保証</dt>
                    <dd>ジャパンホームシールド<br>地盤サポートシステム</dd>
                </dl>
                <dl>
                    <dt>〈アフターサービス〉</dt>
                    <dd>お引渡し後定期点検実施（2ヶ月・6ヶ月・1年・2年・5年・10年・15年・20年）</dd>
                </dl>
            </div>
            <div class="p-company-item-detail">
                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="img/eyefulhome-image-1.jpg" alt="耐震性能"></div>
                    <p class="type-heading u-txt-brown">耐震性能</p>
                    <p class="type-heading-weak">こどもにやさしいは、みんなにやさしい、アイフルホームです</p>
                    <p class="type-txt">LIXIL住宅研究所アイフルホームはLIXILグループのTOPブランドの最新資材をグループ特価で仕入販売しFC制度により高品質・低価格を実現しております。FC加盟店㈱アリビオは豊富な施工実績の豊栄建設が運営しております。</p>
                </div>
                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="img/eyefulhome-image-2.jpg" alt="断熱性能"></div>
                    <p class="type-heading u-txt-purple">断熱性能</p>
                    <p class="type-heading-weak">フルスペック仕様は、高性能の断熱材を使った付加断熱工法</p>
                    <p class="type-txt">壁の内側に断熱材を充填し、外側にも断熱材を施したW断熱で、断熱性能を高めた付加断熱工法をフルスペック仕様で採用。断熱性能でUa値0.34（W/㎡・K）、気密性能でC値0.2c㎡/㎡を実現しました。</p>
                </div>
            </div>
        </div>

        <div class="p-company-item" id="page-airisuhome">
            <div class="p-company-item-info">
                <p class="type-logo"><img src="img/airisuhome-logo-1.png" alt="アイリスホーム"></p>
                <p class="type-name">アイリスホーム</p>
                <div class="p-company-item-detail-tag type-wood-frame">木造軸組</div>
                <p class="type-heading">〈保証・保険体制〉</p>
                <dl>
                    <dt>瑕疵担保責任保険</dt>
					<dd>日本住宅保証検査機構<br>JIOわが家の保険・<br>リフォームかし保険</dd>
                </dl>
                <dl>
                    <dt>工事中保険</dt>
					<dd>東京海上日動火災保険<br>超ビジネス保険</dd>
                </dl>
                <dl>
                    <dt>地盤保証</dt>
					<dd>ジャパンホームシールド<br>品質保証書（保証期間１０年）</dd>
                </dl>
                <dl>
                    <dt>〈アフターサービス〉</dt>
                    <dd>お引渡し後定期点検随時実施（1年点検）</dd>
                </dl>
            </div>
            <div class="p-company-item-detail">
                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="img/airisuhome-image-1.jpg" alt="耐震性能"></div>
                    <p class="type-heading u-txt-brown">耐震性能</p>
                    <p class="type-heading-weak">クレテック金物工法による、仕口強化と、ＯＳＢ構造合板の耐震面材補強</p>
                    <p class="type-txt">全棟、プレカット構造材を使用し、クレテック金物工法による、柱・梁・土台の断面欠損を防ぎ、仕口の強度を上げ、耐震性と建物の施工精度のアップ、工期の短縮を図っております。又、全棟、ＯＳＢ耐震面材を施工、ご要望により、ＧＶＡ（ジーバ）制震ダンパーもご使用に為れます。</p>
                </div>
                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="img/airisuhome-image-2.jpg" alt="断熱性能"></div>
                    <p class="type-heading u-txt-purple">断熱性能</p>
                    <p class="type-heading-weak">全棟、基礎断熱・外断熱で次世代省エネルギー基準をクリア</p>
                    <p class="type-txt">LIXILの発泡ウレタンの内断熱＋カネライトフォームスーパーEⅢb50ミリの外断熱により、札幌版次世代省エネのトップランナーも可能になりました。</p>
                </div>
            </div>
        </div>

        <div class="p-company-item" id="page-owlloghomes">
            <div class="p-company-item-info">
                <p class="type-logo"><img src="img/owlloghomes-logo-1.png" alt="アウルログホームズ"></p>
                <p class="type-name">アウルログホームズ</p>
                <div class="p-company-item-detail-tag type-log-sets">丸太組構法</div>
                <p class="type-heading">〈保証・保険体制〉</p>
                <dl>
                    <dt>瑕疵担保責任保険</dt>
					<dd>日本住宅保証検査機構<br>JIOわが家の保険</dd>
                </dl>
                <dl>
                    <dt>工事中保険</dt>
					<dd>株式会社損害保険ジャパン<br>JIO友の会総合保険・<br>ハイパー任意労災</dd>
                </dl>
                <dl>
                    <dt>地盤保証</dt>
					<dd>ジャパンホームシールド<br>地盤サポートシステム</dd>
                </dl>
                <dl>
                    <dt>〈アフターサービス〉</dt>
                    <dd>お引渡し後定期点検2回（2年）実施</dd>
                </dl>
            </div>
            <div class="p-company-item-detail">
                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="img/owlloghomes-image-1.jpg" alt="耐震性能"></div>
                    <p class="type-heading u-txt-brown">耐震性能</p>
                    <p class="type-heading-weak">地震に強いログハウス（丸太組構法）<br>耐震等級3が標準</p>
                    <p class="type-txt">地震に強いといわれているログハウスですが、2007年に、日本ログハウス協会が、世界初となる実物大振動実験を行い、実験では、阪神・淡路大震災並の巨大地震レベルの振動でも優れた耐震性と制震性を示しました。</p>
                </div>
                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="img/owlloghomes-image-2.jpg" alt="断熱性能"></div>
                    <p class="type-heading u-txt-purple">断熱性能</p>
					<p class="type-heading-weak">北海道の寒冷地仕様のログを使用<br>高い断熱効果を発揮します。</p>
                    <p class="type-txt">マシンカットログハウスでは、ログの収縮・割れなどが少ないラミネートログ138mm以上の厚さをご提案。夏は家の冷たい空気を循環、冬は家の暖かい空気を循環する換気システムを併用することも可能です。</p>
                </div>
            </div>
        </div>

        <div class="p-company-item" id="page-aerhome">
            <div class="p-company-item-info">
                <p class="type-logo"><img src="img/aerhome-logo-1.png" alt="アエルホーム"></p>
                <p class="type-name">アエルホーム</p>
                <div class="p-company-item-detail-tag type-wood-frame">木造軸組</div>
                <p class="type-heading">〈保証・保険体制〉</p>
                <dl>
                    <dt>瑕疵担保責任保険</dt>
					<dd>日本住宅保証検査機構<br>JIOわが家の保険</dd>
                </dl>
                <dl>
                    <dt>工事中保険</dt>
					<dd>日本興亜損保<br>Ｋマスター</dd>
                </dl>
                <dl>
                    <dt>地盤保証</dt>
					<dd>ジャパンホームシールド<br>地盤保証サービス</dd>
                </dl>
                <dl>
                    <dt>〈アフターサービス〉</dt>
                    <dd>お引き渡し後定期点検実施（１年点検）不具合発生時随時対応</dd>
                </dl>
            </div>
            <div class="p-company-item-detail">
                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="img/aerhome-image-1.jpg" alt="耐震性能"></div>
                    <p class="type-heading u-txt-brown">耐震性能</p>
                    <p class="type-heading-weak">住まいの耐震性を飛躍的に向上させた木造軸組み工法</p>
                    <p class="type-txt">自由設計がし易い木造軸組工法の壁面や床に構造用合板を張ることで面剛性が増し、水平力と鉛直力に対して耐震性能が強化されます。さらに筋交や金物などで補強し、より安心な住宅になります。</p>
                </div>
                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="img/aerhome-image-2.jpg" alt="断熱性能"></div>
                    <p class="type-heading u-txt-purple">断熱性能</p>
					<p class="type-heading-weak">ダブル断熱と高気密化</p>
                    <p class="type-txt">柱間に劣化に強い105㎜高性能24ｋ相当グラスウールを使用。外側にも「フェノールフォーム保温板」や「ポリスチレンフォーム保温板」を併用したダブル断熱。他にもお客様のニーズに合わせてご提案いたします。</p>
                </div>
            </div>
        </div>

        <div class="p-company-item" id="page-assisthome">
            <div class="p-company-item-info">
                <p class="type-logo"><img src="img/assisthome-logo-1.png" alt="アシスト企画"></p>
                <p class="type-name">アシスト企画</p>
                <div class="p-company-item-detail-tag type-wood-frame">木造軸組</div>
                <p class="type-heading">〈保証・保険体制〉</p>
                <dl>
                    <dt>瑕疵担保責任保険</dt>
					<dd>日本住宅保証検査機構<br>JIOわが家の保険・<br>リフォーム瑕疵保険</dd>
                </dl>
                <dl>
                    <dt>工事中保険</dt>
					<dd>朝日火災海上保険株式会社<br>建築ものがたり（ワイド）</dd>
                </dl>
                <dl>
                    <dt>地盤保証</dt>
					<dd>ジャパンホームシールド<br>地盤サポートシステム（20年）</dd>
                </dl>
                <dl>
                    <dt>〈アフターサービス〉</dt>
					<dd>お引渡し後定期点検実施（1ヶ月・3ヶ月・1年）<br>第三者機関点検（引き渡し後2年）<br>その後は、専任のスタッフによる定期訪問<br>春の無料点検・道具箱訪問各年1回実施</dd>
                </dl>
            </div>
            <div class="p-company-item-detail">
                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="img/assisthome-image-1.jpg" alt="耐震性能"></div>
                    <p class="type-heading u-txt-brown">耐震性能</p>
					<p class="type-heading-weak">長期優良住宅認定基準を標準でクリア。実績に基づいた、<br>安心の構造を提供します。</p>
                    <p class="type-txt">木造軸組工法は、上からの荷重には柱と梁、横からの荷重には筋交いで躯体を支えます。さらに構造用パネルを張りめぐらせることにより、2×4のように面の強度もプラスされます。外力は「面」にかかるため、変形の度合いが小さくなる耐震構造の住宅です。</p>
                </div>
                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="img/assisthome-image-2.jpg" alt="断熱性能"></div>
                    <p class="type-heading u-txt-purple">断熱性能</p>
					<p class="type-heading-weak">高断熱・高気密で家計に優しい住まいを提供します。</p>
                    <p class="type-txt">土間コンクリートで地盤からの湿気をシャットアウト。基礎断熱工法で床下も室内空間として取り込むことで、１階の足下は床暖でもないのに冷たさを感じません。気密は全棟測定の上、Ｃ値＝0.7㎠を保証しています。</p>
                </div>
            </div>
        </div>

        <div class="p-company-item" id="page-atelierd">
            <div class="p-company-item-info">
                <p class="type-logo"><img src="img/atelierd-logo-1.png" alt="ATELIER.D"></p>
                <p class="type-name">ATELIER.D</p>
                <div class="p-company-item-detail-tag type-wood-frame">木造軸組</div>
                <p class="type-heading">〈保証・保険体制〉</p>
                <dl>
                    <dt>瑕疵担保責任保険</dt>
					<dd>住宅保証機構<br>まもり住まい保険</dd>
                </dl>
                <dl>
                    <dt>工事中保険</dt>
					<dd>あいおいﾆｯｾｲ同和損害保険<br>建設工事総合補償</dd>
                </dl>
                <dl>
                    <dt>地盤保証</dt>
					<dd>ジャパンホームシールド<br>地盤保証システム</dd>
                </dl>
                <dl>
                    <dt>〈アフターサービス〉</dt>
					<dd>お引渡し後定期点検実施（６ヶ月・１年・２年）<br>どんな些細なことでも、まずはご連絡下さい</dd>
                </dl>
            </div>
            <div class="p-company-item-detail">
                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="img/atelierd-image-1.jpg" alt="耐震性能"></div>
                    <p class="type-heading u-txt-brown">耐震性能</p>
					<p class="type-heading-weak">軸組工法と壁式工法の長所を合体。<br>柱+梁+面で耐震性を確保します</p>
                    <p class="type-txt">乾燥集成材を利用した木造軸組工法に構造用合板を貼り、高い耐震性を確保します。床にも24㎜の構造用合板を使用することで水平力を上げ、更なる耐久力を追求しています。</p>
                </div>
                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="img/atelierd-image-2.jpg" alt="断熱性能"></div>
                    <p class="type-heading u-txt-purple">断熱性能</p>
					<p class="type-heading-weak">ウレタン断熱で、デザインと高断熱・高気密を両立</p>
                    <p class="type-txt">フロンガスを使用しない環境にやさしいウレタンフォームを現場発泡にて細かな部分まで隙間なく断熱します。断熱性能も高く、冬は暖かく夏は涼しい快適な空間を実現します。</p>
                </div>
            </div>
        </div>

        <div class="p-company-item" id="page-yesrehome">
            <div class="p-company-item-info">
                <p class="type-logo"><img src="img/yesrehome-logo-1.png" alt="イエスリホーム（コーディ株式会社）"></p>
                <p class="type-name">イエスリホーム（コーディ株式会社）</p>
                <div class="p-company-item-detail-tag type-wood-frame">木造軸組</div>
                <p class="type-heading">〈保証・保険体制〉</p>
                <dl>
                    <dt>瑕疵担保責任保険</dt>
					<dd>日本住宅保証検査機構<br>JIOわが家の保険・<br>JIO既存住宅かし保証保険登録検査<br>事業者・JIOリフォームかし保険</dd>
                </dl>
                <dl>
                    <dt>工事中保険</dt>
					<dd>損害保険ジャパン</dd>
                </dl>
                <dl>
                    <dt>地盤保証</dt>
					<dd>ジャパンホームシールド<br>地盤保証システム</dd>
                </dl>
                <dl>
                    <dt>〈アフターサービス〉</dt>
					<dd>お引き渡し後定期点検実施<br>毎年お伺いする「住まいの生涯めんて」</dd>
                </dl>
            </div>
            <div class="p-company-item-detail">
                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="img/yesrehome-image-1.jpg" alt="耐震性能"></div>
                    <p class="type-heading u-txt-brown">耐震性能</p>
					<p class="type-heading-weak">長く安心にお住まいいただくためのプランを<br>提案させて頂きます</p>
                    <p class="type-txt">構造用合板、筋交い、金物など建物の耐震性を高める工法を駆使し長く安心して暮らせるプランを提案させて頂きます。</p>
                </div>
                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="img/yesrehome-image-2.jpg" alt="断熱性能"></div>
                    <p class="type-heading u-txt-purple">断熱性能</p>
					<p class="type-heading-weak">断熱と気密、換気のバランスを考えた総合提案</p>
                    <p class="type-txt">窓には断熱性に優れたＬｏｗ－Ｅ複層ガラスを採用し防湿シートと断熱材で家全体を包み込むことによって高気密・高断熱を実現しています。熱交換換気システムを採用しているため室内の空調管理も万全です。</p>
                </div>
            </div>
		</div>

        <div class="p-company-item" id="page-ineshome">
            <div class="p-company-item-info">
                <p class="type-logo"><img src="img/ineshome-logo-1.png" alt="イネスホーム"></p>
                <p class="type-name">イネスホーム</p>
                <div class="p-company-item-detail-tag type-wood-frame">木造軸組</div>
                <p class="type-heading">〈保証・保険体制〉</p>
                <dl>
                    <dt>瑕疵担保責任保険</dt>
					<dd>日本住宅保証検査機構<br>住宅瑕疵担保責任保険</dd>
                </dl>
                <dl>
                    <dt>工事中保険</dt>
					<dd>AIU損害保険</dd>
                </dl>
                <dl>
                    <dt>地盤保証</dt>
					<dd>ジャパンホームシールド<br>地盤サポートシステム</dd>
                </dl>
                <dl>
                    <dt>〈アフターサービス〉</dt>
					<dd>お引渡し後2年間無料定期点検実施<br>（3ヶ月・6ヶ月・12ヶ月・24ヶ月）</dd>
                </dl>
            </div>
            <div class="p-company-item-detail">
                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="img/ineshome-image-1.jpg" alt="耐震性能"></div>
                    <p class="type-heading u-txt-brown">耐震性能</p>
					<p class="type-heading-weak">歴史ある在来工法に金物と合板補強をプラスした<br>木造改良軸組工法</p>
					<p class="type-txt">建物全体の骨組みを地震に強い認定金物で強度を増し、かつ外壁面に構造用合板を張り付けることで、一般基準を上回る高い耐久性を確保します。<br>お引渡しの際には、全てのお客様へ「構造計算書」をお渡ししております。</p>
                </div>
                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="img/ineshome-image-2.jpg" alt="断熱性能"></div>
                    <p class="type-heading u-txt-purple">断熱性能</p>
					<p class="type-heading-weak">内断熱と外断熱を組み合わせたW断熱工法</p>
                    <p class="type-txt">柱と柱の間に断熱材を入れる「充填断熱」と壁の外側に断熱材を貼り付ける「外断熱」を併用したW断熱工法を採用しています。断熱性だけでなく、気密性も高いので寒い冬も暖かく過ごせます。</p>
                </div>
            </div>
        </div>

        <div class="p-company-item" id="page-iwakurahome">
            <div class="p-company-item-info">
                <p class="type-logo"><img src="img/iwakurahome-logo-1.png" alt="イワクラホーム"></p>
                <p class="type-name">イワクラホーム</p>
                <div class="p-company-item-detail-tag type-2x4">2×4</div>
                <p class="type-heading">〈保証・保険体制〉</p>
                <dl>
                    <dt>瑕疵担保責任保険</dt>
					<dd>日本住宅保証検査機構<br>JIOわが家の保険</dd>
                </dl>
                <dl>
                    <dt>工事中保険</dt>
					<dd>共栄火災保険</dd>
                </dl>
                <dl>
                    <dt>地盤保証</dt>
					<dd>自社保証<br>ジャパンホームシールド</dd>
                </dl>
                <dl>
                    <dt>〈アフターサービス〉</dt>
					<dd>竣工後、６ヶ月・２年・５年・１０年の無償点検を実施。更に家の構造躯体に関しては、<br>10年後の無料定期点検実施後必要なメンテナンス工事を<br>イワクラホームまたはイワクラホームが指定する会社で施工(有料）することで、<br>さらに10年間保証を延長し、長期20年保証を致します。</dd>
                </dl>
            </div>
            <div class="p-company-item-detail">
                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="img/iwakurahome-image-1.jpg" alt="耐震性能"></div>
                    <p class="type-heading u-txt-brown">耐震性能</p>
					<p class="type-heading-weak">６面体で支えるモノコック構造だから地震に強い</p>
					<p class="type-txt">イワクラホームの住宅は床・壁・屋根が一体となったモノコック構造のツーバイフォー工法の住宅です。モノコック構造は、地震の揺れを６面体の建物全体で受け止めて力を分散させます。地震力が一部分に集中することがないため倒壊・損傷がなく、地震に対して抜群強さを発揮します。</p>
                </div>
                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="img/iwakurahome-image-2.jpg" alt="断熱性能"></div>
                    <p class="type-heading u-txt-purple">断熱性能</p>
					<p class="type-heading-weak">施工・仕様のすべてに最高水準の断熱性を実現しています</p>
                    <p class="type-txt">合理的なツーバイフォー工法は断熱施工においても優位性を発揮します。ツーバイフォー住宅は壁や床の「面」同士を接合するシンプルな構造で、枠組材が均等に配列されているため、断熱材そのものを複雑に細工することなく容易に充填することができます。そのため家全体を断熱材ですっぽりおおうことが可能なのです。</p>
                </div>
            </div>
        </div>

        <div class="p-company-item" id="page-uchiike">
            <div class="p-company-item-info">
                <p class="type-logo"><img src="img/uchiike-logo-1.png" alt="内池建設"></p>
                <p class="type-name">内池建設</p>
                <div class="p-company-item-detail-tag type-wood-frame">木造軸組</div>
                <p class="type-heading">〈保証・保険体制〉</p>
                <dl>
                    <dt>瑕疵担保責任保険</dt>
					<dd>日本住宅保証検査機構<br>JIOわが家の保険</dd>
                </dl>
                <dl>
                    <dt>工事中保険</dt>
					<dd>あいおいニッセイ同和損保<br>建設業総合保険</dd>
                </dl>
                <dl>
                    <dt>地盤保証</dt>
					<dd>ジャパンホームシールド<br>地盤サポートシステム</dd>
                </dl>
                <dl>
                    <dt>〈アフターサービス〉</dt>
					<dd>お引渡し後定期点検実施（3ヶ月・6ヶ月・1年・2年）</dd>
                </dl>
            </div>
            <div class="p-company-item-detail">
                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="img/uchiike-image-1.jpg" alt="耐震性能"></div>
                    <p class="type-heading u-txt-brown">耐震性能</p>
					<p class="type-heading-weak">当社自慢のデザイン性と構造計算による<br>耐震性の融合を実現</p>
					<p class="type-txt">当社はお客様が求めるデザイン性を忠実に再現しつつも、構造用合板、筋交い、金物などの耐震性を高める工法を駆使する事でお気に入りのお家を末永くお守り致します。</p>
                </div>
                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="img/uchiike-image-2.jpg" alt="断熱性能"></div>
                    <p class="type-heading u-txt-purple">断熱性能</p>
					<p class="type-heading-weak">断熱・気密・換気のバランスを考慮した家づくりで<br>断熱性能４以上を実現</p>
                    <p class="type-txt">当社では内側柱間には105mmの高性能24k相当のグラスウールを使用し、外側にはポリスチレンフォーム保温板を30mm使用した付加断熱により高気密・高断熱のお家を提案させて頂きます。</p>
                </div>
            </div>
        </div>

        <div class="p-company-item" id="page-ecoahouse">
            <div class="p-company-item-info">
                <p class="type-logo"><img src="img/ecoahouse-logo-1.png" alt="ｅｃｏａハウス"></p>
                <p class="type-name">ｅｃｏａハウス</p>
                <div class="p-company-item-detail-tag type-2x6">2×6</div>
                <p class="type-heading">〈保証・保険体制〉</p>
                <dl>
                    <dt>瑕疵担保責任保険</dt>
					<dd>日本住宅保証検査機構（JIO）</dd>
                </dl>
                <dl>
                    <dt>工事中保険</dt>
					<dd>日本興亜損保株式会社<br>総合賠償責任保険</dd>
                </dl>
                <dl>
                    <dt>地盤保証</dt>
					<dd>地盤ネット</dd>
                </dl>
                <dl>
                    <dt>〈アフターサービス〉</dt>
					<dd>エコアハウスでは建築後、1年・4年・7年・10年の時期に、構造に関する箇所、<br>屋根など住宅の健康診断を実施。瑕疵に関しては無料でメンテナンスしております。</dd>
                </dl>
            </div>
            <div class="p-company-item-detail">
                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="img/ecoahouse-image-1.jpg" alt="耐震性能"></div>
                    <p class="type-heading u-txt-brown">耐震性能</p>
					<p class="type-heading-weak">エコアハウスの家は、設計事務所が建てる安心な家</p>
					<p class="type-txt">壁を厚くし、より強い躯体に進化した「２×６（外周耐力壁）工法」これに油圧ダンパーによる制震システムを加える事で大きな地震だけでなく頻発する余震からも永きにわたり家を守ります。</p>
                </div>
                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="img/ecoahouse-image-2.jpg" alt="断熱性能"></div>
                    <p class="type-heading u-txt-purple">断熱性能</p>
					<p class="type-heading-weak">独自の断熱構造と、たえまない高気密化の追求</p>
                    <p class="type-txt">当社オリジナルの基礎断熱工法は床下全体を断熱空間にします。壁面だけでなく地面からの冷気をシャットアウト。さらに厳しい現場管理によって全棟平均０．５㎠/㎡の隙間相当面積を実現。これは次世代省エネ基準１．０㎠/㎡を軽くクリアする性能です。</p>
                </div>
            </div>
        </div>

        <div class="p-company-item" id="page-fphome">
            <div class="p-company-item-info">
                <p class="type-logo"><img src="img/fphome-logo-1.png" alt="ＦＰホーム"></p>
                <p class="type-name">ＦＰホーム</p>
                <div class="p-company-item-detail-tag type-wood-frame">木造軸組</div>
                <p class="type-heading">〈保証・保険体制〉</p>
                <dl>
                    <dt>瑕疵担保責任保険</dt>
					<dd>住宅あんしん保証<br>あんしん住宅瑕疵保険</dd>
                </dl>
                <dl>
                    <dt>工事中保険</dt>
					<dd>損害保険ジャパン<br>FPグループ総合補償制度</dd>
                </dl>
                <dl>
                    <dt>地盤保証</dt>
					<dd>ハウスワランティ<br>地盤保証システム<br>（２０年保証）</dd>
                </dl>
                <dl>
                    <dt>〈アフターサービス〉</dt>
					<dd>お引渡し後定期点検実施（1年・2年・5年・10年）<br>最長３０年サポートシステム</dd>
                </dl>
            </div>
            <div class="p-company-item-detail">
                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="img/fphome-image-1.jpg" alt="耐震性能"></div>
                    <p class="type-heading u-txt-brown">耐震性能</p>
					<p class="type-heading-weak">耐震実験でも実証された「FPの家」の安心</p>
					<p class="type-txt">木枠と一体化したウレタン断熱パネルを建物に組み込むことで、壁構造としての強度もより発揮し、建物の構造材（柱・梁・大引）には接合金物＜TEC―ONE P3＞を用いる事により、接合部分の強度も高めています。</p>
                </div>
                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="img/fphome-image-2.jpg" alt="断熱性能"></div>
                    <p class="type-heading u-txt-purple">断熱性能</p>
					<p class="type-heading-weak">無結露５０年保証は技術力への自信、<br>冬暖かく、夏涼しい省エネ住宅</p>
                    <p class="type-txt">FPの家の最大特徴は独自開発し、自社工場で一括生産されたFPウレタンパネルを使用していることです。FPウレタンパネルは断熱材としては最高ランクに位置し、熱伝導率０．０２４ｗ/ｍｋ以下です。</p>
                </div>
            </div>
        </div>

        <div class="p-company-item" id="page-oooka">
            <div class="p-company-item-info">
                <p class="type-logo"><img src="img/oooka-logo-1.png" alt="大岡産業"></p>
                <p class="type-name">大岡産業</p>
                <div class="p-company-item-detail-tag type-wood-frame">木造軸組</div>
                <p class="type-heading">〈保証・保険体制〉</p>
                <dl>
                    <dt>瑕疵担保責任保険</dt>
					<dd>株式会社ハウスジーメン</dd>
                </dl>
                <dl>
                    <dt>工事中保険</dt>
					<dd>AIU損害保険株式会社<br>建設工事保険</dd>
                </dl>
                <dl>
                    <dt>地盤保証</dt>
					<dd>株式会社ハウスジーメン</dd>
                </dl>
                <dl>
                    <dt>〈アフターサービス〉</dt>
					<dd>お引渡し後定期点検実施（6ヵ月・1年・2年）</dd>
                </dl>
            </div>
            <div class="p-company-item-detail">
                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="img/oooka-image-1.jpg" alt="耐震性能"></div>
                    <p class="type-heading u-txt-brown">耐震性能</p>
					<p class="type-heading-weak">地震に強さを発揮！大岡の「木造在来軸組＋接合金物工法」</p>
					<p class="type-txt">伝統技法である木造在来軸組工法に接合金物テックワンＰ3をプラスした頑強構造。構造材には集成材を使い、さらに耐震性・耐久性を高めています。。</p>
                </div>
                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="img/oooka-image-2.jpg" alt="断熱性能"></div>
                    <p class="type-heading u-txt-purple">断熱性能</p>
					<p class="type-heading-weak">30㎜のウレタンボードによる付加断熱と充填断熱で、<br>高断熱住宅を実現</p>
                    <p class="type-txt">基礎断熱工法で外気と湿気をシャットアウト。３０ｍｍの硬質ウレタンボードの付加断熱と高性能グラスウールの充填断熱で、高気密、高断熱住宅を実現しました。</p>
                </div>
            </div>
        </div>

        <div class="p-company-item" id="page-okuno">
            <div class="p-company-item-info">
                <p class="type-logo"><img src="img/okuno-logo-1.png" alt="奥野工務店"></p>
                <p class="type-name">奥野工務店</p>
                <div class="p-company-item-detail-tag type-wood-frame">木造軸組</div>
                <p class="type-heading">〈保証・保険体制〉</p>
                <dl>
                    <dt>瑕疵担保責任保険</dt>
					<dd>日本住宅保証検査機構<br>JIOわが家の保険</dd>
                </dl>
                <dl>
                    <dt>工事中保険</dt>
					<dd>三井住友海上火災保険<br>あんしん／とくとく倶楽部<br>工事保険</dd>
                </dl>
                <dl>
                    <dt>地盤保証</dt>
					<dd>ジャパンホームシールド<br>地盤サポートシステム</dd>
                </dl>
                <dl>
                    <dt>〈アフターサービス〉</dt>
					<dd>お引渡し後定期点検実施（6ヶ月・1年・2年）</dd>
                </dl>
            </div>
            <div class="p-company-item-detail">
                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="img/okuno-image-1.jpg" alt="耐震性能"></div>
                    <p class="type-heading u-txt-brown">耐震性能</p>
					<p class="type-heading-weak">生命を守る家の中で耐震性がまず第一</p>
					<p class="type-txt">家づくりの中でまず耐震性を高めるためには、しっかりした基礎、湿気が入りづらい構造や気密性・断熱性が大事です。耐震性を維持するには、上記の気密性・断熱性・換気が大事になります。</p>
                </div>
                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="img/okuno-image-2.jpg" alt="断熱性能"></div>
                    <p class="type-heading u-txt-purple">断熱性能</p>
					<p class="type-heading-weak">熱を逃がさないようにすることは、家づくりの基本</p>
                    <p class="type-txt">断熱性を高めることは、これからの家づくりにとって基本であり、不可欠であります。北海道の家づくりでは省エネ住宅が根本的に大事ですから、どこにお金をかけるか…それは断熱です。</p>
                </div>
            </div>
        </div>




    <?php $const_page = "list-1"; include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/company/construction-search-navi.tpl"); ?>
</div><!-- /#base-content -->
</div><!-- /#base-container -->

    <?php include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/base-navigation.tpl"); ?>
    <?php include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/base-footer.tpl"); ?>
</div><!-- /#base-page -->
</body>
</html>