<?php
$page = array(
    'title' => '建築会社一覧｜か～こ｜掲載企業｜北海道の住まいづくりWeb',
    'discription' => '北海道の住まいづくりWebに掲載している建築会社さまのうち、か行はじまりの企業さまを一覧でご紹介します。',
);
include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/head.tpl");
?>
</head>



<body>
<div id="base-page" class="base-type-company">
    <?php include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/base-header.tpl"); ?>

    <div id="base-container">

        <div id="base-container-head">
            <ul class="p-breadcrumb-list">
                <li class="p-breadcrumb-list-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/" itemprop="url"><span itemprop="title">トップページ</a></li>
                <li class="p-breadcrumb-list-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/company/" itemprop="url"><span itemprop="title">掲載企業</a></li>
                <li class="p-breadcrumb-list-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title">建築会社：か～こ</span></li>
            </ul>

            <div class="p-company-hero-group">
                <p class="p-company-hero-heading-1"><img src="/company/img/hero-txt-1.png" alt="登録企業"></p>
            </div>

            <div class="p-company-categories-group">
                <ul class="p-company-categories-list">
                    <li class="p-company-categories-list-item type-build is-active"><a href="/company/">建築会社</a></li>
                    <li class="p-company-categories-list-item type-reform"><a href="/company/reform/">リフォーム</a></li>
                    <li class="p-company-categories-list-item type-outdoor"><a href="/company/outdoor/">外構</a></li>
                    <li class="p-company-categories-list-item type-club-s"><a href="/company/club-s/">club-s</a></li>
                </ul>
            </div>
        </div><!-- /#base-container-head -->


<div id="base-content">
<?php $const_page = "list-2"; include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/company/construction-search-navi.tpl"); ?>

<!--か～こ-->
        <div class="p-company-item" id="page-qulios">
            <div class="p-company-item-info">
                <p class="type-logo"><img src="img/qulios-logo-1.png" alt="クリオスの家（豊栄建設2×6パネル事業部）"></p>
				<p class="type-name">クリオスの家<br>（豊栄建設2×6パネル事業部）</p>
                <div class="p-company-item-detail-tag type-2x6">2×6</div>
                <p class="type-heading">〈保証・保険体制〉</p>
                <dl>
                    <dt>瑕疵担保責任保険</dt>
					<dd>日本住宅保証検査機構<br>JIOわが家の保険</dd>
                </dl>
                <dl>
                    <dt>工事中保険</dt>
					<dd>自社保証</dd>
                </dl>
                <dl>
                    <dt>地盤保証</dt>
					<dd>地盤サポートシステム<br>ジャパンホームシールド</dd>
                </dl>
                <dl>
                    <dt>〈アフターサービス〉</dt>
					<dd>アフター課（専門部署）による、お引渡し後定期点検実施（１年・2年）</dd>
                </dl>
            </div>
            <div class="p-company-item-detail">

                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="img/qulios-image-1.jpg" alt="耐震性能"></div>
                    <p class="type-heading u-txt-brown">耐震性能</p>
					<p class="type-heading-weak">佐呂間竜巻・中越地震・東日本大震災において竜巻・<br>地震・津波にも耐えた実績の工法</p>
					<p class="type-txt">1枚のウレタン断熱・構造一体型パネル（幅1ｍ・高さ2.4ｍ）は壁倍率8.4倍・鉛直荷重33トンの強さ・モノコック的ボックス構造。</p>
                </div>
                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="img/qulios-image-2.jpg" alt="断熱性能"></div>
                    <p class="type-heading u-txt-purple">断熱性能</p>
					<p class="type-heading-weak">年数が経過しても本当の冬暖かい・夏涼しい家を是非、<br>モデルハウス等で体感を！</p>
					<p class="type-txt">北国の厳しい寒さの影響をほとんど受けること無く快適な室内環境を実現する。その優れた保温性能の理由が158㎜の厚さにしっかりと詰まっています。しかも、140㎜の発砲ポリウレタンは環境に配慮したノンフロン仕様。人にも地球にも優しい、理想的なパネルです。</p>
                </div>
            </div>
        </div>

        <div class="p-company-item" id="page-kotobuki">
            <div class="p-company-item-info">
                <p class="type-logo"><img src="img/kotobuki-logo-1.png" alt="寿建設"></p>
				<p class="type-name">寿建設</p>
                <div class="p-company-item-detail-tag type-2x6">2×6</div>
                <p class="type-heading">〈保証・保険体制〉</p>
                <dl>
                    <dt>瑕疵担保責任保険</dt>
					<dd>日本住宅保証検査機構<br>住宅建設瑕疵担保責任保険</dd>
                </dl>
                <dl>
                    <dt>工事中保険</dt>
					<dd>東京海上日動火災保険<br>TH工事総合補償制度</dd>
                </dl>
                <dl>
                    <dt>地盤保証</dt>
					<dd>地盤ネット／ジャパンホームシールド<br>地盤ロングライフ補償／<br>地盤サポートシステム20年</dd>
                </dl>
                <dl>
                    <dt>〈アフターサービス〉</dt>
					<dd>1年または2年無料点検（項目による）</dd>
                </dl>
            </div>
            <div class="p-company-item-detail">

                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="img/kotobuki-image-1.jpg" alt="耐震性能"></div>
                    <p class="type-heading u-txt-brown">耐震性能</p>
					<p class="type-heading-weak">2×4工法から2×6工法への<br>進化と性能を追求</p>
					<p class="type-txt">2×4工法は、38㎜×89㎜の断面の材料で壁面を構成しますが、2×6工法は、38㎜×140㎜の部材を使い、2×4工法に比べ、1.5倍の壁の厚さがあり、壁の曲げ応力に対する強さも約2.5倍の強度を誇ります。</p>
                </div>
                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="img/kotobuki-image-2.jpg" alt="断熱性能"></div>
                    <p class="type-heading u-txt-purple">断熱性能</p>
					<p class="type-heading-weak">断熱がどんなに良くとも、気密が悪ければ<br>家は暖かくなりません</p>
					<p class="type-txt">北欧、北米においては、140㎜の断熱材はごく当たり前の断熱レベルであり、現在では200㎜以上も見られます。新築時にイニシャルコストを削ろうとするあまりに、ランニングコストのかかる家になってしまいます。</p>
                </div>
            </div>
        </div>




    <?php $const_page = "list-2"; include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/company/construction-search-navi.tpl"); ?>
</div><!-- /#base-content -->
</div><!-- /#base-container -->

    <?php include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/base-navigation.tpl"); ?>
    <?php include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/base-footer.tpl"); ?>
</div><!-- /#base-page -->
</body>
</html>