<?php
$page = array(
    'title' => '建築会社一覧｜な～の｜掲載企業｜北海道の住まいづくりWeb',
    'discription' => '北海道の住まいづくりWebに掲載している建築会社さまのうち、な行はじまりの企業さまを一覧でご紹介します。',
);
include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/head.tpl");
?>
</head>



<body>
<div id="base-page" class="base-type-company">
    <?php include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/base-header.tpl"); ?>

    <div id="base-container">

        <div id="base-container-head">
            <ul class="p-breadcrumb-list">
                <li class="p-breadcrumb-list-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/" itemprop="url"><span itemprop="title">トップページ</a></li>
                <li class="p-breadcrumb-list-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/company/" itemprop="url"><span itemprop="title">掲載企業</a></li>
                <li class="p-breadcrumb-list-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title">建築会社：な～の</span></li>
            </ul>

            <div class="p-company-hero-group">
                <p class="p-company-hero-heading-1"><img src="/company/img/hero-txt-1.png" alt="登録企業"></p>
            </div>

            <div class="p-company-categories-group">
                <ul class="p-company-categories-list">
                    <li class="p-company-categories-list-item type-build is-active"><a href="/company/">建築会社</a></li>
                    <li class="p-company-categories-list-item type-reform"><a href="/company/reform/">リフォーム</a></li>
                    <li class="p-company-categories-list-item type-outdoor"><a href="/company/outdoor/">外構</a></li>
                    <li class="p-company-categories-list-item type-club-s"><a href="/company/club-s/">club-s</a></li>
                </ul>
            </div>
        </div><!-- /#base-container-head -->


<div id="base-content">
<?php $const_page = "list-5"; include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/company/construction-search-navi.tpl"); ?>

<!--な～の-->
        <div class="p-company-item" id="page-nishioka">
            <div class="p-company-item-info">
                <p class="type-logo"><img src="img/nishioka-logo-1.png" alt="西岡建設"></p>
				<p class="type-name">西岡建設</p>
                <div class="p-company-item-detail-tag type-wood-frame">木造軸組</div>
                <p class="type-heading">〈保証・保険体制〉</p>
                <dl>
                    <dt>瑕疵担保責任保険</dt>
					<dd>日本住宅保証検査機構<br>JIOわが家の保険
</dd>
                </dl>
                <dl>
                    <dt>工事中保険</dt>
					<dd>ジャパンホームシールド<br>地盤サポートシステム</dd>
                </dl>
                <dl>
                    <dt>地盤保証</dt>
					<dd>地盤ネット</dd>
                </dl>
                <dl>
                    <dt>〈アフターサービス〉</dt>
					<dd>お引渡し後随時点検対応</dd>
                </dl>
            </div>
            <div class="p-company-item-detail">

                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="img/nishioka-image-1.jpg" alt="耐震性能"></div>
                    <p class="type-heading u-txt-brown">耐震性能</p>
					<p class="type-heading-weak">お客様のニーズに合わせた耐震性能をご提案させていただきます</p>
					<p class="type-txt">木造軸組工法により耐震性、耐風性、耐雪性に優れた建物を建築することができます。お客様のニーズに合わせ、RC造にも対応いたします。</p>
                </div>
                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="img/nishioka-image-2.jpg" alt="断熱性能"></div>
                    <p class="type-heading u-txt-purple">断熱性能</p>
					<p class="type-heading-weak">お客様のニーズに合った断熱性能でオールシーズン快適に過ごす家づくり</p>
					<p class="type-txt">標準施工で、次世代省エネ基準クリアはもちろん、お客様のニーズに合わせ札幌版次世代住宅スタンダードレベル以上の断熱性能にも対応します。</p>
                </div>
            </div>
		</div>

        <div class="p-company-item" id="page-nihonhouse">
            <div class="p-company-item-info">
                <p class="type-logo"><img src="img/nihonhouse-logo-1.png" alt="日本ハウスホールディングス"></p>
				<p class="type-name">日本ハウスホールディングス</p>
                <div class="p-company-item-detail-tag type-wood-frame">木造軸組</div>
                <p class="type-heading">〈保証・保険体制〉</p>
                <dl>
                    <dt>瑕疵担保責任保険</dt>
					<dd>住宅保証機構<br>住宅建設瑕疵担保責任保険</dd>
                </dl>
                <dl>
                    <dt>工事中保険</dt>
					<dd>自社保証</dd>
                </dl>
                <dl>
                    <dt>地盤保証</dt>
					<dd>自社保証</dd>
                </dl>
                <dl>
                    <dt>〈アフターサービス〉</dt>
					<dd>お引き渡し後定期点検実施<br>（3ヶ月・6ヶ月・1年・5年・10年・20年・30年・60年長期サポートシステム）</dd>
                </dl>
            </div>
            <div class="p-company-item-detail">

                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="img/nihonhouse-image-1.jpg" alt="耐震性能"></div>
                    <p class="type-heading u-txt-brown">耐震性能</p>
					<p class="type-heading-weak">檜がもたらす、丈夫で耐震性のある家。<br>基本性能の高さが暮らしをしっかり支えます。</p>
					<p class="type-txt">従来の木造軸組み工法に壁パネルと厚床合板の床組で軸組を強固にし、さらに地震のエネルギーを吸収するグッドストロングウォール(粘着ダンパー)を設置し揺れを抑えます。一度の地震だけでなく将来の地震に何度も耐えうる構造となっています。</p>
                </div>
                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="img/nihonhouse-image-2.jpg" alt="断熱性能"></div>
                    <p class="type-heading u-txt-purple">断熱性能</p>
					<p class="type-heading-weak">外壁2重断熱＋トリプルサッシ＋熱交換換気システムの<br>トリプル断熱</p>
					<p class="type-txt">外壁は高性能グラスウール＋硬質ウレタンの2重断熱と世界トップクラスU値0.91のトリプルサッシさらに熱交換換気システムによって冬暖かく、夏涼しいのは当然、省エネルギー住宅です。</p>
                </div>
            </div>
		</div>



    <?php $const_page = "list-5"; include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/company/construction-search-navi.tpl"); ?>
</div><!-- /#base-content -->
</div><!-- /#base-container -->

    <?php include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/base-navigation.tpl"); ?>
    <?php include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/base-footer.tpl"); ?>
</div><!-- /#base-page -->
</body>
</html>