<?php
$page = array(
    'title' => '建築会社一覧｜は～ほ｜掲載企業｜北海道の住まいづくりWeb',
    'discription' => '北海道の住まいづくりWebに掲載している建築会社さまのうち、は行はじまりの企業さまを一覧でご紹介します。',
);
include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/head.tpl");
?>
</head>



<body>
<div id="base-page" class="base-type-company">
    <?php include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/base-header.tpl"); ?>

    <div id="base-container">

        <div id="base-container-head">
            <ul class="p-breadcrumb-list">
                <li class="p-breadcrumb-list-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/" itemprop="url"><span itemprop="title">トップページ</a></li>
                <li class="p-breadcrumb-list-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/company/" itemprop="url"><span itemprop="title">掲載企業</a></li>
                <li class="p-breadcrumb-list-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title">建築会社：は～ほ</span></li>
            </ul>

            <div class="p-company-hero-group">
                <p class="p-company-hero-heading-1"><img src="/company/img/hero-txt-1.png" alt="登録企業"></p>
            </div>

            <div class="p-company-categories-group">
                <ul class="p-company-categories-list">
                    <li class="p-company-categories-list-item type-build is-active"><a href="/company/">建築会社</a></li>
                    <li class="p-company-categories-list-item type-reform"><a href="/company/reform/">リフォーム</a></li>
                    <li class="p-company-categories-list-item type-outdoor"><a href="/company/outdoor/">外構</a></li>
                    <li class="p-company-categories-list-item type-club-s"><a href="/company/club-s/">club-s</a></li>
                </ul>
            </div>
        </div><!-- /#base-container-head -->


        <div id="base-content">
<?php $const_page = "list-6"; include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/company/construction-search-navi.tpl"); ?>


<!--は～ほ-->
        <div class="p-company-item" id="page-hisasuekoshin">
            <div class="p-company-item-info">
                <p class="type-logo"><img src="img/hisasuekoshin-logo-1.png" alt="久末弘信建設"></p>
				<p class="type-name">久末弘信建設</p>
                <div class="p-company-item-detail-tag type-wood-frame">木造軸組</div>
                <p class="type-heading">〈保証・保険体制〉</p>
                <dl>
                    <dt>瑕疵担保責任保険</dt>
					<dd>日本住宅保証検査機構<br>JIOわが家の保険</dd>
                </dl>
                <dl>
                    <dt>工事中保険</dt>
					<dd>AIU損害保険株式会社</dd>
                </dl>
                <dl>
                    <dt>地盤保証</dt>
					<dd>ジャパンホームシールド</dd>
                </dl>
                <dl>
                    <dt>〈アフターサービス〉</dt>
					<dd>お引渡し後定期点検実施（1年・2年）</dd>
                </dl>
            </div>
            <div class="p-company-item-detail">
                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="img/hisasuekoshin-image-1.jpg" alt="耐震性能"></div>
                    <p class="type-heading u-txt-brown">耐震性能</p>
					<p class="type-heading-weak">構造計算により耐震等級２及び３への対応も可能です</p>
					<p class="type-txt">長期優良住宅など耐震等級２以上が必要な物件も毎年施工実績があり、しっかりとした構造計算の基に自社大工による施工でお客様の安心を形にします。</p>
                </div>
                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="img/hisasuekoshin-image-2.jpg" alt="断熱性能"></div>
                    <p class="type-heading u-txt-purple">断熱性能</p>
					<p class="type-heading-weak">高気密・高断熱のＳＨＳ外張断熱工法</p>
					<p class="type-txt">家を外側から丸ごとすっぽりと高性能断熱材のスタイロフォームでくるんでしまう工法です。外からの影響を受けにくいので、室内は快適な環境がつくれます。冬はポカポカ、夏は涼しい省エネ住宅です。</p>
                </div>
            </div>
		</div>

        <div class="p-company-item" id="page-hiyama">
            <div class="p-company-item-info">
                <p class="type-logo"><img src="img/hiyama-logo-1.png" alt="桧山建設綜業"></p>
				<p class="type-name">桧山建設綜業</p>
                <div class="p-company-item-detail-tag type-wood-frame">木造軸組</div>
                <p class="type-heading">〈保証・保険体制〉</p>
                <dl>
                    <dt>瑕疵担保責任保険</dt>
					<dd>ハウスジーメン・JIO</dd>
                </dl>
                <dl>
                    <dt>工事中保険</dt>
					<dd>AIU<br>建設工事保険</dd>
                </dl>
                <dl>
                    <dt>地盤保証</dt>
					<dd>ハウワランティ</dd>
                </dl>
                <dl>
                    <dt>〈アフターサービス〉</dt>
					<dd>お引渡し後定期点検実施（1年・10年）</dd>
                </dl>
            </div>
            <div class="p-company-item-detail">
                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="img/hiyama-image-1.jpg" alt="耐震性能"></div>
                    <p class="type-heading u-txt-brown">耐震性能</p>
					<p class="type-heading-weak">樹脂製の断熱材がショックを吸収し、建物への揺れを<br>最小限に抑える構造</p>
					<p class="type-txt">構造用合板と金物工法を採用し、耐震等級２相当を実現。FAS工法専用の樹脂製現場吹付け発泡の断熱材が基礎と躯体の間でショックを吸収し、建物本体の揺れを最小限に抑える構造です。</p>
                </div>
                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="img/hiyama-image-2.jpg" alt="断熱性能"></div>
                    <p class="type-heading u-txt-purple">断熱性能</p>
					<p class="type-heading-weak">何年経っても変わらぬ暖かさ<br>その秘密は現場発泡吹付けの断熱・気密材</p>
					<p class="type-txt">日本初の断熱評定を交付された樹脂による現場スプレー発泡断熱方式。断熱性能はグラスウールの約2倍。断熱と気密を一度で取れる上に、経年劣化がないため、劣化対策の最高等級以上の性能保持評価を受けました。</p>
                </div>
            </div>
		</div>

        <div class="p-company-item" id="page-prudencehome">
            <div class="p-company-item-info">
                <p class="type-logo"><img src="img/prudencehome-logo-1.png" alt="プルーデンスホーム"></p>
				<p class="type-name">プルーデンスホーム</p>
                <div class="p-company-item-detail-tag type-importation">輸入住宅</div>
                <p class="type-heading">〈保証・保険体制〉</p>
                <dl>
                    <dt>瑕疵担保責任保険</dt>
					<dd>住宅保証機構<br>日本住宅保証検査機構</dd>
                </dl>
                <dl>
                    <dt>工事中保険</dt>
					<dd>あいおいニッセイ同和損保<br>建設業総合保険</dd>
                </dl>
                <dl>
                    <dt>地盤保証</dt>
					<dd>地盤ネット</dd>
                </dl>
                <dl>
                    <dt>〈アフターサービス〉</dt>
					<dd>お引渡し後定期点検実施（1年・2年）</dd>
                </dl>
            </div>
            <div class="p-company-item-detail">
                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="img/prudencehome-image-1.jpg" alt="耐震性能"></div>
                    <p class="type-heading u-txt-brown">耐震性能</p>
					<p class="type-heading-weak">構造本来の耐震性を忠実に、そして継承することの重要性</p>
					<p class="type-txt">地震の多い北米西海岸で開発されたプラットフレーミング工法は、構造用合板の剛なダイヤフラム構造の床を、合板を千鳥張りとしたフィートモジュールの２０６外壁に均等に力を伝えることにより、国内仕様のツーバイフォーより、高い耐震性を発揮します。その他、２階床組には，重量物にも補強を必要としないＴＪＩ２１２（一般的な２１０の２，８倍の床剛性）を早くから採用するなど、より資産価値を高める構造となっています。</p>
                </div>
                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="img/prudencehome-image-2.jpg" alt="断熱性能"></div>
                    <p class="type-heading u-txt-purple">断熱性能</p>
					<p class="type-heading-weak">環境にやさしい自然素材による断熱と遮音性能</p>
					<p class="type-txt">天然繊維であるセルロースファイバーはそれぞれの繊維と木質繊維の中にある多くの空気胞が絡み合う二重の空気層により、140ｍｍの吹込工法と併せて高い断熱、遮音性を発揮します。また、防燃処理により、撥水、防錆などと共に構造的にも優れた燃焼防止効果が期待できます。</p>
                </div>
            </div>
		</div>

        <div class="p-company-item" id="page-homekikaku">
            <div class="p-company-item-info">
                <p class="type-logo"><img src="img/homekikaku-logo-1.png" alt="ホーム企画センター"></p>
				<p class="type-name">ホーム企画センター</p>
                <div class="p-company-item-detail-tag type-wood-frame">木造軸組</div>
                <p class="type-heading">〈保証・保険体制〉</p>
                <dl>
                    <dt>瑕疵担保責任保険</dt>
					<dd>日本住宅保証検査機構<br>JIOわが家の保険</dd>
                </dl>
                <dl>
                    <dt>工事中保険</dt>
					<dd>JIO</dd>
                </dl>
                <dl>
                    <dt>地盤保証</dt>
					<dd>ジャパンホームシールド（JHS）<br>地盤サポートシステム</dd>
                </dl>
                <dl>
                    <dt>〈アフターサービス〉</dt>
					<dd>お引渡し後定期点検実施（6ヶ月・1年・2年）</dd>
                </dl>
            </div>
            <div class="p-company-item-detail">
                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="img/homekikaku-image-1.jpg" alt="耐震性能"></div>
                    <p class="type-heading u-txt-brown">耐震性能</p>
					<p class="type-heading-weak">全棟構造計算実施！<br>耐震等級２・３や制振構造にも対応できる屈強な住宅づくり</p>
					<p class="type-txt">本来、2階建住宅において構造計算は求められていませんが、当社の住宅は全棟構造計算を行っており、構造計算を行うことで地震時における基礎、柱、梁、壁、床接合部の強度や建物のバランスを細部にわたりチェックします。又構造パネルと一体化された制振テープを用いることでさらに地震に強い住宅建築が出来ます。</p>
                </div>
                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="img/homekikaku-image-2.jpg" alt="断熱性能"></div>
                    <p class="type-heading u-txt-purple">断熱性能</p>
					<p class="type-heading-weak">認定低炭素住宅にも対応できる高気密・高断熱住宅</p>
					<p class="type-txt">全棟に標準採用している断熱材の硬質ウレタンは、グラスウール（16㎏/㎥）の1.8倍の熱伝導抵抗を持っているので、夏は涼しく、冬は暖かい省エネ住宅です。また、吸水性が低いので壁内結露があっても断熱性能を損ないません。又一次エネルギー消費量の少ない設備機器や断熱性能の高いトリプルサッシを併用することで、認定低炭素住宅にも対応しやすい住宅です。</p>
                </div>
            </div>
		</div>

        <div class="p-company-item" id="page-houei">
            <div class="p-company-item-info">
                <p class="type-logo"><img src="img/houei-logo-1.png" alt="豊栄建設"></p>
				<p class="type-name">豊栄建設</p>
                <div class="p-company-item-detail-tag type-wood-frame">木造軸組</div>
                <p class="type-heading">〈保証・保険体制〉</p>
                <dl>
                    <dt>瑕疵担保責任保険</dt>
					<dd>日本住宅保証検査機構<br>JIOわが家の保険</dd>
                </dl>
                <dl>
                    <dt>工事中保険</dt>
					<dd>自社保証</dd>
                </dl>
                <dl>
                    <dt>地盤保証</dt>
					<dd>ジャパンホームシールド<br>地盤サポートシステム</dd>
                </dl>
                <dl>
                    <dt>〈アフターサービス〉</dt>
					<dd>お引渡し後定期点検実施（1年・2年）</dd>
                </dl>
            </div>
            <div class="p-company-item-detail">
                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="img/houei-image-1.jpg" alt="耐震性能"></div>
                    <p class="type-heading u-txt-brown">耐震性能</p>
					<p class="type-heading-weak">従来より接合強度が2倍、接合金具で丈夫な住まい</p>
					<p class="type-txt">丈夫なピンと金具で建物の構造材をしっかりと接合するメタルジョイント工法により、金具を用いない従来の工法にくらべて接合強度がほぼ2倍に。接合金具自体も高い強度をもち、高い耐震性を実現します。</p>
                </div>
                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="img/houei-image-2.jpg" alt="断熱性能"></div>
                    <p class="type-heading u-txt-purple">断熱性能</p>
					<p class="type-heading-weak">35年間無結露保証の高性能ウレタン断熱パネル</p>
					<p class="type-txt">LIXILとの共同開発で生まれたウレタン断熱パネルは、木造住宅の天敵である「結露」が断熱材内部に35年間発生しないことを保証しています。</p>
                </div>
            </div>
		</div>




    <?php $const_page = "list-6"; include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/company/construction-search-navi.tpl"); ?>
</div><!-- /#base-content -->
</div><!-- /#base-container -->

    <?php include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/base-navigation.tpl"); ?>
    <?php include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/base-footer.tpl"); ?>
</div><!-- /#base-page -->
</body>
</html>