// ------------------------------
// Page Competition CSS
// ------------------------------

/**
 *
 */

.type-case-study-201510 {

  .p-case-study-201510-ph-group {
    @if $mq-all {
    }
    @if $mq-tablet {
    }
    @if $mq-sp {
    }
  }

  .p-case-study-201510-ph-list {
    @if $mq-all {
      list-style: none;
      max-width: 1220px;
      margin: 20px auto 40px;
      padding: 0;
      font-size: 0;

      li {
        display: inline-block;
        vertical-align: top;
        width: 31.33%;
        padding: 0 1%;
        span {
          display: block;
          margin: 10px 0;
          @include fz(14,22);
        }
      }
    }
    @if $mq-tablet {
    }
    @if $mq-sp {
      margin: 20px auto;
      li {
        display: block;
        width: 100%;
        margin: 0 0 15px 0;
        padding: 0;
        img {
          width: 40%;
          margin: 0 4% 0 0;
        }
        span {
          display: inline-block;
          vertical-align: top;
          width: 50%;
          margin: 0;
          @include fz(13,22);
        }
      }
    }
  }


}