<?php
require_once("./form/config.php");
require_once("./form/setting.php");

  /* ----------------------------------------------------------------------------
  ページ遷移のチェック
  ---------------------------------------------------------------------------- */
  // ワンタイムキーに誤りがある場合
  if( !isset($_SESSION['p']) && !$_GET["debug"]) {
    $_SESSION = array();
    header( 'Location: '.$indexPage );
    exit;
  }

  /* ----------------------------------------------------------------------------
  変数の設定
  ---------------------------------------------------------------------------- */
  // データ操作クラス
  $formData = new formData();

  // データの解析
  $send_contents = $formData->analyzePostData($_SESSION);

  // データチェック
  $formData->checkPostData( $send_contents, $form_contents );

  // データを整形
  $contents = $formData->contents;
  $is_error = $formData->is_error;

  if( $is_error && !$_GET["debug"] ) {
    header( 'Location: '.$indexPage );
    exit;
  }

  // hiddenタグを生成
  $hidden_tag = '<input type="hidden" name="p" value="'.$_SESSION['p'].'" />';
?>
<?php
$page = array(
    'title' => '建築会社一押しの商品カタログプレゼント！｜北海道の住まいづくりWeb',
    'discription' => 'モデルハウスへ行く前に、各社のノウハウがぎっしり詰まった商品をおうちでじっくり研究したい方には商品カタログをプレゼント！',
);
include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/head.tpl");
?>
</head>



<body>
<div id="base-page">
    <?php include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/base-header.tpl"); ?>

    <div id="base-container">

        <div id="base-container-head">
            <ul class="p-breadcrumb-list">
                <li class="p-breadcrumb-list-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/" itemprop="url"><span itemprop="title">トップページ</a></li>
                <li class="p-breadcrumb-list-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title">一押し！商品紹介</span></li>
            </ul>

            <div class="p-present-hero-group">
                <p class="type-image-1"><img src="/present/img/hero-txt-3.png" width="332" height="431" alt="一押し！商品紹介"></p>
                <p class="type-image-2"><img src="/present/img/hero-txt-2.png" width="709" height="237" alt="建築会社の「一押し」の商品カタログプレゼント！"></p>
                <ul class="type-banner-list">
                    <li><a><img src="/present/img/iris-logo-square-1.png" width="214" height="66" alt="アイリスホーム"></a></li>
                    <li><a><img src="/present/img/misawa-logo-square-1.png" width="214" height="66" alt="ミサワホーム北海道"></a></li>
                    <li><a><img src="/present/img/joyfull-logo-square-1.png" width="214" height="66" alt="Joyfullhome"></a></li>
                    <li><a><img src="/present/img/daishin-logo-square-1.png" width="214" height="66" alt="大進ホーム"></a></li>
                    <li><a><img src="/present/img/fp-logo-square-1.png" width="214" height="66" alt="FPホーム"></a></li>
                    <li><a><img src="/present/img/assisthome-logo-square-1.png" width="214" height="66" alt="暮らしを楽しむ KURATA"></a></li>
                </ul>
            </div>
        </div><!-- /#base-container-head -->

        <div id="base-content">
            <div class="p-present-form-group" id="page-form">
                <div class="p-present-form">
                <form action="./form/form_send.php" method="POST" id="page-form">
                  <?php echo $hidden_tag; ?>
                    <p class="type-heading-1">無料カタログプレゼント申込みフォーム</p>
                    <p class="type-heading-2">資料請求をしたい会社名</p>
                    <table class="c-form-table">
                        <tr>
                            <th class="type-must">カタログ</th>
                            <td>
                                <?php echo $contents['catalogue'];?>
                            </td>
                        </tr>
                    </table>

                    <p class="type-heading-2">お客様の情報(資料送付先)</p>
                    <table class="c-form-table">
                        <tr>
                            <th class="type-must">お名前</th>
                            <td>
                                <?php print_value('name'); ?>
                            </td>
                        </tr>
                        <tr>
                            <th>郵便番号</th>
                            <td>
                                <?php print_value('zip'); ?>
                            </td>
                        </tr>
                        <tr>
                            <th class="type-must">住所</th>
                            <td>
                                <?php print_value('pref'); ?>
                                <?php print_value('address'); ?>
                            </td>
                        </tr>
                        <tr>
                            <th class="type-must">E-mail</th>
                            <td>
                                <?php print_value('email'); ?>
                            </td>
                        </tr>
                        <tr>
                            <th class="type-must">電話番号</th>
                            <td>
                                <?php print_value('tel'); ?>
                            </td>
                        </tr>
                        <tr>
                            <th>すまいポート21情報誌<br>エブリーの購読希望</th>
                            <td>
                                <?php print_value('subscription'); ?>
                            </td>
                        </tr>
                        <tr>
                            <th>すまいポート21のご利用を<br>希望されますか？</th>
                            <td>
                              <?php echo $contents['use_ops'];?>
                            </td>
                        </tr>
                    </table>
                    <p class="c-btn type-center type-arrow-right"><button type="submit">確認内容を送信する</button></p>
                    <p class="c-btn type-gray type-center"><a href="/present/?status=back#page-form">入力画面へ戻る</a></p>
                    </form>
                </div>
            </div>

        </div><!-- /#base-content -->

    </div><!-- /#base-container -->

    <?php include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/base-navigation.tpl"); ?>
    <?php include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/base-footer.tpl"); ?>
</div><!-- /#base-page -->
</body>
</html>