<?php
require_once("./form/config.php");
require_once("./form/setting.php");

$page = array(
    'title' => '建築会社一押しの商品カタログプレゼント！｜北海道の住まいづくりWeb',
    'discription' => 'モデルハウスへ行く前に、各社のノウハウがぎっしり詰まった商品をおうちでじっくり研究したい方には商品カタログをプレゼント！',
);
include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/head.tpl");
?>
</head>



<body>
<div id="base-page">
    <?php include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/base-header.tpl"); ?>

    <div id="base-container">

        <div id="base-container-head">
            <ul class="p-breadcrumb-list">
                <li class="p-breadcrumb-list-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/" itemprop="url"><span itemprop="title">トップページ</a></li>
                <li class="p-breadcrumb-list-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title">一押し！商品紹介</span></li>
            </ul>

            <div class="p-present-hero-group">
                <p class="type-image-1"><img src="/present/img/hero-txt-3.png" width="332" height="431" alt="一押し！商品紹介"></p>
                <p class="type-image-2"><img src="/present/img/hero-txt-2.png" width="709" height="237" alt="建築会社の「一押し」の商品カタログプレゼント！"></p>
                <ul class="type-banner-list">
                    <li><a href="#page-iris"><img src="/present/img/iris-logo-square-1.png" width="214" height="66" alt="アイリスホーム"></a></li>
                    <li><a href="#page-misawa"><img src="/present/img/misawa-logo-square-1.png" width="214" height="66" alt="ミサワホーム北海道"></a></li>
                    <li><a href="#page-joyfull"><img src="/present/img/joyfull-logo-square-1.png" width="214" height="66" alt="Joyfullhome"></a></li>
                    <li><a href="#page-daishin"><img src="/present/img/daishin-logo-square-1.png" width="214" height="66" alt="大進ホーム"></a></li>
                    <li><a href="#page-fp"><img src="/present/img/fp-logo-square-1.png" width="214" height="66" alt="FPホーム"></a></li>
                    <li><a href="#page-assisthome"><img src="/present/img/assisthome-logo-square-1.png" width="214" height="66" alt="assist home."></a></li>
                </ul>
            </div>
        </div><!-- /#base-container-head -->

        <div id="base-content">
            <div class="p-present-lead-group">
                <p class="p-present-lead">すまいポート21登録建築会社6社が、今一押しの商品をご紹介。<br>
                モデルハウスへ行く前に、各社のノウハウがぎっしり詰まった商品を<br>
                おうちでじっくり研究したい方には商品カタログをプレゼント！</p>
            </div>

            <!-- アイリスホーム -->
            <div class="p-present-item-group" id="page-iris">
                <div class="p-present-item-detail">
                    <div class="type-logo"><img src="/present/img/iris-logo-1.png" width="280" height="52" alt="アイリスホーム【エネゼロHouse】"></div>
                    <p class="type-heading">自然環境に優しい家<br>年中どの部屋も快適な家<br>ランニングコストの掛らない家</p>
                    <p class="type-txt">建て主様のご希望に合わせ、土地探しからお手伝い！ 敷地が決まったら、敷地の形・方位に合わせ、建て主様のご要望をお聞きしながら設計。規格の住宅を押し付けることなく、全て注文住宅にて対応しております。<br>これからの家は、メンテナンスをしながら１００年住み続ける、自宅で使うエネルギーは自宅で作る、そんな時代が目の前まで来ております。住宅の基本性能の高機能化は住まいの快適性に直結します。健康で安心な暮らし、ランニングコストの掛らない暮らし、自然に優しい暮らしをお薦めします。</p>
                    <p class="c-btn type-orange type-arrow-btm"><a href="#" class="js-set-form-catalogue-btn" data-catalogue="1">資料請求はこちら</a></p>
                </div>
                <div class="p-present-item-outline">
                    <div class="type-image"><img src="/present/img/iris-main-ph-1.jpg" width="520" height="380" alt="アイリスホーム 施工例"></div>
                    <p class="type-name">札幌トーヨー住器 株式会社</p>
                    <p class="type-tel"><a href="tel:0118720600">TEL : 011-872-0600</a></p>
                    <p class="type-address">〒003-0839 札幌市白石区北郷9条7丁目２番１０号</p>
                </div>
                <div class="c-gallery-group">
                    <ul class="c-gallery-list js-slide">
                        <li class="c-gallery-list-item">
                            <img src="/present/img/iris-gallery-1.jpg" width="306" height="220" alt="北側入り口の【ゼロエネＨｏｕｓｅ】">
                            <span class="type-caption">北側入り口の【ゼロエネＨｏｕｓｅ】</span>
                        </li>
                        <li class="c-gallery-list-item">
                            <img src="/present/img/iris-gallery-2.jpg" width="306" height="220" alt="冬に太陽をたくさん採り入れるため、吹き抜けのリビングで、開放感いっぱいです。">
                            <span class="type-caption">冬に太陽をたくさん採り入れるため、吹き抜けのリビングで、開放感いっぱいです。</span>
                        </li>
                        <li class="c-gallery-list-item">
                            <img src="/present/img/iris-gallery-3.jpg" width="306" height="220" alt="多目的カウンター付ダイニングの提案">
                            <span class="type-caption">多目的カウンター付ダイニングの提案</span>
                        </li>
                        <li class="c-gallery-list-item">
                            <img src="/present/img/iris-gallery-4.jpg" width="306" height="220" alt="【ゼロエネHouse】W断熱・トリプルペアサッシ・エコジョーズ・熱交換換気システム・LED・太陽光発電が標準使用です。自宅消費エネルギーと発電エネルギーが正味ゼロになる住宅です。">
                            <span class="type-caption">【ゼロエネHouse】W断熱・トリプルペアサッシ・エコジョーズ・熱交換換気システム・LED・太陽光発電が標準使用です。自宅消費エネルギーと発電エネルギーが正味ゼロになる住宅です。</span>
                        </li>
                    </ul>
                    <div class="c-gallery-contlloler type-prev js-slide-controller"></div>
                    <div class="c-gallery-contlloler type-next js-slide-controller"></div>
                </div>
                <div class="p-present-item-staff">
                    <div class="type-image"><img src="/present/img/iris-staff-1.jpg" width="106" height="128" alt="札幌トーヨー住器株式会社 代表取締役（一級建築士） 三宅隆"></div>
                    <div class="type-detail">
                        <p class="type-heading">札幌トーヨー住器 株式会社<br>代表取締役（一級建築士） 三宅　隆</p>
                        <p class="type-txt">これからの住宅には、基本性能に優れた耐震性・高度な省エネ性・先進の創エネ性が必要不可欠になってきます。地球環境に優しく、ランニングコストが掛らない【ゼロエネＨｏｕｓｅ】をお薦めします。</p>
                    </div>
                </div>
            </div>

            <!-- ミサワホーム -->
            <div class="p-present-item-group" id="page-misawa">
                <div class="p-present-item-detail">
                    <div class="type-logo"><img src="/present/img/misawa-logo-1.png" width="462" height="43" alt="ミサワホーム北海道 Familink"></div>
                    <p class="type-heading">道内初、第9回キッズデザイン賞に続き、2015年度グッドデザイン賞のW受賞！</p>
                    <p class="type-txt">子供の成長や家族のコミュニケーションを育む工夫と、北海道の気候風土の特性に合わせた設計、さらに地域の活性化も貢献する提案を盛り込んだ北海道限定の住まい。<br>
                     子供の成長ステージに合わせて住まいにおける学びの空間をステップアップする「ホームコモンズ設計」や、お手伝いを通してコミュニケーション力と自立心を養う「家事育」を取り入れ、親子の触れ合いと成長をサポートする提案をしています。<br>
                     外観は、シンプルでキュービックなデザイン。内部は、素材や職人技を活かした地産地消アイテムを、数多くそろえています。</p>
                    <p class="c-btn type-orange type-arrow-btm"><a href="#" class="js-set-form-catalogue-btn" data-catalogue="2">資料請求はこちら</a></p>
                </div>
                <div class="p-present-item-outline">
                    <div class="type-image"><img src="/present/img/misawa-main-ph-1.jpg" width="520" height="380" alt="ミサワホーム北海道 施工例"></div>
                    <p class="type-name">ミサワホーム北海道株式会社</p>
                    <p class="type-tel"><a href="tel:0118221111">TEL : 011-822-1111</a></p>
                    <p class="type-address">〒003-0002 札幌市白石区東札幌2条6丁目8-1</p>
                </div>
                <div class="c-gallery-group">
                    <ul class="c-gallery-list js-slide">
                        <li class="c-gallery-list-item">
                            <img src="/present/img/misawa-gallery-1.jpg" width="306" height="220" alt="ワンルームで空間全体を見渡せる、天井高2．7ｍのゆとり空間。明るく開放的でご家族が自然と集まる心地よさです。">
                            <span class="type-caption">ワンルームで空間全体を見渡せる、天井高2.7mのゆとり空間。明るく開放的でご家族が自然と集まる心地よさです。</span>
                        </li>
                        <li class="c-gallery-list-item">
                            <img src="/present/img/misawa-gallery-2.jpg" width="306" height="220" alt="床から天井まで届く、高さ2.7mの大開口を設計。心地よい光と風を取り込み、明るく快適な広場パブリックを演出します。">
                            <span class="type-caption">床から天井まで届く、高さ2.7mの大開口を設計。心地よい光と風を取り込み、明るく快適な広場パブリックを演出します。</span>
                        </li>
                        <li class="c-gallery-list-item">
                            <img src="/present/img/misawa-gallery-3.jpg" width="306" height="220" alt="どの部屋に行く際にも必ずリビングを通る設計のため、ご家族の交流が深まります。">
                            <span class="type-caption">どの部屋に行く際にも必ずリビングを通る設計のため、ご家族の交流が深まります。</span>
                        </li>
                        <li class="c-gallery-list-item">
                            <img src="/present/img/misawa-gallery-4.jpg" width="306" height="220" alt="シンプルでキュービックな外観。">
                            <span class="type-caption">シンプルでキュービックな外観。</span>
                        </li>
                    </ul>
                    <div class="c-gallery-contlloler type-prev js-slide-controller"></div>
                    <div class="c-gallery-contlloler type-next js-slide-controller"></div>
                </div>
                <div class="p-present-item-sale">
                    <p class="p-present-item-sale-heading">好評販売中＜建築条件付宅地＞</p>
                    <dl class="p-present-item-sale-item type-color-brown">
                        <dt>第一期販売<br>13区画</dt>
                        <dd>
                            <span class="type-label">アメニティタウン大谷地</span>
                            <span class="type-txt">厚別区大谷地西1丁目 地下鉄「大谷地」駅徒歩13分</span>
                        </dd>
                    </dl>
                    <dl class="p-present-item-sale-item type-color-red">
                        <dt>全6区画</dt>
                        <dd>
                            <span class="type-label">プライズステージ八軒</span>
                            <span class="type-txt">西区八軒6条東4丁目 JR八軒駅徒歩5分</span>
                        </dd>
                    </dl>
                </div>
            </div>

            <!-- Joyfullhome -->
            <div class="p-present-item-group" id="page-joyfull">
                <div class="p-present-item-detail">
                    <div class="type-logo"><img src="/present/img/joyfull-logo-1.png" width="255" height="39" alt="Joyfullhome"><img src="/present/img/joyfull-logo-2.png" width="314" height="39" alt="ジョイフルホーム【SP免震基礎工法】"></div>
                    <p class="type-heading">道内初のSP免震基礎工法。<br>免震装置を使わず免震効果を<br>発揮する地盤改良工法を採用。</p>
                    <p class="type-txt">いつ起きるかわからない大地震。ご家族の安心と安全を守りたい。そんな思いからジョイフルホームではSP免震基礎工法を標準装備にいたしました。<br>SP免震基礎工法は、一般のコンクリート杭と違い、鋼管杭の優れた性質である弾性力と、専門の機関で計算された総合設計により、地震力を直接建物に伝えない優れた免震効果を発揮する工法です。<br>
                    震度6強の強い揺れも、屋内震度3～4程度まで低減することができます。<br>
                    通常の免震装置を用いた工法に比べ、コストを大幅に抑えた家計にも優しい工法です。</p>
                    <p class="c-btn type-orange type-arrow-btm"><a href="#" class="js-set-form-catalogue-btn" data-catalogue="3">資料請求はこちら</a></p>
                </div>
                <div class="p-present-item-outline">
                    <div class="type-image"><img src="/present/img/joyfull-main-ph-1.jpg" width="520" height="380" alt="ジョイフルホーム 施工例"></div>
                    <p class="type-name">株式会社ジョイフルホーム</p>
                    <p class="type-tel"><a href="tel:0120394200">TEL : 0120-394-200</a></p>
                    <p class="type-address">〒063-0812 札幌市西区琴似2条1丁目2-1 5588KOTONIビル4階</p>
                </div>
                <div class="c-gallery-group">
                    <ul class="c-gallery-list js-slide">
                        <li class="c-gallery-list-item">
                            <img src="/present/img/joyfull-gallery-1.jpg" width="306" height="220" alt="J-grandeシリーズ">
                            <span class="type-caption">J-grandeシリーズ</span>
                        </li>
                        <li class="c-gallery-list-item">
                            <img src="/present/img/joyfull-gallery-2.jpg" width="306" height="220" alt="ガレージシリーズ">
                            <span class="type-caption">ガレージシリーズ</span>
                        </li>
                        <li class="c-gallery-list-item">
                            <img src="/present/img/joyfull-gallery-3.jpg" width="306" height="220" alt="道内初SP免震基礎工法を採用した東雁来モデルハウスが公開中。詳しい内容は、当モデルハウスでご確認ください。">
                            <span class="type-caption">道内初SP免震基礎工法を採用した東雁来モデルハウスが公開中。詳しい内容は、当モデルハウスでご確認ください。</span>
                        </li>
                        <li class="c-gallery-list-item">
                            <img src="/present/img/joyfull-gallery-4.jpg" width="306" height="220" alt="mukumukuシリーズ">
                            <span class="type-caption">mukumukuシリーズ</span>
                        </li>
                    </ul>
                    <div class="c-gallery-contlloler type-prev js-slide-controller"></div>
                    <div class="c-gallery-contlloler type-next js-slide-controller"></div>
                </div>
                <div class="p-present-item-staff">
                    <div class="type-image"><img src="/present/img/joyfull-staff-1.jpg" width="106" height="128" alt="株式会社ジョイフルホーム 営業 梶原景智"></div>
                    <div class="type-detail">
                        <p class="type-heading">株式会社ジョイフルホーム<br>営業 梶原 景智</p>
                        <p class="type-txt">SP免震基礎工法は、東日本大震災発生時、東北6県で1098棟の住宅等へ採用されていましたが、採用された物件の被害報告はありませんでした。一番大切なご家族が、ずっと安心して暮らしていけるお住まいを、自信を持ってご提供させていただきます。</p>
                    </div>
                </div>
            </div>

            <!-- 大進ホーム -->
            <div class="p-present-item-group" id="page-daishin">
                <div class="p-present-item-detail">
                    <div class="type-logo"><img src="/present/img/daishin-logo-1.png" width="380" height="39" alt="大進ホーム株式会社 進化の家"></div>
                    <p class="type-heading">高品質な注文住宅の夢を<br>予算内で実現する<br>溢れる熱意と技術・提案力。</p>
                    <p class="type-txt">「家を建てるなら、自分たちの要望をできるだけ反映させたい」。明るいリビングに豊富な収納、掃除が楽な水周りにちょっとした書斎。もちろん冬は暖かく、子供がのびのびと成長でき、家族全員が快適に暮らせる家。夢はどんどん広がります。<br>
                    『進化の家』はそんなご家族の夢を実現するべく誕生しました。高気密・高断熱・高耐震と三拍子揃った高品質住宅で、デザインや間取りはご要望をしっかり取り入れられる完全自由設計の注文住宅です。これまで全道で6000棟以上の「夢の実現」のお手伝いをしてきた大進ホームだからこそできるご提案がございます。</p>
                    <p class="c-btn type-orange type-arrow-btm"><a href="#" class="js-set-form-catalogue-btn" data-catalogue="4">資料請求はこちら</a></p>
                </div>
                <div class="p-present-item-outline">
                    <div class="type-image"><img src="/present/img/daishin-main-ph-1.jpg" width="520" height="380" alt="大進ホーム 施工例"></div>
                    <p class="type-name">大進ホーム株式会社</p>
                    <p class="type-tel"><a href="tel:0117831122">TEL : 011-783-1122</a></p>
                    <p class="type-address">〒007-0803 札幌市東区東苗穂3条1丁目2-1</p>
                </div>
                <div class="c-gallery-group">
                    <ul class="c-gallery-list js-slide">
                        <li class="c-gallery-list-item">
                            <img src="/present/img/daishin-gallery-1.jpg" width="306" height="220" alt="積雪や地震から大切な家と家族を守る頑強設計。耐震性能最高ランクの耐震等級3の仕様もご用意しております。">
                            <span class="type-caption">積雪や地震から大切な家と家族を守る頑強設計。耐震性能最高ランクの耐震等級3の仕様もご用意しております。</span>
                        </li>
                        <li class="c-gallery-list-item">
                            <img src="/present/img/daishin-gallery-2.jpg" width="306" height="220" alt="選べる豊富なデザインと標準設備仕様。">
                            <span class="type-caption">選べる豊富なデザインと標準設備仕様。</span>
                        </li>
                        <li class="c-gallery-list-item">
                            <img src="/present/img/daishin-gallery-3.jpg" width="306" height="220" alt="お引渡し後もお施主様との継続的な信頼関係を大切に担当者がご訪問。アフターサービス専門部署もございます。">
                            <span class="type-caption">お引渡し後もお施主様との継続的な信頼関係を大切に担当者がご訪問。アフターサービス専門部署もございます。</span>
                        </li>
                        <li class="c-gallery-list-item">
                            <img src="/present/img/daishin-gallery-4.jpg" width="306" height="220" alt="『進化の家』施工事例集。ご家族のご要望を予算内で叶える提案力が自慢です。">
                            <span class="type-caption">『進化の家』施工事例集。ご家族のご要望を予算内で叶える提案力が自慢です。</span>
                        </li>
                    </ul>
                    <div class="c-gallery-contlloler type-prev js-slide-controller"></div>
                    <div class="c-gallery-contlloler type-next js-slide-controller"></div>
                </div>
                <div class="p-present-item-staff">
                    <div class="type-image"><img src="/present/img/daishin-staff-1.jpg" width="106" height="128" alt="大進ホーム株式会社 代表取締役 星野覚一朗"></div>
                    <div class="type-detail">
                        <p class="type-heading">大進ホーム株式会社<br>代表取締役 星野 覚一朗</p>
                        <p class="type-txt">『進化の家』は自信をもってお勧めできる高品質住宅ですが、私たちの本当の自慢は、ご家族の夢の実現に向け、熱意と信念を持って取り組むスタッフ一人一人の気持ちです。皆様の心に響く感動のご提案ができる日をスタッフ一同楽しみにしております。</p>
                    </div>
                </div>
            </div>

            <!-- FPホーム -->
            <div class="p-present-item-group" id="page-fp">
                <div class="p-present-item-detail">
                    <div class="type-logo"><img src="/present/img/fp-logo-1.png" width="259" height="55" alt="株式会社FPホーム 【P1モデル】"></div>
                    <p class="type-heading">エアコン1台で冷暖房！<br>1年中「パンツ1枚」で快適な<br>無結露50年保証『FPの家』</p>
                    <p class="type-txt">北海道では暖かい家はあたりまえ。FPホームが提案するのは、そこに住まうご家族皆様の心が「ホッ」と暖かくなる家です。<br>例えば、過剰に省エネを意識して、厚着で寒さをしのいだり夏にクーラーを我慢したり…そんなことをしなくても光熱費ゼロ円を実現できる家。『P1モデル』は、そんな「ありのままで暮らせる幸せ」をコンセプトに誕生しました。<br>札幌版次世代住宅基準トップランナーをクリアした、その驚異的な断熱・気密性能は「冷暖房はエアコン1台だけ」という超省エネ・ライフを実現。文字通り1年中「パンツ1枚」で「快適」に過ごせる家なのです。</p>
                    <p class="c-btn type-orange type-arrow-btm"><a href="#" class="js-set-form-catalogue-btn" data-catalogue="5">資料請求はこちら</a></p>
                </div>
                <div class="p-present-item-outline">
                    <div class="type-image"><img src="/present/img/fp-main-ph-1.jpg" width="520" height="380" alt="株式会社FPホーム 施工例"></div>
                    <p class="type-name">株式会社FPホーム</p>
                    <p class="type-tel"><a href="tel:0117412222">TEL : 011-741-2222</a></p>
                    <p class="type-address">〒007-0842 札幌市東区北42条東15丁目1－1</p>
                </div>
                <div class="c-gallery-group">
                    <ul class="c-gallery-list js-slide">
                        <li class="c-gallery-list-item">
                            <img src="/present/img/fp-gallery-1.jpg" width="306" height="220" alt="内装には自然素材をふんだんに取り入れ、身体に優しい居心地のよい空間に仕上げました。">
                            <span class="type-caption">内装には自然素材をふんだんに取り入れ、身体に優しい居心地のよい空間に仕上げました。</span>
                        </li>
                        <li class="c-gallery-list-item">
                            <img src="/present/img/fp-gallery-2.jpg" width="306" height="220" alt="リビング横の畳ルームは小上がりにし、下部に便利な収納を設けました。">
                            <span class="type-caption">リビング横の畳ルームは小上がりにし、下部に便利な収納を設けました。</span>
                        </li>
                        <li class="c-gallery-list-item">
                            <img src="/present/img/fp-gallery-3.jpg" width="306" height="220" alt="吹抜けからふり注ぐ日差しが明るく開放的なリビングを演出。">
                            <span class="type-caption">吹抜けからふり注ぐ日差しが明るく開放的なリビングを演出。</span>
                        </li>
                        <li class="c-gallery-list-item">
                            <img src="/present/img/fp-gallery-4.jpg" width="306" height="220" alt="太陽光パネルを搭載しながらも、シャープなフォルム。ガルバリウムの外壁と木製の玄関ドア・サッシがマッチし高級感を醸し出しています。">
                            <span class="type-caption">太陽光パネルを搭載しながらも、シャープなフォルム。ガルバリウムの外壁と木製の玄関ドア・サッシがマッチし高級感を醸し出しています。</span>
                        </li>
                    </ul>
                    <div class="c-gallery-contlloler type-prev js-slide-controller"></div>
                    <div class="c-gallery-contlloler type-next js-slide-controller"></div>
                </div>
                <div class="p-present-item-staff">
                    <div class="type-image"><img src="/present/img/fp-staff-1.jpg" width="106" height="128" alt="株式会社FPホーム FPアドバイザー 新田一徳"></div>
                    <div class="type-detail">
                        <p class="type-heading">株式会社FPホーム<br>FPアドバイザー 新田 一徳</p>
                        <p class="type-txt">『FPの家』はお陰様で30周年。実は最近「FPの家で育った世代」からのご相談が増えて参りました。それは「住宅性能が変わらない」からだけではなく「ユーザー様との信頼関係が変わらない」ことの証。『無結露50年保証=FPの家』を見にいらして下さい。</p>
                    </div>
                </div>
            </div>

            <!-- アシスト企画 -->
            <div class="p-present-item-group" id="page-assisthome">
                <div class="p-present-item-detail">
                    <div class="type-logo"><img src="/present/img/assisthome-logo-1.png" width="126" height="49" alt="笑顔を育む住まいSautire（スーリール）"></div>
                    <p class="type-heading">暮らしの中にたくさんの「好き」を<br>ちりばめて、日々の暮らしを<br>心から楽しめる住まいづくり</p>
                    <p class="type-txt">住まいの中に「好きなモノ」「好きな場所」のエッセンスを取り入れることで、日々の暮らしがより楽しいものになるように…そんな思いを込めてSourire（スーリール）は生まれました。<br>お気に入りの雑貨をディスプレイするためのニッチや飾り棚、ほっこりカフェ気分を味わえるダイニングなど、家族にとって、そして遊びに来てくれるお客様にとっても「なんだか居心地がいいな」「なんだかほっとするね」そんな風に感じるわが家となるための工夫がいっぱいです。<br>「高い住宅性能」「暮らしやすさに配慮した間取り」「ライフプランを見据えた提案」。バランスの良さをぜひご体感ください。</p>
                    <p class="c-btn type-orange type-arrow-btm"><a href="#" class="js-set-form-catalogue-btn" data-catalogue="6">資料請求はこちら</a></p>
                </div>
                <div class="p-present-item-outline">
                    <div class="type-image"><img src="/present/img/assisthome-main-ph-1.jpg" width="520" height="380" alt="株式会社アシスト企画 施工例"></div>
                    <p class="type-name">株式会社アシスト企画</p>
                    <p class="type-tel"><a href="tel:0117145150">TEL : 011-714-5150</a></p>
                    <p class="type-address">〒001-0925 札幌市北区新川5条16丁目6番5号</p>
                </div>
                <div class="c-gallery-group">
                    <ul class="c-gallery-list js-slide">
                        <li class="c-gallery-list-item">
                            <img src="/present/img/assisthome-gallery-1.jpg" width="306" height="220" alt="高い住宅性能と太陽光パネル搭載により光熱費はひと月あたり9000円以下に。">
                            <span class="type-caption">高い住宅性能と太陽光パネル搭載により光熱費はひと月あたり9000円以下に。</span>
                        </li>
                        <li class="c-gallery-list-item">
                            <img src="/present/img/assisthome-gallery-2.jpg" width="306" height="220" alt="キッチンの内側にはニッチを設け、ちょっとしたスペースも楽しく活用。">
                            <span class="type-caption">キッチンの内側にはニッチを設け、ちょっとしたスペースも楽しく活用。</span>
                        </li>
                        <li class="c-gallery-list-item">
                            <img src="/present/img/assisthome-gallery-3.jpg" width="306" height="220" alt="かわいいタイル使いなど、暮らしの中にときめくポイントをちりばめて。">
                            <span class="type-caption">かわいいタイル使いなど、暮らしの中にときめくポイントをちりばめて。</span>
                        </li>
                        <li class="c-gallery-list-item">
                            <img src="/present/img/assisthome-gallery-4.jpg" width="306" height="220" alt="お気に入りの雑貨やグリーンに囲まれてほっこりできるダイニング。">
                            <span class="type-caption">お気に入りの雑貨やグリーンに囲まれてほっこりできるダイニング。</span>
                        </li>
                    </ul>
                    <div class="c-gallery-contlloler type-prev js-slide-controller"></div>
                    <div class="c-gallery-contlloler type-next js-slide-controller"></div>
                </div>
                <div class="p-present-item-staff">
                    <div class="type-image"><img src="/present/img/assisthome-staff-1.jpg" width="106" height="128" alt="KURAKA事業部  マネージャー 平澤亜紀"></div>
                    <div class="type-detail">
                        <p class="type-heading">KURAKA事業部 <br>マネージャー 平澤 亜紀</p>
                        <p class="type-txt">アシストホームが目指す、人と家のいい関係～住宅は性能、デザイン、価格のバランスがとても大切です。性能はもちろん、お客様それぞれが感じるお気に入り空間のデザイン提案とそれを実現するためのコストパフォーマンスにきっとご満足いただけると思います。</p>
                    </div>
                </div>
            </div>


            <div class="p-present-form-group" id="page-form">
                <div class="p-present-form">
                <form action="./#page-form" method="post" data-parsley-validate="true" data-parsley-focus="none">
                    <p class="type-heading-1">無料カタログプレゼント<br>申込みフォーム</p>
                    <p class="type-heading-2">資料請求をしたい会社名にチェックをつけてください（複数選択可）</p>
                    <table class="c-form-table">
                        <tr>
                            <th class="type-must">カタログ<br>（複数選択可）</th>
                            <td class="js-form-catalogue">
                                <label class="c-form-chkbox">
                                    <input type="checkbox" name="catalogue[]" value="アイリスホーム（札幌トーヨー住器 株式会社）" data-parsley-required="true" data-parsley-errors-container="#js-errors-catalogue_ops" <?php if(strstr($contents['catalogue'],'アイリスホーム（札幌トーヨー住器 株式会社）')) echo ' checked="checked"';?> />
                                    アイリスホーム（札幌トーヨー住器 株式会社）
                                </label>
                                <label class="c-form-chkbox">
                                    <input type="checkbox" name="catalogue[]" value="ミサワホーム北海道株式会社" data-parsley-required="true" data-parsley-errors-container="#js-errors-catalogue_ops" <?php if(strstr($contents['catalogue'],'ミサワホーム北海道株式会社')) echo ' checked="checked"';?>  />
                                    ミサワホーム北海道株式会社
                                </label>
                                <label class="c-form-chkbox">
                                    <input type="checkbox" name="catalogue[]" value="株式会社ジョイフルホーム" data-parsley-required="true" data-parsley-errors-container="#js-errors-catalogue_ops" <?php if(strstr($contents['catalogue'],'株式会社ジョイフルホーム')) echo ' checked="checked"';?>  />
                                    株式会社ジョイフルホーム
                                </label>
                                <label class="c-form-chkbox">
                                    <input type="checkbox" name="catalogue[]" value="大進ホーム株式会社" data-parsley-required="true" data-parsley-errors-container="#js-errors-catalogue_ops" <?php if(strstr($contents['catalogue'],'大進ホーム株式会社')) echo ' checked="checked"';?>  />
                                    大進ホーム株式会社
                                </label>
                                <label class="c-form-chkbox">
                                    <input type="checkbox" name="catalogue[]" value="株式会社FPホーム" data-parsley-required="true" data-parsley-errors-container="#js-errors-catalogue_ops" <?php if(strstr($contents['catalogue'],'株式会社FPホーム')) echo ' checked="checked"';?>  />
                                    株式会社FPホーム
                                </label>
                                <label class="c-form-chkbox">
                                    <input type="checkbox" name="catalogue[]" value="株式会社アシスト企画" data-parsley-required="true" data-parsley-errors-container="#js-errors-catalogue_ops" <?php if(strstr($contents['catalogue'],'株式会社アシスト企画')) echo ' checked="checked"';?>  />
                                    株式会社アシスト企画
                                </label>
                                <div id="js-errors-catalogue_ops"></div>
                            </td>
                        </tr>
                    </table>

                    <p class="type-heading-2">お客様の情報(資料送付先)</p>
                    <table class="c-form-table">
                        <tr>
                            <th class="type-must">お名前</th>
                            <td>
                                <input class="c-form-txt type-middle" type="text" name="name" value="<?php print_value("name"); ?>" data-parsley-required="true" placeholder="例）住まい太郎" />
                            </td>
                        </tr>
                        <tr>
                            <th>郵便番号</th>
                            <td>
                                <input class="c-form-txt type-short" type="text" name="zip" value="<?php print_value("zip"); ?>" data-parsley-postcode="true" data-parsley-errors-container="#js-errors-zip" placeholder="例）320-0058" />
                                <span class="c-form-annotation">（半角）</span>
                                <div id="js-errors-zip"></div>
                            </td>
                        </tr>
                        <tr>
                            <th class="type-must">住所</th>
                            <td>
                                <select class="c-form-select" name="pref" data-parsley-required="true" data-parsley-errors-container="#js-errors-address">
                                    <option value="">選択してください</option>
                                    <option value="北海道"<?php if($contents['pref'] == '北海道') echo ' selected="selected"';?>>北海道</option>
                                    <option value="青森県"<?php if($contents['pref'] == '青森県') echo ' selected="selected"';?>>青森県</option>
                                    <option value="岩手県"<?php if($contents['pref'] == '岩手県') echo ' selected="selected"';?>>岩手県</option>
                                    <option value="宮城県"<?php if($contents['pref'] == '宮城県') echo ' selected="selected"';?>>宮城県</option>
                                    <option value="秋田県"<?php if($contents['pref'] == '秋田県') echo ' selected="selected"';?>>秋田県</option>
                                    <option value="山形県"<?php if($contents['pref'] == '山形県') echo ' selected="selected"';?>>山形県</option>
                                    <option value="福島県"<?php if($contents['pref'] == '福島県') echo ' selected="selected"';?>>福島県</option>
                                    <option value="東京都"<?php if($contents['pref'] == '東京都') echo ' selected="selected"';?>>東京都</option>
                                    <option value="神奈川県"<?php if($contents['pref'] == '神奈川県') echo ' selected="selected"';?>>神奈川県</option>
                                    <option value="埼玉県"<?php if($contents['pref'] == '埼玉県') echo ' selected="selected"';?>>埼玉県</option>
                                    <option value="千葉県"<?php if($contents['pref'] == '千葉県') echo ' selected="selected"';?>>千葉県</option>
                                    <option value="茨城県"<?php if($contents['pref'] == '茨城県') echo ' selected="selected"';?>>茨城県</option>
                                    <option value="栃木県"<?php if($contents['pref'] == '栃木県') echo ' selected="selected"';?>>栃木県</option>
                                    <option value="群馬県"<?php if($contents['pref'] == '群馬県') echo ' selected="selected"';?>>群馬県</option>
                                    <option value="山梨県"<?php if($contents['pref'] == '山梨県') echo ' selected="selected"';?>>山梨県</option>
                                    <option value="新潟県"<?php if($contents['pref'] == '新潟県') echo ' selected="selected"';?>>新潟県</option>
                                    <option value="長野県"<?php if($contents['pref'] == '長野県') echo ' selected="selected"';?>>長野県</option>
                                    <option value="富山県"<?php if($contents['pref'] == '富山県') echo ' selected="selected"';?>>富山県</option>
                                    <option value="石川県"<?php if($contents['pref'] == '石川県') echo ' selected="selected"';?>>石川県</option>
                                    <option value="福井県"<?php if($contents['pref'] == '福井県') echo ' selected="selected"';?>>福井県</option>
                                    <option value="愛知県"<?php if($contents['pref'] == '愛知県') echo ' selected="selected"';?>>愛知県</option>
                                    <option value="岐阜県"<?php if($contents['pref'] == '岐阜県') echo ' selected="selected"';?>>岐阜県</option>
                                    <option value="静岡県"<?php if($contents['pref'] == '静岡県') echo ' selected="selected"';?>>静岡県</option>
                                    <option value="三重県"<?php if($contents['pref'] == '三重県') echo ' selected="selected"';?>>三重県</option>
                                    <option value="大阪府"<?php if($contents['pref'] == '大阪府') echo ' selected="selected"';?>>大阪府</option>
                                    <option value="兵庫県"<?php if($contents['pref'] == '兵庫県') echo ' selected="selected"';?>>兵庫県</option>
                                    <option value="京都府"<?php if($contents['pref'] == '京都府') echo ' selected="selected"';?>>京都府</option>
                                    <option value="滋賀県"<?php if($contents['pref'] == '滋賀県') echo ' selected="selected"';?>>滋賀県</option>
                                    <option value="奈良県"<?php if($contents['pref'] == '奈良県') echo ' selected="selected"';?>>奈良県</option>
                                    <option value="和歌山県"<?php if($contents['pref'] == '和歌山県') echo ' selected="selected"';?>>和歌山県</option>
                                    <option value="鳥取県"<?php if($contents['pref'] == '鳥取県') echo ' selected="selected"';?>>鳥取県</option>
                                    <option value="島根県"<?php if($contents['pref'] == '島根県') echo ' selected="selected"';?>>島根県</option>
                                    <option value="岡山県"<?php if($contents['pref'] == '岡山県') echo ' selected="selected"';?>>岡山県</option>
                                    <option value="広島県"<?php if($contents['pref'] == '広島県') echo ' selected="selected"';?>>広島県</option>
                                    <option value="山口県"<?php if($contents['pref'] == '山口県') echo ' selected="selected"';?>>山口県</option>
                                    <option value="徳島県"<?php if($contents['pref'] == '徳島県') echo ' selected="selected"';?>>徳島県</option>
                                    <option value="香川県"<?php if($contents['pref'] == '香川県') echo ' selected="selected"';?>>香川県</option>
                                    <option value="愛媛県"<?php if($contents['pref'] == '愛媛県') echo ' selected="selected"';?>>愛媛県</option>
                                    <option value="高知県"<?php if($contents['pref'] == '高知県') echo ' selected="selected"';?>>高知県</option>
                                    <option value="福岡県"<?php if($contents['pref'] == '福岡県') echo ' selected="selected"';?>>福岡県</option>
                                    <option value="佐賀県"<?php if($contents['pref'] == '佐賀県') echo ' selected="selected"';?>>佐賀県</option>
                                    <option value="長崎県"<?php if($contents['pref'] == '長崎県') echo ' selected="selected"';?>>長崎県</option>
                                    <option value="熊本県"<?php if($contents['pref'] == '熊本県') echo ' selected="selected"';?>>熊本県</option>
                                    <option value="大分県"<?php if($contents['pref'] == '大分県') echo ' selected="selected"';?>>大分県</option>
                                    <option value="宮崎県"<?php if($contents['pref'] == '宮崎県') echo ' selected="selected"';?>>宮崎県</option>
                                    <option value="鹿児島県"<?php if($contents['pref'] == '鹿児島県') echo ' selected="selected"';?>>鹿児島県</option>
                                    <option value="沖縄県"<?php if($contents['pref'] == '沖縄県') echo ' selected="selected"';?>>沖縄県</option>
                                </select>
                                <input class="c-form-txt type-large" type="text" name="address" value="<?php print_value("address"); ?>" data-parsley-required="true" data-parsley-errors-container="#js-errors-address" placeholder="例）○○市○○1-2-3" />
                                <div id="js-errors-address"></div>
                            </td>
                        </tr>
                        <tr>
                            <th class="type-must">E-mail</th>
                            <td>
                                <input class="c-form-txt type-middle" type="email" id="mail" name="email" value="<?php print_value("email"); ?>" data-parsley-required="true" data-parsley-errors-container="#js-errors-mail" placeholder="例）abc@sumai.com" />
                                <span class="c-form-annotation">（半角）</span>
                                <div id="js-errors-mail"></div>
                            </td>
                        </tr>
                        <tr>
                            <th class="type-must">確認用E-mail</th>
                            <td>
                                <input class="c-form-txt type-middle" type="email" name="emailconf" value="<?php print_value("emailconf"); ?>" data-parsley-required="true" data-parsley-equalto="#mail" data-parsley-errors-container="#js-errors-mailconf" placeholder="例）abc@sumai.com" />
                                <span class="c-form-annotation">（半角）</span>
                                <div id="js-errors-mailconf"></div>
                            </td>
                        </tr>
                        <tr>
                            <th class="type-must">電話番号</th>
                            <td>
                                <input class="c-form-txt type-middle" type="text" name="tel" value="<?php print_value("tel"); ?>" data-parsley-required="true" data-parsley-dashnum="true" data-parsley-errors-container="#js-errors-tel" placeholder="例）000-000-0000" />
                                <span class="c-form-annotation">（半角）</span>
                                <div id="js-errors-tel"></div>
                            </td>
                        </tr>
                        <tr>
                            <th>すまいポート21情報誌<br>エブリーの購読希望</th>
                            <td>
                                <label class="c-form-radio">
                                    <input type="radio" name="subscription" value="する" <?php if(strstr($contents['subscription'],'する')) echo ' checked="checked"';?> checked="checked" />
                                    する
                                </label>
                                <label class="c-form-radio">
                                    <input type="radio" name="subscription" value="しない" <?php if(strstr($contents['subscription'],'しない')) echo ' checked="checked"';?> />
                                    しない
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <th>すまいポート21のご利用を<br>希望されますか？（複数選択可）</th>
                            <td>
                                <label class="c-form-chkbox">
                                    <input type="checkbox" name="use_ops[]" value="資金相談" <?php if(strstr($contents['use_ops'],'資金相談')) echo ' checked="checked"';?>  />資金相談
                                </label>
                                <label class="c-form-chkbox">
                                    <input type="checkbox" name="use_ops[]" value="土地情報のご提供" <?php if(strstr($contents['use_ops'],'土地情報のご提供')) echo ' checked="checked"';?>  />土地情報のご提供
                                </label>
                                <label class="c-form-chkbox">
                                    <input type="checkbox" name="use_ops[]" value="設計コンペ" <?php if(strstr($contents['use_ops'],'設計コンペ')) echo ' checked="checked"';?>  />設計コンペ
                                </label>
                                <label class="c-form-chkbox">
                                    <input type="checkbox" name="use_ops[]" value="リフォームコンペ" <?php if(strstr($contents['use_ops'],'リフォームコンペ')) echo ' checked="checked"';?>  />リフォームコンペ
                                </label>
                                <label class="c-form-chkbox">
                                    <input type="checkbox" name="use_ops[]" value="外構" <?php if(strstr($contents['use_ops'],'外構')) echo ' checked="checked"';?>  />外構
                                </label>
                            </td>
                        </tr>
                    </table>
                    <p class="c-btn type-center type-arrow-right"><button type="submit">入力内容を確認する</button></p>
                    </form>
                </div>
            </div>

        </div><!-- /#base-content -->
    </div><!-- /#base-container -->

    <?php include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/base-navigation.tpl"); ?>
    <?php include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/base-footer.tpl"); ?>
</div><!-- /#base-page -->
<script>
pagePresent.init();
</script>
</body>
</html>
