<?php
require_once("./form/config.php");
  if(!$_SESSION["p"] && !$_GET["debug"]){
    $_SESSION = array();
    header( 'Location: '. $topPage );
    exit;
  }
  $_SESSION = array();
?>
<?php
$page = array(
    'title' => '建築会社一押しの商品カタログプレゼント！｜北海道の住まいづくりWeb',
    'discription' => 'モデルハウスへ行く前に、各社のノウハウがぎっしり詰まった商品をおうちでじっくり研究したい方には商品カタログをプレゼント！',
);
include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/head.tpl");
?>
</head>



<body>
<div id="base-page">
    <?php include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/base-header.tpl"); ?>

    <div id="base-container">

        <div id="base-container-head">
            <ul class="p-breadcrumb-list">
                <li class="p-breadcrumb-list-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/" itemprop="url"><span itemprop="title">トップページ</a></li>
                <li class="p-breadcrumb-list-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title">一押し！商品紹介</span></li>
            </ul>

            <div class="p-present-hero-group">
                <p class="type-image-1"><img src="/present/img/hero-txt-3.png" width="332" height="431" alt="一押し！商品紹介"></p>
                <p class="type-image-2"><img src="/present/img/hero-txt-2.png" width="709" height="237" alt="建築会社の「一押し」の商品カタログプレゼント！"></p>
                <ul class="type-banner-list">
                    <li><a href="/present/#page-iris"><img src="/present/img/iris-logo-square-1.png" width="214" height="66" alt="アイリスホーム"></a></li>
                    <li><a href="/present/#page-misawa"><img src="/present/img/misawa-logo-square-1.png" width="214" height="66" alt="ミサワホーム北海道"></a></li>
                    <li><a href="/present/#page-joyfull"><img src="/present/img/joyfull-logo-square-1.png" width="214" height="66" alt="Joyfullhome"></a></li>
                    <li><a href="/present/#page-daishin"><img src="/present/img/daishin-logo-square-1.png" width="214" height="66" alt="大進ホーム"></a></li>
                    <li><a href="/present/#page-fp"><img src="/present/img/fp-logo-square-1.png" width="214" height="66" alt="FPホーム"></a></li>
                    <li><a href="/present/#page-assisthome"><img src="/present/img/assisthome-logo-square-1.png" width="214" height="66" alt="暮らしを楽しむ KURATA"></a></li>
                </ul>
            </div>
        </div><!-- /#base-container-head -->

        <div id="base-content">
            <div class="p-present-form-group" id="page-form">
                <div class="p-present-form">
                  <p class="type-heading-1">無料カタログプレゼント申込みフォーム</p>
                  <p>お問い合わせ・お申込み頂きまして、誠にありがとうございました。</p>
                  <p>ご入力いただいたメールアドレス宛に、入力内容の確認メールを自動送信しております。<br>
                  確認メールがお客様のもとに届かない場合は、メールアドレスが正しくないか、<br>
                  通信環境またはシステムの障害により、お問い合わせ受付が正常に完了していない可能性がございます。<br>
                  その場合、お手数ですがページ下部のご連絡先までお問い合わせいただけますと幸いです。</p>
                  <p><a href="/present/">建築会社カタログプレゼントページに戻る</a></p>
                </div>
            </div>
        </div><!-- /#base-content -->
    </div><!-- /#base-container -->

    <?php include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/base-navigation.tpl"); ?>
    <?php include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/base-footer.tpl"); ?>
</div><!-- /#base-page -->
</body>
</html>