<?php
$page = array(
    'title' => '建築会社一覧｜ま～も｜掲載企業｜北海道の住まいづくりWeb',
    'discription' => '北海道の住まいづくりWebに掲載している建築会社さまのうち、ま行はじまりの企業さまを一覧でご紹介します。',
);
include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/head.tpl");
?>
</head>



<body>
<div id="base-page" class="base-type-company">
    <?php include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/base-header.tpl"); ?>

    <div id="base-container">

        <div id="base-container-head">
            <ul class="p-breadcrumb-list">
                <li class="p-breadcrumb-list-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/" itemprop="url"><span itemprop="title">トップページ</a></li>
                <li class="p-breadcrumb-list-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/company/" itemprop="url"><span itemprop="title">掲載企業</a></li>
                <li class="p-breadcrumb-list-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title">建築会社：ま～も</span></li>
            </ul>

            <div class="p-company-hero-group">
                <p class="p-company-hero-heading-1"><img src="/company/img/hero-txt-1.png" alt="登録企業"></p>
            </div>

            <div class="p-company-categories-group">
                <ul class="p-company-categories-list">
                    <li class="p-company-categories-list-item type-build is-active"><a href="/company/">建築会社</a></li>
                    <li class="p-company-categories-list-item type-reform"><a href="/company/reform/">リフォーム</a></li>
                    <li class="p-company-categories-list-item type-outdoor"><a href="/company/outdoor/">外構</a></li>
                    <li class="p-company-categories-list-item type-club-s"><a href="/company/club-s/">club-s</a></li>
                </ul>
            </div>
        </div><!-- /#base-container-head -->


<div id="base-content">
<?php $const_page = "list-7"; include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/company/construction-search-navi.tpl"); ?>

<!--ま～も-->
        <div class="p-company-item" id="page-misawahome">
            <div class="p-company-item-info">
                <p class="type-logo"><img src="img/misawahome-logo-1.png" alt="ミサワホーム北海道"></p>
				<p class="type-name">ミサワホーム北海道</p>
                <div class="p-company-item-detail-tag type-wood-panel">木質パネル</div>
                <p class="type-heading">〈保証・保険体制〉</p>
                <dl>
                    <dt>瑕疵担保責任保険</dt>
					<dd>供託にて対応</dd>
                </dl>
                <dl>
                    <dt>工事中保険</dt>
					<dd>あいおい損害保険<br>ミサワホームグループ<br>一貫保険</dd>
                </dl>
                <dl>
                    <dt>地盤保証</dt>
					<dd>自社保証</dd>
                </dl>
                <dl>
                    <dt>〈アフターサービス〉</dt>
					<dd>お引渡し後定期点検実施<br>（６ヶ月・１１ヶ月・２３ヶ月定期巡回、５年・１０年・１５年定期点検）</dd>
                </dl>
            </div>
            <div class="p-company-item-detail">
                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="img/misawahome-image-1.jpg" alt="耐震性能"></div>
                    <p class="type-heading u-txt-brown">耐震性能</p>
					<p class="type-heading-weak">独自の制震装置であるＭＧＥＯで地震の揺れを２分の１に軽減</p>
					<p class="type-txt">木質パネルのモノコック構造により強固な構造体を持つ事に加えてミサワホーム独自の制震装置であるＭＧＥＯ（エムジオ）を搭載する事により、地震発生時の揺れを約２分の１に軽減すると共に度重なる余震にも対応します。</p>
                </div>
                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="img/misawahome-image-2.jpg" alt="断熱性能"></div>
                    <p class="type-heading u-txt-purple">断熱性能</p>
					<p class="type-heading-weak">マイナス４５℃の南極昭和基地で<br>実証された優れた断熱性能</p>
					<p class="type-txt">次世代省エネルギー基準を上回る性能を全ての住まいで実現できる、工場生産による木質パネルは環境の厳しい南極昭和基地で、延べ約５５００㎡・３５棟もの実績があり、そのノウハウが北海道の住まい作りに役立っています。</p>
                </div>
            </div>
		</div>

        <div class="p-company-item" id="page-mitsuihome">
            <div class="p-company-item-info">
                <p class="type-logo"><img src="img/mitsuihome-logo-1.png" alt="三井ホーム"></p>
				<p class="type-name">三井ホーム</p>
                <div class="p-company-item-detail-tag type-2x6">2×6</div>
                <p class="type-heading">〈保証・保険体制〉</p>
                <dl>
                    <dt>瑕疵担保責任保険</dt>
					<dd>札幌法務局へ保証金供託</dd>
                </dl>
                <dl>
                    <dt>工事中保険</dt>
					<dd>自社保証</dd>
                </dl>
                <dl>
                    <dt>地盤保証</dt>
					<dd>自社保証</dd>
                </dl>
                <dl>
                    <dt>〈アフターサービス〉</dt>
					<dd>三井ホームの「キープウェル」は、建物お引き渡し後、<br>10年ごとの点検とメンテナンス工事の組合せ、<br>
長期にわたる品質、性能をサポートするしくみです。<br>（60年点検システム）<br>建物お引渡後60年にわたり、10年ごとに点検を実施し<br>
（2年、10年、20年、30年点検は無料）、建物品質性能の管理をいたします。<br>（30年保証システム）<br>定期点検の結果、必要な有料メンテナンス工事を実施することにより、<br>基礎と構造躯体を最長で30年間保証いたします。免責事項あり</dd>
                </dl>
            </div>
            <div class="p-company-item-detail">

                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="img/mitsuihome-image-1.jpg" alt="耐震性能"></div>
                    <p class="type-heading u-txt-brown">耐震性能</p>
					<p class="type-heading-weak">高い剛性の「ダイアフラム」から成る、頑強な<br>「プレミアム・モノコック構法」</p>
					<p class="type-txt">床面、壁面、屋根面を６面体で構成した堅牢なモノコック構造。スペースシャトル、航空機やフォーミュラ・ワン（F1）などにも採用。地震の力をバランスよく分散・吸収し、揺れを抑えて高い耐震性を発揮します。</p>
                </div>
                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="img/mitsuihome-image-2.jpg" alt="断熱性能"></div>
                    <p class="type-heading u-txt-purple">断熱性能</p>
					<p class="type-heading-weak">外断熱の必要がない、優れた断熱性の<br>「プレミアム・モノコック構法」</p>
					<p class="type-txt">鉄の約350倍もの断熱性能を誇る「木」を構造材とし、さらに床・壁・天井がすき間なく接合されているプレミアム・モノコック構法は、高断熱・高気密。「木」の調湿機能が快適な室内環境を実現します。</p>
                </div>
            </div>
		</div>




    <?php $const_page = "list-7"; include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/company/construction-search-navi.tpl"); ?>
</div><!-- /#base-content -->
</div><!-- /#base-container -->

    <?php include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/base-navigation.tpl"); ?>
    <?php include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/base-footer.tpl"); ?>
</div><!-- /#base-page -->
<script>
pageCompany.construction();
</script>
</body>
</html>