<?php
$page = array(
    'title' => '建築会社一覧｜や～よ｜掲載企業｜北海道の住まいづくりWeb',
    'discription' => '北海道の住まいづくりWebに掲載している建築会社さまのうち、や行はじまりの企業さまを一覧でご紹介します。',
);
include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/head.tpl");
?>
</head>



<body>
<div id="base-page" class="base-type-company">
    <?php include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/base-header.tpl"); ?>

    <div id="base-container">

        <div id="base-container-head">
            <ul class="p-breadcrumb-list">
                <li class="p-breadcrumb-list-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/" itemprop="url"><span itemprop="title">トップページ</a></li>
                <li class="p-breadcrumb-list-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/company/" itemprop="url"><span itemprop="title">掲載企業</a></li>
                <li class="p-breadcrumb-list-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title">建築会社：や～よ</span></li>
            </ul>

            <div class="p-company-hero-group">
                <p class="p-company-hero-heading-1"><img src="/company/img/hero-txt-1.png" alt="登録企業"></p>
            </div>

            <div class="p-company-categories-group">
                <ul class="p-company-categories-list">
                    <li class="p-company-categories-list-item type-build is-active"><a href="/company/">建築会社</a></li>
                    <li class="p-company-categories-list-item type-reform"><a href="/company/reform/">リフォーム</a></li>
                    <li class="p-company-categories-list-item type-outdoor"><a href="/company/outdoor/">外構</a></li>
                    <li class="p-company-categories-list-item type-club-s"><a href="/company/club-s/">club-s</a></li>
                </ul>
            </div>
        </div><!-- /#base-container-head -->


<div id="base-content">
<?php $const_page = "list-8"; include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/company/construction-search-navi.tpl"); ?>

<!--や～よ-->
        <div class="p-company-item" id="page-universal">
            <div class="p-company-item-info">
                <p class="type-logo"><img src="img/universal-logo-1.png" alt="ユニバーサルホーム 札幌南店"></p>
				<p class="type-name">ユニバーサルホーム 札幌南店</p>
                <div class="p-company-item-detail-tag type-wood-frame">木造軸組</div>
                <p class="type-heading">〈保証・保険体制〉</p>
                <dl>
                    <dt>瑕疵担保責任保険</dt>
					<dd>日本住宅保証検査機構<br>JIOわが家の保険</dd>
                </dl>
                <dl>
                    <dt>工事中保険</dt>
					<dd>朝日火災海上保険<br>建築ものがたり</dd>
                </dl>
                <dl>
                    <dt>地盤保証</dt>
					<dd>地盤ネット<br>地盤安心住宅システム</dd>
                </dl>
                <dl>
                    <dt>〈アフターサービス〉</dt>
					<dd>アフターメンテナンス制度（６ヶ月後・１年・２年・５年・１０年・１３年・１７年・２０年）<br>
２０年間の長期保証（同社指定の１０年目の有償メンテナンスが条件）</dd>
                </dl>
            </div>
            <div class="p-company-item-detail">
                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="img/universal-image-1.jpg" alt="耐震性能"></div>
                    <p class="type-heading u-txt-brown">耐震性能</p>
					<p class="type-heading-weak">優れた耐震性を実現<br>特許工法の基礎「地熱床システム」</p>
					<p class="type-txt">鉄骨・鉄筋・コンクリートで形成される「地熱床システム」は、従来の基礎と比べ体積が約３倍となるため、地盤に十分な抵抗ができ地震の揺れを抑えます。万が一の災害にも高い安全性を誇ります。さらに、地熱を利用し天然の冷暖房効果をもたらします。</p>
                </div>
                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="img/universal-image-2.jpg" alt="断熱性能"></div>
                    <p class="type-heading u-txt-purple">断熱性能</p>
					<p class="type-heading-weak">高い断熱性や地中の温度を有効活用し快適な住環境を実現</p>
					<p class="type-txt">高性能２４K相当の断熱材を使用し、その他世界最高レベルの断熱性能を誇る「ネオマフォーム」「セルボード」の採用や地熱床システムの効果により夏涼しく冬暖かい、高気密・高断熱を実現した。</p>
                </div>
            </div>
		</div>



    <?php $const_page = "list-8"; include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/company/construction-search-navi.tpl"); ?>
</div><!-- /#base-content -->
</div><!-- /#base-container -->

    <?php include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/base-navigation.tpl"); ?>
    <?php include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/base-footer.tpl"); ?>
</div><!-- /#base-page -->
<script>
pageCompany.construction();
</script>
</body>
</html>