// ------------------------------
// Page Competition CSS
// ------------------------------

/**
 * hero-group
 */

.p-column-hero-group.type-column-201510 {
  @if $mq-all {
    border-color: #f18e3b;
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
  }
}


.type-column-201510 {

  .p-column-group {
    @if $mq-all {
      border-color: #f18e3b;
      background-color: #fffded;
    }
  }

  .p-column-heading-1 {
    @if $mq-all {
      color: #ec6c00;
      background: url('/resources/img/bg/bg-dotline-2.png') repeat-x 0 bottom;

      span {
        display: inline-block;
        vertical-align: middle;
        margin: -2px 10px 0 0;
        padding: 5px 10px;
        color: #fff;
        font-weight: bold;
        border-radius: 6px;
        background-color: #ec6c00;
        @include fz(20,20);
      }
      br { display: none; }
    }
    @if $mq-tablet {
      br { display: block; }
    }
    @if $mq-sp {
      span {
        @include fz(15,15);
      }

    }
  }

  .p-column-201510-image-1 {
    @if $mq-all {
      float: right;
      width: 35%;
      margin: 0 0 0 30px;
      &.type-2 { width: 28%; }
      p {
        &:before {
          content: "";
          display: inline-block;
          position: relative;
          top: 0.1em;
          width: 15px;
          height: 15px;
          margin: 0 4px 0 0;
          background: url('/resources/img/icon/ico-house-2.png') no-repeat 0 center;
          background-size: 100%;
        }
        @include fz(14,22);
      }
    }
    @if $mq-tablet {
    }
    @if $mq-sp {
      width: 50%;
      margin: 0 0 0 15px;
      &.type-2 { width: 50%; }
      p { @include fz(12,20); }
    }
  }

  .p-column-201510-image-list-1 {
    @if $mq-all {
      list-style: none;
      margin: 30px -1%;
      padding: 0;
      font-size: 0;

      li {
        display: inline-block;
        vertical-align: top;
        width: 23%;
        padding: 0 1%;
        @include fz(14,22);
        span {
          display: block;
          margin: 6px 0;
          &:before {
            content: "";
            display: inline-block;
            position: relative;
            top: 0.1em;
            width: 15px;
            height: 15px;
            margin: 0 4px 0 0;
            background: url('/resources/img/icon/ico-house-2.png') no-repeat 0 center;
            background-size: 100%;
          }
        }
      }
    }
    @if $mq-tablet {
    }
    @if $mq-sp {
      margin: 20px -2%;
      li {
        width: 46%;
        padding: 0 2%;
        @include fz(12,22);
      }
    }
  }

  .p-column-201510-tips-1 {
    @if $mq-all {
      position: relative;
      overflow: hidden;
      margin: 30px 0;
      padding: 20px 130px 20px 30px;
      color: #fff;
      border-radius: 10px;
      background-color: #ec6c00;
      &:after {
        content: "";
        position: absolute;
        bottom: 0px;
        right: 20px;
        width: 87px;
        height: 176px;
        background: url('/column/201510/img/staff-1.png') no-repeat center;
        background-size: 100%;
      }

      .type-heading {
        margin: 0 0 10px 0;
        font-weight: bold;
        @include fz(20,28);
      }
      .type-txt {
        margin-bottom: 0;
        @include fz(14,28);
      }
    }
    @if $mq-tablet {
    }
    @if $mq-sp {
      margin: 20px 0;
      padding: 20px 70px 20px 20px;
      &:after {
        bottom: 0px;
        right: 10px;
        width: 50px;
        height: 101px;
      }

      .type-heading {
        @include fz(16,26);
      }
      .type-txt {
        @include fz(13,22);
      }
    }
  }

  .p-column-201510-last {
    @if $mq-all {
      position: relative;
      overflow: hidden;
      padding: 0 0 0 300px;
      &:after {
        content: "";
        position: absolute;
        bottom: 0px;
        left: 0;
        width: 281px;
        height: 347px;
        background: url('/column/201510/img/staff-2.png') no-repeat center;
        background-size: 100%;
      }
    }
    @if $mq-tablet {
      padding: 0;
      &:after {
        position: relative;
        display: block;
        width: 200px;
        height: 246px;
      }
    }
    @if $mq-sp {
    }
  }

}