// ------------------------------
// Page Competition CSS
// ------------------------------

/**
 * hero-group
 */
.type-column-201507 {


.p-column-heading-1 {
  @if $mq-all {
    color: #69bc82;
    background: url('/resources/img/bg/bg-dotline-1.png') repeat-x 0 bottom;
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
  }
}

}