// ------------------------------
// Page Competition CSS
// ------------------------------

/**
 * hero-group
 */

.p-column-hero-group.type-column-201602 {
  @if $mq-all {
    border-color: #d06a76;
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
  }
}


.type-column-201602 {

  .p-column-group {
    @if $mq-all {
      border-color: #d06a76;
      background-color: #fffded;
    }
  }

  .p-column-heading-1 {
    @if $mq-all {
      color: #ec6c00;
      background: url('/resources/img/bg/bg-dotline-2.png') repeat-x 0 bottom;

      span {
        display: inline-block;
        vertical-align: middle;
        margin: -2px 10px 0 0;
        padding: 5px 10px;
        color: #fff;
        font-weight: bold;
        border-radius: 6px;
        background-color: #ec6c00;
        @include fz(20,20);
      }
      br { display: none; }
    }
    @if $mq-tablet {
      br { display: block; }
    }
    @if $mq-sp {
      span {
        @include fz(15,15);
      }
    }
  }

  .p-column-201602-dl {
    @if $mq-all {
      dl {
        margin: 0;
      }
      dt {
        margin: 0 0 5px 0;
        color: #ec6c00;
        font-weight: bold;
        @include fz(16,22);

        &:before {
          content: "●";
          display: inline-block;
          @include fz(26,26);
        }
      }
      dd {
        margin: 0;
        @include clearfix;
        img {
          float: right;
          margin: 0 0 0 20px;
        }
      }
    }
    @if $mq-tablet {
      dd {
        img {
          width: 180px;
        }
      }
    }
    @if $mq-sp {
      dd {
        img {
          display: block;
          float: none;
          width: 70%;
          margin: 10px auto;
        }
      }
    }
  }

}
