<?php
$page = array(
    'title' => '設計コンペで家を建てよう！｜北海道の住まいづくりWeb',
    'discription' => '施主さまのリクエストに合わせ、最大5社の建築会社がプランと見積もりを提案！各社がプライドを賭けて作ったプランを、プロのサポートを受けながら比較検討できるのが設計コンペの魅力です。今回はOさんご一家の設計コンペに密着してきました。',
);
include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/head.tpl");
?>
</head>



<body id="competition-201602-case-1">
<div id="base-page">
    <?php include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/base-header.tpl"); ?>

    <div id="base-container">

        <div id="base-container-head" class="type-case-competition">
            <ul class="p-breadcrumb-list">
                <li class="p-breadcrumb-list-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/" itemprop="url"><span itemprop="title">トップページ</a></li>
                <li class="p-breadcrumb-list-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/case-competition/" itemprop="url"><span itemprop="title">設計コンペで家を建てよう！</a></li>
                <li class="p-breadcrumb-list-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title">2016年02月</span></li>
            </ul>

            <div class="p-case-competition-hero-group">
                <p class="p-case-competition-hero-heading-1"><img src="/case-competition//201602/img/case-1/hero-txt-1.png" alt="コンペでならきっと見つかる！！理想のリフォーム"></p>
                <div class="p-case-competition-hero-panel">
                    <img src="/case-competition/201602/img/case-1/hero-image-1.png" alt="今回のモデル S様ファミリー">
                    <p class="p-case-competition-hero-panel-heading">S様ファミリー</p>
                    <p class="p-case-competition-hero-panel-txt">ご主人（30代）・奥さま（30代）・お子さま2人<br>●分譲マンションでお暮らしのS様ご一家。しかし実家のお父様とお祖母様と暮らす事となり、2世帯住宅への住み替えを決断されました。</p>
                </div>
            </div>
        </div><!-- /#base-container-head -->

        <?php
            $backnumber = array(
                'date' => '201602',
                'case' => 1,
            );
            include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/case-competition/backnumber-group.tpl");
        ?>


    <div id="base-content">
        <p class="p-case-competition-heading-3">
          リフォーム会社もコンペで決められるのをご存知ですか？<br>
          各社の趣向凝らしたリフォームプランを比較しながら検討。<br>
          自分たちにあった施工会社を見つけられるのです。<br>
          それでは中古の2世帯住宅を購入されたS様ご一家のリフォームコンペの模様をのぞかせていただきましょう。
        </p>


        <div class="p-case-competition-item type-step-0">
          <p class="p-case-competition-heading-1"><img src="/case-competition/201602/img/case-1/heading-1.png" alt="中古の2世帯住宅のリフォームを決意！"></p>
          <div class="p-case-competition-half">
            <div class="p-case-competition-half-item type-left">
              <p>遠く離れた実家に住むお父様やお祖母様と一緒に暮らす事を決断されたS様ファミリー。新築の2世帯住宅を建てようと考え、すまいポート21にいらっしゃいました。しかし、希望にかなう土地がなかなか見つからず家づくりは難航。そんな折、ご夫婦は中古物件で思い描いた広さの2世帯住宅を見つけられたのでした。しかし快適に暮らすためには大幅に手を入れる必要を感じたS様は、さまざまなリフォーム案を比較できるリフォームコンペを受けることにされたのです。</p>
            </div>
            <div class="p-case-competition-half-item type-right">
              <div>
                <img class="type-step-0-img" src="/case-competition/201602/img/case-1/intro-image-1.jpg" alt="すまいポート21札幌中央 外観">
                <p>今回のコンペの舞台は…</p>
                <img src="/resources/img/base/logo-sumaiport21-sapporo-chuo.svg" alt="すまいポート21札幌中央">
                <p>電話/011-590-0108<br>
                住所/札幌市中央区宮の森3条1丁目4-1<br>
                営業時間/10時～19時（水曜日定休）</p>
              </div>
            </div>
          </div>
        </div><!-- /.STEP0-->


        <div class="p-case-competition-item">
          <p class="p-case-competition-heading-1"><img src="/case-competition/201602/img/case-1/step-heading-1.png" alt="STEP1 それぞれに合った住まいづくりの方法をご提案 コンペの方法を選ぼう！"></p>
          <div class="p-case-competition-half">
            <div class="p-case-competition-half-item type-left">
              <img src="/case-competition/201602/img/case-1/step-1-image-1.jpg" alt="「リフォームプランを比較したいんです」「でしたらコンペがおすすめです」">
            </div>
            <div class="p-case-competition-half-item type-right">
              <p class="p-case-competition-heading-2">プラン内容や見積もりを比較できるのが魅力です</p>
              <p>すまいポート21に来店した当初は新築の2世帯住宅をお考えだったというS様。土地探しをするさなか、希望に近い場所に適度な大きさの中古の2世帯住宅と出合われました。<br>1階と2階それぞれに玄関が付いた独立した造り。双方に台所など水回りの設備があり、家族が暮らすのに十分な広さ…。<br>あちこちが傷んではいましたがリフォームすれば住めると考えたS様。<br>すまいポート21の勧めもあってリフォームプランと施工会社をコンペで選ぶ、リフォームコンペを選択されたのでした。</p>
              <div class="step1-tips">
                <p class="type-text-1">S様の見つけた中古物件の不満点</p>
                <p class="type-text-2">①<span>古いコンクリートの建物なので外断熱を施したい</span></p>
                <p class="type-text-2">②<span>間取りを変えたい</span></p>
                <p class="type-text-2">③<span>2世帯分の給水・給湯管を耐久性のあるものに変えたい</span></p>
              </div>
            </div>
          </div>
          <div class="p-201602-message">
            <div class="p-201602-message-item type-left-staff-pic-1">
              <p class="balloon">理想の土地が見つからないときは、中古物件をリフォームするというのも賢い手段。またS様のケースのように大規模なリフォームは、コンペで見積もりを比較検討するのがオススメです。</p>
            </div>
          </div>
        </div><!-- /.STEP1-->


        <div class="whats-compe-group">
          <p class="whats-compe-heading-1"><img src="/case-competition/201602/img/case-1/whats-compe-heading.png" alt="ところでリフォームコンペってどんなもの？"></p>
          <p class="whats-compe-heading-2">最大3社のプランを比較検討 理想のプランが見つかります</p>
          <div class="whats-compe-image-1"><img src="/case-competition/201602/img/case-1/whats-compe-image-1.jpg" alt="リフォームコンペ"></div>
          <p class="whats-compe-text-1">中古住宅をリフォームして住みたい、家族構成の変化に伴い間取りを変えたい…リフォームの理由はそれぞれ。そんな皆さんのリフォームプランや費用の見積もりを、最大3社によるコンペ形式で比較検討できるのがリフォームコンペです。すまいポート21は現在12社のリフォーム会社と提携。各社ともに独自の技術、得意分野があるので、理想のプランと出会えます。プラン作りには第三者の立場で一級建築士の先生がサポート。特別な知識が無くても安心です。</p>
          <ol class="whats-compe-flow-list">
            <li>
              <span class="whats-compe-flow-item-heading">一級建築士による<br>ヒアリング</span>
              <span class="whats-compe-flow-item-text-1">リフォームしたいポイントを一級建築士の先生がまとめてくれます。</span>
            </li>
            <li>
              <span class="whats-compe-flow-item-heading">リフォーム各社との<br>オリエンテーション</span>
              <span class="whats-compe-flow-item-text-1">各社の担当との顔合わせ。細かな質疑応答で建物のイメージを共有します。</span>
            </li>
            <li>
              <span class="whats-compe-flow-item-heading">参加各社が<br>現状の物件を視察・調査</span>
              <span class="whats-compe-flow-item-text-1">コンペ参加会社が事前に物件を視察。図面では分からない箇所もチェックします。</span>
            </li>
            <li>
              <span class="whats-compe-flow-item-heading">コンペ開始！</span>
              <span class="whats-compe-flow-item-text-1">練りに練ったプランと見積もりを各社が披露。じっくりと比較できます。</span>
            </li>
          </ol>
        </div><!-- /.whats-compe-group-->


        <div class="reform-point-group">
          <div class="reform-point-header">
            <p class="heading-1"><span>S様ファミリーの</span>リフォームポイントはココでした</p>
            <p class="heading-2">リフォームした後は1階をお父様とお祖母様で、2階を一家で使いたいとお考えになったS様。将来的にはどちらかのフロアを貸し出す事も視野に入れ、水回りを含めた大々的なリフォームをお考えになりました。</p>
          </div><!-- /.reform-point-header -->

          <div class="reform-point-body">
            <div class="reform-point-body-left">
              <dl>
                <dt>POINT.1</dt>
                <dd>
                  <span class="heading-1">地袋を無くして和室を洋室にしたい</span>
                  <span class="text-1">お祖母様の部屋にしようと考えている1階の和室をフローリングに。<br>地袋と押入れを無くしてタンスを置くスペースを確保。</span>
                </dd>
              </dl>
              <dl>
                <dt>POINT.2</dt>
                <dd>
                  <span class="heading-1">洋室の間取りを変えて各部屋に収納場所を</span>
                  <span class="text-1">洋室Aを主寝室、洋室BとCを子供部屋に使おうと考えたS様。<br>間取りを変えて、洋室BとCに収納スペースを設けることに。</span>
                </dd>
              </dl>
              <dl>
                <dt>POINT.3</dt>
                <dd>
                  <span class="heading-1">廊下にある洗面台を独立した洗面室に</span>
                  <span class="text-1">現状、廊下にある洗面台を洗面化粧室にしたいと希望。<br>また2階玄関前の階段には目隠しフェンスを設けたいとのこと。</span>
                </dd>
              </dl>
              <div class="reform-point-body-data">
                <p>物件DATA</p>
                <table>
                  <tr>
                    <th>1階床面積</th>
                    <td>97.58㎡（29.52坪）</td>
                  </tr>
                  <tr>
                    <th>2階床面積</th>
                    <td>97.58㎡（29.52坪）</td>
                  </tr>
                  <tr>
                    <th>延床面積</th>
                    <td>195.16㎡ （60.24坪）</td>
                  </tr>
                  <tr>
                    <th>敷地面積</th>
                    <td>328.31㎡</td>
                  </tr>
                  <tr>
                    <th>構造種別</th>
                    <td>鉄筋コンクリート造</td>
                  </tr>
                  <tr>
                    <th>完了検査日</th>
                    <td>平成3年10月23日</td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="reform-point-body-right">
              <div>
                <img src="/case-competition/201602/img/case-1/reform-point-floor-1.png" alt="1F間取り図">
                <img src="/case-competition/201602/img/case-1/reform-point-floor-2.png" alt="2F間取り図">
              </div>
            </div>
          </div><!-- /.reform-point-body -->

          <div class="reform-point-footer">
            <div class="reform-point-footer-image">
              <img src="/case-competition/201602/img/case-1/reform-point-image-1.jpg" alt="外壁の保護も課題">
              <p>雨水が外壁の中に浸透したせいか外壁タイルに浮きが…。外壁の保護も課題。</p>
            </div>
            <div class="reform-point-footer-image">
              <img src="/case-competition/201602/img/case-1/reform-point-image-2.jpg" alt="窓枠周辺に雨の染みが発生">
              <p>窓枠周辺に雨の染みが発生。コーキング材充填や再塗装が必要でしょう。</p>
            </div>
            <div class="reform-point-footer-list">
              <p class="heading-1">その他にリフォームしたい箇所は…</p>
              <ul>
                <li>外部タイルの上にガルバリューム鋼板を補強したい</li>
                <li>外断熱を施したい</li>
                <li>2階のキッチンをアイランド式にしたい</li>
                <li>照明はすべてLED照明に変えたい</li>
                <li>床はノンワックスの合板フローリングに</li>
              </ul>
            </div>
          </div><!-- /.reform-point-footer -->
        </div><!-- /.reform-point-group-->


        <div class="p-case-competition-item">
            <p class="p-case-competition-heading-1"><img src="/case-competition/201602/img/case-1/step-heading-2.png" alt="STEP2 細かなギモンも分かりやすく解決！ 一級建築士がリクエストを整理"></p>
            <div class="p-case-competition-half">
              <div class="p-case-competition-half-item type-left">
                <img src="/case-competition/201602/img/case-1/step-2-image-1.jpg" alt="「外壁工事もしたいのですが、予算がちょっと心配で」「予算の見積もりをして貰い、後から削るのも手ですね」">
              </div>
              <div class="p-case-competition-half-item type-right">
                <p class="p-case-competition-heading-2">リフォームのイメージを伝えれば一級建築士が細かな要望書を作成</p>
                <p>リフォームコンペのいいところは、経験豊かな一級建築士の先生が第3者の立場でサポートしてくれるところ。<br>最新の断熱工法や建具の名前を知らなくても、分かりやすい説明を交えながら的確なアドバイスをしてもらえます。<br>リフォームしたいイメージを伝えるだけで、一級建築士の先生が明確な形にして要望書にまとめて各社に提示。<br>プレゼンテーションの場でもお客様の立場にたってプランや見積もりを精査してくれる頼もしい存在なのです。</p>
              </div>
            </div>
            <div class="p-201602-message">
              <div class="p-201602-message-item type-half type-left-staff-pic-2">
                <p>リフォームを何度も経験してる人は多くありません。専門用語や工事に掛かる費用の相場を知らなくてもご安心ください。まずはどんな家にしたいかを明確にイメージしていただくこと。それが実現するようサポートいたします。</p>
                <span class="type-position">一級建築士</span>
                <span class="type-name">中島 正晴さん</span>
              </div>
              <div class="p-201602-message-item type-half type-right-staff-pic-1">
                <p class="balloon">ヒアリングの後は要望書を各社に配信。参加する各社は事前に物件を現地調査して、オリエンテーションに臨みます。今回は一級建築士の中島先生も事前に現場をチェックして、プレゼンテーションに備えていただきました。</p>
              </div>
            </div>
        </div><!-- /.STEP2-->


        <div class="p-case-competition-item">
            <p class="p-case-competition-heading-1"><img src="/case-competition/201602/img/case-1/step-heading-3.png" alt="STEP3 指名した各社の担当者と顔合わせ！ リフォーム会社とのオリエンテーション"></p>
            <p class="u-txt-center"><img src="/case-competition/201602/img/case-1/step-3-txt-1.png" alt="名乗りを挙げた会社の中から気になる3社をセレクト!"></p>
            <br>
            <div class="p-case-competition-half">
              <div class="p-case-competition-half-item type-left">
                <img src="/case-competition/201602/img/case-1/step-3-image-1.jpg" alt="ヒアリングシートを元に各社の担当と質疑応答">
              </div>
              <div class="p-case-competition-half-item type-right">
                <p class="p-case-competition-heading-2">ヒアリングシートを元に各社の担当と質疑応答</p>
                <p>コンペの前には、参加するリフォーム会社の担当者とのオリエンテーションの場を設けます。<br>リフォームする物件は他社が作ったもの、どの壁がいじれるか、どこは改修が必要かを各社は事前に調査して参加します。<br>各社持ち時間は40分。事前に出した要望書を元に、質疑応答をくり返してプランの土台を固めていきます。</p>
              </div>
            </div>
            <div class="step3-tips">
              <div class="type-image"><img src="/case-competition/201602/img/case-1/step-3-image-2.jpg" alt="リフォーム前は家の状態を建物診断でチェック"></div>
              <p class="type-heading">リフォーム前は家の状態を建物診断でチェックしよう</p>
              <p class="type-text">中古住宅の購入やリフォームの前には、対象の家を建物診断をしておくのがオススメです。家は経年劣化していくもの。実は見えない部分が劣化していたということも…。建物診断サービスでは専門の調査士がプロの目と専門検査機器で建物の劣化具合を調査します。</p>
            </div>
            <p class="u-txt-center"><img src="/case-competition/201602/img/case-1/step-3-txt-2.png" alt="2週間後、いよいよプレゼンテーションです！"></p>
        </div><!-- /.STEP3-->


        <div class="p-case-competition-item">
            <p class="p-case-competition-heading-1"><img src="/case-competition/201602/img/case-1/step-heading-4.png" alt="STEP4 指名した各社の担当者と顔合わせ！ 建築会社とオリエンテーション"></p>
            <div class="p-case-competition-conpe-group type-entry-1">
              <div class="p-case-competition-conpe-heading">
                <div class="type-num">ENTRY-1</div>
                <p class="type-name">イエスリホーム</p>
                <ul class="type-staff">
                  <li><img src="/case-competition/201602/img/case-1/conpe-1-staff-1.png" alt="デザイン 滝本祐規さん"> <span>デザイン<br>滝本 祐規さん</span></li>
                  <li><img src="/case-competition/201602/img/case-1/conpe-1-staff-2.png" alt="設計 渕脇雅彦さん"> <span>設計<br>渕脇 雅彦さん</span></li>
                </ul>
              </div><!-- /.p-case-competition-conpe-heading -->

              <div class="p-case-competition-conpe-left">
                <p class="type-txt-heading">ココにこだわりました！</p>
                <p>プランでポイントにした箇所は2Fのキッチンでした。来客があった場合にキッチンの中を隠したいという主婦の方のご意見も多い事からのご提案です。2Fホールの収納は扉を付けずに洗濯の物干しスペースにもできます。</p>
                <div class="p-case-competition-conpe-check type-staff-1">
                  <p class="type-txt-1"><img src="/case-competition/201602/img/case-1/conpe-txt-check.png" alt="一級建築士チェック！"></p>
                  <p class="type-txt-2">ビフォーとアフターの様子を比較しやすい提案でした。洗面所から脱衣所までの動線も工夫されていましたね。そこに住む人の動きを計算に入れたリフォームプランだと思います。</p>
                </div>
                <p class="type-txt-heading">イエスリホームのリフォームって？</p>
                <p>透明性・納得性・安心＆安全・快適性・将来性をテーマに住まいのリフォームをトータルで提案。古くなったから新しくするという従来のスタイルではなく、リフォーム後の付加価値も考えたプランニングが特徴です。</p>
                <div class="p-case-competition-conpe-logo"><img src="/case-competition/201602/img/case-1/conpe-1-logo.png" alt="イエスリホーム"></div>
                <div class="p-case-competition-conpe-profile">
                  <dl>
                    <dt>コーディ株式会社</dt>
                    <dd>●設立／1995年<br>●従業員数／57名<br>●TEL／011-622-3739 FAX／011-622-6560<br>●住所／札幌市中央区宮の森3条1丁目4-1 タイびる1・4階</dd>
                    <dd><a href="http://www.yesrehome.co.jp/" target="_blank">ウェブサイトはこちら</a></dd>
                  </dl>
                </div>
              </div><!-- /.p-case-competition-conpe-left -->

              <div class="p-case-competition-conpe-right">
                <div class="p-case-competition-conpe-floor type-entry-1">
                  <div class="p-case-competition-conpe-floor-point type-num-1 js-point-1-1"></div>
                  <img src="/case-competition/201602/img/case-1/conpe-1-floor-1.png" alt="1F 間取り図">
                </div>
                <div class="p-case-competition-conpe-floor type-entry-1">
                  <div class="p-case-competition-conpe-floor-point type-num-2 js-point-1-2"></div>
                  <div class="p-case-competition-conpe-floor-point type-num-3 js-point-1-3"></div>
                  <img src="/case-competition/201602/img/case-1/conpe-1-floor-2.png" alt="2F 間取り図">
                </div>
              </div><!-- /.p-case-competition-conpe-right -->
            </div><!-- /ENTRY1-->

            <div class="p-case-competition-conpe-group type-entry-2">
              <div class="p-case-competition-conpe-heading">
                <div class="type-num">ENTRY-2</div>
                <p class="type-name">竹内建設</p>
                <ul class="type-staff">
                  <li><img src="/case-competition/201602/img/case-1/conpe-2-staff-1.png" alt="営業 新保 善久さん"> <span>営業<br>新保 善久さん</span></li>
                  <li><img src="/case-competition/201602/img/case-1/conpe-2-staff-2.png" alt="設計 庄内 貴子さん"> <span>設計<br>庄内 貴子さん</span></li>
                </ul>
              </div><!-- /.p-case-competition-conpe-heading -->

              <div class="p-case-competition-conpe-left">
                <p class="type-txt-heading">ココにこだわりました！</p>
                <p>1階はナチュラルで明るく、2階は落ち着いた雰囲気をイメージしました。2階は洗面室のスペースを広げたり、スタディコーナーを設けるなど、お子さまがいる事を考慮して間取りを構成してみました。</p>
                <div class="p-case-competition-conpe-check type-staff-1">
                  <p class="type-txt-1"><img src="/case-competition/201602/img/case-1/conpe-txt-check.png" alt="一級建築士チェック！"></p>
                  <p class="type-txt-2">さまざまなパースを用意していたのでリフォーム時のイメージがつかみ易かったですね。玄関を入った正面の壁のRやLDKのカウンターなど、細やかな気配りも魅力的です。</p>
                </div>
                <p class="type-txt-heading">竹内建設のリフォームって？</p>
                <p>長期優良住宅が新築の標準仕様という竹内建設。リフォームではLIXILブランドの高品質な建材を用いながら、礎を大切にした次世代リフォームを実現。その高度な技術力とデザイン力は業界の中でも高く評価されています。</p>
                <div class="p-case-competition-conpe-logo"><img src="/case-competition/201602/img/case-1/conpe-2-logo.png" alt="竹内建設"></div>
                <div class="p-case-competition-conpe-profile">
                  <dl>
                    <dt>竹内建設 株式会社</dt>
                    <dd>●設立／1981年<br>●従業員数／43名<br>●TEL／011-851-2430 FAX／011-851-2642<br>●住所／札幌市豊平区月寒東1条18丁目1-35</dd>
                    <dd><a href="http://www.tk2430.co.jp/" target="_blank">ウェブサイトはこちら</a></dd>
                  </dl>
                </div>
              </div><!-- /.p-case-competition-conpe-left -->

              <div class="p-case-competition-conpe-right">
                <div class="p-case-competition-conpe-floor type-entry-1">
                  <div class="p-case-competition-conpe-floor-point type-num-1 js-point-2-1"></div>

                  <img src="/case-competition/201602/img/case-1/conpe-2-floor-1.png" alt="1F 間取り図">
                </div>
                <div class="p-case-competition-conpe-floor type-entry-1">
                  <div class="p-case-competition-conpe-floor-point type-num-2 js-point-2-2"></div>
                  <div class="p-case-competition-conpe-floor-point type-num-3 js-point-2-3"></div>
                  <img src="/case-competition/201602/img/case-1/conpe-2-floor-2.png" alt="2F 間取り図">
                </div>
              </div><!-- /.p-case-competition-conpe-right -->
            </div><!-- /ENTRY2-->

            <div class="p-case-competition-conpe-group type-entry-3">
              <div class="p-case-competition-conpe-heading">
                <div class="type-num">ENTRY-3</div>
                <p class="type-name">桧山建設綜業</p>
                <ul class="type-staff">
                  <li><img src="/case-competition/201602/img/case-1/conpe-3-staff-1.png" alt="代表 桧山良秀さん"> <span>代表<br>桧山 良秀さん</span></li>
                  <li></li>
                </ul>
              </div><!-- /.p-case-competition-conpe-heading -->

              <div class="p-case-competition-conpe-left">
                <p class="type-txt-heading">ココにこだわりました！</p>
                <p>RCパネル躯体のため、構造的制約の範囲でプランを検討しました。リビングには幅があるので、ご家族の冷蔵庫への動線も考えてアイランド型に。また、お子さんの成長を見据えて、洗面室は脱衣所と分離してあります。</p>
                <div class="p-case-competition-conpe-check type-staff-1">
                  <p class="type-txt-1"><img src="/case-competition/201602/img/case-1/conpe-txt-check.png" alt="一級建築士チェック！"></p>
                  <p class="type-txt-2">随所に小技が光っていますね。2階の洗面室と脱衣所のあしらいや玄関にさり気なくしつらえたベンチなど、実際に暮らす人の目線に寄り添ったプランだと思います。</p>
                </div>
                <p class="type-txt-heading">桧山建設綜業の家ってこんな家</p>
                <p>FAS工法を始め、高気密・高断熱の家づくりが自慢。その暖かい家づくりの哲学はリフォームにも表れています。デザイン性だけでなく、先進の建築技術と豊富な知識で家族の安全と健康、そして経済性を考えた提案が特徴です。</p>
                <div class="p-case-competition-conpe-logo"><img src="/case-competition/201602/img/case-1/conpe-3-logo.png" alt="桧山建設綜業株式会社"></div>
                <div class="p-case-competition-conpe-profile">
                  <dl>
                    <dt>桧山建設綜業株式会社</dt>
                    <dd>●設立／1957年<br>●従業員数／7名<br>●TEL／011-784-8133 FAX／011-784-8130<br>●住所／札幌市東区北43条東18丁目3-5</dd>
                    <dd><a href="http://www.hiyama-d.co.jp/" target="_blank">ウェブサイトはこちら</a></dd>
                  </dl>
                </div>
              </div><!-- /.p-case-competition-conpe-left -->

              <div class="p-case-competition-conpe-right">
                <div class="p-case-competition-conpe-floor type-entry-1">
                  <div class="p-case-competition-conpe-floor-point type-num-1 js-point-3-1"></div>
                  <img src="/case-competition/201602/img/case-1/conpe-3-floor-1.png" alt="1F 間取り図">
                </div>
                <div class="p-case-competition-conpe-floor type-entry-1">
                  <div class="p-case-competition-conpe-floor-point type-num-2 js-point-3-2"></div>
                  <div class="p-case-competition-conpe-floor-point type-num-3 js-point-3-3"></div>
                  <img src="/case-competition/201602/img/case-1/conpe-3-floor-2.png" alt="2F 間取り図">
                </div>
              </div><!-- /.p-case-competition-conpe-right -->
            </div><!-- /ENTRY3-->
        </div><!-- /STEP4-->


        <div class="p-case-competition-item p-case-competition-item-5">
          <p class="p-case-competition-heading-1"><img src="/case-competition/201602/img/case-1/step-heading-5.png" alt="STEP5 プランと見積りをしっかり吟味してリフォーム会社が決定!!"></p>
          <div class="p-case-competition-half">
            <div class="p-case-competition-half-item type-left">
              <img src="/case-competition/201602/img/case-1/step-6-image-1.jpg" alt="「あの日フラっと立ち寄って本当に良かったです」「運命的でしたね」">
            </div>
            <div class="p-case-competition-half-item type-right">
              <p>工夫を凝らしたプランと見積もりが出揃った後はじっくり検討、リフォーム会社を一社に絞ります。担当者の人柄や住宅の性能、各社の標準仕様なども重要な検討要素です。</p>
              <div class="step5-message">
                <p class="type-text-1">リフォームコンペを終えての感想</p>
                <p class="type-text-2">見積もりを比較する事の重要性は分かりつつも、自分の要望やぼんやりとしたイメージを正しく伝える事の難しさや煩わしさを感じていました。でも今回のコンペでは中島先生が要望を整理してくれたので、希望に近いプランを提示して貰えました。時間は掛かりましたが、各社の提案を聞く内に自分たちがどんな家づくりをしたいのか、何に重点を置きたいかに改めて気づけました。すまいポート21にはコンペの手配から現在のマンションの売却、資金の流れの説明など、さまざまな悩みを解決してもらい感謝しています。</p>
              </div>
            </div>
          </div>
          <div class="p-201602-message">
            <div class="p-201602-message-item type-half type-left-staff-pic-2">
              <p class="type-heading">一級建築士・中島先生の総評</p>
              <p>2階廊下のR壁や玄関のベンチ、洗面室の置き方など要望をくみ取りつつも、住む人に寄り添った独自のアイデアを各社盛り込んでくれました。この後は設備や建具の各社の標準仕様、見積もりを検討しながら、足し算引き算をして理想のリフォームを実現してください。</p>
            </div>
            <div class="p-201602-message-item type-half type-right-staff-pic-2">
              <p class="balloon">ありがとうございました。<br>またお気軽にお越しください！</p>
            </div>
          </div>
        </div><!-- /STEP5-->


        <div class="building-check-group">
          <p class="type-heading">リフォームするその前に</p>
          <div class="left-item">
            <p><img src="/case-competition/201602/img/case-1/building-check-text-1.png" alt="絶対オススメ 建物診断"></p>
            <p class="type-text-1">建物診断とは建物の傷みをプロの調査士がさまざまな角度からチェックするサービス。<br>リフォーム前にしておくと安心です。</p>
            <p class="type-text-2">家は経年劣化していくもの。パっと見では気づかなくても、見えない部分が傷んでいる事は十分考えられます。すまいポート21では住宅の売買やリフォームする皆様に建物診断サービスをお勧めしています。専門の調査士がプロの目と専門検査機器で建物を調査。欠陥の有無や劣化具合を詳細なレポートにまとめます。診断料はリフォームを受注する会社が負担するので安心。リフォームは大きなお買い物、家の状態を知っておく事は重要です。</p>
            <div class="report-item">
              <div class="report-item-image"><img src="/case-competition/201602/img/case-1/building-check-image-2.png" alt="建物診断報告書"></div>
              <p class="report-item-text-1">建物診断報告書</p>
              <p class="report-item-text-2">基礎部分から外壁、壁や床のゆがみなど、プロの調査士が建物の隅々までしっかり調査。50ページにわたる診断報告書を作成してくれるので、建物の「いま」をしっかり把握できます。</p>
            </div>
          </div>
          <div class="right-item">
            <div class="report-image"><img src="/case-competition/201602/img/case-1/building-check-image-1.png" alt="診断項目"></div>
          </div>
        </div><!-- /.building-check-group -->

        <div class="address-group">
          <p class="address-heading">住まいに関する事なら何でもご相談を</p>
          <div class="address-item-list">
            <div class="address-item">
              <img src="/resources/img/base/logo-sumaiport21-higashi-sapporo.svg" width="320" alt="すまいポート21札幌東"><br>
              <p class="address-item-tel">TEL. <span class="type-num">011-887-9191</span></p>
              <p>〒004-0052<br>
              札幌市厚別区厚別中央2条1丁目2-20<br>
              営業時間 AM10:00～PM7:00（水曜日定休）</p>
            </div>
            <div class="address-item">
              <img src="/resources/img/base/logo-sumaiport21-sapporo-chuo.svg" width="320" alt="すまいポート21札幌中央"><br>
              <p class="address-item-tel">TEL. <span class="type-num">011-590-0108</span></p>
              <p>〒064-0953<br>
              札幌市中央区宮の森3条1丁目4-1タイびる1F<br>
              営業時間 AM10:00～PM7:00（水曜日定休）</p>
            </div>
            <div class="address-item">
              <div class="address-item-message">
                <p class="type-text-1">リフォーム後もサポートします</p>
                <p class="type-text-2">リフォームや家の売買など、第三者の立場でお手伝いいたします。家づくりや住み替えに関する悩みや疑問がありましたら、いつでもお気軽にお越しください。</p>
              </div>
            </div>
          </div>
        </div><!-- /.address-group -->

    </div>
    </div><!-- /#base-container -->

    <?php include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/base-navigation.tpl"); ?>
    <?php include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/base-footer.tpl"); ?>
</div><!-- /#base-page -->
<script>
pageCaseCompetition.conpe201602();
</script>
</body>
</html>
