<?php
$page = array(
    'title' => '掲載企業｜建築会社一覧｜北海道の住まいづくりWeb',
    'discription' => '北海道の住まいづくりWebに掲載している建築会社さまを一覧でご紹介します。',
);
include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/head.tpl");
?>
</head>



<body>
<div id="base-page" class="base-type-company">
    <?php include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/base-header.tpl"); ?>

    <div id="base-container">

        <div id="base-container-head">
            <ul class="p-breadcrumb-list">
                <li class="p-breadcrumb-list-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/" itemprop="url"><span itemprop="title">トップページ</a></li>
                <li class="p-breadcrumb-list-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/company/" itemprop="url"><span itemprop="title">掲載企業</a></li>
                <li class="p-breadcrumb-list-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title">建築会社：一覧</span></li>
            </ul>

            <div class="p-company-hero-group">
                <p class="p-company-hero-heading-1"><img src="/company/img/hero-txt-1.png" alt="掲載企業"></p>
            </div>

            <div class="p-company-categories-group">
                <ul class="p-company-categories-list">
                    <li class="p-company-categories-list-item type-build is-active"><a href="/company/">建築会社</a></li>
                    <li class="p-company-categories-list-item type-reform"><a href="/company/reform/">リフォーム</a></li>
                    <li class="p-company-categories-list-item type-outdoor"><a href="/company/outdoor/">外構</a></li>
                    <li class="p-company-categories-list-item type-club-s"><a href="/company/club-s/">club-s</a></li>
                </ul>
            </div>
        </div><!-- /#base-container-head -->


        <div id="base-content">
            <?php $const_page = "list-0"; include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/company/construction-search-navi.tpl"); ?>

            <div class="p-company-panel-group">
                <ul class="p-company-panel-list">
                    <li class="p-company-panel-list-item">
                        <a href="/company/construction/list-1.html#page-architech-planning">
                            <span class="type-label"><img src="/resources/img/company/architech-planning-logo-1.png" alt="アーキテックプランニング"></span>
                            <span class="type-image"><img src="/resources/img/company/architech-planning-ph-1.jpg" alt=""></span>
                            <span class="type-tag"><span class="type-wood-frame">木造軸組</span></span>
                        </a>
                    </li>
                    <li class="p-company-panel-list-item">
                        <a href="/company/construction/list-1.html#page-eyefulhome">
                            <span class="type-label"><img src="/resources/img/company/eyefulhome-logo-1.png" alt="アイフルホーム（アリビオ）"></span>
                            <span class="type-image"><img src="/resources/img/company/eyefulhome-ph-1.jpg" alt=""></span>
                            <span class="type-tag"><span class="type-wood-frame">木造軸組</span></span>
                        </a>
                    </li>
                    <li class="p-company-panel-list-item">
                        <a href="/company/construction/list-1.html#page-airisuhome">
                            <span class="type-label"><img src="/resources/img/company/iris-logo-1.png" alt="アイリスホーム"></span>
                            <span class="type-image"><img src="/resources/img/company/iris-ph-1.jpg" alt=""></span>
                            <span class="type-tag"><span class="type-wood-frame">木造軸組</span></span>
                        </a>
                    </li>
                    <li class="p-company-panel-list-item">
                        <a>
                            <span class="type-label"><img src="/resources/img/company/i-llhome-logo-1.png" alt="アイルホーム"></span>
                            <span class="type-image"><img src="/resources/img/company/i-llhome-ph-1.jpg" alt=""></span>
                            <span class="type-tag">&nbsp;</span>
                        </a>

                    </li>
                    <li class="p-company-panel-list-item">
                        <a href="/company/construction/list-1.html#page-owlloghomes">
                            <span class="type-label"><img src="/resources/img/company/owl-log-homes-logo-1.png" alt="アウルログホームズ"></span>
                            <span class="type-image"><img src="/resources/img/company/owl-log-homes-ph-1.jpg" alt=""></span>
                            <span class="type-tag"><span class="type-log-sets">丸太組構法</span></span>
                        </a>
                    </li>
                    <li class="p-company-panel-list-item">
                        <a href="/company/construction/list-1.html#page-aerhome">
                            <span class="type-label"><img src="/resources/img/company/aer-home-logo-1.png" alt="アエルホーム"></span>
                            <span class="type-image"><img src="/resources/img/company/aer-home-ph-1.jpg" alt=""></span>
                            <span class="type-tag"><span class="type-wood-frame">木造軸組</span></span>
                        </a>
                    </li>
                    <li class="p-company-panel-list-item">
                        <a href="/company/construction/list-1.html#page-assisthome">
                            <span class="type-label"><img src="/resources/img/company/assist-home-logo-1.png" alt="アシスト企画"></span>
                            <span class="type-image"><img src="/resources/img/company/assist-home-ph-1.jpg" alt=""></span>
                            <span class="type-tag"><span class="type-wood-frame">木造軸組</span></span>
                        </a>
                    </li>
                    <li class="p-company-panel-list-item">
                        <a href="/company/construction/list-1.html#page-atelierd">
                            <span class="type-label"><img src="/resources/img/company/atelier-d-logo-1.png" alt="ATELIER.D"></span>
                            <span class="type-image"><img src="/resources/img/company/atelier-d-ph-1.jpg" alt=""></span>
                            <span class="type-tag"><span class="type-wood-frame">木造軸組</span></span>
                        </a>
                    </li>
                    <li class="p-company-panel-list-item">
                        <a href="/company/construction/list-1.html#page-yesrehome">
                            <span class="type-label"><img src="/resources/img/company/yes-reform-logo-1.png" alt="イエスリホーム（コーディ株式会社）"></span>
                            <span class="type-image"><img src="/resources/img/company/yes-reform-ph-1.jpg" alt=""></span>
                            <span class="type-tag"><span class="type-wood-frame">木造軸組</span></span>
                        </a>
                    </li>
                    <li class="p-company-panel-list-item">
                        <a href="/company/construction/list-1.html#page-ineshome">
                            <span class="type-label"><img src="/resources/img/company/ines-home-logo-1.png" alt="イネスホーム"></span>
                            <span class="type-image"><img src="/resources/img/company/ines-home-ph-1.jpg" alt=""></span>
                            <span class="type-tag"><span class="type-wood-frame">木造軸組</span></span>
                        </a>
                    </li>
                    <li class="p-company-panel-list-item">
                        <a href="/company/construction/list-1.html#page-iwakurahome">
                            <span class="type-label"><img src="/resources/img/company/iwakura-home-logo-1.png" alt="イワクラホーム"></span>
                            <span class="type-image"><img src="/resources/img/company/iwakura-home-ph-1.jpg" alt=""></span>
                            <span class="type-tag"><span class="type-2x4">2×4</span></span>
                        </a>
                    </li>
                    <li class="p-company-panel-list-item">
                        <a href="/company/construction/list-1.html#page-uchiike">
                            <span class="type-label"><img src="/resources/img/company/uchiike-logo-1.png" alt="内池建設"></span>
                            <span class="type-image"><img src="/resources/img/company/uchiike-ph-1.jpg" alt=""></span>
                            <span class="type-tag"><span class="type-wood-frame">木造軸組</span></span>
                        </a>
                    </li>
                    <li class="p-company-panel-list-item">
                        <a href="/company/construction/list-1.html#page-ecoahouse">
                            <span class="type-label"><img src="/resources/img/company/ecoa-house-logo-1.png" alt="ecoaハウス"></span>
                            <span class="type-image"><img src="/resources/img/company/ecoa-house-ph-1.jpg" alt=""></span>
                            <span class="type-tag"><span class="type-2x6">2×6</span></span>
                        </a>
                    </li>
                    <li class="p-company-panel-list-item">
                        <a href="/company/construction/list-1.html#page-fphome">
                            <span class="type-label"><img src="/resources/img/company/fphome-logo-1.png" alt="FPホーム"></span>
                            <span class="type-image"><img src="/resources/img/company/fphome-ph-1.jpg" alt=""></span>
                            <span class="type-tag"><span class="type-wood-frame">木造軸組</span></span>
                        </a>
                    </li>
                    <li class="p-company-panel-list-item">
                        <a href="/company/construction/list-1.html#page-oooka">
                            <span class="type-label"><img src="/resources/img/company/oooka-logo-1.png" alt="大岡産業"></span>
                            <span class="type-image"><img src="/resources/img/company/oooka-ph-1.jpg" alt=""></span>
                            <span class="type-tag"><span class="type-wood-frame">木造軸組</span></span>
                        </a>
                    </li>
                    <li class="p-company-panel-list-item">
                        <a href="/company/construction/list-1.html#page-okuno">
                            <span class="type-label"><img src="/resources/img/company/okuno-logo-1.png" alt="奥野工務店"></span>
                            <span class="type-image"><img src="/resources/img/company/okuno-ph-1.jpg" alt=""></span>
                            <span class="type-tag"><span class="type-wood-frame">木造軸組</span></span>
                        </a>
                    </li>
                    <li class="p-company-panel-list-item">
                        <a href="/company/construction/list-2.html#page-qulios">
                            <span class="type-label"><img src="/resources/img/company/qulios-logo-1.png" alt="クリオスの家（豊栄建設2×6パネル事業部）"></span>
                            <span class="type-image"><img src="/resources/img/company/qulios-ph-1.jpg" alt=""></span>
                            <span class="type-tag"><span class="type-2x6">2×6</span></span>
                        </a>
                    </li>
                    <li class="p-company-panel-list-item">
                        <a href="/company/construction/list-2.html#page-kotobuki">
                            <span class="type-label"><img src="/resources/img/company/kotobuki-logo-1.png" alt="寿建設"></span>
                            <span class="type-image"><img src="/resources/img/company/kotobuki-ph-1.jpg" alt=""></span>
                            <span class="type-tag"><span class="type-2x6">2×6</span></span>
                        </a>
                    </li>
                    <li class="p-company-panel-list-item">
                        <a href="/company/construction/list-3.html#page-satto">
                            <span class="type-label"><img src="/resources/img/company/satto-logo-1.png" alt="札都"></span>
                            <span class="type-image"><img src="/resources/img/company/satto-ph-1.jpg" alt=""></span>
                            <span class="type-tag"><span class="type-wood-frame">木造軸組</span></span>
                        </a>
                    </li>
                    <li class="p-company-panel-list-item">
                        <a href="/company/construction/list-3.html#page-shinozaki">
                            <span class="type-label"><img src="/resources/img/company/shinozaki-logo-1.png" alt="シノザキ建築事務所"></span>
                            <span class="type-image"><img src="/resources/img/company/shinozaki-ph-1.jpg" alt=""></span>
                            <span class="type-tag"><span class="type-wood-frame">木造軸組</span></span>
                        </a>
                    </li>
                    <li class="p-company-panel-list-item">
                        <a href="/company/construction/list-3.html#page-thenewhousingplancreation">
                            <span class="type-label"><img src="/resources/img/company/new-housing-plan-creatioon-logo-1.png" alt="住宅企画クリエーション"></span>
                            <span class="type-image"><img src="/resources/img/company/new-housing-plan-creatioon-ph-1.jpg" alt=""></span>
                            <span class="type-tag"><span class="type-wood-frame">木造軸組</span></span>
                        </a>
                    </li>
                    <li class="p-company-panel-list-item">
                        <a href="/company/construction/list-3.html#page-joyfullhome">
                            <span class="type-label"><img src="/resources/img/company/joyfull-home-logo-1.png" alt="ジョイフルホーム"></span>
                            <span class="type-image"><img src="/resources/img/company/joyfull-home-ph-1.jpg" alt=""></span>
                            <span class="type-tag"><span class="type-wood-frame">木造軸組</span></span>
                        </a>
                    </li>
                    <li class="p-company-panel-list-item">
                        <a href="/company/construction/list-3.html#page-sumainokumazawa">
                            <span class="type-label"><img src="/resources/img/company/kuwazawa-logo-1.png" alt="住まいのクワザワ"></span>
                            <span class="type-image"><img src="/resources/img/company/kuwazawa-ph-1.jpg" alt=""></span>
                            <span class="type-tag"><span class="type-2x4">2×4</span></span>
                        </a>
                    </li>
                    <li class="p-company-panel-list-item">
                        <a href="/company/construction/list-3.html#page-sekisuihaimu">
                            <span class="type-label"><img src="/resources/img/company/sekisui-heim-logo-1.png" alt="北海道セキスイハイム"></span>
                            <span class="type-image"><img src="/resources/img/company/sekisui-heim-ph-1.jpg" alt=""></span>
                            <span class="type-tag"><span class="type-steel-frame">鉄骨造</span></span>
                        </a>
                    </li>
                    <li class="p-company-panel-list-item">
                        <a href="/company/construction/list-3.html#page-sekisuihouse">
                            <span class="type-label"><img src="/resources/img/company/sekisui-house-logo-1.png" alt="積水ハウス"></span>
                            <span class="type-image"><img src="/resources/img/company/sekisui-house-ph-1.jpg" alt=""></span>
                            <span class="type-tag"><span class="type-steel-frame">鉄骨造</span></span>
                        </a>
                    </li>
                    <li class="p-company-panel-list-item">
                        <a href="/company/construction/list-4.html#page-taishinhome">
                            <span class="type-label"><img src="/resources/img/company/daishin-logo-1.png" alt="大進ホーム"></span>
                            <span class="type-image"><img src="/resources/img/company/daishin-ph-1.jpg" alt=""></span>
                            <span class="type-tag"><span class="type-wood-frame">木造軸組</span></span>
                        </a>
                    </li>
                    <li class="p-company-panel-list-item">
                        <a href="/company/construction/list-4.html#page-taiheiyokengyo">
                            <span class="type-label"><img src="/resources/img/company/taiheiyo-logo-1.png" alt="大平洋建業"></span>
                            <span class="type-image"><img src="/resources/img/company/taiheiyo-ph-1.jpg" alt=""></span>
                            <span class="type-tag"><span class="type-wood-frame">木造軸組</span></span>
                        </a>
                    </li>
                    <li class="p-company-panel-list-item">
                        <a href="/company/construction/list-4.html#page-daiwahouse">
                            <span class="type-label"><img src="/resources/img/company/daiwahouse-logo-1.png" alt="大和ハウス工業"></span>
                            <span class="type-image"><img src="/resources/img/company/daiwahouse-ph-1.jpg" alt=""></span>
                            <span class="type-tag"><span class="type-steel-frame">鉄骨造</span></span>
                        </a>
                    </li>
                    <li class="p-company-panel-list-item">
                        <a href="/company/construction/list-4.html#page-takeuchi">
                            <span class="type-label"><img src="/resources/img/company/takeuchi-logo-1.png" alt="竹内建設"></span>
                            <span class="type-image"><img src="/resources/img/company/takeuchi-ph-1.jpg" alt=""></span>
                            <span class="type-tag"><span class="type-wood-frame">木造軸組</span></span>
                        </a>
                    </li>
                    <li class="p-company-panel-list-item">
                        <a href="/company/construction/list-4.html#page-takken">
                            <span class="type-label"><img src="/resources/img/company/takken-logo-1.png" alt="匠建コーポレーション"></span>
                            <span class="type-image"><img src="/resources/img/company/takken-ph-1.jpg" alt=""></span>
                            <span class="type-tag"><span class="type-wood-frame">木造軸組</span></span>
                        </a>
                    </li>
                    <li class="p-company-panel-list-item">
                        <a href="/company/construction/list-4.html#page-tsuchiyahome">
                            <span class="type-label"><img src="/resources/img/company/tsuchiya-logo-1.png" alt="土屋ホーム"></span>
                            <span class="type-image"><img src="/resources/img/company/tsuchiya-ph-1.jpg" alt=""></span>
                            <span class="type-tag"><span class="type-wood-frame">木造軸組</span></span>
                        </a>
                    </li>
                    <li class="p-company-panel-list-item">
                        <a href="/company/construction/list-4.html#page-tsubasakoumu">
                            <span class="type-label"><img src="/resources/img/company/tsubasa-logo-1.png" alt="翼工務"></span>
                            <span class="type-image"><img src="/resources/img/company/tsubasa-ph-1.jpg" alt=""></span>
                            <span class="type-tag"><span class="type-wood-frame">木造軸組</span></span>
                        </a>
                    </li>
                    <li class="p-company-panel-list-item">
                        <a href="/company/construction/list-5.html#page-nishioka">
                            <span class="type-label"><img src="/resources/img/company/nishioka-logo-1.png" alt="西岡建設"></span>
                            <span class="type-image"><img src="/resources/img/company/nishioka-ph-1.jpg" alt=""></span>
                            <span class="type-tag"><span class="type-wood-frame">木造軸組</span></span>
                        </a>
                    </li>
                    <li class="p-company-panel-list-item">
                        <a href="/company/construction/list-5.html#page-nihonhouse">
                            <span class="type-label"><img src="/resources/img/company/nippon-house-logo-1.png" alt="日本ハウスホールディングス"></span>
                            <span class="type-image"><img src="/resources/img/company/nippon-house-ph-1.jpg" alt=""></span>
                            <span class="type-tag"><span class="type-wood-frame">木造軸組</span></span>
                        </a>
                    </li>
                    <li class="p-company-panel-list-item">
                        <a href="/company/construction/list-6.html#page-hisasuekoshin">
                            <span class="type-label"><img src="/resources/img/company/hisauke-logo-1.png" alt="久末弘信建設"></span>
                            <span class="type-image"><img src="/resources/img/company/hisauke-ph-1.jpg" alt=""></span>
                            <span class="type-tag"><span class="type-wood-frame">木造軸組</span></span>
                        </a>
                    </li>
                    <li class="p-company-panel-list-item">
                        <a href="/company/construction/list-6.html#page-hiyama">
                            <span class="type-label"><img src="/resources/img/company/hiyama-logo-1.png" alt="桧山建設綜業"></span>
                            <span class="type-image"><img src="/resources/img/company/hiyama-ph-1.jpg" alt=""></span>
                            <span class="type-tag"><span class="type-wood-frame">木造軸組</span></span>
                        </a>
                    </li>
                    <li class="p-company-panel-list-item">
                        <a href="/company/construction/list-6.html#page-prudencehome">
                            <span class="type-label"><img src="/resources/img/company/prudence-home-logo-1.png" alt="プルーデンスホーム"></span>
                            <span class="type-image"><img src="/resources/img/company/prudence-home-ph-1.jpg" alt=""></span>
                            <span class="type-tag"><span class="type-importation">輸入住宅</span></span>
                        </a>
                    </li>
                    <li class="p-company-panel-list-item">
                        <a href="/company/construction/list-6.html#page-homekikaku">
                            <span class="type-label"><img src="/resources/img/company/home-planning-logo-1.png" alt="ホーム企画センター"></span>
                            <span class="type-image"><img src="/resources/img/company/home-planning-ph-1.jpg" alt=""></span>
                            <span class="type-tag"><span class="type-wood-frame">木造軸組</span></span>
                        </a>
                    </li>
                    <li class="p-company-panel-list-item">
                        <a href="/company/construction/list-6.html#page-houei">
                            <span class="type-label"><img src="/resources/img/company/hoei-logo-1.png" alt="豊栄建設"></span>
                            <span class="type-image"><img src="/resources/img/company/hoei-ph-1.jpg" alt=""></span>
                            <span class="type-tag"><span class="type-wood-frame">木造軸組</span></span>
                        </a>
                    </li>
                    <li class="p-company-panel-list-item">
                        <a href="/company/construction/list-7.html#page-misawahome">
                            <span class="type-label"><img src="/resources/img/company/misawa-logo-1.png" alt="ミサワホーム北海道"></span>
                            <span class="type-image"><img src="/resources/img/company/misawa-ph-1.jpg" alt=""></span>
                            <span class="type-tag"><span class="type-wood-panel">木質パネル</span></span>
                        </a>
                    </li>
                    <li class="p-company-panel-list-item">
                        <a href="/company/construction/list-7.html#page-mitsuihome">
                            <span class="type-label"><img src="/resources/img/company/mitsui-logo-1.png" alt="三井ホーム"></span>
                            <span class="type-image"><img src="/resources/img/company/mitsui-ph-1.jpg" alt=""></span>
                            <span class="type-tag"><span class="type-2x6">2x6</span></span>
                        </a>
                    </li>
                    <li class="p-company-panel-list-item">
                        <a href="/company/construction/list-8.html#page-universal">
                            <span class="type-label"><img src="/resources/img/company/universal-logo-1.png" alt="ユニバーサルホーム 札幌南店"></span>
                            <span class="type-image"><img src="/resources/img/company/universal-ph-1.jpg" alt=""></span>
                            <span class="type-tag"><span class="type-wood-frame">木造軸組</span></span>
                        </a>
                    </li>
                    <li class="p-company-panel-list-item">
                        <a>
                            <span class="type-label"><img src="/resources/img/company/choei-logo-1.png" alt="CHOEI"></span>
                            <span class="type-image"><img src="/resources/img/company/choei-ph-1.jpg" alt=""></span>
                            <span class="type-tag">&nbsp;</span>
                        </a>
                    </li>
                </ul>
            </div>

            <?php $const_page = "list-0"; include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/company/construction-search-navi.tpl"); ?>
        </div><!-- /#base-content -->



    </div><!-- /#base-container -->

    <?php include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/base-navigation.tpl"); ?>
    <?php include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/base-footer.tpl"); ?>
</div><!-- /#base-page -->
</body>
</html>