<?php
$page = array(
    'title' => '初めての住まいづくりコラム｜北海道の住まいづくりWeb',
    'discription' => '知っておくとトクをする住まいづくりの基本をプロがお教えします！今回はファイナンシャルプランナー五十嵐勉さんから、住宅購入をお考えの方への資金計画のアドバイスです。',
);
include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/head.tpl");
?>
</head>



<body>
<div id="base-page">
    <?php include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/base-header.tpl"); ?>

    <div id="base-container">

        <div id="base-container-head" class="type-column">
            <ul class="p-breadcrumb-list">
                <li class="p-breadcrumb-list-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/" itemprop="url"><span itemprop="title">トップページ</a></li>
                <li class="p-breadcrumb-list-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/column/" itemprop="url"><span itemprop="title">初めての住まいづくりコラム</a></li>
                <li class="p-breadcrumb-list-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title">2015年10月</span></li>
            </ul>

            <div class="p-column-hero-group type-column-201510">
                <div class="p-column-hero-txt">
                    <img src="/column/201510/img/hero-txt-1.png" alt="知っておくとトクをする住まいづくりの基本をプロが教えます！初めての住まいコラム！">
                </div>
                <div class="p-column-hero-message">
                    <img src="/column/201510/img/hero-image-1.png" alt="一級建築士 中島 正晴">
                    <div class="p-column-hero-message-txt">
                        <p>
                            <span class="type-position">一級建築士</span>
                            <span class="type-name">中島 正晴</span>
                        </p>
                        <p class="type-list">住む人が生活を楽しめる家づくりを重視。インテリアコーディネーター、カラーコーディネーターの資格も持ち、遊び心のある仕掛けを取り入れた感性豊かな設計を提案。住宅調査や耐震補強リフォームも得意としている。</p>
                    </div>
                </div>
            </div>
        </div><!-- /#base-container-head -->

        <?php
            $backnumber = array(
                'date' => '201510',
                'case' => 1,
            );
            include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/column/backnumber-group.tpl");
        ?>

        <div id="base-content" class="type-column-201510">
            <div class="p-column-group">
                <h2 class="p-column-heading-1">わくわく住まいづくり</h2>
                <p>「家を建てたいな」と思いはじめてから、実際にハウスメーカーさんと契約をして、完成するまでの1〜2年間。そんなわくわくする家づくりの時間は、家族みんなで行くピクニックに例えることができます。どこに行こうか？ 予算は？用意するものは？ 着いたら、まずは何をしようかな？ ピクニックは、行く前からとても楽しそうですよね。家づくりの場合も、どんな家を、無理のない予算で、どの会社につくってもらおうか？という風に考えるはずです。皆様には、家づくりの過程の楽しさを実感しながら、計画を進めていただきたいなと思います。今回は、楽しいピクニックのような家づくりのポイントを、私がすまいポート21の建築相談・セミナーで対応した数十件の事例から考えてみたいと思います。</p>


                <h2 class="p-column-heading-1"><span>その1</span><br>あなたの理想の家は？</h2>
                <div class="p-column-201510-image-1">
                    <img src="/column/201510/img/ph-1.jpg" alt="シンプルナチュラル。素材から伝わるぬくもり肌でを体感してみてください。">
                    <p>シンプルナチュラル。素材から伝わるぬくもりを肌で体感してみてください。</p>
                </div>
                <p>どのような家がいいか？それはつまり、新しい家で実現したいことは何ですか？ という問いかけです。新しい家への要望は、計画が前に進めば進むほど、次々と出てきます。でも、強く「こうなっていたらいいな」という想いが実現できれば、完成時の感動は言葉で言い表せないものとなるはずです。例えば、自分の好みのテイスト（風味）や、どんな生活（趣味、勉強、料理、遊びなど）をしたいのかという願望。あるいは単純に、今までの家が寒いので、とにかく暖かい家に住みたいという動機も考えられるでしょう。</p>



                <h2 class="p-column-heading-1"><span>その2</span><br>自分の好きなテイストを知る</h2>
                <p>その中でもテイストに合うということは、毎日の生活に直結することですので、とても大切です。自分の好みのテイストを確かめて、プラン提案依頼の時に建築会社の設計者へ、しっかりとそのテイストを伝えることが重要となります。そのためには、何を用意しておくと良いのか？ですが、テイストを表現する言葉を覚えておくと便利です。シンプルモダン、シンプルナチュラル、カントリー、南欧風、北欧風、和モダン、純和風、洋風クラシックなどの言葉とともに、具体的に自分のテイストに合った雑誌の中の写真を切り抜いて、スクラップ帳に貼っておくとよいでしょう。写真は言葉以上に設計者に伝わるので、写真の中のどこが気に入っているところなのかを丸で囲っておくと、さらにわかりやすく安心です。また、自分はどんなテイストがいいのか？を知るためにおすすめなのは、実際に雑誌などを見ていいなと思った住宅メーカーさんのモデルハウスに行ってみることです。百聞は一見にしかずで、体感としてよく理解できるようになります。最近、自然素材を使った家のモデルハウスが多くなってきていますが、そういったモデルハウスでは、スリッパを履かずに歩くよう勧めることもあるようです。見た目だけではなく素材から伝わる温度や感触を体感してもらいたいということでしょう。</p>
                <ul class="p-column-201510-image-list-1">
                    <li><img src="/column/201510/img/ph-2.jpg" alt="シンプルモダン"><span>シンプルモダン</span></li>
                    <li><img src="/column/201510/img/ph-3.jpg" alt="和モダン"><span>和モダン</span></li>
                    <li><img src="/column/201510/img/ph-4.jpg" alt="エレガントモダン"><span>エレガントモダン</span></li>
                    <li><img src="/column/201510/img/ph-5.jpg" alt="北欧風"><span>北欧風</span></li>
                </ul>


                <h2 class="p-column-heading-1"><span>その3</span><br>住まいへの要望をまとめてみよう</h2>

                <div class="p-column-201510-image-1 type-2">
                    <img src="/column/201510/img/image-1.png" alt="">
                    <p>イメージをまとめよう！</p>
                </div>
                <p>新しい家でどんな生活をしたいですか？ とお客様にお聞きすると、その答えは十人十色。</p>
                <ul>
                    <li>友達を呼んでBBQがしたい</li>
                    <li>小学生の娘と料理がしたい</li>
                    <li>家でもダーツゲームをしたい</li>
                    <li>趣味のパッチワークを作る為、床に広げてできる所がほしい</li>
                    <li>食事の後に、外に出てタバコを一服できる小さなバルコニーがダイニング横にあったらいいな</li>
                    <li>家族と一緒の食事の時間を大切にしたい</li>
                    <li>子供が野球チームに入っていて、その優勝トロフィーを飾りたい</li>
                </ul>
                <p>などなど。あとからプラン提案の依頼をする時のために、箇条書きでまとめておくとよいでしょう。同じように、部屋ごとの要望もまとめておくのがおすすめです。</p>
                <ul>
                    <li>階段は居間階段</li>
                    <li>キッチンは対面式で家中見渡せる</li>
                    <li>食器棚は引戸建具式</li>
                    <li>食卓テーブルはキッチンの横へ</li>
                    <li>食品庫（パントリー）がほしい</li>
                    <li>脱衣室と洗面は分ける</li>
                    <li>寝室にウォークインクローゼット</li>
                    <li>玄関にはシューズクローク</li>
                    <li>居間にはおもちゃ収納がほしい</li>
                    <li>ダイニングにもテレビ</li>
                </ul>
                <p>こちらも箇条書きで書いておくことで、要点を整理できます。設計者は強い要望と細かな要望のすべてを聞かせていただき、頭の中でいろいろと家の設計テーマなどを考えて提案を行います。</p>



                <h2 class="p-column-heading-1"><span>その4</span><br>建物の基本性能について</h2>
                <p>今までの生活で何か困っていたことがあって、新しい家で解決したいことはありますか？ とお聞きすると「とにかく今の家は結露もするし、寒いので暖かい家にしたい」「陽光の入る明るい家にしたい」と答える方が多いです。先ほどの「新しい家で実現したいこと」リストの中に忘れずに入れておくとよいでしょう。<br>また、建物の基本性能には、省エネルギー性能、地震への強さを表す耐震性能等があります。どの性能にどれだけの予算を配分すべきかといったバランスについては、ぜひ建築士のアドバイスを聞いてみてください。</p>

                <div class="p-column-201510-tips-1">
                    <p class="type-heading">一般的な基本性能の標準</p>
                    <p class="type-txt">一般的に基本性能の標準は、平成25年省エネルギー基準であり、建築基準法レベルの耐震等級１です。さらに省エネグレードには、平成25年省エネ基準の一次エネルギー消費量の１０％ダウン以上のレベルやゼロエネルギー住宅レベルといったグレードも存在します。耐震性能は等級1のときの1.25倍の等級2、1.5倍の等級3まであります。認定低炭素住宅は10％ダウン以上の省エネ。長期優良住宅は耐震等級２以上です。</p>
                </div>


                <h2 class="p-column-heading-1"><span>その5</span><br>予算計画と会社選びのポイント</h2>
                <p>予算に関しては、無理のない予算計画のためにも、不動産の専門家・ファイナンシャルプランナー・建築士と相談して、初期から検討することが大切です。住宅メーカーによっては、専門家をそろえているところもありますが、すまいポート21には3種の専門家が連携を密にしてアドバイスできる体制となっていますので、ご利用をおすすめしています。建築会社選びのポイントは、自分の好みのテイストを実現してもらえそうか？ 標準的な仕様と標準的な施工費用は？ 要望をしっかり聞いて設計できる設計力は？施工管理は？ メンテナンスへの対応は？ といったものが挙げられます。その中でも、設計力については実際にプラン提案をしてもらって初めてわかってきます。<br>同じ要望でも、各社でこれだけ違う提案があるんだなと実感できることと思います。</p>
                <img class="type-center-image" src="/column/201510/img/image-2.png" alt="">
                <p class="u-txt-center">私たちが連携してお客様に無理のない予算計画をご提案致します。</p>


                <h2 class="p-column-heading-3">最後に、わくわくする夢のマイホームづくりについてまとめてみます。</h2>
                <div class="p-column-201510-last">
                    <ul>
                        <li>自分の好みのテイストを事前に知ること</li>
                        <li>実現したい夢を明確にすること</li>
                        <li>基本性能について建築士から性能設定のアドバイスを受けて設定すること</li>
                        <li>設計要望を気になっている会社に細かく伝えて設計提案を受けること</li>
                        <li>候補に絞った会社のモデルハウスの再訪問などを通して、会社の雰囲気や施工のしっかり度を見ること</li>
                        <li>実際に設計提案してもらったプランで、自分や家族が実現したいことが十分に実現できているかを確認すること</li>
                        <li>本契約までにさらにプランを煮詰めて、納得いくプランとすること</li>
                        <li>施工中は時々現場に行って、工事のチェックについて説明を受けること</li>
                    </ul>
                    <p>朝起きて部屋を見渡すのが楽しい！ 家の掃除までも楽しい！ 友達を呼びたくなる！<br>そんな自分と家族の夢をかなえた注文住宅の感動はひとしおです。<br>ぜひ私と一緒に、わくわくする家づくりを考えてみませんか。</p>
                </div>
            </div>
        </div><!-- /#base-content -->

    </div><!-- /#base-container -->

    <?php include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/base-navigation.tpl"); ?>
    <?php include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/base-footer.tpl"); ?>
</div><!-- /#base-page -->
</body>
</html>