<?php
$page = array(
    'title' => 'リフォーム会社一覧｜掲載企業｜北海道の住まいづくりWeb',
    'discription' => '北海道の住まいづくりWebに掲載しているリフォーム会社さまを一覧でご紹介します。',
);
include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/head.tpl");
?>
</head>



<body>
<div id="base-page" class="base-type-company">
    <?php include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/base-header.tpl"); ?>

    <div id="base-container">

        <div id="base-container-head">
            <ul class="p-breadcrumb-list">
                <li class="p-breadcrumb-list-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/" itemprop="url"><span itemprop="title">トップページ</a></li>
                <li class="p-breadcrumb-list-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/company/" itemprop="url"><span itemprop="title">掲載企業</a></li>
                <li class="p-breadcrumb-list-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title">リフォーム</span></li>
            </ul>

            <div class="p-company-hero-group">
                <p class="p-company-hero-heading-1"><img src="/company/img/hero-txt-1.png" alt="掲載企業"></p>
            </div>




            <div class="p-company-categories-group">
                <ul class="p-company-categories-list">
                    <li class="p-company-categories-list-item type-build"><a href="/company/">建築会社</a></li>
                    <li class="p-company-categories-list-item type-reform is-active"><a href="/company/reform/">リフォーム</a></li>
                    <li class="p-company-categories-list-item type-outdoor"><a href="/company/outdoor/">外構</a></li>
                    <li class="p-company-categories-list-item type-club-s"><a href="/company/club-s/">club-s</a></li>
                </ul>
            </div>
        </div><!-- /#base-container-head -->



<div id="base-content">

        <div class="p-company-item">
            <div class="p-company-item-info">
                <p class="type-logo"><img src="/company/reform/img/detail/yes-logo-1.png" alt="イエスリホーム（コーディ株式会社）"></p>
                <p class="type-name">イエスリホーム（コーディ株式会社）</p>
                <p class="type-heading">〈アフターサービス〉</p>
                <dl>
                    <dd>随時対応</dd>
                </dl>
                <p class="type-heading">〈昨年度の受注数〉</p>
                <dl>
                    <dd>1,600件</dd>
                </dl>
            </div>
            <div class="p-company-item-detail">
                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="/company/reform/img/detail/yes-image-1.jpg" alt="専門家が建物を詳しく調査する「建物診断」"></div>
                    <p class="type-heading u-txt-brown">リノベーション</p>
                    <p class="type-heading-weak">専門家が建物を詳しく調査する「建物診断」</p>
                    <p class="type-txt">当社ではリフォーム・リノベーションを行う際に「建物診断」というサービスを行っています。「建物診断」とは専門家が劣化状況について調査を行い、欠陥の有無や補修すべき箇所などを客観的に診断します。<br>リフォーム・リノベーションを行う際、建物内部のことが事前に分かっているため、状況に応じたプランニングをお客様へ提案することができます。</p>
                </div>
                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="/company/reform/img/detail/yes-image-2.jpg" alt="ショールーム"></div>
                    <p class="type-heading u-txt-brown">ショールーム</p>
                    <p class="type-heading-weak">住まいと暮らしの総合提案施設</p>
                    <p class="type-txt">札幌市において、中央区（イエイエパークセントラル）、厚別区（イエイエパークイースト）と２か所のショールームを運営しています。メーカーの一般的なショールームとは違い、「住まいと暮らしの総合提案施設」となっています。お勧めのリフォーム素材を手にとって、見てみて、理想のリフォームを描いてください。</p>
                </div>
            </div>
        </div>


        <div class="p-company-item">
            <div class="p-company-item-info">
                <p class="type-logo"><img src="/company/reform/img/detail/iwakura-logo-1.png" alt="イワクラホーム"></p>
                <p class="type-name">イワクラホーム</p>
                <p class="type-heading">〈アフターサービス〉</p>
                <dl>
                    <dd>随時対応</dd>
                </dl>
                <p class="type-heading">〈昨年度の受注数〉</p>
                <dl>
                    <dd>約2,000件</dd>
                </dl>
            </div>
            <div class="p-company-item-detail">
                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="/company/reform/img/detail/iwakura-image-1.jpg" alt="イワクラホーム株式会社"></div>
                    <p class="type-heading u-txt-brown">会社紹介</p>
                    <p class="type-heading-weak">北海道のお住まいをみつめて44年安心の<br>リフォームをご提供いたします。</p>
                    <p class="type-txt">弊社はイワクラホーム株式会社のリフォームを専門に扱う部署であり、長年培ってきた経験と技術力で安心のご提案をいたします。また、リフォーム相談会も定期的に実施しておりますので、くわしくは弊社HPをご覧ください。スタッフ一同お待ちいたしております。</p>
                </div>
                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="/company/reform/img/detail/iwakura-image-2.jpg" alt="全体リフォームパック"></div>
                    <p class="type-heading u-txt-brown">全体リフォームパック</p>
                    <p class="type-heading-weak">北海道を知りつくしたイワクラホームこだわりの<br>全体リフォームパック『家自慢』！</p>
                    <p class="type-txt">大切なご家族の健やかな暮らしと、快適な住まいを実現するために生まれたお得な全体リフォームパック『家自慢』。<br>断熱性能と耐震補強に特に力点を置き、永く安心してお使い頂けるお住まいに生まれ変わります。興味のある方はお気軽にお問合せください。</p>
                </div>
            </div>
        </div>

        <div class="p-company-item">
            <div class="p-company-item-info">
                <p class="type-logo"><img src="/company/reform/img/detail/fphome-logo-1.png" alt="FPホーム"></p>
                <p class="type-name">FPホーム</p>
                <p class="type-heading">〈アフターサービス〉</p>
                <dl>
                    <dd>随時対応（工事の内容による）</dd>
                </dl>
                <p class="type-heading">〈昨年度の受注数〉</p>
                <dl>
                    <dd>約1,000件</dd>
                </dl>
            </div>
            <div class="p-company-item-detail">
                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="/company/reform/img/detail/fphome-image-1.jpg" alt="「ココロイキさん」を作業服に背負ったスタッフがお伺いします。"></div>
                    <p class="type-heading u-txt-brown">会社紹介</p>
                    <p class="type-heading-weak">お客様に喜んでいただくために、<br>全力で対応させていただきます</p>
                    <p class="type-txt">知識と経験でお客様に合った最善のリフォームを見つけるべく、「ココロイキさん」を作業服に背負ったスタッフがお伺いします。「どこに頼んでいいかわからない」そんな時は私たちFPホームへご相談ください。</p>
                </div>
                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="/company/reform/img/detail/fphome-image-2.jpg" alt="ショールーム"></div>
                    <p class="type-heading u-txt-brown">ショールーム</p>
                    <p class="type-heading-weak">私たちは家づくりを通してお客様に<br>笑顔をお届けする事を実現します。</p>
                    <p class="type-txt">中古住宅、リフォーム、リノベーション、メンテナンスなど【住宅】に関することは全てワンストップサービスで対応できます。小さな悩みでもお気軽にご相談ください。当社ショールームにもお気軽にお立ち寄りください。　</p>
                </div>
            </div>
        </div>

        <div class="p-company-item">
            <div class="p-company-item-info">
                <p class="type-logo"><img src="/company/reform/img/detail/okuno-logo-1.png" alt="奥野工務店"></p>
                <p class="type-name">奥野工務店</p>
                <p class="type-heading">〈アフターサービス〉</p>
                <dl>
                    <dd>随時対応</dd>
                </dl>
                <p class="type-heading">〈昨年度の受注数〉</p>
                <dl>
                    <dd>新築7棟<br>リフォーム2棟</dd>
                </dl>
            </div>
            <div class="p-company-item-detail">
                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="/company/reform/img/detail/okuno-image-1.jpg" alt="リフォーム"></div>
                    <p class="type-heading u-txt-brown">リフォーム</p>
                    <p class="type-heading-weak">リピータが営業経費を<br>かけなくて済むリフォーム</p>
                    <p class="type-txt">OB様のみで、リフォーム工事の9割。今年で創業46年、「耐震性・高性能」の家づくりを目指しています。新築時で高性能の建物が出来ない業者に「あったか・頑丈」リフォームは出来ません。リフォームを相談されるときには、ぜひ新築での性能を尋ねてください。失敗しないリフォームのコツです。</p>
                </div>
                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="/company/reform/img/detail/okuno-image-2.jpg" alt="断熱"></div>
                    <p class="type-heading u-txt-brown">断熱</p>
                    <p class="type-heading-weak">リフォームの目的によっての業者選び</p>
                    <p class="type-txt">今は増築したいという要望はほとんどなく逆に減築（小さくする）して省エネにしたいと相談される方が多いです。暖かくしたいリフォームが一番難しいです。力任せの暖房による暖かさは不快です。あったかリフォームはぜひ当社に。</p>
                </div>
            </div>
        </div>

        <div class="p-company-item">
            <div class="p-company-item-info">
                <p class="type-logo"><img src="/company/reform/img/detail/jutaku-kikaku-logo-1.png" alt="住宅企画クリエーション"></p>
                <p class="type-name">住宅企画クリエーション</p>
                <p class="type-heading">〈アフターサービス〉</p>
                <dl>
                    <dd>随時対応</dd>
                </dl>
                <p class="type-heading">〈昨年度の受注数〉</p>
                <dl>
                    <dd>20件</dd>
                </dl>
            </div>
            <div class="p-company-item-detail">
                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="/company/reform/img/detail/jutaku-kikaku-image-1.jpg" alt="内装だけでも好きな空間にしてみませんか"></div>
                    <p class="type-heading u-txt-brown">リノベーション</p>
                    <p class="type-heading-weak">内装だけでも好きな空間にしてみませんか</p>
                    <p class="type-txt">ライフスタイルのトータル提案をしている弊社は建物だけでなく、暮らしてからの充実感にも力を入れており、好きな空間や好きなものに囲まれての暮らしに対して提案がもっとあっても良いと思っています。</p>
                </div>
                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="/company/reform/img/detail/jutaku-kikaku-image-2.jpg" alt="素敵な世界観、作ってみませんか"></div>
                    <p class="type-heading u-txt-brown">店舗</p>
                    <p class="type-heading-weak">素敵な世界観、作ってみませんか</p>
                    <p class="type-txt">住宅だけでなく、店舗併用や店舗のみのお客様も是非一度ショールーム=LABOにお立ち寄り下さい。きっとヒントになるものがあると思います。特にインダストリアルやナチュラルモダンのスタイルを多く手掛けています。</p>
                </div>
            </div>
        </div>

        <div class="p-company-item">
            <div class="p-company-item-info">
                <p class="type-logo"><img src="/company/reform/img/detail/sumaiport-logo-1.png" alt="住まいのサポート21"></p>
                <p class="type-name">住まいのサポート21</p>
                <p class="type-heading">〈アフターサービス〉</p>
                <dl>
                    <dd>随時速やかに対応いたします<br>（工事内容による）</dd>
                </dl>
                <p class="type-heading">〈昨年度の受注数〉</p>
                <dl>
                    <dd>約350件</dd>
                </dl>
            </div>
            <div class="p-company-item-detail">
                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="/company/reform/img/detail/sumaiport-image-1.jpg" alt="住まいのことなら何でもご相談ください。"></div>
                    <p class="type-heading u-txt-brown">会社紹介</p>
                    <p class="type-heading-weak">創業17年、地域に根ざした地元密着型の総合リフォーム</p>
                    <p class="type-txt">当社は厚別・清田地域をメインにしており、年間施工実績の約90％をその地域で占めております。HPには代表の住所や携帯番号を記載し、お客様からの信頼を一番に考えております。住まいのことなら何でもご相談ください。</p>
                </div>
                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="/company/reform/img/detail/sumaiport-image-2.jpg" alt="にっこりパック577万円など、様々なプランをご用意"></div>
                    <p class="type-heading u-txt-brown">にっこりパック</p>
                    <p class="type-heading-weak">にっこりパック577万円など、様々なプランをご用意</p>
                    <p class="type-txt">洗面所・和室・玄関ホール・外観・水廻り・リビング・洋室をセットにした「にっこりパック」。その他「水廻り4点セット」や「あったか断熱パック」もご用意しております。またパナソニックの「わが家見なおし隊」に加盟しているので、水廻りの施工実績も豊富です。</p>
                </div>
            </div>
        </div>

        <div class="p-company-item">
            <div class="p-company-item-info">
                <p class="type-logo"><img src="/company/reform/img/detail/famies-logo-1.png" alt="セキスイファミエス"></p>
                <p class="type-name">セキスイファミエス</p>
                <p class="type-heading">〈アフターサービス〉</p>
                <dl>
                    <dd>随時対応</dd>
                </dl>
                <p class="type-heading">〈昨年度の受注数〉</p>
                <dl>
                    <dd>4,000棟</dd>
                </dl>
            </div>
            <div class="p-company-item-detail">
                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="/company/reform/img/detail/famies-image-1.jpg" alt="セキスファミエスは、積水化学グループの住宅リフォーム専門会社です"></div>
                    <p class="type-heading u-txt-brown">会社紹介</p>
                    <p class="type-heading-weak">セキスファミエスは、積水化学グループの<br>住宅リフォーム専門会社です</p>
                    <p class="type-txt">大切な住まいをいつまでも美しく保ち、今よりもっと心地よい暮らしをかなえていただくために。セキスイファミエスは住まいのメーカー・セキスイハイムのオーナー様のリフォームを中心に、安心と満足をお届けいたします。</p>
                </div>
                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="/company/reform/img/detail/famies-image-2.jpg" alt="的確なアドバイスと安心のアフターフォロー"></div>
                    <p class="type-heading u-txt-brown">アフターフォロー</p>
                    <p class="type-heading-weak">的確なアドバイスと安心のアフターフォロー</p>
                    <p class="type-txt">お客様との窓口となる営業担当は一人ひとりがプランナー。豊富な知識とスキルにより、プロならではの目線で、お客様のご要望に敏速かつ的確にお応えします。又、リフォーム後の住いもしっかりサポートします。お引渡しから1年後に無料点検を実施。瑕疵保証基準に基づき、無償で補修や部品交換に対応します。安心してお任せいただけます。</p>
                </div>
            </div>
        </div>

        <div class="p-company-item">
            <div class="p-company-item-info">
                <p class="type-logo"><img src="/company/reform/img/detail/takeuchi-logo-1.png" alt="竹内建設"></p>
                <p class="type-name">竹内建設</p>
                <p class="type-heading">〈アフターサービス〉</p>
                <dl>
                    <dd>随時対応</dd>
                </dl>
                <p class="type-heading">〈昨年度の受注数〉</p>
                <dl>
                    <dd>618件</dd>
                </dl>
            </div>
            <div class="p-company-item-detail">
                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="/company/reform/img/detail/takeuchi-image-1.jpg" alt="「住まいのプロホームウェル」に加盟しています"></div>
                    <p class="type-heading u-txt-brown">会社紹介</p>
                    <p class="type-heading-weak">「住まいのプロホームウェル」に加盟しています</p>
                    <p class="type-txt">竹内建設は、住宅建材・設備のトータルメーカーLIXILのフランチャイズチェーン「住まいのプロホームウェル」の加盟店です。ホームウェルには、厳しい審査に合格した優良工務店のみ加盟できます。地域に密着した住まいのプロ集団である私達がさらにLIXILの最新情報や全国の先進事例を取り入れることにより「徹底した品質管理と工程管理」「安心・満足のリフォーム」をご提供できます。尚、本社2階併設のショールームカフェでは、無垢フロアや塗り壁など、ココティークの魅力が体験できます。キッズルームもあるのでお気軽にお越しください。</p>
                </div>
                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="/company/reform/img/detail/takeuchi-image-2.jpg" alt="斬新な発想と施工技術で新しいライフスタイルへとご提案"></div>
                    <p class="type-heading u-txt-brown">理想の住まい</p>
                    <p class="type-heading-weak">安心かつデザイン性の高い住まいを実現</p>
                    <p class="type-txt">竹内建設は、既存の建物（中古マンションや戸建て）を斬新な発想と施工技術で新しいライフスタイルへとご提案させていただいております。一度きりのお付き合いではなく、一つひとつの家を大切に住まいを通して一生涯のお付き合いをさせていただいております。</p>
                </div>
            </div>
        </div>

        <div class="p-company-item">
            <div class="p-company-item-info">
                <p class="type-logo"><img src="/company/reform/img/detail/hisauke-logo-1.png" alt="久末弘信建設"></p>
                <p class="type-name">久末弘信建設</p>
                <p class="type-heading">〈アフターサービス〉</p>
                <dl>
                    <dd>随時対応</dd>
                </dl>
                <p class="type-heading">〈昨年度の受注数〉</p>
                <dl>
                    <dd>100〜200件</dd>
                </dl>
            </div>
            <div class="p-company-item-detail">
                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="/company/reform/img/detail/hisauke-image-1.jpg" alt="幅広い提案と本物の質感・素材感を大切にした家づくりをしております。"></div>
                    <p class="type-heading u-txt-brown">自社設計</p>
                    <p class="type-heading-weak">いつもお客様の視点で、すべてはお客様の満足のために</p>
                    <p class="type-txt">こだわりのデザイン住宅で、新築からリフォームまで10名の建築士が幅広い提案と本物の質感・素材感を大切にした家づくりをしております。自社設計・自社施工による安心感、完成してからが長いお付き合いの始まりです。詳しくはＨＰからたくさんの施工例をご覧ください。</p>
                </div>
                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="/company/reform/img/detail/hisauke-image-2.jpg" alt="毎日の暮らしが楽しくなるようなリフォームをご予算に応じて形にします。"></div>
                    <p class="type-heading u-txt-brown">リフォーム</p>
                    <p class="type-heading-weak">楽しく快適な暮らしを実現するためのお手伝いをします。</p>
                    <p class="type-txt">どこを直したい？ちょっとした水廻りの工事からフルリフォームまで、たくさんの施工実績があるスタッフがお客様の気持ちになってご提案いたします。マンションから戸建まで、内装から外装まであらゆるご要望にお応えします。使い易さはもちろん、毎日の暮らしが楽しくなるようなリフォームをご予算に応じて形にします。お気軽にご相談ください。</p>
                </div>
            </div>
        </div>

        <div class="p-company-item">
            <div class="p-company-item-info">
                <p class="type-logo"><img src="/company/reform/img/detail/hiyama-logo-1.png" alt="桧山建設綜業"></p>
                <p class="type-name">桧山建設綜業</p>
                <p class="type-heading">〈アフターサービス〉</p>
                <dl>
                    <dd>随時対応</dd>
                </dl>
                <p class="type-heading">〈昨年度の受注数〉</p>
                <dl>
                    <dd>200〜300件</dd>
                </dl>
            </div>
            <div class="p-company-item-detail">
                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="/company/reform/img/detail/hiyama-image-1.jpg" alt="変化して行くライフスタイルに合わせリニューアル"></div>
                    <p class="type-heading u-txt-brown">リノベーション</p>
                    <p class="type-heading-weak">変化して行くライフスタイルに合わせリニューアル</p>
                    <p class="type-txt">桧山建設綜業では、お客様のライフスタイルに合わせ、新築経験も豊富な一級・二級建築士が実際に現場を診断して、適切なご提案をいたします。家族が増える・成長するなど、様々な状況に合わせたリノベーションや内外改装を、多数手掛けて参りました。家族の歴史を育みながら、安全・安心・健康に暮らせる住まいづくりを、お客様と一緒に実現します。
</p>
                </div>
                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="/company/reform/img/detail/hiyama-image-2.jpg" alt="家族の歴史と想いを残し、暮らしに寄り添うリフォーム"></div>
                    <p class="type-heading u-txt-brown">ストレスフリー</p>
                    <p class="type-heading-weak">家族の歴史と想いを残し、暮らしに寄り添うリフォーム</p>
                    <p class="type-txt">年々、シニア層のリフォーム依頼も増えています。バリアフリー工事や介護リフォームから、今後の維持管理を考慮した減築まで、ストレスフリーのリフォーム提案をしております。冬の、危険な落雪や寒さを解消する「屋根の雪庇防止工事」や「床下の吹付断熱工事」など、最新の開発商品や工法も大変好評です。桧山建設綜業は、シニアだから実現させたい快適満足生活を応援します。</p>
                </div>
            </div>
        </div>

        <div class="p-company-item">
            <div class="p-company-item-info">
                <p class="type-logo"><img src="/company/reform/img/detail/prudence-logo-1.png" alt="プルーデンスホーム"></p>
                <p class="type-name">プルーデンスホーム</p>
                <p class="type-heading">〈アフターサービス〉</p>
                <dl>
                    <dd>随時対応</dd>
                </dl>
                <p class="type-heading">〈昨年度の受注数〉</p>
                <dl>
                    <dd>400〜500件</dd>
                </dl>
            </div>
            <div class="p-company-item-detail">
                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="/company/reform/img/detail/prudence-image-1.jpg" alt="プルーデンスホーム"></div>
                    <p class="type-heading u-txt-brown">会社紹介</p>
                    <p class="type-heading-weak">プルーデンス・プライド</p>
                    <p class="type-txt">プルーデンスホームは、カナダやアメリカから木材や建材、住宅機器などを輸入し、北米輸入住宅専門のホームビルダーとして、数多くの住まいを手掛けてまいりました。真に北海道に適した住まいの追求、住むことが喜びであり、住み継がれることが誇りであること、それがプルーデンスホームの企業姿勢です。</p>
                </div>
                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="/company/reform/img/detail/prudence-image-2.jpg" alt="どんな住宅でも、プルーデンスホームの輸入住宅に生まれ変わります。"></div>
                    <p class="type-heading u-txt-brown">リフォーム</p>
                    <p class="type-heading-weak">どんな住宅でも、プルーデンスホームの輸入住宅に生まれ変わります。</p>
                    <p class="type-txt">北米住宅20年の歴史を活かし、平成18年度よりリモデル（リフォーム）事業を立ち上げました。家に関するさまざまな不都合や問題を、住まいのプロが適切にアドバイスし、お応えいたします。現在の生活に少しでも不便・不都合さを感じた方は、是非ご相談ください。</p>
                </div>
            </div>
        </div>

        <div class="p-company-item">
            <div class="p-company-item-info">
                <p class="type-logo"><img src="/company/reform/img/detail/remix-logo-1.png" alt="リミックス"></p>
                <p class="type-name">リミックス</p>
                <p class="type-heading">〈アフターサービス〉</p>
                <dl>
                    <dd>随時対応</dd>
                </dl>
                <p class="type-heading">〈昨年度の受注数〉</p>
                <dl>
                    <dd>500〜600件</dd>
                </dl>
            </div>
            <div class="p-company-item-detail">
                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="/company/reform/img/detail/remix-image-1.jpg" alt="イメージを一新してデザイン性をアップする外観リフォーム"></div>
                    <p class="type-heading u-txt-brown">外観</p>
                    <p class="type-heading-weak">イメージを一新してデザイン性をアップする<br>外観リフォーム</p>
                    <p class="type-txt">外壁の傷みや汚れが気になる方、メンテナンスの時期が分からない方は、弊社にご相談ください。お客様に合わせたご提案を外壁診断士が診断いたします。外観塗装は70万円から、張り替えは120～170万円から工事可能。そのほか屋根の点検や塗装など様々なお悩みに対応いたします。</p>
                </div>
                <div class="p-company-item-detail-frame">
                    <div class="type-image"><img src="/company/reform/img/detail/remix-image-2.jpg" alt="水廻り4点パック120万円（税抜）"></div>
                    <p class="type-heading u-txt-brown">水廻り</p>
                    <p class="type-heading-weak">水廻り4点パック<br>120万円（税抜）</p>
                    <p class="type-txt">大人気の水廻り商品がパックになりました。弊社ショールームでお好みのメーカーをご選択頂き、お色や仕様をお客様に合わせてご提案致します。コーディネータもおりますので、安心して商品選びが可能です。単品での工事ももちろん可能ですので、まずはご相談お待ちしております。</p>
                </div>
            </div>
        </div>

</div>
    </div><!-- /#base-container -->

    <?php include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/base-navigation.tpl"); ?>
    <?php include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/base-footer.tpl"); ?>
</div><!-- /#base-page -->
</body>
</html>