<?php
require_once("./form/config.php");
require_once("./form/setting.php");

  /* ----------------------------------------------------------------------------
  ページ遷移のチェック
  ---------------------------------------------------------------------------- */
  // ワンタイムキーに誤りがある場合
  if( !isset($_SESSION['p']) && !$_GET["debug"]) {
    $_SESSION = array();
    header( 'Location: '.$indexPage );
    exit;
  }

  /* ----------------------------------------------------------------------------
  変数の設定
  ---------------------------------------------------------------------------- */
  // データ操作クラス
  $formData = new formData();

  // データの解析
  $send_contents = $formData->analyzePostData($_SESSION);

  // データチェック
  $formData->checkPostData( $send_contents, $form_contents );

  // データを整形
  $contents = $formData->contents;
  $is_error = $formData->is_error;

  if( $is_error && !$_GET["debug"] ) {
    header( 'Location: '.$indexPage );
    exit;
  }

  // hiddenタグを生成
  $hidden_tag = '<input type="hidden" name="p" value="'.$_SESSION['p'].'" />';
?>
<?php
$page = array(
    'title' => '来場予約｜北海道の住まいづくりWeb',
    'discription' => '北海道の住まいづくりWebを運営するすまいポート21への来場ご相談の予約フォームです。建築士、ファイナンシャルプランナー、不動産アドバイザーといった専門家へのご相談はもちろん、すまいポート21のスタッフにもお気軽にご相談くださいませ。',
);
include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/head.tpl");
?>
</head>



<body>
<div id="base-page" class="base-type-reservation">
    <?php include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/base-header.tpl"); ?>

    <div id="base-container">

        <div id="base-container-head">
            <ul class="p-breadcrumb-list">
                <li class="p-breadcrumb-list-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/" itemprop="url"><span itemprop="title">トップページ</a></li>
                <li class="p-breadcrumb-list-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title">来場予約</span></li>
            </ul>

            <div class="p-reservation-hero-group">
                <p class="p-reservation-hero-heading-1"><img src="/reservation/img/hero-txt-1.png" alt="来場予約"></p>
            </div>
        </div><!-- /#base-container-head -->

<div id="base-content">
        <div class="p-reservation-form-group">
            <p class="p-reservation-form-heading">ご予約フォーム</p>
            <form action="./form/form_send.php" method="POST" id="page-form">
                <?php echo $hidden_tag; ?>
                <table class="p-reservation-form-table">
                    <tr>
                        <th class="type-must">店舗名</th>
                        <td><?php print_value('shop'); ?></td>
                    </tr>
                    <tr>
                        <th class="type-must">予約希望日</th>
                        <td>
                          <?php print_value('year1'); ?>年<?php print_value('month1'); ?>月<?php print_value('day1'); ?>日<br>
                          <?php print_value('year2'); ?>年<?php print_value('month2'); ?>月<?php print_value('day2'); ?>日<br>
                          <?php print_value('year3'); ?>年<?php print_value('month3'); ?>月<?php print_value('day3'); ?>日
                        </td>
                    </tr>
                    <tr>
                        <th class="type-must">ご相談メニュー</th>
                        <td><?php echo $contents['menu'];?></td>
                    </tr>
                    <tr>
                        <th>ご相談内容</th>
                        <td><?php print_value('message'); ?></td>
                    </tr>
                    <tr>
                        <th>すまいポート21を<br>お知りになったキッカケは何ですか？<br>（複雑回答可）</th>
                        <td>
                          <?php
                            $knowed = $contents['knowed'];
                            if($contents['knowed1'] && strstr($contents['knowed'],'新聞で見て')) {
                              $knowed = str_replace("新聞で見て", "新聞で見て：（".$contents['knowed1']."）", $knowed);
                            };
                            if($contents['knowed2'] && strstr($contents['knowed'],'その他')) {
                              $knowed = str_replace("その他", "その他：（".$contents['knowed2']."）", $knowed);
                            };

                            echo $knowed;

                            $knowed = str_replace("<br />", "\r\n", $knowed);
                            $_SESSION['knowed_full'] = $knowed;
                          ?>
                          <?php?>


                        </td>
                    </tr>
                </table>

                <p class="p-reservation-form-heading">お客様の情報</p>
                <table class="p-reservation-form-table">
                    <tr>
                        <th class="type-must">お名前</th>
                        <td><?php print_value('name'); ?></td>
                    </tr>
                    <tr>
                        <th>ふりがな</th>
                        <td><?php print_value('kana'); ?></td>
                    </tr>
                    <tr>
                        <th>郵便番号</th>
                        <td>〒<?php print_value('zip'); ?></td>
                    </tr>
                    <tr>
                        <th class="type-must">住所</th>
                        <td><?php print_value('pref'); ?><?php print_value('address'); ?></td>
                    </tr>
                    <tr>
                        <th class="type-must">E-mail</th>
                        <td><?php print_value('email'); ?></td>
                    </tr>
                    <tr>
                        <th class="type-must">電話番号</th>
                        <td><?php print_value('tel'); ?></td>
                    </tr>
                    <tr>
                        <th>ご家族構成</th>
                        <td><?php print_value('family'); ?> 人</td>
                    </tr>
                </table>
                <p class="c-btn type-yellow type-large"><button type="submit">確認内容を送信する</button></p>
                <p class="c-btn type-large contactBtn-back"><a href="/reservation/?status=back#page-form">入力画面へ戻る</a></p>
            </form>
        </div>

</div>
    </div><!-- /#base-container -->

    <?php include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/base-navigation.tpl"); ?>
    <?php include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/base-footer.tpl"); ?>
</div><!-- /#base-page -->
</body>
</html>