<?php
require_once("./form/config.php");
require_once("./form/setting.php");

$page = array(
    'title' => '来場予約｜北海道の住まいづくりWeb',
    'discription' => '北海道の住まいづくりWebを運営するすまいポート21への来場ご相談の予約フォームです。建築士、ファイナンシャルプランナー、不動産アドバイザーといった専門家へのご相談はもちろん、すまいポート21のスタッフにもお気軽にご相談くださいませ。',
);
include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/head.tpl");
?>
</head>



<body>
<div id="base-page" class="base-type-reservation">
    <?php include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/base-header.tpl"); ?>

    <div id="base-container">

        <div id="base-container-head">
            <ul class="p-breadcrumb-list">
                <li class="p-breadcrumb-list-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/" itemprop="url"><span itemprop="title">トップページ</a></li>
                <li class="p-breadcrumb-list-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title">来場予約</span></li>
            </ul>

            <div class="p-reservation-hero-group">
                <p class="p-reservation-hero-heading-1"><img src="/reservation/img/hero-txt-1.png" alt="来場予約"></p>
            </div>
        </div><!-- /#base-container-head -->


<div id="base-content">
        <div class="p-reservation-categories-group">
            <p class="p-reservation-categories-heading">専門家との個別相談会を予約する</p>
            <ul class="p-reservation-categories-list">
                <li class="p-reservation-categories-list-item">
                    <img src="/reservation/img/category-image-1.png" alt="建築士 建築会社選び">
                    すまいポート21の建築士が、お客様の住まいに対するご要望をお伺いし、整理します。あなたの住まいづくりにピッタリの建築会社を一緒に見つけていきましょう。
                </li>
                <li class="p-reservation-categories-list-item">
                    <img src="/reservation/img/category-image-2.png" alt="ファイナンシャルプランナー 資金相談">
                    すでに、1,000件以上のお客様にご利用いただいているすまいポート21の「資金計画＆ライフプランシミュレーション」。経験豊富なファイナンシャルプランナーがお応えします。
                </li>
                <li class="p-reservation-categories-list-item">
                    <img src="/reservation/img/category-image-3.png" alt="不動産アドバイザー 土地探し">
                    すまいポート21の「土地探しナビゲーション」は、お客様のご要望の整理・土地情報の収集、現地見学への同行調査まで、あなたの土地探しをサポートします。心強い、土地探しのナビゲーターです。
                </li>
                <li class="p-reservation-categories-list-item">
                    <img src="/reservation/img/category-image-4.png" alt="すまいポート21 スタッフ">
                    具体的に専門家に相談する前に、住まいづくりについての疑問や不安、住まいづくりの進め方などについて、お気軽にご相談ください。次のステップ…専門家との個別相談予約も設定させていただきます。
                    <div class="type-arrow"></div>
                </li>
            </ul>
        </div>

        <div class="p-reservation-intro-group">
            <p class="type-txt-1">まずはスタッフとの無料相談にお申し込みください</p>
            <p class="type-txt-2">資金、土地、建築会社選びの個別相談は、住まいポート21各店の窓口で承ります。<br>まずは、こちらでお近くのすまいポート21ご来店予約をいただいた後にお出かけください。</p>
        </div>

        <div class="p-reservation-form-group">
            <p>すまいポート21への各店舗へのご来店や個別相談会のご予約はこちらからお申込みください。<br>
            ご利用いただく際は、個人情報保護方針をご確認いただき、内容にご了承いただいた上でご利用いただけますようお願いいたします。<br>
            ※本メールフォームご送信後、担当スタッフより折返しご連絡をさせていただきますので、その時点でご予約完了となります。</p>
            <p class="p-reservation-form-heading">ご予約フォーム</p>
            <form action="./." method="post"　id="page-form" data-parsley-validate>
                <table class="p-reservation-form-table">
                    <tr>
                        <th class="type-must">店舗名</th>
                        <td>
                            <select class="c-form-select" name="shop" data-parsley-required="true">
                                <option value="">店舗を選択してください</option>
                                <option value="すまいポート21札幌中央"<?php if($contents['shop'] == 'すまいポート21札幌中央') echo ' selected="selected"';?>>すまいポート21札幌中央</option>
                                <option value="すまいポート21札幌東"<?php if($contents['shop'] == 'すまいポート21札幌東') echo ' selected="selected"';?>>すまいポート21札幌東</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th class="type-must">予約希望日</th>
                        <td>
                            <div class="">
                                第1希望
                                <select class="c-form-select" name="year1" data-parsley-required="true" data-parsley-errors-container="#js-errors-date1">
                                    <option value="">----</option>
                                    <option value="2015"<?php if($contents['year1'] == '2015') echo ' selected="selected"';?>>2015</option>
                                    <option value="2016"<?php if($contents['year1'] == '2016') echo ' selected="selected"';?>>2016</option>
                                </select>
                                年
                                <select class="c-form-select" name="month1" data-parsley-required="true" data-parsley-errors-container="#js-errors-date1">
                                    <option value="">----</option>
                                    <option value="1"<?php if($contents['month1'] == '1') echo ' selected="selected"';?>>1</option>
                                    <option value="2"<?php if($contents['month1'] == '2') echo ' selected="selected"';?>>2</option>
                                    <option value="3"<?php if($contents['month1'] == '3') echo ' selected="selected"';?>>3</option>
                                    <option value="4"<?php if($contents['month1'] == '4') echo ' selected="selected"';?>>4</option>
                                    <option value="5"<?php if($contents['month1'] == '5') echo ' selected="selected"';?>>5</option>
                                    <option value="6"<?php if($contents['month1'] == '6') echo ' selected="selected"';?>>6</option>
                                    <option value="7"<?php if($contents['month1'] == '7') echo ' selected="selected"';?>>7</option>
                                    <option value="8"<?php if($contents['month1'] == '8') echo ' selected="selected"';?>>8</option>
                                    <option value="9"<?php if($contents['month1'] == '9') echo ' selected="selected"';?>>9</option>
                                    <option value="10"<?php if($contents['month1'] == '10') echo ' selected="selected"';?>>10</option>
                                    <option value="11"<?php if($contents['month1'] == '11') echo ' selected="selected"';?>>11</option>
                                    <option value="12"<?php if($contents['month1'] == '12') echo ' selected="selected"';?>>12</option>
                                </select>
                                月
                                <select class="c-form-select" name="day1" data-parsley-required="true" data-parsley-errors-container="#js-errors-date1">
                                    <option value="">----</option>
                                    <option value="1"<?php if($contents['day1'] == '1') echo ' selected="selected"';?>>1</option>
                                    <option value="2"<?php if($contents['day1'] == '2') echo ' selected="selected"';?>>2</option>
                                    <option value="3"<?php if($contents['day1'] == '3') echo ' selected="selected"';?>>3</option>
                                    <option value="4"<?php if($contents['day1'] == '4') echo ' selected="selected"';?>>4</option>
                                    <option value="5"<?php if($contents['day1'] == '5') echo ' selected="selected"';?>>5</option>
                                    <option value="6"<?php if($contents['day1'] == '6') echo ' selected="selected"';?>>6</option>
                                    <option value="7"<?php if($contents['day1'] == '7') echo ' selected="selected"';?>>7</option>
                                    <option value="8"<?php if($contents['day1'] == '8') echo ' selected="selected"';?>>8</option>
                                    <option value="9"<?php if($contents['day1'] == '9') echo ' selected="selected"';?>>9</option>
                                    <option value="10"<?php if($contents['day1'] == '10') echo ' selected="selected"';?>>10</option>
                                    <option value="11"<?php if($contents['day1'] == '11') echo ' selected="selected"';?>>11</option>
                                    <option value="12"<?php if($contents['day1'] == '12') echo ' selected="selected"';?>>12</option>
                                    <option value="13"<?php if($contents['day1'] == '13') echo ' selected="selected"';?>>13</option>
                                    <option value="14"<?php if($contents['day1'] == '14') echo ' selected="selected"';?>>14</option>
                                    <option value="15"<?php if($contents['day1'] == '15') echo ' selected="selected"';?>>15</option>
                                    <option value="16"<?php if($contents['day1'] == '16') echo ' selected="selected"';?>>16</option>
                                    <option value="17"<?php if($contents['day1'] == '17') echo ' selected="selected"';?>>17</option>
                                    <option value="18"<?php if($contents['day1'] == '18') echo ' selected="selected"';?>>18</option>
                                    <option value="19"<?php if($contents['day1'] == '19') echo ' selected="selected"';?>>19</option>
                                    <option value="20"<?php if($contents['day1'] == '20') echo ' selected="selected"';?>>20</option>
                                    <option value="21"<?php if($contents['day1'] == '21') echo ' selected="selected"';?>>21</option>
                                    <option value="22"<?php if($contents['day1'] == '22') echo ' selected="selected"';?>>22</option>
                                    <option value="23"<?php if($contents['day1'] == '23') echo ' selected="selected"';?>>23</option>
                                    <option value="24"<?php if($contents['day1'] == '24') echo ' selected="selected"';?>>24</option>
                                    <option value="25"<?php if($contents['day1'] == '25') echo ' selected="selected"';?>>25</option>
                                    <option value="26"<?php if($contents['day1'] == '26') echo ' selected="selected"';?>>26</option>
                                    <option value="27"<?php if($contents['day1'] == '27') echo ' selected="selected"';?>>27</option>
                                    <option value="28"<?php if($contents['day1'] == '28') echo ' selected="selected"';?>>28</option>
                                    <option value="29"<?php if($contents['day1'] == '29') echo ' selected="selected"';?>>29</option>
                                    <option value="30"<?php if($contents['day1'] == '30') echo ' selected="selected"';?>>30</option>
                                    <option value="31"<?php if($contents['day1'] == '31') echo ' selected="selected"';?>>31</option>
                                </select>
                                日
                                <div id="js-errors-date1"></div>
                            </div>
                            <div class="">
                                第2希望
                                <select class="c-form-select" name="year2">
                                    <option value="----">----</option>
                                    <option value="2015"<?php if($contents['year2'] == '2015') echo ' selected="selected"';?>>2015</option>
                                    <option value="2016"<?php if($contents['year2'] == '2016') echo ' selected="selected"';?>>2016</option>
                                </select>
                                年
                                <select class="c-form-select" name="month2">
                                    <option value="----">----</option>
                                    <option value="1"<?php if($contents['month2'] == '1') echo ' selected="selected"';?>>1</option>
                                    <option value="2"<?php if($contents['month2'] == '2') echo ' selected="selected"';?>>2</option>
                                    <option value="3"<?php if($contents['month2'] == '3') echo ' selected="selected"';?>>3</option>
                                    <option value="4"<?php if($contents['month2'] == '4') echo ' selected="selected"';?>>4</option>
                                    <option value="5"<?php if($contents['month2'] == '5') echo ' selected="selected"';?>>5</option>
                                    <option value="6"<?php if($contents['month2'] == '6') echo ' selected="selected"';?>>6</option>
                                    <option value="7"<?php if($contents['month2'] == '7') echo ' selected="selected"';?>>7</option>
                                    <option value="8"<?php if($contents['month2'] == '8') echo ' selected="selected"';?>>8</option>
                                    <option value="9"<?php if($contents['month2'] == '9') echo ' selected="selected"';?>>9</option>
                                    <option value="10"<?php if($contents['month2'] == '10') echo ' selected="selected"';?>>10</option>
                                    <option value="11"<?php if($contents['month2'] == '11') echo ' selected="selected"';?>>11</option>
                                    <option value="12"<?php if($contents['month2'] == '12') echo ' selected="selected"';?>>12</option>
                                </select>
                                月
                                <select class="c-form-select" name="day2">
                                    <option value="----">----</option>
                                    <option value="1"<?php if($contents['day2'] == '1') echo ' selected="selected"';?>>1</option>
                                    <option value="2"<?php if($contents['day2'] == '2') echo ' selected="selected"';?>>2</option>
                                    <option value="3"<?php if($contents['day2'] == '3') echo ' selected="selected"';?>>3</option>
                                    <option value="4"<?php if($contents['day2'] == '4') echo ' selected="selected"';?>>4</option>
                                    <option value="5"<?php if($contents['day2'] == '5') echo ' selected="selected"';?>>5</option>
                                    <option value="6"<?php if($contents['day2'] == '6') echo ' selected="selected"';?>>6</option>
                                    <option value="7"<?php if($contents['day2'] == '7') echo ' selected="selected"';?>>7</option>
                                    <option value="8"<?php if($contents['day2'] == '8') echo ' selected="selected"';?>>8</option>
                                    <option value="9"<?php if($contents['day2'] == '9') echo ' selected="selected"';?>>9</option>
                                    <option value="10"<?php if($contents['day2'] == '10') echo ' selected="selected"';?>>10</option>
                                    <option value="11"<?php if($contents['day2'] == '11') echo ' selected="selected"';?>>11</option>
                                    <option value="12"<?php if($contents['day2'] == '12') echo ' selected="selected"';?>>12</option>
                                    <option value="13"<?php if($contents['day2'] == '13') echo ' selected="selected"';?>>13</option>
                                    <option value="14"<?php if($contents['day2'] == '14') echo ' selected="selected"';?>>14</option>
                                    <option value="15"<?php if($contents['day2'] == '15') echo ' selected="selected"';?>>15</option>
                                    <option value="16"<?php if($contents['day2'] == '16') echo ' selected="selected"';?>>16</option>
                                    <option value="17"<?php if($contents['day2'] == '17') echo ' selected="selected"';?>>17</option>
                                    <option value="18"<?php if($contents['day2'] == '18') echo ' selected="selected"';?>>18</option>
                                    <option value="19"<?php if($contents['day2'] == '19') echo ' selected="selected"';?>>19</option>
                                    <option value="20"<?php if($contents['day2'] == '20') echo ' selected="selected"';?>>20</option>
                                    <option value="21"<?php if($contents['day2'] == '21') echo ' selected="selected"';?>>21</option>
                                    <option value="22"<?php if($contents['day2'] == '22') echo ' selected="selected"';?>>22</option>
                                    <option value="23"<?php if($contents['day2'] == '23') echo ' selected="selected"';?>>23</option>
                                    <option value="24"<?php if($contents['day2'] == '24') echo ' selected="selected"';?>>24</option>
                                    <option value="25"<?php if($contents['day2'] == '25') echo ' selected="selected"';?>>25</option>
                                    <option value="26"<?php if($contents['day2'] == '26') echo ' selected="selected"';?>>26</option>
                                    <option value="27"<?php if($contents['day2'] == '27') echo ' selected="selected"';?>>27</option>
                                    <option value="28"<?php if($contents['day2'] == '28') echo ' selected="selected"';?>>28</option>
                                    <option value="29"<?php if($contents['day2'] == '29') echo ' selected="selected"';?>>29</option>
                                    <option value="30"<?php if($contents['day2'] == '30') echo ' selected="selected"';?>>30</option>
                                    <option value="31"<?php if($contents['day2'] == '31') echo ' selected="selected"';?>>31</option>
                                </select>
                                日
                            </div>
                            <div class="">
                                第3希望
                                <select class="c-form-select" name="year3">
                                    <option value="----">----</option>
                                    <option value="2015"<?php if($contents['year3'] == '2015') echo ' selected="selected"';?>>2015</option>
                                    <option value="2016"<?php if($contents['year3'] == '2016') echo ' selected="selected"';?>>2016</option>
                                </select>
                                年
                                <select class="c-form-select" name="month3">
                                    <option value="----">----</option>
                                    <option value="1"<?php if($contents['month3'] == '1') echo ' selected="selected"';?>>1</option>
                                    <option value="2"<?php if($contents['month3'] == '2') echo ' selected="selected"';?>>2</option>
                                    <option value="3"<?php if($contents['month3'] == '3') echo ' selected="selected"';?>>3</option>
                                    <option value="4"<?php if($contents['month3'] == '4') echo ' selected="selected"';?>>4</option>
                                    <option value="5"<?php if($contents['month3'] == '5') echo ' selected="selected"';?>>5</option>
                                    <option value="6"<?php if($contents['month3'] == '6') echo ' selected="selected"';?>>6</option>
                                    <option value="7"<?php if($contents['month3'] == '7') echo ' selected="selected"';?>>7</option>
                                    <option value="8"<?php if($contents['month3'] == '8') echo ' selected="selected"';?>>8</option>
                                    <option value="9"<?php if($contents['month3'] == '9') echo ' selected="selected"';?>>9</option>
                                    <option value="10"<?php if($contents['month3'] == '10') echo ' selected="selected"';?>>10</option>
                                    <option value="11"<?php if($contents['month3'] == '11') echo ' selected="selected"';?>>11</option>
                                    <option value="12"<?php if($contents['month3'] == '12') echo ' selected="selected"';?>>12</option>
                                </select>
                                月
                                <select class="c-form-select" name="day3">
                                    <option value="----">----</option>
                                    <option value="1"<?php if($contents['day3'] == '1') echo ' selected="selected"';?>>1</option>
                                    <option value="2"<?php if($contents['day3'] == '2') echo ' selected="selected"';?>>2</option>
                                    <option value="3"<?php if($contents['day3'] == '3') echo ' selected="selected"';?>>3</option>
                                    <option value="4"<?php if($contents['day3'] == '4') echo ' selected="selected"';?>>4</option>
                                    <option value="5"<?php if($contents['day3'] == '5') echo ' selected="selected"';?>>5</option>
                                    <option value="6"<?php if($contents['day3'] == '6') echo ' selected="selected"';?>>6</option>
                                    <option value="7"<?php if($contents['day3'] == '7') echo ' selected="selected"';?>>7</option>
                                    <option value="8"<?php if($contents['day3'] == '8') echo ' selected="selected"';?>>8</option>
                                    <option value="9"<?php if($contents['day3'] == '9') echo ' selected="selected"';?>>9</option>
                                    <option value="10"<?php if($contents['day3'] == '10') echo ' selected="selected"';?>>10</option>
                                    <option value="11"<?php if($contents['day3'] == '11') echo ' selected="selected"';?>>11</option>
                                    <option value="12"<?php if($contents['day3'] == '12') echo ' selected="selected"';?>>12</option>
                                    <option value="13"<?php if($contents['day3'] == '13') echo ' selected="selected"';?>>13</option>
                                    <option value="14"<?php if($contents['day3'] == '14') echo ' selected="selected"';?>>14</option>
                                    <option value="15"<?php if($contents['day3'] == '15') echo ' selected="selected"';?>>15</option>
                                    <option value="16"<?php if($contents['day3'] == '16') echo ' selected="selected"';?>>16</option>
                                    <option value="17"<?php if($contents['day3'] == '17') echo ' selected="selected"';?>>17</option>
                                    <option value="18"<?php if($contents['day3'] == '18') echo ' selected="selected"';?>>18</option>
                                    <option value="19"<?php if($contents['day3'] == '19') echo ' selected="selected"';?>>19</option>
                                    <option value="20"<?php if($contents['day3'] == '20') echo ' selected="selected"';?>>20</option>
                                    <option value="21"<?php if($contents['day3'] == '21') echo ' selected="selected"';?>>21</option>
                                    <option value="22"<?php if($contents['day3'] == '22') echo ' selected="selected"';?>>22</option>
                                    <option value="23"<?php if($contents['day3'] == '23') echo ' selected="selected"';?>>23</option>
                                    <option value="24"<?php if($contents['day3'] == '24') echo ' selected="selected"';?>>24</option>
                                    <option value="25"<?php if($contents['day3'] == '25') echo ' selected="selected"';?>>25</option>
                                    <option value="26"<?php if($contents['day3'] == '26') echo ' selected="selected"';?>>26</option>
                                    <option value="27"<?php if($contents['day3'] == '27') echo ' selected="selected"';?>>27</option>
                                    <option value="28"<?php if($contents['day3'] == '28') echo ' selected="selected"';?>>28</option>
                                    <option value="29"<?php if($contents['day3'] == '29') echo ' selected="selected"';?>>29</option>
                                    <option value="30"<?php if($contents['day3'] == '30') echo ' selected="selected"';?>>30</option>
                                    <option value="31"<?php if($contents['day3'] == '31') echo ' selected="selected"';?>>31</option>
                                </select>
                                日
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="type-must">ご相談メニュー</th>
                        <td>
                            <div class="p-reservation-form-menu">
                                <div class="p-reservation-form-menu-item">
                                    <label class="c-form-chkbox"><input type="checkbox" name="menu[]" value="スタッフとのお手軽面談及び店内見学" data-parsley-required="true" data-parsley-errors-container="#js-errors-menu" <?php if(strstr($contents['menu'],'スタッフとのお手軽面談及び店内見学')) echo ' checked="checked"';?> />スタッフとのお手軽面談及び店内見学</label>
                                </div>
                                <div class="p-reservation-form-menu-item">
                                    <label class="c-form-chkbox"><input type="checkbox" name="menu[]" value="資金相談" data-parsley-required="true" data-parsley-errors-container="#js-errors-menu" <?php if(strstr($contents['menu'],'資金相談')) echo ' checked="checked"';?> />資金相談</label>
                                    <p>こんな方は…　●ライフプランを元に資金計画を立てる？　●住宅ローンのご相談</p>
                                </div>
                                <div class="p-reservation-form-menu-item">
                                    <label class="c-form-chkbox"><input type="checkbox" name="menu[]" value="土地相談" data-parsley-required="true" data-parsley-errors-container="#js-errors-menu" <?php if(strstr($contents['menu'],'土地相談')) echo ' checked="checked"';?> />土地相談</label>
                                    <p>こんな方は…　●どうやって土地を探すの？　●あなたに合った土地情報のご提供</p>
                                </div>
                                <div class="p-reservation-form-menu-item">
                                    <label class="c-form-chkbox"><input type="checkbox" name="menu[]" value="建築相談" data-parsley-required="true" data-parsley-errors-container="#js-errors-menu" <?php if(strstr($contents['menu'],'建築相談')) echo ' checked="checked"';?> />建築相談</label>
                                    <p>こんな方は…　●これから建築会社選びをされる方　●工法の違い　●建物について相談したい</p>
                                </div>
                            </div>
                            <div id="js-errors-menu"></div>
                        </td>
                    </tr>
                    <tr>
                        <th>ご相談内容</th>
                        <td>
                            <textarea class="c-form-textarea" name="message" placeholder="例文)
来年3月までには新居をかまえたいと思うのですが、
注文住宅か分譲マンションで悩んでいて、決められない状態です。
資金計画から判断していきたいと思います。"><?php echo htmlspecialchars($contents['message'], ENT_QUOTES);?></textarea>
                        </td>
                    </tr>
                    <tr>
                        <th>すまいポート21を<br>お知りになったキッカケは何ですか？<br>（複雑回答可）</th>
                        <td>
                            <label class="c-form-chkbox"><input type="checkbox" name="knowed[]" value="新聞で見て"<?php if(strstr($contents['knowed'],'新聞で見て')) echo ' checked="checked"';?> />新聞で見て</label>
                            （新聞名：<input class="c-form-txt type-middle" type="text" name="knowed1" value="<?php print_value("knowed1"); ?>"  />）
                            <label class="c-form-chkbox"><input type="checkbox" name="knowed[]" value="チラシ・広告で"<?php if(strstr($contents['knowed'],'チラシ・広告で')) echo ' checked="checked"';?> />チラシ・広告で</label>
                            <label class="c-form-chkbox"><input type="checkbox" name="knowed[]" value="Web検索で"<?php if(strstr($contents['knowed'],'Web検索で')) echo ' checked="checked"';?> />Web検索で</label>
                            <label class="c-form-chkbox"><input type="checkbox" name="knowed[]" value="知人からの紹介"<?php if(strstr($contents['knowed'],'知人からの紹介')) echo ' checked="checked"';?> />知人からの紹介</label>
                            <label class="c-form-chkbox"><input type="checkbox" name="knowed[]" value="通りすがりにすまいポート21を見て"<?php if(strstr($contents['knowed'],'通りすがりにすまいポート21を見て')) echo ' checked="checked"';?> />通りすがりにすまいポート21を見て</label>
                            <label class="c-form-chkbox"><input type="checkbox" name="knowed[]" value="住宅雑誌を見て"<?php if(strstr($contents['knowed'],'住宅雑誌を見て')) echo ' checked="checked"';?> />住宅雑誌を見て</label>
                            <label class="c-form-chkbox"><input type="checkbox" name="knowed[]" value="その他"<?php if(strstr($contents['knowed'],'その他')) echo ' checked="checked"';?> />その他 ：</label>
                            （その他：<input class="c-form-txt type-middle" type="text" name="knowed2" value="<?php print_value("knowed2"); ?>"  />）
                        </td>
                    </tr>
                </table>

                <p class="p-reservation-form-heading">お客様の情報</p>
                <table class="p-reservation-form-table">
                    <tr>
                        <th class="type-must">お名前</th>
                        <td><input class="c-form-txt type-middle" type="text" name="name" value="<?php print_value("name"); ?>" data-parsley-required="true" placeholder="例）住まい太郎" /></td>
                    </tr>
                    <tr>
                        <th>ふりがな</th>
                        <td><input class="c-form-txt type-middle" type="text" name="kana" value="<?php print_value("kana"); ?>"  data-parsley-hirakana="true" placeholder="例）すまいたろう" /></td>
                    </tr>
                    <tr>
                        <th>郵便番号</th>
                        <td><input class="c-form-txt type-middle" type="text" name="zip" value="<?php print_value("zip"); ?>" data-parsley-postcode="true" placeholder="例）320-0058" /><span class="c-form-annotation">（半角）</span></td>
                    </tr>
                    <tr>
                        <th class="type-must">住所</th>
                        <td>
                            <select class="c-form-select" name="pref" data-parsley-required="true">
                                <option value="">選択してください</option>
                                <option value="北海道"<?php if($contents['pref'] == '北海道') echo ' selected="selected"';?>>北海道</option>
                                <option value="青森県"<?php if($contents['pref'] == '青森県') echo ' selected="selected"';?>>青森県</option>
                                <option value="岩手県"<?php if($contents['pref'] == '岩手県') echo ' selected="selected"';?>>岩手県</option>
                                <option value="宮城県"<?php if($contents['pref'] == '宮城県') echo ' selected="selected"';?>>宮城県</option>
                                <option value="秋田県"<?php if($contents['pref'] == '秋田県') echo ' selected="selected"';?>>秋田県</option>
                                <option value="山形県"<?php if($contents['pref'] == '山形県') echo ' selected="selected"';?>>山形県</option>
                                <option value="福島県"<?php if($contents['pref'] == '福島県') echo ' selected="selected"';?>>福島県</option>
                                <option value="東京都"<?php if($contents['pref'] == '東京都') echo ' selected="selected"';?>>東京都</option>
                                <option value="神奈川県"<?php if($contents['pref'] == '神奈川県') echo ' selected="selected"';?>>神奈川県</option>
                                <option value="埼玉県"<?php if($contents['pref'] == '埼玉県') echo ' selected="selected"';?>>埼玉県</option>
                                <option value="千葉県"<?php if($contents['pref'] == '千葉県') echo ' selected="selected"';?>>千葉県</option>
                                <option value="茨城県"<?php if($contents['pref'] == '茨城県') echo ' selected="selected"';?>>茨城県</option>
                                <option value="栃木県"<?php if($contents['pref'] == '栃木県') echo ' selected="selected"';?>>栃木県</option>
                                <option value="群馬県"<?php if($contents['pref'] == '群馬県') echo ' selected="selected"';?>>群馬県</option>
                                <option value="山梨県"<?php if($contents['pref'] == '山梨県') echo ' selected="selected"';?>>山梨県</option>
                                <option value="新潟県"<?php if($contents['pref'] == '新潟県') echo ' selected="selected"';?>>新潟県</option>
                                <option value="長野県"<?php if($contents['pref'] == '長野県') echo ' selected="selected"';?>>長野県</option>
                                <option value="富山県"<?php if($contents['pref'] == '富山県') echo ' selected="selected"';?>>富山県</option>
                                <option value="石川県"<?php if($contents['pref'] == '石川県') echo ' selected="selected"';?>>石川県</option>
                                <option value="福井県"<?php if($contents['pref'] == '福井県') echo ' selected="selected"';?>>福井県</option>
                                <option value="愛知県"<?php if($contents['pref'] == '愛知県') echo ' selected="selected"';?>>愛知県</option>
                                <option value="岐阜県"<?php if($contents['pref'] == '岐阜県') echo ' selected="selected"';?>>岐阜県</option>
                                <option value="静岡県"<?php if($contents['pref'] == '静岡県') echo ' selected="selected"';?>>静岡県</option>
                                <option value="三重県"<?php if($contents['pref'] == '三重県') echo ' selected="selected"';?>>三重県</option>
                                <option value="大阪府"<?php if($contents['pref'] == '大阪府') echo ' selected="selected"';?>>大阪府</option>
                                <option value="兵庫県"<?php if($contents['pref'] == '兵庫県') echo ' selected="selected"';?>>兵庫県</option>
                                <option value="京都府"<?php if($contents['pref'] == '京都府') echo ' selected="selected"';?>>京都府</option>
                                <option value="滋賀県"<?php if($contents['pref'] == '滋賀県') echo ' selected="selected"';?>>滋賀県</option>
                                <option value="奈良県"<?php if($contents['pref'] == '奈良県') echo ' selected="selected"';?>>奈良県</option>
                                <option value="和歌山県"<?php if($contents['pref'] == '和歌山県') echo ' selected="selected"';?>>和歌山県</option>
                                <option value="鳥取県"<?php if($contents['pref'] == '鳥取県') echo ' selected="selected"';?>>鳥取県</option>
                                <option value="島根県"<?php if($contents['pref'] == '島根県') echo ' selected="selected"';?>>島根県</option>
                                <option value="岡山県"<?php if($contents['pref'] == '岡山県') echo ' selected="selected"';?>>岡山県</option>
                                <option value="広島県"<?php if($contents['pref'] == '広島県') echo ' selected="selected"';?>>広島県</option>
                                <option value="山口県"<?php if($contents['pref'] == '山口県') echo ' selected="selected"';?>>山口県</option>
                                <option value="徳島県"<?php if($contents['pref'] == '徳島県') echo ' selected="selected"';?>>徳島県</option>
                                <option value="香川県"<?php if($contents['pref'] == '香川県') echo ' selected="selected"';?>>香川県</option>
                                <option value="愛媛県"<?php if($contents['pref'] == '愛媛県') echo ' selected="selected"';?>>愛媛県</option>
                                <option value="高知県"<?php if($contents['pref'] == '高知県') echo ' selected="selected"';?>>高知県</option>
                                <option value="福岡県"<?php if($contents['pref'] == '福岡県') echo ' selected="selected"';?>>福岡県</option>
                                <option value="佐賀県"<?php if($contents['pref'] == '佐賀県') echo ' selected="selected"';?>>佐賀県</option>
                                <option value="長崎県"<?php if($contents['pref'] == '長崎県') echo ' selected="selected"';?>>長崎県</option>
                                <option value="熊本県"<?php if($contents['pref'] == '熊本県') echo ' selected="selected"';?>>熊本県</option>
                                <option value="大分県"<?php if($contents['pref'] == '大分県') echo ' selected="selected"';?>>大分県</option>
                                <option value="宮崎県"<?php if($contents['pref'] == '宮崎県') echo ' selected="selected"';?>>宮崎県</option>
                                <option value="鹿児島県"<?php if($contents['pref'] == '鹿児島県') echo ' selected="selected"';?>>鹿児島県</option>
                                <option value="沖縄県"<?php if($contents['pref'] == '沖縄県') echo ' selected="selected"';?>>沖縄県</option>
                            </select>
                            <input class="c-form-txt type-large" type="text" name="address" value="<?php print_value("address"); ?>" data-parsley-required="true" placeholder="例）○○市○○1-2-3" />
                        </td>
                    </tr>
                    <tr>
                        <th class="type-must">E-mail</th>
                        <td><input class="c-form-txt type-middle" type="email" name="email" value="<?php print_value("email"); ?>" data-parsley-required="true" placeholder="例）abc@sumai.com" /><span class="c-form-annotation">（半角）</span></td>
                    </tr>
                    <tr>
                        <th class="type-must">確認用E-mail</th>
                        <td><input class="c-form-txt type-middle" type="email" name="email_confirm" value="<?php print_value("email_confirm"); ?>" data-parsley-required="true" placeholder="例）abc@sumai.com" /><span class="c-form-annotation">（半角）</span></td>
                    </tr>
                    <tr>
                        <th class="type-must">電話番号</th>
                        <td><input class="c-form-txt type-middle" type="text" name="tel" value="<?php print_value("tel"); ?>" data-parsley-required="true" data-parsley-dashnum="true" placeholder="例）000-000-0000" /><span class="c-form-annotation">（半角）</span></td>
                    </tr>
                    <tr>
                        <th>ご家族構成</th>
                        <td><input class="c-form-txt type-short" type="text" name="family" value="<?php print_value("family"); ?>" data-parsley-type="integer" placeholder="" /><span class="c-form-annotation">人</span></td>
                    </tr>
                </table>
                <p class="c-btn type-yellow type-large"><button type="submit">入力内容を確認する</button></p>
            </form>
        </div>


</div>


    </div><!-- /#base-container -->

    <?php include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/base-navigation.tpl"); ?>
    <?php include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/base-footer.tpl"); ?>
</div><!-- /#base-page -->
</body>
</html>