<?php
$page = array(
    'title' => '北海道の住まいづくりWeb｜すまいポート21　札幌',
    'discription' => '北海道の住まいづくりWebは、年4回発行の雑誌「北海道の住まいづくり」のWebサイト版です。本当に自分らしい住まいづくりを楽しみながら実現していただくために、あなたの住まいづくりを、それぞれの専門家が第三者の立場でサポートいたします。',
);
include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/head.tpl");
?>




<body>
<div id="base-page" class="base-type-top">
    <?php include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/base-header.tpl"); ?>

    <div id="base-container">

        <div class="p-top-panel-group">
            <div class="p-top-panel-gellely-group">
                <div class="type-cover js-top-cover">
                    <svg version="1.1" id="svg_logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                       y="0px" width="374.5px" height="167.7px" viewBox="0 0 374.5 167.7" style="enable-background:new 0 0 374.5 167.7;"
                       xml:space="preserve">
                    <path class="st0 path-0" d="M22,20.2l-0.6,8c-11.2,0.5-18.2,0.7-21,0.6L0,20.4L22,20.2z M20.4,50l-0.2,14.1c-3.1,0.5-6.3,0.7-9.5,0.7
                      c-2.8,0-5.2-0.2-7.2-0.5L3,50.2C12.5,50.2,18.3,50.2,20.4,50z M18.8,31.4l-0.2,5.8c-4.1,0.4-7.4,0.6-9.9,0.6c-0.9,0-1.8,0-2.5-0.1
                      l-0.6-6.1L18.8,31.4z M17.7,40.8l-0.2,5.9c-5.3-0.2-9.1-0.4-11.2-0.6l-0.5-4.9L17.7,40.8z M17.4,8.4l-0.9,9
                      c-3.8-0.4-6.5-0.8-8.1-1.1l0.9-8.6L17.4,8.4z M14.5,56.4L11.2,56l-0.2,3.6c1.9,0.2,3.1,0.1,3.4-0.3L14.5,56.4z M62.9,57.1l-5,11.1
                      c-2.4-1.3-4.7-2.6-7.1-3.9c-2.7-1.6-4.9-3.1-6.7-4.6c-4,3.7-10,5.5-18.2,5.4c6.4-3.9,10.4-7.2,11.9-9.9L32,49.4l2.6-3.8
                      c1.6,1.1,3.9,2.5,6.8,4.1c1.5-2.4,2.6-4.8,3.5-7.3l-13.1,0.9l-0.6-8.7L57,34c-0.2,2-0.9,4.8-2,8.4c-1.6,5-3.4,9-5.5,11.8
                      c1.4,0.6,3.4,1.3,6,2C58.7,57,61.1,57.3,62.9,57.1z M66.3,25.6c-5.7,2.6-11.6,3.8-17.6,3.8c-1.8,0-3.4-0.1-4.8-0.4
                      c-0.2-4.3,0-8.9,0.4-13.7l-6.2,0.4c0.1,0.5,0.1,1,0.1,1.6c0,3-1.2,5.7-3.5,8.1c-2,2-4.6,3.5-7.8,4.5c1.7-2.6,3-6.2,3.7-10.8
                      c0.5-3.3,0.5-7.3,0-12c3.6,0.1,6.9,0.1,9.9,0.1c5.2,0,9.4-0.1,12.6-0.3l-0.7,14.8c2.1-0.2,4.2-0.4,6.1-0.9l0.3-5.4
                      C62.1,20,64.6,23.5,66.3,25.6z"/>
                    <path class="st0 path-1" d="M97.7,33.6L97.2,41H75.7l-0.5-7L97.7,33.6z M96.6,62.5l-0.2,14.2c-3.2,0.3-6.1,0.4-8.6,0.4
                      c-3.5,0-6.3-0.3-8.4-0.8l0.1-13.8C88.8,62.4,94.5,62.4,96.6,62.5z M93.3,58.1C87,58,82.9,57.9,81.2,57.7l0.4-5.6H93L93.3,58.1z
                       M93.4,43.9l-0.2,5c-6.3,0.1-10.3,0-11.8-0.2l0.1-5.1L93.4,43.9z M91.9,29.1c-4.1,0.7-6.8,1.2-8,1.3L82.1,22l8.4-1.2
                      C91.5,25.2,91.9,27.9,91.9,29.1z M89.7,68.3l-3.5-0.6v4.5c1.2,0.1,2.3,0.1,3.3-0.1L89.7,68.3z M137.6,37.6L136.8,49
                      c-6.1,0.2-10,0.3-11.7,0.5c0.5,16.1,0.6,25.7,0.5,28.7l-11.4-0.1l0.6-11.9l1-17.9l-12.5-0.1l-0.4-10.1l12.3-0.5V21.3l10.1,0.3
                      l-0.1,15.6L137.6,37.6z"/>
                    <path class="st0 path-2" d="M187.5,19.2c0,13.7-0.7,26.3-2.1,38.1c-12.5,0.8-24.2,1-35.2,0.5l-0.9-9.7c9.5,0.2,18.4,0.2,26.6,0.1l0.4-18.3
                      c-8.4,0.1-17.4,0.6-26.9,1.5l-0.8-12.4c5.2-0.2,10.7-0.4,16.3-0.4C173.1,18.6,180.6,18.8,187.5,19.2z"/>
                    <path class="st0 path-3" d="M215.8,36.9l-5.3,9.8l-11-6.6l5.4-8.3C208.6,33.3,212.3,35,215.8,36.9z M243.8,44c-1.4,8.4-5.4,15.5-12,21.5
                      c-6.6,5.9-15,9.8-25.3,11.8L201.7,65c9.5-1.4,17.7-4,24.7-7.7C232.4,54.2,238.2,49.8,243.8,44z"/>
                    <path class="st0 path-4" d="M304.7,48.6l-6.6,9.9c-10.3-7.8-19.6-15.4-27.7-22.8c-6.5,9-10.8,14.7-12.9,17.1l-9-8.2
                      c9.6-9.9,16.8-16.9,21.5-20.9c5.8,3.6,12.5,8.2,20.1,13.7C297.8,42.8,302.7,46.6,304.7,48.6z M293.1,31.1c-1,0-2-0.2-2.9-0.7
                      c-2.1-1-3.1-2.7-3.1-5.1c0-1,0.2-1.9,0.7-2.7c1.2-2,2.8-3,4.9-3c1,0,2,0.2,2.8,0.6c2.1,1.1,3.2,2.8,3.2,5.1c0,1.6-0.5,3-1.6,4.1
                      C296.1,30.6,294.8,31.1,293.1,31.1z M295.1,25.3c0.1-0.9-0.3-1.6-1.1-2c-1.1-0.5-2-0.3-2.8,0.8c-0.2,0.3-0.3,0.6-0.3,1
                      c0,1.1,0.5,1.9,1.4,2.2c0.2,0.1,0.5,0.1,0.7,0.1C294.3,27.5,295,26.8,295.1,25.3z"/>
                    <path class=" path-5" d="M353.6,40.3c-8.8,2-13.6,6.7-14.3,13.9c-0.5,4.8,1.6,9.4,6.2,13.8l-11.9,5.4c-4.1-5.5-6.1-11-6.1-16.6
                      c0-1.2,0.1-2.4,0.3-3.6c0.4-2.2,1.5-4.4,3.2-6.6c1.9-2.5,4.1-4.3,6.7-5.5c-7.9,0.6-16.3,1.1-25,1.5l-0.2-9.9
                      c18.1-0.3,31.8-0.8,40.9-1.4L353.6,40.3z M358.9,29.2c-1.4,0.3-2.8,0.8-3.9,1.3l-1.6-6.3l5.6-0.9V29.2z M367.1,22.2l-0.5,5.9
                      c-1.5,0.3-2.8,0.8-3.9,1.3l-1.1-6.3L367.1,22.2z"/>
                    <path class=" path-6" id="path-6" d="M47.8,117.7v7.2l-9.7-0.2l1.7,2.3l-3.6,1.6c3.1,5.2,4.6,10.3,4.6,15.5c0,7-2.5,13.1-7.5,18.3c-3.1-4.5-5.7-7.7-7.8-9.8
                      c2.3,0.2,4.3,0.4,6.2,0.5c0.5-2.9,0.8-5.6,0.7-8.1c-4,2.7-9.4,4-16.1,4c-2,0-3.9-0.1-5.5-0.3c9.3-3.5,16-6.8,20.3-9.7l-0.1-1.7
                      c-4.9,2.5-10.5,3.8-16.9,3.8c-2.3,0-4.4-0.2-6.2-0.5c11.2-3.3,18.3-6,21.1-8.2l-0.5-1.3c-4.8,1.4-8.4,2-10.8,2c-1.9,0-3.9-0.2-6-0.7
                      c7.7-2.3,13-4.7,16-7.3l-8.3,0.5l0.1-7.1C34.5,118.1,44,117.9,47.8,117.7z M62.7,104.7c-3,8.2-5.1,13.4-6.2,15.8
                      c-1.3-3.7-2.3-6.4-3.1-7.9c-9.3,0.1-21.5,0.3-36.6,0.7L17,119l-8.2,0.6v-14.3l21-0.8l-0.4-7.1l10.9,0.1c-0.3,3.5-0.6,5.7-0.7,6.6
                      L62.7,104.7z M60.3,143.7l-7,11.2c-2.8-2.6-4.6-4.3-5.4-5.1c-2.7-2.8-4.4-5.3-5.1-7.3l1.9-3.9c1.2,1,3,2,5.7,3.1
                      c3.2,1.4,6.1,2,8.4,2C59.3,143.7,59.9,143.7,60.3,143.7z M55.9,136.2c-4.1-0.8-8.2-2.5-12.5-4.9c5.4-1.8,9.1-3.4,11.2-5L55.9,136.2z
                      "/>
                    <path class=" path-7" id="path-7" d="M110.8,135.9c-3.5,0.8-6.2,1.6-8,2.3c0.4,1.8,1,4,1.6,6.6l-7.5,1.8c-0.3-3-0.6-4.8-1-5.4c-5.2,2.2-7.5,5.1-7.1,8.7
                      c0.3,2.4,2.6,3.7,6.9,3.7c2.1,0,4.6-0.3,7.5-0.9l0.5,10c-2.4,0.4-4.7,0.7-6.9,0.7c-8.5,0-13.8-2.8-15.8-8.5c-0.6-1.9-1-3.8-1-5.5
                      c0-6.6,4.5-11.6,13.6-15.3c-0.8-1.5-2.6-2.3-5.3-2.3c-1.3,0-3,0.2-4.8,0.5l-0.2-9c-2.3,0.1-5.4,0.2-9.2,0.4l-0.4-10.9
                      c4.9,0,7.9-0.1,8.9-0.3l-0.1-6.8l11.5,0.1c-0.6,4.5-0.9,7.3-0.8,8.2l3-0.1l10.2-0.4l-0.1,9.2l-14.8-0.4c-0.1,0.4-0.2,1.8-0.4,4.1
                      c4.2-0.1,7.1,1.4,8.6,4.5c1.6-0.6,4.3-1.8,8.2-3.4L110.8,135.9z"/>
                    <path class=" path-8" id="path-8" d="M184.4,149l-1.9,12.4c-1.5,0-3.8-0.1-6.9-0.2c-11-0.5-23-3.6-36.1-9.3c-3,4.1-7.3,6.6-12.9,7.6c3.7-4.3,5.9-7.8,6.8-10.5
                      c-3.2-2-5.7-3.8-7.5-5.3l2.9-5.7c3.2,2.4,5.6,4,7.1,4.6c0.5-0.7,1-3.2,1.3-7.5l-9.7-0.9l2-6.3c0.8-2.5,1.3-4.6,1.4-6.4
                      c-3.4,0.2-5.5,0.3-6.4,0.4l-0.4-10.8l16.2,0.1c-0.1,5-1.5,10.7-4.4,17.1l9.4,0.9c0.4,4.7-0.6,9.9-2.9,15.6c8.3,4,18,6,29.1,6
                      C177.4,150.8,181.7,150.2,184.4,149z M186.2,112.3l-0.3,5.7l-4.4,0.2l-0.2,8.1l-12.6,0.7l0.2,2.4l9-0.3l-0.2,5.7
                      c-3.6-0.1-6.4-0.2-8.4-0.3l0.2,2l12,0.2l0.2,6.4c-6.8-0.2-11-0.3-12.6-0.3l0.2,4.3l-9.1-0.1l0.2-3.9c-4.6-0.1-7.8-0.2-9.4-0.3
                      l0.4-4.4l9.8-0.4v-2.3c-3.1,0.2-5.4,0.2-6.7,0.1v-5.9c2.5,0.1,4.8,0.1,6.8,0v-2.4c-5,0.2-8.6,0.2-10.7,0.2l0.1-5.3
                      c2,0.1,3.9,0.1,5.7,0.1s3.3,0,4.7-0.1l-0.1-3c-5.1,0.2-10.1,0.4-14.9,0.9v-6.4c4,0.1,7.3,0.1,9.8,0.1c2.5,0,4.2,0,5.1-0.1l-0.2-3.8
                      c-5.1,0.2-8.5,0.2-10.4,0.2l0.2-8.8c5.2,0.4,8.7,0.6,10.4,0.6l-0.5-5.8l9.5,0.2l-0.6,5.8h12.1l-0.4,10.3H186.2z M174.1,112.9v-3
                      h-4.1L170,113C170.8,112.9,172.2,112.9,174.1,112.9z M174.8,121.5l-0.1-3.1l-4.3-0.1v3.2H174.8z"/>
                    <path class=" path-9" id="path-9" d="M239,131.5c-8.8,2-13.5,6.7-14.2,14c-0.5,4.8,1.5,9.4,6.1,13.8l-11.8,5.4c-4.1-5.5-6.2-11-6.2-16.7c0-1.2,0.1-2.4,0.4-3.5
                      c0.4-2.2,1.4-4.5,3.1-6.7c1.9-2.4,4.1-4.2,6.7-5.4c-7.9,0.6-16.3,1.1-25,1.4l-0.2-9.8c18.1-0.4,31.8-0.9,41-1.5L239,131.5z"/>
                    <path class=" path-10" id="path-10" d="M291.2,143l-6.7,8.5c-2.7-4-6.2-7.3-10.4-9.8c-0.2,2.2-1.1,4.1-2.5,5.9c-1.9,2.3-4.6,3.6-8,3.8c-3.4,0.2-6.1-0.9-8.2-3.3
                      c-1.9-2.1-2.8-4.6-2.8-7.5c0-3.1,1.1-5.6,3.4-7.5c2-1.7,4.7-2.6,7.9-2.6c0.9,0,1.8,0.1,2.6,0.2c-0.3-9.6-2-18.8-5.1-27.4l11.4-2.1
                      c0.3,2,0.7,5.1,1.1,9.1c5.2-0.2,10.4-0.5,15.4-0.8l-1,11c-5.7-0.8-10.1-1.3-13.3-1.4c0.3,6.3,0.3,10.6,0,12.9
                      C280.8,133.8,286.2,137.5,291.2,143z M263.4,138.2c-1.8,0-2.8,0.8-3,2.3c-0.1,0.9,0.2,1.6,0.6,2c0.5,0.4,1.1,0.6,2,0.6
                      c0.7,0,1.4-0.4,1.8-1.2c0.5-0.7,0.7-1.5,0.7-2.2C265.5,138.7,264.8,138.2,263.4,138.2z"/>
                    <path class=" path-11" id="path-11" d="M334.8,136.2c-0.2,5.4-1.7,9.8-4.5,13c-3.5,4.3-9.6,7.6-18.2,9.7c8.6-7.6,12.9-14.6,12.9-21c0-0.8-0.1-1.7-0.2-2.5
                      c-0.2-1.2-0.8-2.3-1.9-3.2c-1.2-0.9-2.8-1.3-4.6-1.3c-1,0-2.2,0.1-3.4,0.4c-2.8,0.8-6.9,3.3-12.1,7.3l-4.1-9.6
                      c7.7-5.1,14.5-7.6,20.3-7.6c1.1,0,2.2,0.1,3.4,0.2c3.6,0.4,6.6,2,9,4.6C333.9,129,335,132.3,334.8,136.2z M328.7,107.3l-2.4,9
                      c-8.8-1.5-14.6-2.7-17.3-3.4c0.6-2.2,1.3-5.5,2.2-9.8L328.7,107.3z"/>
                    <path class=" path-12" id="path-12" d="M362,154.5l-10.3,0.1c0.6-4.2,1-7.7,1.3-10.7l8.3,0.4L362,154.5z M365.9,103.2l-4.6,33.2c-2.2,0.2-4.8,0.4-7.9,0.6l1.8-34.6
                      L365.9,103.2z"/>
                    </svg>
                    <img src="/resources/img/top/main-panel-1-cover.jpg" alt="" class="住まいのサポートセンター すまいポート21">
                </div>
                <ul class="p-top-panel-gellely js-top-slide">
                    <li style="background-image: url(/resources/img/top/main-panel-1-1.png);"></li>
                    <li style="background-image: url(/resources/img/top/main-panel-1-2.jpg);"></li>
                    <li style="background-image: url(/resources/img/top/main-panel-1-3.jpg);"></li>
                    <li style="background-image: url(/resources/img/top/main-panel-1-4.jpg);"></li>
                    <img src="/resources/img/top/main-panel-1-bg.png" alt="" class="type-bg">
                </ul>

            </div>
            <ul class="p-top-panel-list">
                <li class="p-top-panel-list-item type-col-2 type-num-1"><a href="/case-study/"><img src="/resources/img/top/main-panel-2.png" alt="私達はココで選びました！皆の施工事例"></a></li>
                <li class="p-top-panel-list-item type-col-1 type-num-2"><a href="/competition/"><img src="/resources/img/top/main-panel-3.png" alt="設計コンペとは？"></a></li>
                <li class="p-top-panel-list-item-spacer"></li>
                <li class="p-top-panel-list-item type-col-1 type-num-3"><a href="/company/"><img src="/resources/img/top/main-panel-4.png" alt="掲載企業全63社チェック"></a></li>
                <li class="p-top-panel-list-item type-col-1 type-num-4"><a href="/case-competition/"><img src="/resources/img/top/main-panel-5.png" alt="設計コンペで家を建てよう！"></a></li>
                <li class="p-top-panel-list-item type-col-1 type-num-5"><a href="/about/"><img src="/resources/img/top/main-panel-6.png" alt="すまいポート21、おかげさまで1030組のご利用"></a></li>
                <li class="p-top-panel-list-item type-col-2 type-num-6"><a href="http://www.sumai21.net/event/detail.php?id=7616" target="_blank"><img src="/resources/img/top/main-panel-7.png" alt="最新セミナー情報"></a></li>
                <li class="p-top-panel-list-item type-col-1 type-num-7"><a href="/present/"><img src="/resources/img/top/main-panel-10.png" alt="一押し！商品紹介"></a></li>
                <li class="p-top-panel-list-item type-col-1 type-num-8"><a href="/couleur/"><img src="/resources/img/top/main-panel-9.png" alt="子育てママのショールーム体験レポート"></a></li>
            </ul>
        </div>

        <div class="p-top-banner-group">
            <div class="p-top-banner-item">
                <p class="p-top-banner-heading">セミナー情報</p>
                <ul class="p-top-banner-list">
                    <li class="p-top-banner-list-item"><a href="http://www.sumai21.net/event/detail.php?id=7613" target="_blank"><img src="/resources/img/top/seminar-panel-3.png" alt="セミナー情報左バナー"></a></li>
                    <li class="p-top-banner-list-item"><a href="http://www.sumai21.net/event/detail.php?id=8055" target="_blank"><img src="/resources/img/top/seminar-panel-2.png" alt="セミナー情報右バナー"></a></li>
                </ul>
            </div>
            <div class="p-top-banner-item">
                <p class="p-top-banner-heading">ピックアップ</p>
                <ul class="p-top-banner-list">
                    <li class="p-top-banner-list-item"><a href="/column/"><img src="/resources/img/top/pickup-panel-1.png" alt="専門家コラム"></a></li>
                    <li class="p-top-banner-list-item"><a href="/present/"><img src="/resources/img/top/pickup-panel-2.png?v=2" alt="建築会社カタログプレゼント"></a></li>
                </ul>
            </div>
        </div>

        <div class="p-top-conpe-group">
            <div class="p-top-conpe">
                <p class="p-top-conpe-txt"><a href="/case-study/"><img src="/resources/img/top/conpe-txt-1.png" alt="あなたらしい住まいづくりを応援します。設計コンペで立てた家。"></a></p>
            </div>
        </div>

        <div class="p-top-message-group">
            <p class="p-top-message-txt"><img src="/resources/img/top/message-txt-1.png" alt="すまいポート21の想い"></p>
            <p class="p-top-message-txt-2">よくマイホームは「３回建てて満足できる」といわれます。<br>
            確かに、資金のこと、不動産のこと、建築のこと・・・。<br>
            専門的な知識や、経験がないと、知らないことがいっぱいで悩むことだらけ。<br>
            思わず「３回建てて・・・」もうなずけてしまうかも知れません。<br>
            こんな時、誰か相談に乗ってくれる「良きパートナーがいてくれたら・・・」と<br>
            思うのではないでしょうか。<br>
            私たち『すまいポート21』は、そんな皆様をサポートし、<br>
            本当に自分らしい住まいづくりを楽しみながら実現していただくためのお店です。<br>
            建築のことは１級建築士、資金のことはファイナンシャルプランナー、土地のこと、インテリアのこと・・・。<br>
            あなたの住まいづくりを、それぞれの専門家が第三者の立場でサポートいたします。</p>

            <ul class="p-top-message-list">
                <li class="p-top-message-list-item"><a href="/about/">すまいポート21について</a></li>
                <li class="p-top-message-list-item"><a href="/competition/">設計コンペとは？</a></li>
                <li class="p-top-message-list-item"><a href="/reservation/">来場予約</a></li>
            </ul>
        </div>

    </div><!-- /#base-container -->

    <?php include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/base-navigation.tpl"); ?>
    <?php include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/base-footer.tpl"); ?>

    <div class="p-top-border type-horizonal"></div>
    <div class="p-top-border type-vertical"></div>
</div><!-- /#base-page -->
<script>
pageTop.init();
</script>
</body>
</html>
