// ------------------------------
// Navigation CSS
// ------------------------------
@import '../setting/variables';

#base-container-head {
  @if $mq-all {
    margin: 0 auto;
    background: url('/resources/img/bg/bg-dot-1.png') 0 0;
  }
  @if $mq-tablet {
  }
}
