// ------------------------------
// Container CSS
// ------------------------------
@import '../setting/variables';

#base-content {
  @if $mq-all {
    position: relative;
    @include clearfix;
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
  }
}


.c-content-block {
  @if $mq-all {
    position: relative;
    max-width: 1220px;
    margin: 40px auto;
    @include clearfix;
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
  }
}