// ------------------------------
// Container CSS
// ------------------------------
@import '../setting/variables';

#base-container {
  @if $mq-all {
    margin: 0 auto;
    position: relative;
    @include clearfix;
  }
  @if $mq-tablet {
    padding: 0;
  }
  @if $mq-sp {
  }
}

#base-content {
  @if $mq-all {
    margin: 0 20px;
    position: relative;
  }
  @if $mq-tablet {
    padding: 0;
  }
  @if $mq-sp {
    margin: 0 10px;
  }
}
