// ------------------------------
// Footer CSS
// ------------------------------
@import '../setting/variables';

#base-footer {
  @if $mq-all {
    width: 100%;
    margin-top: 80px;
    background-color: #f5f5f5;
    box-sizing: border-box;
  }
  @if $mq-tablet {
    margin-top: 80px;
  }
  @if $mq-sp {
    margin-top: 30px;
  }
}
