// ------------------------------
// Header CSS
// ------------------------------
@import '../setting/variables';

#base-header {
  @if $mq-all {
    min-width: 980px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    border-bottom: 1px solid #d9d6d1;
    background: #fff;
  }
  @if $mq-tablet {
    min-width: 320px;
    padding: 10px;
  }
  @if $mq-sp {
    min-height: 66px;
    padding: 10px;
  }
}
