// ------------------------------
// Main CSS
// ------------------------------
@import '../setting/variables';

#base-main {
  @if $mq-all {
    float: right;
    width: 75%;
  }
  @if $mq-tablet {
    float: none;
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
  }
  @if $mq-sp {
    padding: 30px 15px;
    border: none;
  }
}
