// ------------------------------
// Navigation CSS
// ------------------------------
@import '../setting/variables';

#base-navigation {
  @if $mq-all {
    overflow-y: auto;
    position: fixed;
    width: 380px;
    height: 100%;
    top: 0;
    right: -400px;
    z-index: 10000;
    //transition-property: right;
    //transition-duration: 400ms;
    .is-navigation-open & {
      //right: 0px;
    }
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
    width: 100%;
    visibility: hidden;
    opacity: 0;
    right: 0px !important;
    .is-navigation-open & {
      opacity: 1;
      visibility: visible;
    }
  }
}

#base-navigation-frame {
  @if $mq-all {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.4);
    transition: 200ms;

    .is-navigation-open & {
      visibility: visible;
      opacity: 1;
    }
  }
  @if $mq-tablet {
  }
  @if $mq-sp {
  }
}