// ------------------------------
// Page CSS
// ------------------------------
@import '../setting/variables';

#base-page {
  @if $mq-all {
    min-width: 980px;
    overflow: hidden;
    margin: 0 auto;
    padding: 110px 0 0 0;
    position: relative;
    box-sizing: border-box;
  }
  @if $mq-tablet {
    min-width: 320px;
    padding: 92px 0 0 0;
  }
  @if $mq-sp {
    padding: 66px 0 0 0;
  }
}
