// ------------------------------
// Header CSS
// ------------------------------
@import '../setting/variables';

#base-shopnavi {
  @if $mq-all {
    width: 100%;
    border-top: 1px solid #d8d8cb;
    border-bottom: 1px solid #d8d8cb;
    background-color: #E6E6DF;
  }
  @if $mq-tablet {
    border: none;
  }
}
