<?php
$page = array(
    'title' => '札幌市在住のT様｜私たちはココで選びました！｜北海道の住まいづくりWeb',
    'discription' => '札幌市在住のT様はご夫婦2人の2人家族。第一子の出産を控え、実際に設計コンペを体験したT様ご夫妻にインタビューしました。担当建築会社はユウ建築事務所さまです。',
);
include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/head.tpl");
?>
</head>



<body>
<div id="base-page">
    <?php include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/base-header.tpl"); ?>

    <div id="base-container">

        <div id="base-container-head" class="type-case-study">
            <ul class="p-breadcrumb-list">
                <li class="p-breadcrumb-list-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/" itemprop="url"><span itemprop="title">トップページ</a></li>
                <li class="p-breadcrumb-list-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title">私たちはココで選びました!!</span></li>
            </ul>

            <div class="p-case-study-hero-group">
                <div class="p-case-study-hero-heading">
                    <p class="type-txt-1"><img src="/case-study/img/hero-txt-1.png" alt="私たちはココで選びました!!"></p>
                    <div class="p-case-study-hero-company">
                        <p>
                            <span class="type-label">担当建築会社</span>
                            <span class="type-name">ユウ建築事務所</span>
                        </p>
                        <span><a href="http://www.ukenchiku.co.jp/" target="_blank">ウェブサイトはこちら</a></span>
                    </div>
                </div>
                <div class="p-case-study-hero-model">
                    <img src="/case-study/img/case-2/hero-image-1.jpg" alt="札幌市在住 T様">
                    <dl>
                        <dt>DATA</dt>
                        <dd>札幌市在住 T様<br>
                        ●家族構成：ご夫婦<br>
                        ●新居に住んだ期間：約2カ月　（2015年4月現在）</dd>
                    </dl>
                </div>
            </div>
        </div><!-- /#base-container-head -->

        <div class="p-backnumber-group type-blue">
            <div class="p-backnumber">
                <div class="p-backnumber-inner">
                    <p class="p-backnumber-label"><img src="/resources/img/text/txt-backnumber-2.png" alt="バックナンバー"></p>
                    <p class="p-backnumber-txt-1">これまでの更新を見る</p>
                    <div class="p-backnumber-select">
                        <select class="c-form-select js-pager-select">
                            <option value="/case-study/case-2.html">2015年4月</option>
                            <option value="/case-study/">2015年7月</option>
                        </select>
                    </div>
                    <ul class="p-backnumber-thumb-list">
                        <li class="p-backnumber-thumb-list-item"><a href="/case-study/"><img src="/case-study/img/case-1/thumb-1.jpg" alt="2015年7月"></a></li>
                        <li class="p-backnumber-thumb-list-item"><a href="/case-study/case-2.html"><img src="/case-study/img/case-2/thumb-1.jpg" alt="2015年4月"></a></li>
                        <li class="p-backnumber-thumb-list-item"></li>
                        <li class="p-backnumber-thumb-list-item"></li>
                        <li class="p-backnumber-thumb-list-item"></li>
                        <li class="p-backnumber-thumb-list-item"></li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="base-content">
        <h3 class="p-case-study-heading-1">“「設計コンペ」の段階で、土地の下調べを<br>してくれたこと。それが決め手でした。”</h3>

        <div class="p-case-study-point-group">
            <div class="p-case-study-point-list">
                <dl class="p-case-study-point-item">
                    <dt>住まいづくりのきっかけは何でしたか？</dt>
                    <dd>いつか建てるなら早いほうがいいかなとは常々思っていましたが、具体的に動き出したきっかけはこれといって特になかったんです。本当にフワっと思いたって行動を起こしたという感じでしたね（笑）。</dd>
                </dl>
                <dl class="p-case-study-point-item">
                    <dt>家を建てようと決断され最初にしたことは何ですか？</dt>
                    <dd>まず土地を探しました。以前、実家の近くに住んでいたので、新居もその近辺がいいなと思い、いろいろあたってみたんです。すると、土地と一言にいっても”建築条件付土地“などわからない言葉が出てきて。そこから家づくりに関する勉強もスタートさせました。</dd>
                </dl>
                <dl class="p-case-study-point-item">
                    <dt>すまいポート21のサービスを知った経緯は？<br>また、どんな印象でしたか？</dt>
                    <dd>土地探しと同時に、家づくりの参考にと雑誌を数冊買ってきたんです。その中の１冊にすまいポート21の紹介記事が載っていました。それが出会いのきっかけでしたね。読んでみると、こちらが出した要望をもとに数社がプランを出してくれる「設計コンペ」というサービスがあると。そこから好きなものを選べるところに魅力を感じて、詳しい話を聞こうとお店に行きました。するとスルスルと話が進み、難航していた土地探しも解決。契約へと進んでいきました。</dd>
                </dl>
                <dl class="p-case-study-point-item">
                    <dt>「設計コンペ」に向けてどのようなご要望を<br>出されましたか？</dt>
                    <dd>もっとも重視したのは日当たりの良さです。南向きで太陽が燦々と入ってくる明るい家にしたいと伝えました。そして、僕の趣味であるダーツができる空間をつくってほしいとも。前の住まいの近くに小さなダーツバーがあって、そこに通ううちにすっかりハマってしまいました（笑）。出来るなら自宅でもダーツを楽しみたいと思って、リクエストしたんです。</dd>
                </dl>
                <dl class="p-case-study-point-item">
                    <dt>「設計コンペ」では何社のプレゼンテーションがありどのような点が１社選定の決め手になりましたか？</dt>
                    <dd>いくつかエントリーがあった会社さんの中から４社に絞り込みました。すまいポート21の一級建築士さんにフォローをしてもらいながら要望を伝えられたこともあって、どの会社さんからも素敵なプランを出していただきましたね。<br>その中で特にユウ建築事務所さんに対して好感を持ちました。コンペの段階でしっかり土地の下調べをしていて、水道管の交換が必要なことを教えてくれたからです。おかげで家づくりにかかるおおよその費用がわかり、安心しました。ほかにもパースを描いてくれるなど、なかなかイメージしにくいところをわかりやすく見せてくれたことで、この方にならお任せしてもいいかなと思ったのです。</dd>
                </dl>
                <dl class="p-case-study-point-item">
                    <dt>家づくりを振り返っての感想をお聞かせください</dt>
                    <dd>「設計コンペ」を利用して大正解。ただただ大満足の一言に尽きます。４社とのオリエンテーションやプレゼンテーションは少し疲れましたが、いろいろなアイデアを比較できたのは楽しかったし、納得のいく家づくりにつながったと感じています。これが自分たちだけで会社をまわり、要望を伝えてプランを出してもらい、それぞれ検討する…ということをしたら、とても大変だっただろうと思いますね。<br>また、一級建築士さんのサポートもとても助かりました。コンペに参加した会社さんのメリットはもちろん、デメリットも踏まえたアドバイスをしてくださったので、小さな疑問を抱えてモヤモヤしたまま話が進んだということもありませんでした。マイホームの購入は決して安い買い物ではありませんので、建てるからにはとことんこだわって納得したい。そう考えていた僕たちの思いをすまいポート21は叶えてくれました。</dd>
                </dl>
            </div>
        </div>

        <div class="p-case-study-balloon-group">
            <div class="p-case-study-balloon-item">
                <div class="type-left type-wide">
                    <img src="/case-study/img/case-2/image-1.jpg" alt="ダーツルーム">
                    <p>ご主人たっての希望のダーツルームは、設置するマシンの幅や高さ、スローラインまでの距離を確保したのはもちろん、投げるときに後ろ手が壁に当たらないよう空間に余裕をもたせました。</p>
                </div>
                <div class="type-right type-small">
                    <div class="u-txt-right"><img class="" src="/case-study/img/case-2/balloon-1.jpg" alt="ほぼ要望通り！これは本当に見事でした。コンペから完成まで全てに大満足です！"></div>
                </div>
            </div>
            <div class="p-case-study-balloon-item">
                <div class="type-right type-wide">
                    <img src="/case-study/img/case-2/image-2.jpg" alt="ダイニング">
                    <p>単調になりがちなダイニングは、天井を下がり壁にし、間接照明を入れてアクセントを。動きのある雰囲気になるよう仕上げました。</p>
                </div>
                <div class="type-left type-small">
                    <div class="u-txt-left"><img  src="/case-study/img/case-2/balloon-2.jpg" alt="新居での暮らしはとても快適です！6月に生まれる娘も楽しみにしているかも"></div>
                </div>
            </div>
        </div>

        <div class="p-case-study-point-message type-wide">
            <div class="p-case-study-point-message-inner">
                <p class="p-case-study-point-message-heading">建築会社より一言</p>
                <div class="p-case-study-point-message-staff">
                    <img class="type-image" src="/case-study/img/case-2/balloon-3.jpg" alt="ユウ建築事務所 設計士／中川貴弘さん">
                    <p class="type-name">ユウ建築事務所<br>設計士／中川貴弘さん</p>
                    <p class="type-link"><a href="http://www.ukenchiku.co.jp/" target="_blank">ウェブサイトはこちら</a></p>
                </div>
                <div class="p-case-study-point-message-txt">
                    <p class="type-heading">プレゼンテーションで提示したイメージどおりの仕上がりに！</p>
                    <p>不要なものをできるだけ排除し、建物自体が広く、開放的な空間になるようつくりました。照明は間接照明をたくさんつけてほしいとのご要望でしたので、弊社からの図面のほか、照明メーカーで設置したパターンも提案。T様のご希望をくまなく実現しつつ、住む人、訪れる人が気持ちよく過ごせる家づくりを目指し、このようなプランを考えました。</p>
                </div>
            </div>
        </div>




        <div class="p-case-study-outline-group">
            <div class="p-case-study-outline-spec">
                <img class="type-image" src="/case-study/img/case-2/outline-1.jpg" alt="陽光であふれた、遊び心満点のマイホーム">
                <div class="p-case-study-outline-spec-detail">
                    家族構成／ご夫婦<br>
                    設計コンペプレゼンテーション実施日／2014.8.29<br>
                    竣工年月日／2015.2.19<br>
                    敷地面積／198.35㎡（60.00坪）<br>
                    延床面積／130.68㎡（39.53坪）<br>
                    1階床面積／77.84㎡（23.54坪）<br>
                    2階床面積／52.06㎡（16.74坪）<br>
                    コーディネート／すまいポート21札幌東<br>
                    設計・施工／株式会社ユウ建築事務所<br>
                    <p class="type-tag">2015　初夏号掲載</p>
                </div>
            </div>
            <div class="p-case-study-outline-detail">
                <p class="type-heading">陽光であふれた、遊び心満点のマイホーム</p>
                <p class="type-model-name">札幌市　Ｔ様邸</p>
                <p class="type-txt">南東に設けられたいくつもの窓から太陽の光が惜しみなく降り注ぐ家──。それがＴ様邸を訪れ、最初に感じた印象でした。「とにかく日差しがたっぷり入るようにしたかったんです」とご主人。その要望を受け、リビングには大小さまざまな９つの窓を配置。白を基調とした内装もあいまって、光の粒が飛び交っているような明るさが室内にあふれています。</p>
                <p class="type-txt">しかし、当初の予定ではテレビの左横は壁だったとのこと。そこにはご主人の趣味であるダーツマシンを置くはずでした。「ただ、マシン自体が黒くてゴツいので存在感がかなりありました。出来ることなら見えない位置に移動し、窓を追加でつけてほしいとお願いしたんです」。そして完成したのは、予定とは反対側、仕切り壁の陰にすっぽりと隠し、希望どおり、大きな窓を配したダーツルームでした。さらに、壁面にはカウンターを設け、ダーツバーさながらの雰囲気にわくわく感が募ります。今では奥さまもダーツに夢中だとか。「毎日、夫婦で楽しんでいます」と、新居での生活を満喫されている様子でした。</p>
                <p class="type-txt">現在、妊娠７カ月の奥さま。将来の子育てが少しでも楽になるようにと、家事動線に配慮したレイアウトも魅力的です。特にこれからはさらに増えるであろう洗濯の負担を軽減するため、干し場であるサンルームの横にウォークインクローゼットを設置。乾けばハンガーに掛けたまま取り込めるので、たたむ手間が減りました。また、キッチンからよく見えるところにフリールームを設けました。ここは将来、赤ちゃんのためのキッズルームになる予定。すやすやと眠る赤ちゃんの様子を、家事をしながらでも確認できる部屋がほしかったという奥さまの要望によってつくられた空間でした。<br>
                間取はもちろん、照明、壁紙、コンセントの位置といった細部にまでこだわった念願のマイホーム。新たに迎える家族とともに、たくさんの思い出がつくられる空間となることでしょう。</p>
            </div>

            <hr class="u-clearfix">

            <div class="p-case-study-gallely-group">
                <ul class="p-case-study-gallely-list js-case-study-slide">
                    <li class="p-case-study-gallely-list-item"><img src="/case-study/img/case-2/gallely-1.jpg" alt="吹き抜けを設けたことで開放感のある空間に。ナチュラルブラウンの梁がアクセント。"><span class="type-caption">吹き抜けを設けたことで開放感のある空間に。ナチュラルブラウンの梁がアクセント。</span></li>
                    <li class="p-case-study-gallely-list-item"><img src="/case-study/img/case-2/gallely-2.jpg" alt="ダーツルームは、もちろんご主人のお気に入りの場所。ご友人を招いて楽しむこともあるそうです"><span class="type-caption">ダーツルームは、もちろんご主人のお気に入りの場所。ご友人を招いて楽しむこともあるそうです</span></li>
                    <li class="p-case-study-gallely-list-item"><img src="/case-study/img/case-2/gallely-3.jpg" alt="壁一面にカウンターを設けたことで、さらに遊び心のあふれる場所になりました"><span class="type-caption">壁一面にカウンターを設けたことで、さらに遊び心のあふれる場所になりました</span></li>
                    <li class="p-case-study-gallely-list-item"><img src="/case-study/img/case-2/gallely-4.jpg" alt="階段の壁につくった小さなニッチがとてもおしゃれ。グリーンの小物がとても映えます"><span class="type-caption">階段の壁につくった小さなニッチがとてもおしゃれ。グリーンの小物がとても映えます</span></li>
                    <li class="p-case-study-gallely-list-item"><img src="/case-study/img/case-2/gallely-5.jpg" alt="ダイニングスペースの天井は下がり壁にし間接照明を設置。ゆるやかな曲線が空間にアクセントをもたらします"><span class="type-caption">ダイニングスペースの天井は下がり壁にし間接照明を設置。ゆるやかな曲線が空間にアクセントをもたらします</span></li>
                    <li class="p-case-study-gallely-list-item"><img src="/case-study/img/case-2/gallely-6.jpg" alt="間接照明の灯りがさらにやわらかな雰囲気に"><span class="type-caption">間接照明の灯りがさらにやわらかな雰囲気に</span></li>
                    <li class="p-case-study-gallely-list-item"><img src="/case-study/img/case-2/gallely-7.jpg" alt="オーディオ機器がきれいに収納されているテレビボードは、ご主人自らが設計図を描き、そのとおり作ったもの"><span class="type-caption">オーディオ機器がきれいに収納されているテレビボードは、ご主人自らが設計図を描き、そのとおり作ったもの</span></li>
                    <li class="p-case-study-gallely-list-item"><img src="/case-study/img/case-2/gallely-8.jpg" alt="日ごろ使うものだけが並べられたキッチン。その他のものは食品庫に収納しています"><span class="type-caption">日ごろ使うものだけが並べられたキッチン。その他のものは食品庫に収納しています</span></li>
                    <li class="p-case-study-gallely-list-item"><img src="/case-study/img/case-2/gallely-9.jpg" alt="こちらが食品庫。右奥には洗面室と脱衣所を設けているため、ここでも家事効率がスムースになる動線となっています"><span class="type-caption">こちらが食品庫。右奥には洗面室と脱衣所を設けているため、ここでも家事効率がスムースになる動線となっています</span></li>
                    <li class="p-case-study-gallely-list-item"><img src="/case-study/img/case-2/gallely-10.jpg" alt="シューズクロークからも室内に入れるので、家族はこちらからと決めておけばきれいな玄関を保てます"><span class="type-caption">シューズクロークからも室内に入れるので、家族はこちらからと決めておけばきれいな玄関を保てます</span></li>
                    <li class="p-case-study-gallely-list-item"><img src="/case-study/img/case-2/gallely-11.jpg" alt="玄関ホールには、間接照明を備えたシックな飾り壁を設けました。"><span class="type-caption">玄関ホールには、間接照明を備えたシックな飾り壁を設けました。</span></li>
                    <li class="p-case-study-gallely-list-item"><img src="/case-study/img/case-2/gallely-12.jpg" alt="2階の子供部屋は、2部屋必要になることを想定して、間仕切りで分けられるようにしています"><span class="type-caption">2階の子供部屋は、2部屋必要になることを想定して、間仕切りで分けられるようにしています</span></li>
                    <li class="p-case-study-gallely-list-item"><img src="/case-study/img/case-2/gallely-13.jpg" alt="2階のサンルーム。ウォークインクローゼットのほか、寝室、バルコニーともつながっているので布団を干すにも便利"><span class="type-caption">2階のサンルーム。ウォークインクローゼットのほか、寝室、バルコニーともつながっているので布団を干すにも便利</span></li>
                </ul>
                <div class="p-case-study-gallely-contlloler type-prev js-case-study-slide-controller"></div>
                <div class="p-case-study-gallely-contlloler type-next js-case-study-slide-controller"></div>
            </div>
        </div>

        <div class="p-case-study-pager-group">
            <p class="p-case-study-pager-btn type-next"><a href="/case-study/">次の設計コンペ体験談を見る</a></p>
        </div>


</div>
    </div><!-- /#base-container -->

    <?php include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/base-navigation.tpl"); ?>
    <?php include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/base-footer.tpl"); ?>
</div><!-- /#base-page -->
</body>
</html>