<?php
$page = array(
    'title' => '札幌市在住のK様｜私たちはココで選びました！｜北海道の住まいづくりWeb',
    'discription' => '札幌市在住のK様はお子さま2人　（長男8歳・次男5歳）の4人家族。実際に設計コンペを体験したK様ご家族にインタビューしました。担当建築会社は竹内建設株式会社さまです。',
);
include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/head.tpl");
?>
</head>



<body>
<div id="base-page">
    <?php include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/base-header.tpl"); ?>

    <div id="base-container">

        <div id="base-container-head" class="type-case-study">
            <ul class="p-breadcrumb-list">
                <li class="p-breadcrumb-list-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/" itemprop="url"><span itemprop="title">トップページ</a></li>
                <li class="p-breadcrumb-list-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title">私たちはココで選びました!!</span></li>
            </ul>

            <div class="p-case-study-hero-group">
                <div class="p-case-study-hero-heading">
                    <p class="type-txt-1"><img src="/case-study/img/hero-txt-1.png" alt="私たちはココで選びました!!"></p>
                    <div class="p-case-study-hero-company">
                        <p>
                            <span class="type-label">担当建築会社</span>
                            <span class="type-name">竹内建設株式会社</span>
                        </p>
                        <span><a href="http://www.tk2430.co.jp/" target="_blank">ウェブサイトはこちら</a></span>
                    </div>
                </div>
                <div class="p-case-study-hero-model">
                    <img src="/case-study/img/case-1/hero-image-1.jpg" alt="札幌市在住 K様">
                    <dl>
                        <dt>DATA</dt>
                        <dd>札幌市在住 K様<br>
                        ●家族構成：子ども2人　（長男8歳・次男5歳）の4人家族<br>
                        ●新居に住んだ期間：約3カ月　（2015年7月現在）</dd>
                    </dl>
                </div>
            </div>

        </div><!-- /#base-container-head -->

        <div class="p-backnumber-group type-blue">
            <div class="p-backnumber">
                <div class="p-backnumber-inner">
                    <p class="p-backnumber-label"><img src="/resources/img/text/txt-backnumber-2.png" alt="バックナンバー"></p>
                    <p class="p-backnumber-txt-1">これまでの更新を見る</p>
                    <div class="p-backnumber-select">
                        <select class="c-form-select js-pager-select">
                            <option value="/case-study/">2015年7月</option>
                            <option value="/case-study/case-2.html">2015年4月</option>
                        </select>
                    </div>
                    <ul class="p-backnumber-thumb-list">
                        <li class="p-backnumber-thumb-list-item"><a href="/case-study/"><img src="/case-study/img/case-1/thumb-1.jpg" alt="2015年7月"></a></li>
                        <li class="p-backnumber-thumb-list-item"><a href="/case-study/case-2.html"><img src="/case-study/img/case-2/thumb-1.jpg" alt="2015年4月"></a></li>
                        <li class="p-backnumber-thumb-list-item"></li>
                        <li class="p-backnumber-thumb-list-item"></li>
                        <li class="p-backnumber-thumb-list-item"></li>
                        <li class="p-backnumber-thumb-list-item"></li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="base-content">
            <h3 class="p-case-study-heading-1">“一度に多くの建築会社さんを比べて選べるなんて、<br>とても便利なシステムだと思いました。”</h3>

            <div class="p-case-study-point-group">
                <div class="p-case-study-point-list">
                    <dl class="p-case-study-point-item">
                        <dt>家を建てようと思ったきっかけは何でしたか？</dt>
                        <dd>元々いつかマイホームを持ちたいと、土地だけは買っていました。長男が小学校に入ったのを機会に建てようと決意。下の子もどんどん大きくなるし、子どもたちがのびのび暮らせる家が欲しいと思いました。</dd>
                    </dl>
                    <dl class="p-case-study-point-item">
                        <dt>住まいづくりは、何から始めましたか？</dt>
                        <dd>とりあえずモノを見ておこうと思い、いろいろな展示会やモデルハウスへ足を運びました。でも、何から手をつけていいか分からなくて。そんな時、義妹夫婦から家を建てるにあたって宮の森にある「イエイエパーク」を利用したらとても良かったと聞いたんです。行ってみると、ちょうど「すまいポート　」がオープンしたばかりでした。</dd>
                    </dl>
                    <dl class="p-case-study-point-item">
                        <dt>住まいポートの印象はどうでしたか？</dt>
                        <dd>初めて「設計コンペ」があると知り、興味を持ちました。多くの建築会社が参加しており、一件一件自分たちで訪ねるよりも一か所にまとめて任せたほうが効率がいいのではと思い、利用することに。一級建築士さんにサポートしていただけるということも大きな魅力でした。第三者的な立場でプロの方が付いているのは、とても心強く感じました。</dd>
                    </dl>
                    <dl class="p-case-study-point-item">
                        <dt>設計コンペでは、どのようなご要望を<br>出されましたか？</dt>
                        <dd>家の雰囲気は、明るく開放的でシンプルモダン。何より家全体につながりがあること、家族がどこにいてもそれぞれの気配が感じられる住まいにしてほしいと伝えました。吹き抜けがいいなど具体的な希望もありましたが、どんな提案がコンペで出てくるのか楽しみにしたかったので、全体的には各建築会社さんにお任せしました。</dd>
                    </dl>
                    <dl class="p-case-study-point-item">
                        <dt>設計コンペでは何社のプレゼンテーションを受けそれぞれの内容はいかがでしたか？</dt>
                        <dd>エントリーしてくださった会社が14社もあり、5社に絞るのを悩みました。初めて名前を知ったところもあり、全部のモデルハウスを見る時間がなかったので、インターネットで調べたり、一級建築士さんに話を聞いたりして選びました。設計コンペでは、プレゼンテーションの仕方が各社さんともまったく異なっていましたね。プランニングを詳細に説明するところ、会社の理念をしっかり語るところ、模型を作ってきてくれたところなど様々でした。共通していたのは、どの会社の方からも情熱が感じられたこと。コンペ方式ならではの醍醐味かもしれません。</dd>
                    </dl>
                    <dl class="p-case-study-point-item">
                        <dt>一社選定の決め手はどこにありましたか？</dt>
                        <dd>設計コンペが終わってすぐ、お互い竹内建設さんが良かったと意見が一致しました。プランから家づくりの理念、アフターサービスのことまでバランス良く話され、私たちが知っておいた方がいいことを真摯に説明してくれたことに信頼が持てました。営業の方や設計士の方の人柄も感じられ、このお二人にぜひマイホームをお任せしたいと思ったのです。</dd>
                    </dl>
                    <dl class="p-case-study-point-item">
                        <dt>設計コンペにして良かったと思う点を<br>お聞かせください。</dt>
                        <dd>まず、一級建築士さんのサポートがあったこと。何でも相談できて助かりました。特に私たちの土地は準防火地域で法律的な規制が多かったのですが、専門家でないと分からないことが聞けました。それから、やはり様々な建築会社の中からしっかり比べて選べたこと。自分たちで納得した上で選んだのだから、不安も後悔も無くその後の住まいづくりを進められました。竹内建設さんに決めた時は、いよいよ家ができるとワクワクしたことを覚えています。</dd>
                    </dl>
                    <div class="p-case-study-point-message">
                        <div class="p-case-study-point-message-inner">
                            <p class="p-case-study-point-message-heading">建築会社より一言</p>
                            <div class="p-case-study-point-message-staff">
                                <img class="type-image" src="/case-study/img/case-1/staff-1.jpg" alt="竹内建設株式会社 設計士／庄内貴子">
                                <p class="type-name">竹内建設株式会社<br>設計士／庄内貴子</p>
                                <p class="type-link"><a href="http://www.tk2430.co.jp/" target="_blank">ウェブサイトはこちら</a></p>
                            </div>
                            <div class="p-case-study-point-message-txt">
                                <p class="type-heading">準防火地域という規制の多い中で出来ることを、<br>K様といっしょにアイデアを積み重ねて完成へ。</p>
                                <p>設計コンペでは、街なかの一軒家ということで、プライベートを保ちつつ、このロケーションだけの魅力を見つけたいと思いました。それが三角山の風景で、3階の主寝室にピクチャーウィンドウをご提案。家づくりにあたっては、規制の多い準防火地域なので、出来ることと出来ないことをK様に納得していただけるように心がけました。規制で大きなサッシが使えなかったりしましたが、小さな窓を組み合わせたり、吹き抜けを活かしたりするなど、K様のご希望であった明るさ、そして広さにもこだわってプランニングしました。</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="p-case-study-outline-group">
                <div class="p-case-study-outline-spec">
                    <img class="type-image" src="/case-study/img/case-1/outline-1.jpg" alt="どこにいても家族の気配が感じられる3階建ての家">
                    <div class="p-case-study-outline-spec-detail">
                        家族構成／ご夫婦+お子様<br>
                        設計コンペプレゼンテーション実施日／2014.07.13　敷地面積／54.05㎡（16.35坪）<br>
                        コーディネート／すまいポート21札幌東<br>
                        竣工年月日／2015.04.23<br>
                        延床面積／144.10㎡（43.59坪）<br>
                        設計・施工／竹内建設株式会社<br>
                        <p class="type-tag">2015　初秋号掲載</p>
                    </div>
                </div>
                <div class="p-case-study-outline-detail">
                    <p class="type-heading">どこにいても家族の気配が感じられる<br>3階建ての家</p>
                    <p class="type-model-name">札幌市 K様邸　</p>
                    <p class="type-txt">　札幌中心部にほど近い閑静な住宅街にたたずむK様邸。すぐそばに公園があるのが気に入ってこの土地に決めたとご夫妻は言います。お子様は男の子が二人。毎日のように元気いっぱい公園で遊んでいるとのこと。家づくりは、そんなご家族のつながりを大切に進められました。</p>
                    <p class="type-txt">　「違う場所にいてもお互いの気配が感じられる住まいにしたかったんです。子どもたちがさびしがりやなので、2階と3階で仕切ると自由に遊ばなくなるのではと思って」と奥様。3階建ての住まいは、1階がガレージとゲストルーム、2階がLDKと水まわり、3階がご夫妻の寝室と子供部屋で構成されています。2階の一部を吹き抜けにしたことにより、3階との連続性が生まれました。子どもたちは上で遊んでいても、下のキッチンで料理している母親が見えます。「ご飯ができたよ」と呼ぶ声もよく聞こえます。だから安心してのびのびしています。<br>
                    　吹き抜けは思った以上の明るさと開放感を与えてくれました。ご主人によると「準防火地域の規制のため窓を大きく作れなかったのですが、設計士さんが光を取り入れるためにいろいろ提案してくれました」。みんなが集まる大きなダイニングテーブルに、初夏の爽やかな日差しが降り注いでいます。規制があったとは思えないほど、どこにいても明るく感じられました。</p>
                    <p class="type-txt">　ご家族の想いやこだわりがいっぱい詰まった家ですが、中でも奥様のお気に入りはキッチン。「オープンで使いやすく、料理をすることが楽しくなりました。レパートリーも増えたんですよ」。子どもたちも母の姿が見えるため、よくお手伝いしてくれるようになったそうです。<br>
                    　家のことをテキパキとこなす奥様は、家事動線に配慮。洗濯スペースでは、脱ぐ、洗う、干す、仕舞うといった一連の流れがスムーズに行なえるよう、ランドリーボックスが付いた機能的なリネン庫を設けました。誰かがお風呂に入っていても気兼ねなく使えるように、洗面コーナーを別の場所に設けたのもアイデアが効いています。<br>
                    　また、リビング・ダイニングの天井にハンモックを吊るすための金具を取り付けるなど、遊び心も散りばめられています。この金具は子ども部屋にもあって、ぶらさがり棒を付ける予定とか。<br>
                    　「みんなで家のことを大事にしていきたいと思っています。毎日のことも、季節の行事なども、一緒に楽しみたい」と話すご主人。きっと仲の良いご家族のたくさんのストーリーがここで育まれてゆくのでしょう。</p>
                </div>

                <hr class="u-clearfix">

                <div class="p-case-study-gallely-group">
                    <ul class="p-case-study-gallely-list js-case-study-slide">
                        <li class="p-case-study-gallely-list-item"><img src="/case-study/img/case-1/gallely-1.jpg" alt="リビングに子どもたちのためのコーナー。2人並んで勉強したり、お絵かきしたり"><span class="type-caption">リビングに子どもたちのためのコーナー。2人並んで勉強したり、お絵かきしたり</span></li>
                        <li class="p-case-study-gallely-list-item"><img src="/case-study/img/case-1/gallely-2.jpg" alt="陽光が満ちる明るいLDK。リビングの天井にはハンモックが吊るせる金具を取り付けた"><span class="type-caption">陽光が満ちる明るいLDK。リビングの天井にはハンモックが吊るせる金具を取り付けた</span></li>
                        <li class="p-case-study-gallely-list-item"><img src="/case-study/img/case-1/gallely-3.jpg" alt="1階のガレージは雨や雪に濡れずに出入りができる。オーバースライダーシャッターはご主人のこだわり"><span class="type-caption">1階のガレージは雨や雪に濡れずに出入りができる。オーバースライダーシャッターはご主人のこだわり</span></li>
                        <li class="p-case-study-gallely-list-item"><img src="/case-study/img/case-1/gallely-4.jpg" alt="玄関からガレージを望める小窓。シャッターの開け閉めもここで操作できる"><span class="type-caption">玄関からガレージを望める小窓。シャッターの開け閉めもここで操作できる</span></li>
                        <li class="p-case-study-gallely-list-item"><img src="/case-study/img/case-1/gallely-5.jpg" alt="大きなダイニングテーブルは、みんなが集まる憩いの場所"><span class="type-caption">大きなダイニングテーブルは、みんなが集まる憩いの場所</span></li>
                        <li class="p-case-study-gallely-list-item"><img src="/case-study/img/case-1/gallely-6.jpg" alt="アイランドタイプのキッチン。手をかざすと水が出るタッチレス水栓を採用"><span class="type-caption">アイランドタイプのキッチン。手をかざすと水が出るタッチレス水栓を採用</span></li>
                        <li class="p-case-study-gallely-list-item"><img src="/case-study/img/case-1/gallely-7.jpg" alt="間接照明でスタイリッシュに演出。壁は消臭、調湿効果のあるエコカラット"><span class="type-caption">間接照明でスタイリッシュに演出。壁は消臭、調湿効果のあるエコカラット</span></li>
                        <li class="p-case-study-gallely-list-item"><img src="/case-study/img/case-1/gallely-8.jpg" alt="お客様が来た時などそれぞれ使えるように洗面所と脱衣所を別々に設けている"><span class="type-caption">お客様が来た時などそれぞれ使えるように洗面所と脱衣所を別々に設けている</span></li>
                        <li class="p-case-study-gallely-list-item"><img src="/case-study/img/case-1/gallely-9.jpg" alt="ベッドの両サイドに手元スイッチやコンセントを付けたホテルライクな主寝室"><span class="type-caption">ベッドの両サイドに手元スイッチやコンセントを付けたホテルライクな主寝室</span></li>
                        <li class="p-case-study-gallely-list-item"><img src="/case-study/img/case-1/gallely-10.jpg" alt="水色の壁が爽やかな子供部屋。将来は2部屋にできるよう設計されている"><span class="type-caption">水色の壁が爽やかな子供部屋。将来は2部屋にできるよう設計されている</span></li>
                    </ul>
                    <div class="p-case-study-gallely-contlloler type-prev js-case-study-slide-controller"></div>
                    <div class="p-case-study-gallely-contlloler type-next js-case-study-slide-controller"></div>
                </div>
            </div>

            <div class="p-case-study-pager-group">
                <p class="p-case-study-pager-btn type-prev"><a href="/case-study/case-2.html">前の設計コンペ体験談を見る</a></p>
            </div>


        </div><!-- /#base-content -->
    </div><!-- /#base-container -->

    <?php include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/base-navigation.tpl"); ?>
    <?php include($_SERVER["DOCUMENT_ROOT"]."/resources/tpl/base-footer.tpl"); ?>
</div><!-- /#base-page -->
</body>
</html>