@import 'setting/mq';
@import 'setting/variables';

$mq-all: false;
$mq: false;
$mq-default: false;
$old-ie: true;
$mq-tablet: false;
$mq-sp: false;
$mq-large: false;
@import 'base/base';
@import 'widget';
//@import 'area';
@import 'module';

