@charset "utf-8";

$mq-all: true;
$mq-default: false;
$old-ie: false;
$mq-tablet: false;
$mq-sp: false;
$mq-large: false;
@import 'setting/mq';
@import 'setting';
@import 'foundation';
@import 'layout';
@import 'object';


//@media screen and (min-width: $default-mq-default-min-width) and (max-width:1201px) {
  @media screen and (max-width:1221px) {
/* ==========================================================================
   PC
   ========================================================================== */
$mq-all: false;
$mq-default: true;
$old-ie: false;
$mq-tablet: false;
$mq-sp: false;
$mq-large: false;
@import 'foundation';
@import 'layout';
@import 'object';
}

@media screen and (max-width: $default-mq-tablet-max-width) {
/* ==========================================================================
   Tablet
   ========================================================================== */
$mq-all: false;
$mq-default: false;
$old-ie: false;
$mq-tablet: true;
$mq-sp: false;
$mq-large: false;
@import 'foundation';
@import 'layout';
@import 'object';
}

@media screen and (max-width: $default-mq-sp-max-width) {
/* ==========================================================================
   Mobile
   ========================================================================== */
$mq-all: false;
$mq-default: false;
$old-ie: false;
$mq-tablet: false;
$mq-sp: true;
$mq-large: false;
@import 'foundation';
@import 'layout';
@import 'object';
}


/* ==========================================================================
   Plugins
   ========================================================================== */
@import 'plugins/jquery.slick';
@import 'plugins/magnific-popup';
